Repository freesewing/freesewing, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: aaron, :package: albert, :package: bella, :package: benjamin, :package: bent, :package: breanna, :package: brian, :package: bruce, :package: carlita, :package: carlton, :package: cathrin, :package: charlie, :package: components, :package: core, :package: cornelius, :package: create-freesewing-pattern, :package: css-theme, :package: diana, examples, :package: florence, :package: florent, freesewing.dev, freesewing.org, freesewing.shared, :package: gatsby-remark-jargon, :package: holmes, :package: hortensia, :package: huey, :package: hugo, :package: i18n, i18n, :package: jaeger, legend, :package: models, :package: mui-theme, :package: paco, :package: pattern-info, :package: penelope, :package: plugin-banner, :package: plugin-bartack, :package: plugin-bundle, :package: plugin-bust, :package: plugin-buttons, :package: plugin-cutonfold, :package: plugin-dimension, :package: plugin-export-dxf, :package: plugin-flip, :package: plugin-gore, :package: plugin-grainline, :package: plugin-i18n, :package: plugin-logo, :package: plugin-measurements, :package: plugin-mirror, :package: plugin-notches, :package: plugin-round, :package: plugin-scalebox, :package: plugin-sprinkle, :package: plugin-svgattr, :package: plugin-theme, :package: plugin-title, :package: plugin-validate, :package: prettier-config, :package: remark-jargon, :package: rendertest, :package: sandy, :package: shin, :package: simon, :package: simone, strapi, :package: sven, :package: tamiko, :package: teagan, :package: theo, :package: titan, :package: trayvon, tutorial, :package: ursula, :package: utils, :package: wahid, :package: waralee

New translations email.yaml (Spanish)
  packages/i18n/src/locales/es/email.yaml
Labels: none

New translations app.yaml (Spanish)
  packages/i18n/src/locales/es/app.yaml
Labels: none

New translations intro.yaml (Spanish)
  packages/i18n/src/locales/es/intro.yaml
Labels: none

New translations email.yaml (German)
  packages/i18n/src/locales/de/email.yaml
Labels: none

New translations app.yaml (German)
  packages/i18n/src/locales/de/app.yaml
Labels: none

New translations welcome.yaml (German)
  packages/i18n/src/locales/de/welcome.yaml
Labels: none

New translations intro.yaml (German)
  packages/i18n/src/locales/de/intro.yaml
Labels: none

New translations intro.yaml (Dutch)
  packages/i18n/src/locales/nl/intro.yaml
Labels: none

New translations email.yaml (Dutch)
  packages/i18n/src/locales/nl/email.yaml
Labels: none

New translations app.yaml (Dutch)
  packages/i18n/src/locales/nl/app.yaml
Labels: none

New translations welcome.yaml (Dutch)
  packages/i18n/src/locales/nl/welcome.yaml
Labels: none

New translations en.md (German)
  markdown/org/docs/patterns/theo/measurements/de.md
Labels: none

chore: Test updates
  tests/patterns/config.js
  tests/patterns/drafting.js
  tests/patterns/sampling.js
Labels: none

fix(paco): Support drafting for non-human sizes
  packages/paco/config/index.js
  packages/paco/src/back.js
  packages/paco/src/cuff.js
  packages/paco/src/front.js
  packages/paco/src/waistband.js
  packages/paco/tests/shared.test.js
Labels: none

fix(test): Allow logging on demand
  tests/patterns/config.js
  tests/patterns/drafting.js
Labels: none

Missing Line Break Assembly and Lining Method 2 Step 12.
  markdown/org/docs/patterns/holmes/instructions/en.md
Labels: none

fix(charlie): Support non-human sizes. Closes #1313
  packages/charlie/config/index.js
  packages/charlie/src/back-pocket-interfacing.js
  packages/charlie/src/back-pocket-jet.js
  packages/charlie/src/back-pocket.js
  packages/charlie/src/back.js
  packages/charlie/src/beltloops.js
  packages/charlie/src/fly-extension.js
  packages/charlie/src/fly-facing.js
  packages/charlie/src/front-pocket-facing.js
  packages/charlie/src/front-pocket.js
  packages/charlie/src/front.js
  packages/charlie/src/waistband-curved.js
  packages/charlie/src/waistband.js
Labels: none

feat(components): Added new dolls/giants measurements
  packages/components/src/SampleConfigurator/index.js
  packages/components/src/Workbench/Measurements/index.js
  packages/components/src/Workbench/Measurements/non-human.js
Labels: none

chore: Added doll/giant to pattern tests
  tests/patterns/drafting.js
  tests/patterns/non-human-measurements.js
  tests/patterns/sampling.js
Labels: none

chore: changelog update
  config/changelog.yaml
Labels: none

chore: Reconfigure packages
  CHANGELOG.md
  packages/charlie/CHANGELOG.md
  packages/components/CHANGELOG.md
  packages/paco/CHANGELOG.md
  packages/paco/tests/shared.test.js
Labels: :package: charlie, :package: components, :package: paco

fix(test): Load models from method param
  tests/patterns/drafting.js
  tests/patterns/non-human-measurements.js
  tests/patterns/sampling.js
Labels: none

chore: Added deprecation for theo
  packages/theo/src/back.js
Labels: none

chore: Don't doll/giant test Theo
  tests/patterns/drafting.js
  tests/patterns/sampling.js
Labels: none

chore: Changelog update
  config/changelog.yaml
Labels: none

fix(simon): Support drafting for non-human measurements
  packages/simon/config/index.js
  packages/simon/src/back.js
  packages/simon/src/buttonholeplacket.js
  packages/simon/src/buttonplacket.js
  packages/simon/src/collar.js
  packages/simon/src/collarstand.js
  packages/simon/src/cuff-barrel-angled.js
  packages/simon/src/cuff-barrel-rounded.js
  packages/simon/src/cuff-barrel-straight.js
  packages/simon/src/cuff-french-angled.js
  packages/simon/src/cuff-french-rounded.js
  packages/simon/src/cuff-french-straight.js
  packages/simon/src/cuff.js
  packages/simon/src/front.js
  packages/simon/src/frontleft-classic-cuton.js
  packages/simon/src/frontleft-classic-seperate.js
  packages/simon/src/frontleft-seamless.js
  packages/simon/src/frontleft.js
  packages/simon/src/frontright-classic-cuton.js
  packages/simon/src/frontright-classic-seperate.js
  packages/simon/src/frontright-seamless.js
  packages/simon/src/frontright.js
  packages/simon/src/index.js
  packages/simon/src/shared.js
  packages/simon/src/sleeve.js
  packages/simon/src/sleeveplacket-overlap.js
  packages/simon/src/sleeveplacket-underlap.js
  packages/simon/src/yoke.js
Labels: none

fix(simone): Support drafting for non-human measurements
  packages/simone/config/index.js
Labels: none

fix(components): Don't scale shoulderSlope
  packages/components/src/Workbench/Measurements/non-human.js
  tests/patterns/non-human-measurements.js
Labels: none

fix(jaeger): Support drafting for non-human measurements
  packages/jaeger/config/index.js
  packages/jaeger/src/collar.js
  packages/jaeger/src/collarstand.js
Labels: none

chore: Updated changelog
  config/changelog.yaml
Labels: none

fix(penelope): Support drafting for non-human measurements
  packages/penelope/config/index.js
  packages/penelope/src/back.js
  packages/penelope/src/front.js
  packages/penelope/src/shape.js
  packages/penelope/src/waistband.js
Labels: none

chore: Changelog update
  config/changelog.yaml
Labels: none

chore: Reconfigure packages
  CHANGELOG.md
  packages/charlie/CHANGELOG.md
  packages/jaeger/CHANGELOG.md
  packages/paco/CHANGELOG.md
  packages/penelope/CHANGELOG.md
  packages/simon/CHANGELOG.md
  packages/simone/CHANGELOG.md
  packages/theo/CHANGELOG.md
Labels: :package: charlie, :package: jaeger, :package: paco, :package: penelope, :package: simon, :package: simone, :package: theo

fix(hortensia): Remove option
  packages/hortensia/config/index.js
  packages/hortensia/src/frontpanel.js
Labels: none

chore: Test for presence of `mm` options
  tests/patterns/config.js
Labels: none

chore: changelog update
  config/changelog.yaml
Labels: none

chore: Reconfigure packages
  CHANGELOG.md
  packages/hortensia/CHANGELOG.md
Labels: :package: hortensia

feat(core): Snapping of percentage options
  packages/core/src/index.js
  packages/core/src/part.js
  packages/core/src/pattern.js
  packages/core/src/utils.js
  packages/core/tests/snap-proposal.js
  packages/paco/config/index.js
  packages/paco/src/back.js
Labels: none

New translations en.md (German)
  markdown/org/docs/patterns/yuri/needs/de.md
Labels: none

New translations en.md (German)
  markdown/org/docs/faq/breasts/de.md
Labels: none

.github/labeler.yml:

":package: aaron":
  - packages/aaron/*
":package: albert":
  - packages/albert/*
":package: bella":
  - packages/bella/*
":package: benjamin":
  - packages/benjamin/*
":package: bent":
  - packages/bent/*
":package: breanna":
  - packages/breanna/*
":package: brian":
  - packages/brian/*
":package: bruce":
  - packages/bruce/*
":package: carlita":
  - packages/carlita/*
":package: carlton":
  - packages/carlton/*
":package: cathrin":
  - packages/cathrin/*
":package: charlie":
  - packages/charlie/*
":package: components":
  - packages/components/*
":package: core":
  - packages/core/*
":package: cornelius":
  - packages/cornelius/*
":package: create-freesewing-pattern":
  - packages/create-freesewing-pattern/*
":package: css-theme":
  - packages/css-theme/*
":package: diana":
  - packages/diana/*
"examples":
  - packages/examples/*
":package: florence":
  - packages/florence/*
":package: florent":
  - packages/florent/*
"freesewing.dev":
  - packages/freesewing.dev/*
"freesewing.org":
  - packages/freesewing.org/*
"freesewing.shared":
  - packages/freesewing.shared/*
":package: gatsby-remark-jargon":
  - packages/gatsby-remark-jargon/*
":package: holmes":
  - packages/holmes/*
":package: hortensia":
  - packages/hortensia/*
":package: huey":
  - packages/huey/*
":package: hugo":
  - packages/hugo/*
":package: i18n":
  - packages/i18n/*
"i18n":
  - packages/i18n/src/locales/*
":package: jaeger":
  - packages/jaeger/*
"legend":
  - packages/legend/*
":package: models":
  - packages/models/*
":package: mui-theme":
  - packages/mui-theme/*
":package: paco":
  - packages/paco/*
":package: pattern-info":
  - packages/pattern-info/*
":package: penelope":
  - packages/penelope/*
":package: plugin-banner":
  - packages/plugin-banner/*
":package: plugin-bartack":
  - packages/plugin-bartack/*
":package: plugin-bundle":
  - packages/plugin-bundle/*
":package: plugin-bust":
  - packages/plugin-bust/*
":package: plugin-buttons":
  - packages/plugin-buttons/*
":package: plugin-cutonfold":
  - packages/plugin-cutonfold/*
":package: plugin-dimension":
  - packages/plugin-dimension/*
":package: plugin-export-dxf":
  - packages/plugin-export-dxf/*
":package: plugin-flip":
  - packages/plugin-flip/*
":package: plugin-gore":
  - packages/plugin-gore/*
":package: plugin-grainline":
  - packages/plugin-grainline/*
":package: plugin-i18n":
  - packages/plugin-i18n/*
":package: plugin-logo":
  - packages/plugin-logo/*
":package: plugin-measurements":
  - packages/plugin-measurments/*
":package: plugin-mirror":
  - packages/plugin-mirror/*
":package: plugin-notches":
  - packages/plugin-notches/*
":package: plugin-round":
  - packages/plugin-round/*
":package: plugin-scalebox":
  - packages/plugin-scalebox/*
":package: plugin-sprinkle":
  - packages/plugin-sprinkle/*
":package: plugin-svgattr":
  - packages/plugin-svgattr/*
":package: plugin-theme":
  - packages/plugin-theme/*
":package: plugin-title":
  - packages/plugin-title/*
":package: plugin-validate":
  - packages/plugin-validate/*
":package: prettier-config":
  - packages/prettier-config/*
":package: remark-jargon":
  - packages/remark-jargon/*
":package: rendertest":
  - packages/rendertest/*
":package: sandy":
  - packages/sandy/*
":package: shin":
  - packages/shin/*
":package: simon":
  - packages/simon/*
":package: simone":
  - packages/simone/*
"strapi":
  - packages/strapi/*
":package: sven":
  - packages/sven/*
":package: tamiko":
  - packages/tamiko/*
":package: teagan":
  - packages/teagan/*
":package: theo":
  - packages/theo/*
":package: titan":
  - packages/titan/*
":package: trayvon":
  - packages/trayvon/*
"tutorial":
  - packages/tutorial/*
":package: ursula":
  - packages/ursula/*
":package: utils":
  - packages/utils/*
":package: wahid":
  - packages/wahid/*
":package: waralee":
  - packages/waralee/*
