Repository freesewing/freesewing, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: aaron, :package: albert, :package: bella, :package: benjamin, :package: bent, :package: breanna, :package: brian, :package: bruce, :package: carlita, :package: carlton, :package: cathrin, :package: charlie, :package: components, :package: core, :package: cornelius, :package: create-freesewing-pattern, :package: css-theme, :package: diana, examples, :package: florence, :package: florent, freesewing.dev, freesewing.org, freesewing.shared, :package: gatsby-remark-jargon, :package: holmes, :package: hortensia, :package: huey, :package: hugo, :package: i18n, i18n, :package: jaeger, legend, :package: models, :package: mui-theme, :package: paco, :package: pattern-info, :package: penelope, :package: plugin-banner, :package: plugin-bartack, :package: plugin-bundle, :package: plugin-bust, :package: plugin-buttons, :package: plugin-cutonfold, :package: plugin-dimension, :package: plugin-export-dxf, :package: plugin-flip, :package: plugin-gore, :package: plugin-grainline, :package: plugin-i18n, :package: plugin-logo, :package: plugin-measurements, :package: plugin-mirror, :package: plugin-notches, :package: plugin-round, :package: plugin-scalebox, :package: plugin-sprinkle, :package: plugin-svgattr, :package: plugin-theme, :package: plugin-title, :package: plugin-validate, :package: prettier-config, :package: remark-jargon, :package: rendertest, :package: sandy, :package: shin, :package: simon, :package: simone, strapi, :package: sven, :package: tamiko, :package: teagan, :package: theo, :package: titan, :package: trayvon, tutorial, :package: ursula, :package: utils, :package: wahid, :package: waralee

.github/labeler.yml:

":package: aaron":
  - packages/aaron/*
":package: albert":
  - packages/albert/*
":package: bella":
  - packages/bella/*
":package: benjamin":
  - packages/benjamin/*
":package: bent":
  - packages/bent/*
":package: breanna":
  - packages/breanna/*
":package: brian":
  - packages/brian/*
":package: bruce":
  - packages/bruce/*
":package: carlita":
  - packages/carlita/*
":package: carlton":
  - packages/carlton/*
":package: cathrin":
  - packages/cathrin/*
":package: charlie":
  - packages/charlie/*
":package: components":
  - packages/components/*
":package: core":
  - packages/core/*
":package: cornelius":
  - packages/cornelius/*
":package: create-freesewing-pattern":
  - packages/create-freesewing-pattern/*
":package: css-theme":
  - packages/css-theme/*
":package: diana":
  - packages/diana/*
"examples":
  - packages/examples/*
":package: florence":
  - packages/florence/*
":package: florent":
  - packages/florent/*
"freesewing.dev":
  - packages/freesewing.dev/*
"freesewing.org":
  - packages/freesewing.org/*
"freesewing.shared":
  - packages/freesewing.shared/*
":package: gatsby-remark-jargon":
  - packages/gatsby-remark-jargon/*
":package: holmes":
  - packages/holmes/*
":package: hortensia":
  - packages/hortensia/*
":package: huey":
  - packages/huey/*
":package: hugo":
  - packages/hugo/*
":package: i18n":
  - packages/i18n/*
"i18n":
  - packages/i18n/src/locales/*
":package: jaeger":
  - packages/jaeger/*
"legend":
  - packages/legend/*
":package: models":
  - packages/models/*
":package: mui-theme":
  - packages/mui-theme/*
":package: paco":
  - packages/paco/*
":package: pattern-info":
  - packages/pattern-info/*
":package: penelope":
  - packages/penelope/*
":package: plugin-banner":
  - packages/plugin-banner/*
":package: plugin-bartack":
  - packages/plugin-bartack/*
":package: plugin-bundle":
  - packages/plugin-bundle/*
":package: plugin-bust":
  - packages/plugin-bust/*
":package: plugin-buttons":
  - packages/plugin-buttons/*
":package: plugin-cutonfold":
  - packages/plugin-cutonfold/*
":package: plugin-dimension":
  - packages/plugin-dimension/*
":package: plugin-export-dxf":
  - packages/plugin-export-dxf/*
":package: plugin-flip":
  - packages/plugin-flip/*
":package: plugin-gore":
  - packages/plugin-gore/*
":package: plugin-grainline":
  - packages/plugin-grainline/*
":package: plugin-i18n":
  - packages/plugin-i18n/*
":package: plugin-logo":
  - packages/plugin-logo/*
":package: plugin-measurements":
  - packages/plugin-measurments/*
":package: plugin-mirror":
  - packages/plugin-mirror/*
":package: plugin-notches":
  - packages/plugin-notches/*
":package: plugin-round":
  - packages/plugin-round/*
":package: plugin-scalebox":
  - packages/plugin-scalebox/*
":package: plugin-sprinkle":
  - packages/plugin-sprinkle/*
":package: plugin-svgattr":
  - packages/plugin-svgattr/*
":package: plugin-theme":
  - packages/plugin-theme/*
":package: plugin-title":
  - packages/plugin-title/*
":package: plugin-validate":
  - packages/plugin-validate/*
":package: prettier-config":
  - packages/prettier-config/*
":package: remark-jargon":
  - packages/remark-jargon/*
":package: rendertest":
  - packages/rendertest/*
":package: sandy":
  - packages/sandy/*
":package: shin":
  - packages/shin/*
":package: simon":
  - packages/simon/*
":package: simone":
  - packages/simone/*
"strapi":
  - packages/strapi/*
":package: sven":
  - packages/sven/*
":package: tamiko":
  - packages/tamiko/*
":package: teagan":
  - packages/teagan/*
":package: theo":
  - packages/theo/*
":package: titan":
  - packages/titan/*
":package: trayvon":
  - packages/trayvon/*
"tutorial":
  - packages/tutorial/*
":package: ursula":
  - packages/ursula/*
":package: utils":
  - packages/utils/*
":package: wahid":
  - packages/wahid/*
":package: waralee":
  - packages/waralee/*

New translations en.md (Dutch)
  markdown/org/docs/patterns/sven/options/acrossbackfactor/nl.md
Labels: none

New translations en.md (German)
  markdown/org/docs/patterns/sven/options/bicepsease/de.md
Labels: none

New translations en.md (German)
  markdown/org/docs/patterns/sven/options/chestease/de.md
Labels: none

New translations en.md (Dutch)
  markdown/org/docs/patterns/sven/options/ribbingstretch/nl.md
Labels: none

New translations en.md (Dutch)
  markdown/org/docs/patterns/sven/options/chestease/nl.md
Labels: none

New translations en.md (German)
  markdown/org/docs/patterns/sven/options/cuffease/de.md
Labels: none

New translations en.md (Dutch)
  markdown/org/docs/patterns/sven/options/cuffease/nl.md
Labels: none

New translations en.md (German)
  markdown/org/docs/patterns/sven/options/lengthbonus/de.md
Labels: none

New translations en.md (Dutch)
  markdown/org/docs/patterns/sven/options/lengthbonus/nl.md
Labels: none

New translations en.md (German)
  markdown/org/docs/patterns/sven/options/ribbing/de.md
Labels: none

New translations en.md (Dutch)
  markdown/org/docs/patterns/sven/options/ribbing/nl.md
Labels: none

New translations en.md (German)
  markdown/org/docs/patterns/sven/options/ribbingheight/de.md
Labels: none

New translations en.md (Dutch)
  markdown/org/docs/patterns/sven/options/ribbingheight/nl.md
Labels: none

New translations en.md (German)
  markdown/org/docs/patterns/sven/options/ribbingstretch/de.md
Labels: none

New translations en.md (German)
  markdown/org/docs/patterns/titan/options/crotchseamcurvestart/de.md
Labels: none

New translations en.md (Spanish)
  markdown/org/ui/errors/broken-draft/es.md
Labels: none

New translations en.md (French)
  markdown/org/ui/errors/broken-draft/fr.md
Labels: none

New translations en.md (Dutch)
  markdown/org/ui/errors/broken-draft/nl.md
Labels: none

New translations en.md (German)
  markdown/org/ui/errors/broken-draft/de.md
Labels: none

New translations holmes.yml (Dutch)
  packages/i18n/src/locales/nl/options/holmes.yml
Labels: none

chore: Roll back changes to Holmes
  CHANGELOG.md
  config/changelog.yaml
  packages/holmes/CHANGELOG.md
  packages/holmes/config/index.js
  packages/holmes/src/brim.js
  packages/holmes/src/ear.js
  packages/holmes/src/gore.js
  packages/holmes/src/index.js
  packages/holmes/src/visor.js
  packages/i18n/src/locales/en/options/holmes.yml
Labels: :package: holmes

New translations holmes.yml (French)
  packages/i18n/src/locales/fr/options/holmes.yml
Labels: none

New translations holmes.yml (Spanish)
  packages/i18n/src/locales/es/options/holmes.yml
Labels: none

New translations holmes.yml (German)
  packages/i18n/src/locales/de/options/holmes.yml
Labels: none

New translations holmes.yml (Dutch)
  packages/i18n/src/locales/nl/options/holmes.yml
Labels: none

Updated contributor call dates and project-2022 to v3
  LATEST_DEVELOPER_NEWS.md
  LATEST_NEWS.md
Labels: none

Fixed typo
  markdown/org/docs/guide/mtm/en.md
Labels: none

New translations en.md (French)
  markdown/org/docs/guide/mtm/fr.md
Labels: none

New translations en.md (Spanish)
  markdown/org/docs/guide/mtm/es.md
Labels: none

New translations en.md (German)
  markdown/org/docs/guide/mtm/de.md
Labels: none

New translations en.md (Dutch)
  markdown/org/docs/guide/mtm/nl.md
Labels: none

Updated fscc location
  markdown/dev/contributors/terms/contributor-call/en.md
Labels: none

fix(holmes): Make brimWidth option a percent option
  CHANGELOG.md
  config/changelog.yaml
  packages/holmes/CHANGELOG.md
  packages/holmes/config/index.js
  packages/holmes/src/brim.js
Labels: :package: holmes

chore(strapi): bump version
  config/dependencies.yaml
  packages/strapi/package.json
Labels: strapi

fix(markdown): Add missing ffsa option for simon(e)
  markdown/org/docs/patterns/simon/options/ffsa/de.md
  markdown/org/docs/patterns/simon/options/ffsa/en.md
  markdown/org/docs/patterns/simon/options/ffsa/es.md
  markdown/org/docs/patterns/simon/options/ffsa/fr.md
  markdown/org/docs/patterns/simon/options/ffsa/nl.md
  markdown/org/docs/patterns/simone/options/ffsa/de.md
  markdown/org/docs/patterns/simone/options/ffsa/en.md
  markdown/org/docs/patterns/simone/options/ffsa/es.md
  markdown/org/docs/patterns/simone/options/ffsa/fr.md
  markdown/org/docs/patterns/simone/options/ffsa/nl.md
Labels: none

chore: Switched to latest tag
  config/templates/package.dflt.json
Labels: none

chore: Changelog update
  config/changelog.yaml
Labels: none

New translations en.md (French)
  markdown/org/docs/patterns/simon/options/ffsa/fr.md
Labels: none

New translations en.md (German)
  markdown/org/docs/patterns/yuri/options/sleevecapq2offset/de.md
Labels: none

New translations en.md (German)
  markdown/org/docs/patterns/yuri/options/sleevecaptopfactory/de.md
Labels: none
