Repository freesewing/freesewing, pull requests merged in 2021-12, with the labels that each got.

#1552 Huey Documentation Update
  markdown/org/docs/patterns/huey/cutting/en.md
  markdown/org/docs/patterns/huey/instructions/en.md
  markdown/org/docs/patterns/huey/needs/en.md
Labels: :package: huey, :book: documentation

#1551 Simone Fixed Links
  markdown/org/docs/patterns/simone/cutting/en.md
  markdown/org/docs/patterns/simone/fabric/en.md
  markdown/org/docs/patterns/simone/instructions/en.md
  markdown/org/docs/patterns/simone/needs/en.md
Labels: :package: simone, :book: documentation

#1558 Penelope Documentation Update
  markdown/org/docs/patterns/penelope/cutting/en.md
  markdown/org/docs/patterns/penelope/fabric/en.md
  markdown/org/docs/patterns/penelope/instructions/en.md
  markdown/org/docs/patterns/penelope/needs/en.md
Labels: :package: penelope, :book: documentation

#1557 New Crowdin updates
  markdown/org/docs/patterns/huey/cutting/de.md
  markdown/org/docs/patterns/huey/cutting/es.md
  markdown/org/docs/patterns/huey/cutting/fr.md
  markdown/org/docs/patterns/huey/cutting/nl.md
  markdown/org/docs/patterns/huey/instructions/de.md
  markdown/org/docs/patterns/huey/instructions/es.md
  markdown/org/docs/patterns/huey/instructions/fr.md
  markdown/org/docs/patterns/huey/instructions/nl.md
  markdown/org/docs/patterns/huey/needs/de.md
  markdown/org/docs/patterns/huey/needs/es.md
  markdown/org/docs/patterns/huey/needs/fr.md
  markdown/org/docs/patterns/huey/needs/nl.md
  markdown/org/docs/patterns/simone/cutting/de.md
  markdown/org/docs/patterns/simone/cutting/es.md
  markdown/org/docs/patterns/simone/cutting/fr.md
  markdown/org/docs/patterns/simone/cutting/nl.md
  markdown/org/docs/patterns/simone/fabric/de.md
  markdown/org/docs/patterns/simone/fabric/es.md
  markdown/org/docs/patterns/simone/fabric/fr.md
  markdown/org/docs/patterns/simone/fabric/nl.md
  markdown/org/docs/patterns/simone/instructions/de.md
  markdown/org/docs/patterns/simone/instructions/es.md
  markdown/org/docs/patterns/simone/instructions/fr.md
  markdown/org/docs/patterns/simone/instructions/nl.md
  markdown/org/docs/patterns/simone/needs/de.md
  markdown/org/docs/patterns/simone/needs/es.md
  markdown/org/docs/patterns/simone/needs/fr.md
  markdown/org/docs/patterns/simone/needs/nl.md
Labels: :book: documentation

#1561 Singular not Plural, Penelope Instructions
  markdown/org/docs/patterns/penelope/instructions/en.md
Labels: :package: penelope, :book: documentation

#1560 New Crowdin updates
  markdown/org/docs/patterns/penelope/cutting/de.md
  markdown/org/docs/patterns/penelope/cutting/es.md
  markdown/org/docs/patterns/penelope/cutting/fr.md
  markdown/org/docs/patterns/penelope/cutting/nl.md
  markdown/org/docs/patterns/penelope/fabric/de.md
  markdown/org/docs/patterns/penelope/fabric/es.md
  markdown/org/docs/patterns/penelope/fabric/fr.md
  markdown/org/docs/patterns/penelope/fabric/nl.md
  markdown/org/docs/patterns/penelope/instructions/de.md
  markdown/org/docs/patterns/penelope/instructions/es.md
  markdown/org/docs/patterns/penelope/instructions/fr.md
  markdown/org/docs/patterns/penelope/instructions/nl.md
  markdown/org/docs/patterns/penelope/needs/de.md
  markdown/org/docs/patterns/penelope/needs/es.md
  markdown/org/docs/patterns/penelope/needs/fr.md
  markdown/org/docs/patterns/penelope/needs/nl.md
Labels: :book: documentation

#1572 Minor typos Penelope Instructions
  markdown/org/docs/patterns/penelope/instructions/en.md
Labels: :book: documentation

#1573 New Crowdin updates
  markdown/org/docs/patterns/penelope/instructions/de.md
  markdown/org/docs/patterns/penelope/instructions/es.md
  markdown/org/docs/patterns/penelope/instructions/fr.md
  markdown/org/docs/patterns/penelope/instructions/nl.md
  markdown/org/docs/patterns/tiberius/fabric/de.md
  markdown/org/docs/patterns/tiberius/fabric/es.md
  markdown/org/docs/patterns/tiberius/fabric/fr.md
  markdown/org/docs/patterns/tiberius/fabric/nl.md
  markdown/org/docs/patterns/tiberius/instructions/de.md
  markdown/org/docs/patterns/tiberius/instructions/es.md
  markdown/org/docs/patterns/tiberius/instructions/fr.md
  markdown/org/docs/patterns/tiberius/instructions/nl.md
  markdown/org/docs/patterns/walburga/instructions/de.md
  markdown/org/docs/patterns/walburga/instructions/es.md
  markdown/org/docs/patterns/walburga/instructions/fr.md
  markdown/org/docs/patterns/walburga/instructions/nl.md
Labels: :book: documentation

#1569 Technical Change to Bee cup.js
  packages/bee/src/cup.js
Labels: :package: bee

#1576 Brian not Breanna
  markdown/org/docs/patterns/brian/fabric/en.md
Labels: :package: brian, :book: documentation

#1577 Titan Documentation Update
  markdown/org/docs/patterns/titan/cutting/en.md
  markdown/org/docs/patterns/titan/fabric/en.md
  markdown/org/docs/patterns/titan/instructions/en.md
  markdown/org/docs/patterns/titan/needs/en.md
Labels: :package: titan, :book: documentation

#1578 New Crowdin updates
  markdown/org/docs/patterns/brian/fabric/de.md
  markdown/org/docs/patterns/brian/fabric/es.md
  markdown/org/docs/patterns/brian/fabric/fr.md
  markdown/org/docs/patterns/brian/fabric/nl.md
  markdown/org/docs/patterns/titan/cutting/de.md
  markdown/org/docs/patterns/titan/cutting/es.md
  markdown/org/docs/patterns/titan/cutting/fr.md
  markdown/org/docs/patterns/titan/cutting/nl.md
  markdown/org/docs/patterns/titan/fabric/de.md
  markdown/org/docs/patterns/titan/fabric/es.md
  markdown/org/docs/patterns/titan/fabric/fr.md
  markdown/org/docs/patterns/titan/fabric/nl.md
  markdown/org/docs/patterns/titan/instructions/de.md
  markdown/org/docs/patterns/titan/instructions/es.md
  markdown/org/docs/patterns/titan/instructions/fr.md
  markdown/org/docs/patterns/titan/instructions/nl.md
  markdown/org/docs/patterns/titan/needs/de.md
  markdown/org/docs/patterns/titan/needs/es.md
  markdown/org/docs/patterns/titan/needs/fr.md
  markdown/org/docs/patterns/titan/needs/nl.md
Labels: :book: documentation

#1574 feat: Adds link to beginner pattern ideas from developer site
  markdown/dev/tutorials/pattern-design/conclusion/en.md
Labels: :book: documentation

#1586 New Crowdin updates
  markdown/org/docs/faq/womenswear-blocks/de.md
  markdown/org/docs/guide/help/de.md
  markdown/org/docs/patterns/lunetius/instructions/de.md
  markdown/org/docs/patterns/tiberius/fabric/de.md
  markdown/org/docs/patterns/titan/cutting/de.md
  markdown/org/docs/patterns/titan/fabric/de.md
  markdown/org/docs/patterns/titan/instructions/de.md
  markdown/org/docs/patterns/titan/needs/de.md
Labels: :book: documentation
