Repository freesewing/freesewing, pull requests merged in 2021-11, with the labels that each got.

#1430 Holmes - Minor Paperless Changes
  packages/holmes/src/ear.js
  packages/holmes/src/gore.js
Labels: :package: holmes

#1434 New Crowdin updates
  markdown/org/docs/patterns/holmes/instructions/de.md
  markdown/org/docs/patterns/holmes/instructions/es.md
  markdown/org/docs/patterns/holmes/instructions/fr.md
  markdown/org/docs/patterns/holmes/instructions/nl.md
  markdown/org/docs/sewing/on-the-fold/de.md
  markdown/org/docs/sewing/on-the-fold/es.md
  markdown/org/docs/sewing/on-the-fold/fr.md
  markdown/org/docs/sewing/on-the-fold/nl.md
Labels: :book: documentation

#1435 New Crowdin updates
  markdown/org/docs/patterns/holmes/instructions/de.md
  markdown/org/docs/patterns/holmes/instructions/es.md
  markdown/org/docs/patterns/holmes/instructions/fr.md
  markdown/org/docs/patterns/holmes/instructions/nl.md
Labels: :book: documentation

#1436 Albert Instructions
  markdown/org/docs/patterns/albert/instructions/en.md
Labels: :book: documentation, :package: albert

#1437 Cornelius Documentation Update
  markdown/org/docs/patterns/cornelius/cutting/en.md
  markdown/org/docs/patterns/cornelius/fabric/en.md
  markdown/org/docs/patterns/cornelius/instructions/en.md
  markdown/org/docs/patterns/cornelius/needs/en.md
Labels: :book: documentation, :package: cornelius

#1439 Minor Changes to Bella Construction
  markdown/org/docs/patterns/bella/instructions/en.md
Labels: :book: documentation, :package: bella

#1441 New Crowdin updates
  markdown/org/docs/patterns/albert/instructions/de.md
  markdown/org/docs/patterns/albert/instructions/es.md
  markdown/org/docs/patterns/albert/instructions/fr.md
  markdown/org/docs/patterns/albert/instructions/nl.md
  markdown/org/docs/patterns/bella/instructions/de.md
  markdown/org/docs/patterns/bella/instructions/es.md
  markdown/org/docs/patterns/bella/instructions/fr.md
  markdown/org/docs/patterns/bella/instructions/nl.md
  markdown/org/docs/patterns/bent/cutting/de.md
  markdown/org/docs/patterns/bent/cutting/es.md
  markdown/org/docs/patterns/bent/cutting/fr.md
  markdown/org/docs/patterns/bent/cutting/nl.md
  markdown/org/docs/patterns/bent/fabric/de.md
  markdown/org/docs/patterns/bent/fabric/es.md
  markdown/org/docs/patterns/bent/fabric/fr.md
  markdown/org/docs/patterns/bent/fabric/nl.md
  markdown/org/docs/patterns/bent/instructions/de.md
  markdown/org/docs/patterns/bent/instructions/es.md
  markdown/org/docs/patterns/bent/instructions/fr.md
  markdown/org/docs/patterns/bent/instructions/nl.md
  markdown/org/docs/patterns/bent/needs/de.md
  markdown/org/docs/patterns/bent/needs/es.md
  markdown/org/docs/patterns/bent/needs/fr.md
  markdown/org/docs/patterns/bent/needs/nl.md
  markdown/org/docs/patterns/cornelius/cutting/de.md
  markdown/org/docs/patterns/cornelius/cutting/es.md
  markdown/org/docs/patterns/cornelius/cutting/fr.md
  markdown/org/docs/patterns/cornelius/cutting/nl.md
  markdown/org/docs/patterns/cornelius/fabric/de.md
  markdown/org/docs/patterns/cornelius/fabric/es.md
  markdown/org/docs/patterns/cornelius/fabric/fr.md
  markdown/org/docs/patterns/cornelius/fabric/nl.md
  markdown/org/docs/patterns/cornelius/instructions/de.md
  markdown/org/docs/patterns/cornelius/instructions/es.md
  markdown/org/docs/patterns/cornelius/instructions/fr.md
  markdown/org/docs/patterns/cornelius/instructions/nl.md
  markdown/org/docs/patterns/cornelius/needs/de.md
  markdown/org/docs/patterns/cornelius/needs/es.md
  markdown/org/docs/patterns/cornelius/needs/fr.md
  markdown/org/docs/patterns/cornelius/needs/nl.md
Labels: :book: documentation

#1445 Breanna Documentation Update
  markdown/org/docs/patterns/breanna/cutting/en.md
  markdown/org/docs/patterns/breanna/fabric/en.md
  markdown/org/docs/patterns/breanna/instructions/en.md
  markdown/org/docs/patterns/breanna/needs/en.md
  markdown/org/docs/patterns/breanna/options/acrossbackfactor/acrossbackfactor.svg
  markdown/org/docs/patterns/breanna/options/acrossbackfactor/en.md
  markdown/org/docs/patterns/breanna/options/armholedepthfactor/armholedepthfactor.svg
  markdown/org/docs/patterns/breanna/options/armholedepthfactor/en.md
  markdown/org/docs/patterns/breanna/options/backneckcutout/backneckcutout.svg
  markdown/org/docs/patterns/breanna/options/backneckcutout/en.md
  markdown/org/docs/patterns/breanna/options/bicepsease/bicepsease.svg
  markdown/org/docs/patterns/breanna/options/bicepsease/en.md
  markdown/org/docs/patterns/breanna/options/chestease/chestease.svg
  markdown/org/docs/patterns/breanna/options/chestease/en.md
  markdown/org/docs/patterns/breanna/options/collarease/collarease.svg
  markdown/org/docs/patterns/breanna/options/collarease/en.md
  markdown/org/docs/patterns/breanna/options/cuffease/cuffease.svg
  markdown/org/docs/patterns/breanna/options/cuffease/en.md
  markdown/org/docs/patterns/breanna/options/frontarmholedeeper/en.md
  markdown/org/docs/patterns/breanna/options/frontarmholedeeper/frontarmholedeeper.svg
  markdown/org/docs/patterns/breanna/options/frontscyedart/en.md
  markdown/org/docs/patterns/breanna/options/primarybustdart/en.md
  markdown/org/docs/patterns/breanna/options/primarybustdartlength/en.md
  markdown/org/docs/patterns/breanna/options/primarybustdartshaping/en.md
  markdown/org/docs/patterns/breanna/options/secondarybustdart/en.md
  markdown/org/docs/patterns/breanna/options/secondarybustdartlength/en.md
  markdown/org/docs/patterns/breanna/options/shoulderdart/en.md
  markdown/org/docs/patterns/breanna/options/shoulderdartlength/en.md
  markdown/org/docs/patterns/breanna/options/shoulderdartsize/en.md
  markdown/org/docs/patterns/breanna/options/shoulderease/en.md
  markdown/org/docs/patterns/breanna/options/shoulderease/shoulderease.svg
  markdown/org/docs/patterns/breanna/options/shoulderslopereduction/en.md
  markdown/org/docs/patterns/breanna/options/shoulderslopereduction/shoulderslopereduction.svg
  markdown/org/docs/patterns/breanna/options/sleevelengthbonus/en.md
  markdown/org/docs/patterns/breanna/options/sleevelengthbonus/sleevelengthbonus.svg
  markdown/org/docs/patterns/breanna/options/verticalease/en.md
  markdown/org/docs/patterns/breanna/options/waistdart/en.md
  markdown/org/docs/patterns/breanna/options/waistdartlength/en.md
  markdown/org/docs/patterns/breanna/options/waistdartsize/en.md
  markdown/org/docs/patterns/breanna/options/waistease/en.md
Labels: :package: breanna, :book: documentation

#1446 Minor Changes to Bent Instructions
  markdown/org/docs/patterns/bent/instructions/en.md
Labels: :book: documentation

#1447 Minor Changes to Bella Instructions
  markdown/org/docs/patterns/bella/instructions/en.md
Labels: :book: documentation

#1449 Title re-formatting, Lunetius, Tiberius and Walburga pattern options
  markdown/org/docs/patterns/lunetius/options/length/en.md
  markdown/org/docs/patterns/lunetius/options/lengthratio/en.md
  markdown/org/docs/patterns/lunetius/options/widthratio/en.md
  markdown/org/docs/patterns/tiberius/options/armholedrop/en.md
  markdown/org/docs/patterns/tiberius/options/clavi/en.md
  markdown/org/docs/patterns/tiberius/options/clavuslocation/en.md
  markdown/org/docs/patterns/tiberius/options/clavuswidth/en.md
  markdown/org/docs/patterns/tiberius/options/forcewidth/en.md
  markdown/org/docs/patterns/tiberius/options/headratio/en.md
  markdown/org/docs/patterns/tiberius/options/length/en.md
  markdown/org/docs/patterns/tiberius/options/lengthbonus/en.md
  markdown/org/docs/patterns/tiberius/options/width/en.md
  markdown/org/docs/patterns/tiberius/options/widthbonus/en.md
  markdown/org/docs/patterns/walburga/options/headratio/en.md
  markdown/org/docs/patterns/walburga/options/length/en.md
  markdown/org/docs/patterns/walburga/options/lengthbonus/en.md
  markdown/org/docs/patterns/walburga/options/neckline/en.md
  markdown/org/docs/patterns/walburga/options/neckoratio/en.md
  markdown/org/docs/patterns/walburga/options/widthbonus/en.md
Labels: :book: documentation

#1470 feat(devdocs): add instructions for dependencies
  markdown/dev/howtos/code/extend-pattern/en.md
Labels: :book: documentation

#1473 Added Sleeves to Breanna Cutting
  markdown/org/docs/patterns/breanna/cutting/en.md
  markdown/org/docs/patterns/breanna/needs/en.md
Labels: :book: documentation

#1477 New Crowdin updates
  markdown/org/docs/patterns/breanna/cutting/de.md
  markdown/org/docs/patterns/breanna/cutting/es.md
  markdown/org/docs/patterns/breanna/cutting/fr.md
  markdown/org/docs/patterns/breanna/cutting/nl.md
  markdown/org/docs/patterns/breanna/needs/de.md
  markdown/org/docs/patterns/breanna/needs/es.md
  markdown/org/docs/patterns/breanna/needs/fr.md
  markdown/org/docs/patterns/breanna/needs/nl.md
Labels: :book: documentation

#1475 Charlie Missing Options
  markdown/org/docs/patterns/charlie/options/crossseamcurveangle/en.md
  markdown/org/docs/patterns/charlie/options/crotchseamcurveangle/en.md
Labels: :book: documentation

#1474 Brian Documentation Update
  markdown/org/docs/patterns/brian/cutting/en.md
  markdown/org/docs/patterns/brian/fabric/en.md
  markdown/org/docs/patterns/brian/instructions/en.md
  markdown/org/docs/patterns/brian/needs/en.md
Labels: :book: documentation

#1471 Chore: Update `Point` dev docs
  .gitignore
  markdown/dev/reference/api/point/angle/en.md
  markdown/dev/reference/api/point/attr/en.md
  markdown/dev/reference/api/point/clone/en.md
  markdown/dev/reference/api/point/copy/en.md
  markdown/dev/reference/api/point/dist/en.md
  markdown/dev/reference/api/point/dx/en.md
  markdown/dev/reference/api/point/dy/en.md
  markdown/dev/reference/api/point/flipx/en.md
  markdown/dev/reference/api/point/flipy/en.md
  markdown/dev/reference/api/point/rotate/en.md
  markdown/dev/reference/api/point/shift/en.md
  markdown/dev/reference/api/point/shiftfractiontowards/en.md
  markdown/dev/reference/api/point/shiftoutwards/en.md
  markdown/dev/reference/api/point/shifttowards/en.md
  markdown/dev/reference/api/point/sitson/en.md
  markdown/dev/reference/api/point/sitsroughlyon/en.md
  markdown/dev/reference/api/point/translate/en.md
Labels: :book: documentation

#1483 Fix for #1467 Titan Waist Height not Working
  packages/titan/src/back.js
  packages/titan/src/front.js
Labels: :package: titan

#1478 New Crowdin updates
  markdown/org/docs/patterns/brian/cutting/de.md
  markdown/org/docs/patterns/brian/cutting/es.md
  markdown/org/docs/patterns/brian/cutting/fr.md
  markdown/org/docs/patterns/brian/cutting/nl.md
  markdown/org/docs/patterns/brian/fabric/de.md
  markdown/org/docs/patterns/brian/fabric/es.md
  markdown/org/docs/patterns/brian/fabric/fr.md
  markdown/org/docs/patterns/brian/fabric/nl.md
  markdown/org/docs/patterns/brian/instructions/de.md
  markdown/org/docs/patterns/brian/instructions/es.md
  markdown/org/docs/patterns/brian/instructions/fr.md
  markdown/org/docs/patterns/brian/instructions/nl.md
  markdown/org/docs/patterns/brian/needs/de.md
  markdown/org/docs/patterns/brian/needs/es.md
  markdown/org/docs/patterns/brian/needs/fr.md
  markdown/org/docs/patterns/brian/needs/nl.md
  markdown/org/docs/patterns/charlie/options/crossseamcurveangle/de.md
  markdown/org/docs/patterns/charlie/options/crossseamcurveangle/es.md
  markdown/org/docs/patterns/charlie/options/crossseamcurveangle/fr.md
  markdown/org/docs/patterns/charlie/options/crossseamcurveangle/nl.md
  markdown/org/docs/patterns/charlie/options/crotchseamcurveangle/de.md
  markdown/org/docs/patterns/charlie/options/crotchseamcurveangle/es.md
  markdown/org/docs/patterns/charlie/options/crotchseamcurveangle/fr.md
  markdown/org/docs/patterns/charlie/options/crotchseamcurveangle/nl.md
Labels: :book: documentation

#1488 Fixed typo
  markdown/dev/contributors/ways-to-contribute/pattern-ambassador/en.md
Labels: :book: documentation

#1489 Update en.md
  markdown/org/docs/patterns/charlie/instructions/en.md
Labels: :book: documentation, :package: charlie

#1490 New Crowdin updates
  markdown/org/docs/patterns/breanna/cutting/de.md
  markdown/org/docs/patterns/breanna/instructions/de.md
  markdown/org/docs/patterns/breanna/needs/de.md
  markdown/org/docs/patterns/breanna/options/sleevelengthbonus/de.md
  markdown/org/docs/patterns/breanna/options/verticalease/de.md
  markdown/org/docs/patterns/breanna/options/waistdart/de.md
  markdown/org/docs/patterns/breanna/options/waistdartlength/de.md
  markdown/org/docs/patterns/breanna/options/waistdartsize/de.md
  markdown/org/docs/patterns/breanna/options/waistease/de.md
  markdown/org/docs/patterns/charlie/instructions/de.md
  markdown/org/docs/patterns/charlie/instructions/es.md
  markdown/org/docs/patterns/charlie/instructions/fr.md
  markdown/org/docs/patterns/charlie/instructions/nl.md
  markdown/org/docs/patterns/tiberius/cutting/de.md
  markdown/org/docs/patterns/tiberius/cutting/es.md
  markdown/org/docs/patterns/tiberius/cutting/fr.md
  markdown/org/docs/patterns/tiberius/cutting/nl.md
  markdown/org/docs/sewing/on-the-fold/de.md
  packages/i18n/src/locales/de/options/bruce.yml
  packages/i18n/src/locales/es/options/bruce.yml
  packages/i18n/src/locales/fr/options/bruce.yml
  packages/i18n/src/locales/nl/options/bruce.yml
Labels: :package: i18n, :book: documentation

#1498 Added note to "join the discord server to discuss pattern testing/fit"
  markdown/dev/contributors/ways-to-contribute/body-ambassador/en.md
  markdown/dev/contributors/ways-to-contribute/pattern-testing/en.md
Labels: :book: documentation

#1500 Minor Changes to Neckband Info of Yuri
  markdown/org/docs/patterns/yuri/instructions/en.md
Labels: :book: documentation, :package: yuri

#1499 Fix for #1494 Added info on how to make a neckband
  markdown/org/docs/patterns/hugo/instructions/en.md
Labels: :book: documentation, :package: hugo

#1501 New Crowdin updates
  markdown/org/docs/patterns/hugo/instructions/de.md
  markdown/org/docs/patterns/hugo/instructions/es.md
  markdown/org/docs/patterns/hugo/instructions/fr.md
  markdown/org/docs/patterns/hugo/instructions/nl.md
  markdown/org/docs/patterns/yuri/instructions/de.md
  markdown/org/docs/patterns/yuri/instructions/es.md
  markdown/org/docs/patterns/yuri/instructions/fr.md
  markdown/org/docs/patterns/yuri/instructions/nl.md
Labels: :book: documentation

#1504 New Crowdin updates
  markdown/org/docs/patterns/bruce/instructions/de.md
  markdown/org/docs/patterns/bruce/instructions/es.md
  markdown/org/docs/patterns/bruce/instructions/fr.md
  markdown/org/docs/patterns/bruce/instructions/nl.md
Labels: :book: documentation

#1503 Updating and adding unit tests
  packages/plugin-banner/.babelrc
  packages/plugin-banner/package.json
  packages/plugin-banner/tests/banner.test.js
  packages/plugin-banner/tests/round.test.js
  packages/plugin-bartack/package.json
  packages/plugin-bartack/tests/bartack.test.js
  packages/plugin-bartack/tests/buttons.test.js
  packages/plugin-bundle/.babelrc
  packages/plugin-bundle/package.json
  packages/plugin-bundle/tests/bundle.test.js
  packages/plugin-bundle/tests/cutonfold.test.js
  packages/plugin-bundle/tests/dimension.test.js
  packages/plugin-bundle/tests/grainline.test.js
  packages/plugin-bundle/tests/round.test.js
  packages/plugin-bundle/tests/scalebox.test.js
  packages/plugin-bundle/tests/sprinkle.test.js
  packages/plugin-bundle/tests/title.test.js
  packages/plugin-bust/.babelrc
  packages/plugin-bust/package.json
  packages/plugin-bust/src/index.js
  packages/plugin-bust/tests/bust.test.js
  packages/plugin-buttons/package.json
  packages/plugin-buttons/tests/buttons.test.js
  packages/plugin-cutonfold/.babelrc
  packages/plugin-cutonfold/package.json
  packages/plugin-cutonfold/tests/cutonfold.test.js
  packages/plugin-dimension/package.json
  packages/plugin-dimension/tests/dimension.test.js
  packages/plugin-export-dxf/.babelrc
  packages/plugin-export-dxf/package.json
  packages/plugin-export-dxf/src/index.js
  packages/plugin-export-dxf/tests/export-dxf.test.js
  packages/plugin-title/.babelrc
  packages/plugin-title/package.json
  packages/plugin-title/tests/title.test.js
Labels: :package: plugin-bartack, :package: plugin-banner, :package: plugin-bundle, :package: plugin-bust, :package: plugin-buttons, :package: plugin-cutonfold, :package: plugin-dimension, :package: plugin-export-dxf

#1505 fix: Makes small typo corrections
  markdown/dev/tutorials/pattern-design/conclusion/en.md
  markdown/dev/tutorials/pattern-design/drawing-the-straps/en.md
Labels: :book: documentation

#1510 New Crowdin updates
  markdown/org/docs/patterns/yuri/instructions/de.md
  markdown/org/docs/patterns/yuri/instructions/es.md
  markdown/org/docs/patterns/yuri/instructions/fr.md
  markdown/org/docs/patterns/yuri/instructions/nl.md
  markdown/org/docs/various/notation/dimensions/fr.md
  markdown/org/docs/various/notation/fr.md
  markdown/org/docs/various/notation/grainline/fr.md
  markdown/org/docs/various/notation/lines/fr.md
  markdown/org/docs/various/notation/logo/fr.md
  markdown/org/docs/various/notation/notches/fr.md
  markdown/org/docs/various/notation/scale/fr.md
  markdown/org/docs/various/notation/seams/fr.md
  markdown/org/docs/various/notation/title/fr.md
  markdown/org/ui/errors/broken-draft/fr.md
  markdown/org/ui/homepage/updates/fr.md
  packages/i18n/src/locales/fr/options/bee.yml
  packages/i18n/src/locales/fr/options/tiberius.yml
  packages/i18n/src/locales/fr/options/walburga.yml
Labels: :package: i18n, :book: documentation
