Repository freesewing/freesewing, pull requests merged in 2022-11, with the labels that each got.

#3034 New Crowdin updates
  packages/i18n/src/locales/de/email.yaml
  packages/i18n/src/locales/es/email.yaml
  packages/i18n/src/locales/fr/email.yaml
  packages/i18n/src/locales/nl/email.yaml
  packages/i18n/src/locales/uk/email.yaml
Labels: :package: i18n

#3055 chore(designs.json): Normalize tags by changing "historic" to "historical".
  config/software/designs.json
Labels: :gear: configuration

#3057 fix(new-design): Use Next.js version 12. Fixes #3050.
  packages/new-design/templates/from-bella/package.json.mustache
  packages/new-design/templates/from-bent/package.json.mustache
  packages/new-design/templates/from-breanna/package.json.mustache
  packages/new-design/templates/from-brian/package.json.mustache
  packages/new-design/templates/from-scratch/package.json.mustache
  packages/new-design/templates/from-titan/package.json.mustache
  packages/new-design/templates/from-tutorial/package.json.mustache
Labels: :package: new-design

#3059 fix(new-design): from-titan front needs to extend titan, not brian.
  packages/new-design/templates/from-titan/design/src/front.mjs.mustache
Labels: :package: new-design

#3060 fix(new-design): Change from-bent topSleeve and underSleeve references to back.
  packages/new-design/templates/from-bent/design/src/topsleeve.mjs.mustache
  packages/new-design/templates/from-bent/design/src/undersleeve.mjs.mustache
Labels: :package: new-design

#3061 fix(new-design): Add missing dependencies to package.json. Fixes #3051.
  packages/new-design/templates/from-bella/package.json.mustache
  packages/new-design/templates/from-bent/package.json.mustache
  packages/new-design/templates/from-breanna/package.json.mustache
  packages/new-design/templates/from-brian/package.json.mustache
  packages/new-design/templates/from-titan/package.json.mustache
Labels: :package: new-design

#3065 (fix) Remove duplicate snapseries package from software config.
  config/software/packages.json
Labels: :gear: configuration

#3064 chore: Change config-helpers to snapseries
  .github/ISSUE_TEMPLATE/01_bug-report.yaml
  .github/boring-cyborg.yml
  config/build-order.mjs
  config/dependencies.yaml
  sites/shared/config/next.mjs
Labels: :gear: configuration, :computer: shared

#3077 (chore) Update designs, packages, and plugins listed in GitHub.
  .github/ISSUE_TEMPLATE/01_bug-report.yaml
  .github/boring-cyborg.yml
Labels: :gear: configuration

#3080 [Fix] Codecov report uploads
  .github/workflows/lint.all.yml
  .github/workflows/lint.diff.yml
  .github/workflows/tests.all.yml
  config/scripts.yaml
  package.json
  packages/core/.c8rc.json
  packages/core/package.json
  packages/rehype-highlight-lines/package.json
  scripts/test-failure-collector.js
  scripts/testall.js
  sites/org/package.json
  tests/designs/sampling.mjs
  tests/reporters/terse.js
Labels: :package: core, :test_tube: tests, :gear: configuration, :computer: org, :scroll: scripts, :package: rehype-highlight-lines
