Repository freesewing/freesewing, pull requests merged in 2022-07, with the labels that each got.

#2343 New Crowdin updates
  markdown/org/docs/patterns/bee/options/shouldertoshoulderease/de.md
  markdown/org/docs/patterns/bee/options/shouldertoshoulderease/es.md
  markdown/org/docs/patterns/bee/options/shouldertoshoulderease/fr.md
  markdown/org/docs/patterns/bee/options/shouldertoshoulderease/nl.md
  packages/i18n/src/locales/de/options/bee.yml
  packages/i18n/src/locales/es/options/bee.yml
  packages/i18n/src/locales/fr/options/bee.yml
  packages/i18n/src/locales/nl/options/bee.yml
Labels: :package: i18n, :book: documentation

#2353 New Crowdin updates
  packages/i18n/src/locales/de/parts.yaml
  packages/i18n/src/locales/es/parts.yaml
  packages/i18n/src/locales/fr/parts.yaml
  packages/i18n/src/locales/nl/parts.yaml
Labels: :package: i18n

#2356 New Crowdin updates
  markdown/org/ui/community/where/github/es.md
  markdown/org/ui/community/where/instagram/es.md
  markdown/org/ui/community/where/twitter/es.md
  markdown/org/ui/community/where/youtube/es.md
  markdown/org/ui/homepage/developers/es.md
  markdown/org/ui/homepage/updates/es.md
  markdown/org/ui/newsletter/account/es.md
  packages/i18n/src/locales/es/parts.yaml
Labels: :package: i18n, :book: documentation

#2354 Fix 'alltests' workflow
  CHANGELOG.md
  config/build-order.mjs
  config/exceptions.yaml
  designs/theo/package.json
  package.json
  packages/core/CHANGELOG.md
  packages/i18n/package.json
  packages/new-design/CHANGELOG.md
  scripts/reconfigure.mjs
Labels: :package: core, :package: i18n, :gear: configuration

#2364 New Crowdin updates
  markdown/org/docs/various/community-standards/es.md
  markdown/org/ui/share/es.md
  markdown/org/ui/splash/maker/es.md
Labels: :book: documentation

#2374 New Crowdin updates
  markdown/org/ui/community/where/youtube/de.md
  markdown/org/ui/community/where/youtube/es.md
  markdown/org/ui/community/where/youtube/fr.md
  markdown/org/ui/community/where/youtube/nl.md
Labels: :book: documentation

#2401 Updated merge request to re-run tests. Replaces #2357
  config/changelog.yaml
  designs/unice/config/index.js
  designs/unice/src/back.js
  designs/unice/src/front.js
  designs/unice/src/gusset.js
  designs/unice/src/index.js
Labels: :gear: configuration

#2419 Fix problem imports in develop
  sites/lab/page-templates/design-list.js
  sites/shared/components/layouts/default.js
  sites/shared/package.json
  yarn.lock
Labels: :bug: bug, :rotating_light: high priority

#2421 Error boundary
  sites/shared/components/error/error-boundary.js
  sites/shared/components/error/reset-buttons.js
  sites/shared/components/error/view.js
  sites/shared/components/workbench/draft/error.js
  sites/shared/components/workbench/draft/index.js
  sites/shared/components/workbench/draft/svg-wrapper.js
  sites/shared/components/workbench/events.js
  sites/shared/components/workbench/inputs/design-option-pct-deg.js
  sites/shared/components/workbench/layout/draft/index.js
  sites/shared/components/workbench/layout/draft/part.js
  sites/shared/components/workbench/menu/design-options/option-value.js
  sites/shared/components/workbench/menu/design-options/option.js
  sites/shared/components/wrappers/workbench.js
  sites/shared/hooks/useGist.js
  sites/shared/package.json
  yarn.lock
Labels: :gem: enhancement

#2429 New Crowdin updates
  packages/i18n/src/locales/uk/account.yaml
  packages/i18n/src/locales/uk/app.yaml
  packages/i18n/src/locales/uk/cfp.yaml
  packages/i18n/src/locales/uk/components/common.yaml
  packages/i18n/src/locales/uk/components/homepage.yaml
  packages/i18n/src/locales/uk/components/ograph.yaml
  packages/i18n/src/locales/uk/components/patrons.yaml
  packages/i18n/src/locales/uk/components/posts.yaml
  packages/i18n/src/locales/uk/components/themes.yaml
  packages/i18n/src/locales/uk/components/workbench.yaml
  packages/i18n/src/locales/uk/cty.yaml
  packages/i18n/src/locales/uk/docs.yaml
  packages/i18n/src/locales/uk/email.yaml
  packages/i18n/src/locales/uk/errors.yaml
  packages/i18n/src/locales/uk/filter.yml
  packages/i18n/src/locales/uk/gdpr.yaml
  packages/i18n/src/locales/uk/i18n.yaml
  packages/i18n/src/locales/uk/intro.yaml
  packages/i18n/src/locales/uk/jargon.yml
  packages/i18n/src/locales/uk/measurements.yaml
  packages/i18n/src/locales/uk/optiongroups.yaml
  packages/i18n/src/locales/uk/options/bob.yml
  packages/i18n/src/locales/uk/options/teagan.yml
  packages/i18n/src/locales/uk/parts.yaml
  packages/i18n/src/locales/uk/plugin/plugins/cutonfold.yaml
  packages/i18n/src/locales/uk/plugin/plugins/grainline.yaml
  packages/i18n/src/locales/uk/plugin/plugins/scalebox.yaml
  packages/i18n/src/locales/uk/plugin/plugins/title.yaml
  packages/i18n/src/locales/uk/welcome.yaml
Labels: :package: i18n

#2436 feat: Added rehype-jargon
  .github/workflows/checkdocs.yml
  config/dependencies.yaml
  config/exceptions.yaml
  config/software/packages.json
  markdown/dev/guides/markdown/custom-components/en.md
  markdown/dev/guides/markdown/jargon/en.md
  packages/rehype-jargon/CHANGELOG.md
  packages/rehype-jargon/README.md
  packages/rehype-jargon/build.js
  packages/rehype-jargon/example.png
  packages/rehype-jargon/info.md
  packages/rehype-jargon/package.json
  packages/rehype-jargon/src/index.js
  sites/dev/jargon.mjs
  sites/dev/pages/[...mdxslug].js
  sites/shared/config/tailwind-force.html
  sites/shared/config/tailwind.config.js
  sites/shared/mdx/loader.js
  sites/shared/styles/globals.css
  yarn.lock
Labels: :book: documentation, :gear: configuration

#2437 New Crowdin updates
  packages/i18n/src/locales/uk/app.yaml
  packages/i18n/src/locales/uk/jargon.yml
  packages/i18n/src/locales/uk/options/teagan.yml
  packages/i18n/src/locales/uk/parts.yaml
  packages/i18n/src/locales/uk/patterns.yml
Labels: :package: i18n

#2450 New Crowdin updates
  packages/i18n/src/locales/es/components/workbench.yaml
  packages/i18n/src/locales/uk/account.yaml
  packages/i18n/src/locales/uk/app.yaml
  packages/i18n/src/locales/uk/cfp.yaml
  packages/i18n/src/locales/uk/components/common.yaml
  packages/i18n/src/locales/uk/cty.yaml
  packages/i18n/src/locales/uk/filter.yml
  packages/i18n/src/locales/uk/gdpr.yaml
  packages/i18n/src/locales/uk/intro.yaml
  packages/i18n/src/locales/uk/jargon.yml
  packages/i18n/src/locales/uk/lab.yaml
  packages/i18n/src/locales/uk/measurements.yaml
  packages/i18n/src/locales/uk/optiongroups.yaml
  packages/i18n/src/locales/uk/options/aaron.yml
  packages/i18n/src/locales/uk/options/albert.yml
  packages/i18n/src/locales/uk/options/bee.yml
  packages/i18n/src/locales/uk/options/bella.yml
  packages/i18n/src/locales/uk/options/benjamin.yml
  packages/i18n/src/locales/uk/options/bent.yml
  packages/i18n/src/locales/uk/options/bob.yml
  packages/i18n/src/locales/uk/options/breanna.yml
  packages/i18n/src/locales/uk/options/bruce.yml
  packages/i18n/src/locales/uk/parts.yaml
  packages/i18n/src/locales/uk/patterns.yml
  packages/i18n/src/locales/uk/plugin/patterns/aaron.yaml
  packages/i18n/src/locales/uk/plugin/patterns/brian.yaml
  packages/i18n/src/locales/uk/plugin/patterns/bruce.yaml
  packages/i18n/src/locales/uk/plugin/patterns/cfp.yaml
  packages/i18n/src/locales/uk/plugin/patterns/cornelius.yaml
  packages/i18n/src/locales/uk/plugin/patterns/hortensia.yaml
  packages/i18n/src/locales/uk/plugin/patterns/hugo.yaml
  packages/i18n/src/locales/uk/plugin/patterns/simon.yaml
  packages/i18n/src/locales/uk/plugin/patterns/teagan.yaml
  packages/i18n/src/locales/uk/plugin/patterns/ursula.yaml
  packages/i18n/src/locales/uk/settings.yml
Labels: :package: i18n

#2449 Fix: Prebuild scripts for cibuild_step scripts
  .gitignore
  config/dependencies.yaml
  config/scripts.yaml
  packages/i18n/package.json
  packages/i18n/scripts/prebuilder.mjs
  packages/i18n/src/next.mjs
  packages/i18n/src/prebuild.mjs
  packages/pattern-info/package.json
  packages/rehype-jargon/CHANGELOG.md
  packages/rehype-jargon/README.md
  packages/rehype-jargon/package.json
  packages/remark-jargon/package.json
  packages/remark-jargon/src/index.js
  scripts/reconfigure.mjs
  sites/shared/mdx/loader.js
  sites/shared/prebuild/i18n.mjs
  yarn.lock
Labels: :package: i18n, :gear: configuration, :package: remark-jargon, :package: pattern-info

#2458 feat: Migrated issue templates to forms
  .github/ISSUE_TEMPLATE/01_bug-report.yaml
  .github/ISSUE_TEMPLATE/02_feature-request.yaml
  .github/ISSUE_TEMPLATE/03_documentation-update.yaml
  .github/ISSUE_TEMPLATE/04_showcase-template.yaml
  .github/ISSUE_TEMPLATE/05_all-contributors.yaml
  .github/ISSUE_TEMPLATE/1_bug-report.md
  .github/ISSUE_TEMPLATE/2_feature-request.md
  .github/ISSUE_TEMPLATE/3_documentation-update.md
  .github/ISSUE_TEMPLATE/4_showcase-template.md
  .github/ISSUE_TEMPLATE/5_all-contributors.md
Labels: :gear: configuration

#2465 core: Code coverage and grain/cut changes
  .github/workflows/tests.all.yml
  config/scripts.yaml
  markdown/dev/reference/api/part/en.md
  package.json
  packages/core/.nycrc.yaml
  packages/core/package.json
  packages/core/src/part.js
  packages/core/src/path.js
  packages/core/src/point.js
  yarn.lock
Labels: :package: core, :book: documentation, :gear: configuration

#2469 Fix: copy locale files to the sites in prebuild
  packages/i18n/scripts/prebuilder.mjs
  packages/i18n/src/prebuild.mjs
  sites/shared/prebuild/i18n.mjs
Labels: :bug: bug, :package: i18n, :rotating_light: high priority

#2471 fix(simon): Handle boxpleat issue in yoke. Fixes #2400
  CHANGELOG.md
  config/changelog.yaml
  designs/simon/src/back.js
  designs/simon/src/yoke.js
Labels: :gear: configuration

#2463 New Crowdin updates
  packages/i18n/src/locales/uk/app.yaml
  packages/i18n/src/locales/uk/options/bella.yml
  packages/i18n/src/locales/uk/options/cathrin.yml
  packages/i18n/src/locales/uk/options/charlie.yml
  packages/i18n/src/locales/uk/options/diana.yml
  packages/i18n/src/locales/uk/options/florence.yml
  packages/i18n/src/locales/uk/options/florent.yml
  packages/i18n/src/locales/uk/options/jaeger.yml
Labels: :package: i18n

#2477 fix(simon): Remove superfluous notches. Fixes #2399
  CHANGELOG.md
  config/changelog.yaml
  designs/simon/src/buttonholeplacket.js
  designs/simon/src/buttonplacket.js
  designs/simon/src/yoke.js
Labels: :gear: configuration

#2488 Correct dev setup tutorial for Mac and Linux
  markdown/dev/tutorials/getting-started-linux/dev-setup/en.md
  markdown/dev/tutorials/getting-started-mac/dev-setup/en.md
Labels: :book: documentation

#2491 Document all plugin-bundle plugins.
  markdown/dev/reference/plugins/banner/en.md
  markdown/dev/reference/plugins/bartack/en.md
  markdown/dev/reference/plugins/bundle/en.md
  markdown/dev/reference/plugins/measurements/en.md
  markdown/dev/reference/plugins/mirror/en.md
Labels: :book: documentation

#2490 notch/bnotch snippets come from plugin-notches, not plugin-theme
  markdown/dev/reference/api/snippets/bnotch/en.md
  markdown/dev/reference/api/snippets/notch/en.md
Labels: :book: documentation

#2489 Fix Snippet.attr() webpage URLs.
  markdown/dev/reference/api/snippet/attr/en.md
Labels: :book: documentation

#2498 Fix #2487: picker menus work in safari
  sites/shared/components/picker.js
Labels: :bug: bug, :nerd_face: ux

#2467 chore(core): Working on test coverage
  config/scripts.yaml
  packages/core/.nycrc.yaml
  packages/core/package.json
  packages/core/src/part.js
  packages/core/src/path.js
  packages/core/src/pattern.js
  packages/core/src/point.js
  packages/core/src/utils.js
  packages/core/tests/attributes.test.js
  packages/core/tests/design.test.js
  packages/core/tests/fixtures/render.js
  packages/core/tests/part.test.js
  packages/core/tests/path.test.js
  packages/core/tests/pattern.test.js
  packages/core/tests/point.test.js
  packages/core/tests/svg.test.js
  packages/core/tests/utils.test.js
Labels: :package: core, :gear: configuration

#2502 feat(core): Added new cutting methods. Closes #2470
  packages/core/src/part.js
  packages/core/tests/part.test.js
  packages/core/tests/snippet.test.js
  packages/core/tests/store.test.js
  packages/core/tests/svg.test.js
Labels: :package: core

#2507 feat(octoplushy): New design
  .gitignore
  config/exceptions.yaml
  config/software/designs.json
  designs/octoplushy/CHANGELOG.md
  designs/octoplushy/README.md
  designs/octoplushy/build.js
  designs/octoplushy/config/index.js
  designs/octoplushy/package.json
  designs/octoplushy/src/eye.js
  designs/octoplushy/src/headSection.js
  designs/octoplushy/src/index.js
  designs/octoplushy/src/legSection.js
  designs/octoplushy/tests/shared.test.mjs
  markdown/org/docs/patterns/octoplushy/cutting/en.md
  markdown/org/docs/patterns/octoplushy/en.md
  markdown/org/docs/patterns/octoplushy/fabric/en.md
  markdown/org/docs/patterns/octoplushy/instructions/en.md
  markdown/org/docs/patterns/octoplushy/measurements/en.md
  markdown/org/docs/patterns/octoplushy/needs/en.md
  markdown/org/docs/patterns/octoplushy/options/bottomlegreduction/en.md
  markdown/org/docs/patterns/octoplushy/options/bottomlegreduction/octoplushy_bottomlegreduction_sample.svg
  markdown/org/docs/patterns/octoplushy/options/bottomlegreductionplushy/en.md
  markdown/org/docs/patterns/octoplushy/options/bottomlegreductionplushy/octoplushy_bottomlegreductionplushy_sample.svg
  markdown/org/docs/patterns/octoplushy/options/bottomtoplegratio/en.md
  markdown/org/docs/patterns/octoplushy/options/bottomtoplegratio/octoplushy_bottomtoplegratio_sample.svg
  markdown/org/docs/patterns/octoplushy/options/en.md
  markdown/org/docs/patterns/octoplushy/options/leglength/en.md
  markdown/org/docs/patterns/octoplushy/options/leglength/octoplushy_leglength_sample.svg
  markdown/org/docs/patterns/octoplushy/options/legtaper/en.md
  markdown/org/docs/patterns/octoplushy/options/legtaper/octoplushy_legtaper_sample.svg
  markdown/org/docs/patterns/octoplushy/options/legwidth/en.md
  markdown/org/docs/patterns/octoplushy/options/legwidth/octoplushy_legwidth_sample.svg
  markdown/org/docs/patterns/octoplushy/options/neckwidth/en.md
  markdown/org/docs/patterns/octoplushy/options/neckwidth/octoplushy_neckwidth_sample.svg
  markdown/org/docs/patterns/octoplushy/options/size/en.md
  markdown/org/docs/patterns/octoplushy/options/size/octoplushy_size_sample.svg
  markdown/org/docs/patterns/octoplushy/options/type/en.md
  markdown/org/docs/patterns/octoplushy/options/type/octoplushy_type_sample.svg
  packages/core/tests/part.test.js
  packages/core/tests/pattern.test.js
  packages/pattern-info/src/index.js
  packages/pattern-info/src/prebuild.js
  sites/lab/package.json
Labels: :package: core, :book: documentation, :gear: configuration
