Repository freesewing/freesewing, pull requests merged in 2022-03, with the labels that each got.

#1978 Add missing pattern symlinks in Bee and Ursula
  packages/bee/example/src/pattern
  packages/ursula/example/src/pattern
Labels: :package: bee, :package: ursula

#1983 New Crowdin updates
  markdown/org/docs/faq/breasts/nl.md
  markdown/org/ui/share/nl.md
  packages/i18n/src/locales/nl/optiongroups.yaml
  packages/i18n/src/locales/nl/settings.yml
Labels: :package: i18n, :book: documentation

#1984 New Crowdin updates
  markdown/org/docs/faq/email-trouble/nl.md
  markdown/org/docs/faq/measurement-estimates/nl.md
  markdown/org/docs/faq/sizes/nl.md
  markdown/org/docs/faq/what-is-freesewing/nl.md
  markdown/org/docs/faq/why-signup/nl.md
  markdown/org/docs/faq/womenswear-blocks/nl.md
  markdown/org/docs/guide/account/nl.md
  markdown/org/docs/guide/help/nl.md
  markdown/org/docs/guide/measurements/estimates/nl.md
Labels: :book: documentation

#1993 New Crowdin updates
  markdown/org/docs/guide/mtm/nl.md
  markdown/org/docs/guide/options/complete/nl.md
Labels: :book: documentation

#1990 Making it more clear you need four pocket facings
  markdown/org/docs/patterns/charlie/cutting/en.md
Labels: :book: documentation

#1994 New Crowdin updates
  markdown/org/docs/patterns/charlie/cutting/de.md
  markdown/org/docs/patterns/charlie/cutting/es.md
  markdown/org/docs/patterns/charlie/cutting/fr.md
  markdown/org/docs/patterns/charlie/cutting/nl.md
Labels: :book: documentation

#1996 feat(charlie): Add notches to front pocket facing. Closes #1991
  packages/charlie/src/front-pocket-facing.js
Labels: :gem: enhancement, :package: charlie

#1995 feat: First stab at custom layout
  packages/core/src/hooks.js
  packages/core/src/part.js
  packages/core/src/pattern.js
  packages/core/tests/hooks.test.js
  packages/freesewing.lab/package.json
  packages/freesewing.shared/components/icons/page-size.js
  packages/freesewing.shared/components/icons/page.js
  packages/freesewing.shared/components/icons/print.js
  packages/freesewing.shared/components/workbench/default-settings.js
  packages/freesewing.shared/components/workbench/draft/part/index.js
  packages/freesewing.shared/components/workbench/draft/path/index.js
  packages/freesewing.shared/components/workbench/draft/point/index.js
  packages/freesewing.shared/components/workbench/layout/cut/index.js
  packages/freesewing.shared/components/workbench/layout/cut/settings.js
  packages/freesewing.shared/components/workbench/layout/draft.js
  packages/freesewing.shared/components/workbench/layout/print/index.js
  packages/freesewing.shared/components/workbench/layout/print/orientation-picker.js
  packages/freesewing.shared/components/workbench/layout/print/pagesize-picker.js
  packages/freesewing.shared/components/workbench/layout/print/plugin.js
  packages/freesewing.shared/components/workbench/layout/print/settings.js
  packages/freesewing.shared/components/workbench/menu/view.js
  packages/freesewing.shared/components/workbench/menu/xray/disable.js
  packages/freesewing.shared/components/workbench/menu/xray/index.js
  packages/freesewing.shared/components/workbench/menu/xray/list.js
  packages/freesewing.shared/components/workbench/menu/xray/reset.js
  packages/freesewing.shared/components/wrappers/workbench.js
  packages/freesewing.shared/package.json
  packages/freesewing.shared/styles/svg-freesewing-draft.css
  packages/freesewing.shared/themes/hax0r.js
  packages/i18n/src/locales/en/components/workbench.yaml
  packages/i18n/src/next/de/app.mjs
  packages/i18n/src/next/de/common.mjs
  packages/i18n/src/next/de/o_waralee.mjs
  packages/i18n/src/next/de/workbench.mjs
  packages/i18n/src/next/en/o_waralee.mjs
  packages/i18n/src/next/en/workbench.mjs
  packages/i18n/src/next/es/app.mjs
  packages/i18n/src/next/es/common.mjs
  packages/i18n/src/next/es/o_waralee.mjs
  packages/i18n/src/next/es/workbench.mjs
  packages/i18n/src/next/fr/app.mjs
  packages/i18n/src/next/fr/common.mjs
  packages/i18n/src/next/fr/o_waralee.mjs
  packages/i18n/src/next/fr/workbench.mjs
  packages/i18n/src/next/nl/app.mjs
  packages/i18n/src/next/nl/common.mjs
  packages/i18n/src/next/nl/o_waralee.mjs
  packages/i18n/src/next/nl/workbench.mjs
  yarn.lock
Labels: :package: core, :package: i18n

#1998 New Crowdin updates
  packages/i18n/src/locales/de/components/workbench.yaml
  packages/i18n/src/locales/es/components/workbench.yaml
  packages/i18n/src/locales/fr/components/workbench.yaml
  packages/i18n/src/locales/nl/components/workbench.yaml
Labels: :package: i18n

#2044 fix(core): Handle path split on start/end of path segments
  packages/core/src/path.js
Labels: :package: core
