Repository freesewing/freesewing, pull requests merged in 2022-12, with the labels that each got.

#3118 Refactor and fix new-design
  config/dependencies.yaml
  config/scripts.yaml
  packages/new-design/lib/cli.mjs
  packages/new-design/lib/config.mjs
  packages/new-design/lib/utils.mjs
  packages/new-design/package.json
  packages/new-design/templates/from-bella.mjs
  packages/new-design/templates/from-bella/design/src/back.mjs.mustache
  packages/new-design/templates/from-bella/design/src/front.mjs.mustache
  packages/new-design/templates/from-bella/design/src/index.mjs.mustache
  packages/new-design/templates/from-bella/package.json.mustache
  packages/new-design/templates/from-bent.mjs
  packages/new-design/templates/from-bent/design/src/back.mjs.mustache
  packages/new-design/templates/from-bent/design/src/front.mjs.mustache
  packages/new-design/templates/from-bent/design/src/index.mjs.mustache
  packages/new-design/templates/from-bent/design/src/topsleeve.mjs.mustache
  packages/new-design/templates/from-bent/design/src/undersleeve.mjs.mustache
  packages/new-design/templates/from-bent/package.json.mustache
  packages/new-design/templates/from-breanna.mjs
  packages/new-design/templates/from-breanna/design/src/back.mjs.mustache
  packages/new-design/templates/from-breanna/design/src/front.mjs.mustache
  packages/new-design/templates/from-breanna/design/src/sleeve.mjs.mustache
  packages/new-design/templates/from-brian.mjs
  packages/new-design/templates/from-brian/design/src/back.mjs.mustache
  packages/new-design/templates/from-brian/design/src/front.mjs.mustache
  packages/new-design/templates/from-brian/design/src/index.mjs.mustache
  packages/new-design/templates/from-brian/design/src/sleeve.mjs.mustache
  packages/new-design/templates/from-brian/package.json.mustache
  packages/new-design/templates/from-scratch.mjs
  packages/new-design/templates/from-scratch/design/src/box.mjs.mustache
  packages/new-design/templates/from-scratch/design/src/index.mjs.mustache
  packages/new-design/templates/from-scratch/package.json.mustache
  packages/new-design/templates/from-titan.mjs
  packages/new-design/templates/from-titan/design/src/back.mjs.mustache
  packages/new-design/templates/from-titan/design/src/front.mjs.mustache
  packages/new-design/templates/from-titan/design/src/index.mjs.mustache
  packages/new-design/templates/from-titan/package.json.mustache
  packages/new-design/templates/from-tutorial.mjs
  packages/new-design/templates/from-tutorial/design/src/bib.mjs.mustache
  packages/new-design/templates/from-tutorial/design/src/index.mjs.mustache
  packages/new-design/templates/from-tutorial/package.json.mustache
  packages/new-design/templates/shared/index.mjs.mustache
  packages/new-design/templates/shared/package.json.mustache
  packages/new-design/templates/shared/part.mjs.mustache
Labels: :gear: configuration, :package: new-design

#3113 fix: Small semantic typo
  markdown/dev/reference/backend/en.md
Labels: :book: documentation

#3112 fix: More copy updates to backend api docs
  markdown/dev/reference/backend/api/account/confirm/en.md
  markdown/dev/reference/backend/api/account/create/en.md
  markdown/dev/reference/backend/api/account/en.md
  markdown/dev/reference/backend/api/account/login/en.md
  markdown/dev/reference/backend/api/account/mfa/en.md
  markdown/dev/reference/backend/api/account/update/en.md
  markdown/dev/reference/backend/api/apikeys/delete/en.md
  markdown/dev/reference/backend/api/authentication/en.md
  markdown/dev/reference/backend/api/patterns/clone/en.md
  markdown/dev/reference/backend/api/patterns/create/en.md
  markdown/dev/reference/backend/api/patterns/delete/en.md
  markdown/dev/reference/backend/api/patterns/en.md
  markdown/dev/reference/backend/api/patterns/read/en.md
  markdown/dev/reference/backend/api/patterns/update/en.md
  markdown/dev/reference/backend/api/people/clone/en.md
  markdown/dev/reference/backend/api/people/create/en.md
  markdown/dev/reference/backend/api/people/delete/en.md
  markdown/dev/reference/backend/api/people/en.md
  markdown/dev/reference/backend/api/people/read/en.md
  markdown/dev/reference/backend/api/people/update/en.md
  markdown/dev/reference/backend/api/rbac/en.md
Labels: :book: documentation

#3126 fix: Adjusts wording to suggested format
  markdown/dev/tutorials/pattern-design/adding-measurements/en.md
Labels: :book: documentation

#3124 [Fix] Everything passes lint
  designs/examples/src/index.mjs
  designs/ursula/src/elastic.mjs
  packages/rehype-highlight-lines/src/index.mjs
  sites/dev/components/header.js
  sites/dev/components/help-us.js
  sites/dev/components/layouts/docs.js
  sites/dev/components/navigation/primary.js
  sites/dev/components/wrappers/page.js
  sites/dev/pages/404.js
  sites/dev/pages/contact.js
  sites/dev/pages/index.js
  sites/org/components/header.js
  sites/org/components/help-us.js
  sites/org/components/layouts/bare.js
  sites/org/components/wrappers/layout.js
  sites/org/components/wrappers/page.js
  sites/org/pages/blog/index.js
  sites/org/pages/community/index.js
  sites/org/pages/designs/index.js
  sites/org/pages/docs/index.js
  sites/org/pages/index.js
  sites/org/pages/showcase/designs/index.js
  sites/org/pages/showcase/index.js
  sites/org/pages/typography.js
Labels: :computer: dev, :computer: org, :shirt: ursula, :shirt: examples, :package: rehype-highlight-lines

#3127 (fix): (paco) Front pocket flap length and missing heel measurement. Fixes #3125.
  designs/paco/src/back.mjs
Labels: :shirt: paco

#3128 chore: (new-design) Upgrade to nextjs 13 and react 18
  packages/new-design/templates/shared/package.json.mustache
Labels: :package: new-design

#3139 fix(breanna): Eliminate warning messages when there is no secondary dart
  designs/breanna/src/dart-utils.mjs
Labels: :shirt: breanna

#3136 fix(core): In Path.clean(), initialize cur variable before use.
  packages/core/src/path.mjs
Labels: :package: core

#3145 fix(docs): utils.round() missing from Core API
  markdown/dev/reference/api/en.md
Labels: :book: documentation

#3142 fix(docs): Typo in utils.curveIntersectsY()
  markdown/dev/reference/api/utils/curveintersectsy/en.md
Labels: :book: documentation

#3141 fix(docs): Typo in Using Jargon guide
  markdown/dev/guides/markdown/jargon/en.md
Labels: :book: documentation

#3140 chore(org): Add jargon file. Fixes #3109.
  sites/org/jargon.mjs
Labels: :computer: org

#3188 fix(core): Update Pattern.sampleOptions() and documentation
  markdown/dev/reference/api/pattern/sampleoption/en.md
  packages/core/src/pattern.mjs
Labels: :package: core, :book: documentation

#3187 fix(docs): Update and correct Pattern documentation
  markdown/dev/reference/api/pattern/en.md
  markdown/dev/reference/api/pattern/getconfig/en.md
  markdown/dev/reference/api/pattern/on/en.md
  markdown/dev/reference/api/pattern/sample/en.md
  markdown/dev/reference/api/pattern/samplemodels/en.md
Labels: :book: documentation

#3179 fix(docs): Change Path.SetText() docs to use correct name
  markdown/dev/reference/api/path/settext/en.md
Labels: :book: documentation

#3172 fix(core) Small corrections to utils.mjs comments
  packages/core/src/utils.mjs
Labels: :package: core

#3171 fix(docs): Corrections to plugin documentation.
  markdown/dev/guides/plugins/loading/en.md
  markdown/dev/reference/plugins/bust/en.md
Labels: :book: documentation

#3170 fix(docs): Part draft method typo correction
  markdown/dev/reference/api/part/draft/en.md
Labels: :book: documentation

#3168 fix(docs): Part measurements fix
  markdown/dev/reference/api/part/config/measurements/en.md
Labels: :book: documentation

#3200 fix(docs): Add paths to prevent Example clipping
  markdown/dev/reference/api/path/move/en.md
  markdown/dev/reference/api/point/dy/en.md
Labels: :book: documentation

#3199 fix(docs): Updates to macros documentation
  markdown/dev/reference/macros/banner/en.md
  markdown/dev/reference/macros/bartack/en.md
  markdown/dev/reference/macros/bartackalong/en.md
  markdown/dev/reference/macros/bartackfractionalong/en.md
  markdown/dev/reference/macros/cutonfold/en.md
  markdown/dev/reference/macros/flip/en.md
  markdown/dev/reference/macros/gore/en.md
  markdown/dev/reference/macros/grainline/en.md
  markdown/dev/reference/macros/hd/en.md
  markdown/dev/reference/macros/ld/en.md
  markdown/dev/reference/macros/miniscale/en.md
  markdown/dev/reference/macros/mirror/en.md
  markdown/dev/reference/macros/pd/en.md
  markdown/dev/reference/macros/round/en.md
  markdown/dev/reference/macros/scalebox/en.md
  markdown/dev/reference/macros/sprinkle/en.md
  markdown/dev/reference/macros/title/en.md
  markdown/dev/reference/macros/vd/en.md
Labels: :book: documentation

#3195 fix(docs): Update Store API documentation
  markdown/dev/reference/api/store/en.md
Labels: :book: documentation

#3202 fix(docs): Part Config Options documentation fixes
  markdown/dev/reference/api/part/config/options/counter/en.md
  markdown/dev/reference/api/part/config/options/deg/en.md
  markdown/dev/reference/api/part/config/options/en.md
  markdown/dev/reference/api/part/config/options/list/en.md
  markdown/dev/reference/api/part/config/options/mm/en.md
  markdown/dev/reference/api/part/config/options/pct/en.md
  markdown/dev/reference/api/part/config/options/pct/fromabs/en.md
  markdown/dev/reference/api/part/config/options/pct/snap/en.md
  markdown/dev/reference/api/part/config/options/pct/toabs/en.md
Labels: :book: documentation

#3191 chore(deps) fix dependency issues
  sites/dev/package.json
  sites/lab/package.json
  sites/org/package.json
  yarn.lock
Labels: :bug: bug, dependencies, :computer: lab, :computer: dev, :computer: org

#3068 [Feature] V3 printing layout and pdf export
  markdown/dev/reference/hooks/prelayout/en.md
  packages/core/src/hooks.mjs
  packages/core/src/pattern.mjs
  packages/core/src/svg.mjs
  packages/core/tests/hooks.test.mjs
  packages/core/tests/pattern-draft.test.mjs
  plugins/plugin-theme/src/css.mjs
  sites/shared/components/workbench/draft/circle/index.js
  sites/shared/components/workbench/draft/stack.js
  sites/shared/components/workbench/draft/svg-wrapper.js
  sites/shared/components/workbench/exporting/export-handler.js
  sites/shared/components/workbench/exporting/pdf-maker.js
  sites/shared/components/workbench/layout/draft/index.js
  sites/shared/components/workbench/layout/draft/stack.js
  sites/shared/components/workbench/layout/print/index.js
  sites/shared/components/workbench/layout/print/plugin.js
  sites/shared/components/workbench/layout/print/settings.js
  sites/shared/components/wrappers/workbench.js
Labels: :package: core, :book: documentation, :computer: shared, :electric_plug: plugin-theme

#3205 fix(docs): Arrange measurements into a table with additional information
  markdown/dev/reference/measurements/en.md
Labels: :book: documentation

#3204 fix(docs): Clarify that shoulder slope is in degrees
  markdown/org/docs/measurements/shoulderslope/en.md
Labels: :book: documentation

#3212 fix: Migrated dev navigation to NextJS 13
  sites/dev/components/navigation/primary.js
Labels: :computer: dev

#3213 chore(docs): Add Utils.curveedge() documentation. Closes #3143. Replaces #3181
  markdown/dev/reference/api/en.md
  markdown/dev/reference/api/part/draft/en.md
  markdown/dev/reference/api/utils/curveedge/en.md
  packages/core/src/part.mjs
Labels: :package: core, :book: documentation

#3224 [Fix] Paperless exports to SVG and PDF
  packages/core/src/pattern.mjs
  plugins/plugin-theme/src/css.mjs
  plugins/plugin-theme/src/index.mjs
  sites/shared/components/workbench/draft/part/index.js
  sites/shared/components/workbench/exporting/export-handler.js
  sites/shared/components/workbench/exporting/pdf-maker.js
  sites/shared/components/workbench/layout/draft/index.js
  sites/shared/components/workbench/layout/draft/stack.js
  sites/shared/components/workbench/layout/print/plugin.js
  sites/shared/components/wrappers/workbench.js
  sites/shared/package.json
  yarn.lock
Labels: :package: core, :computer: shared, :electric_plug: plugin-theme

#3225 refactor(new-design): Remove dependency on core
  config/dependencies.yaml
  packages/new-design/lib/utils.mjs
  packages/new-design/package.json
Labels: :gear: configuration, :package: new-design

#3240 fix(docs): Snippets and attributes documentation update
  markdown/dev/howtos/code/attributes/en.md
  markdown/dev/reference/api/path/attr/en.md
  markdown/dev/reference/api/path/en.md
  markdown/dev/reference/api/point/attr/en.md
  markdown/dev/reference/api/point/en.md
  markdown/dev/reference/api/snippet/attr/en.md
  markdown/dev/reference/api/snippet/en.md
  markdown/dev/reference/snippets/en.md
Labels: :book: documentation

#3239 fix(docs): Add context property to Part.draft()
  markdown/dev/reference/api/part/draft/en.md
Labels: :book: documentation

#3238 fix(docs): Settings documentation updates
  markdown/dev/reference/settings/complete/en.md
  markdown/dev/reference/settings/en.md
  markdown/dev/reference/settings/layout/en.md
  markdown/dev/reference/settings/locale/en.md
  markdown/dev/reference/settings/margin/en.md
  markdown/dev/reference/settings/measurements/en.md
  markdown/dev/reference/settings/only/en.md
  markdown/dev/reference/settings/paperless/en.md
  markdown/dev/reference/settings/sa/en.md
  markdown/dev/reference/settings/scale/en.md
  markdown/dev/reference/settings/units/en.md
Labels: :book: documentation

#3231 fix(docs): Correct small typos
  markdown/dev/reference/api/attributes/aspropsifprefixis/en.md
  markdown/dev/reference/api/attributes/get/en.md
  markdown/dev/reference/api/attributes/renderascss/en.md
  markdown/dev/reference/api/design/en.md
  markdown/dev/reference/api/part/config/options/pct/fromabs/en.md
  markdown/dev/reference/api/part/config/options/pct/snap/en.md
  markdown/dev/reference/api/part/config/options/pct/toabs/en.md
  markdown/dev/reference/api/part/en.md
  markdown/dev/reference/api/part/getid/en.md
  markdown/dev/reference/api/path/aspathstring/en.md
  markdown/dev/reference/api/path/reverse/en.md
  markdown/dev/reference/api/path/roughlength/en.md
  markdown/dev/reference/api/pattern/en.md
  markdown/dev/reference/api/pattern/getrenderprops/en.md
  markdown/dev/reference/api/pattern/on/en.md
  markdown/dev/reference/api/pattern/samplemodels/en.md
  markdown/dev/reference/api/utils/pctbasedon/en.md
  markdown/dev/reference/api/utils/pointonbeam/en.md
  markdown/dev/reference/api/utils/pointoncurve/en.md
  markdown/dev/reference/backend/api/account/confirm/en.md
  markdown/dev/reference/backend/api/apikeys/create/en.md
  markdown/dev/reference/backend/api/apikeys/read/en.md
  markdown/dev/reference/backend/api/apikeys/whoami/en.md
  markdown/dev/reference/macros/bartack/en.md
  markdown/dev/reference/macros/bartackalong/en.md
  markdown/dev/reference/macros/bartackfractionalong/en.md
  markdown/dev/reference/macros/flip/en.md
  markdown/dev/reference/plugins/bust/en.md
  markdown/dev/reference/plugins/gore/en.md
  markdown/dev/reference/plugins/i18n/en.md
Labels: :book: documentation

#3203 fix(docs): Harmonize shoulder tip measurement wording
  markdown/org/docs/measurements/shouldertoelbow/en.md
  markdown/org/docs/measurements/shouldertoshoulder/en.md
  markdown/org/docs/measurements/shouldertowrist/en.md
Labels: :book: documentation

#3252 New Crowdin updates
  markdown/org/docs/faq/breasts/fr.md
  markdown/org/docs/faq/sizes/fr.md
  markdown/org/docs/faq/what-is-freesewing/fr.md
  markdown/org/docs/faq/why-signup/fr.md
  markdown/org/docs/faq/womenswear-blocks/fr.md
  markdown/org/docs/guide/account/fr.md
  markdown/org/docs/guide/fr.md
  markdown/org/docs/guide/help/fr.md
  markdown/org/docs/guide/measurements/estimates/fr.md
  markdown/org/docs/guide/measurements/fr.md
  markdown/org/docs/guide/mtm/fr.md
  markdown/org/docs/guide/options/sa/fr.md
  markdown/org/docs/guide/options/units/fr.md
  markdown/org/docs/guide/patterns/fr.md
  markdown/org/docs/guide/people/fr.md
  markdown/org/docs/measurements/shouldertoelbow/de.md
  markdown/org/docs/measurements/shouldertoelbow/es.md
  markdown/org/docs/measurements/shouldertoelbow/fr.md
  markdown/org/docs/measurements/shouldertoelbow/nl.md
  markdown/org/docs/measurements/shouldertoelbow/uk.md
  markdown/org/docs/measurements/shouldertoshoulder/de.md
  markdown/org/docs/measurements/shouldertoshoulder/es.md
  markdown/org/docs/measurements/shouldertoshoulder/fr.md
  markdown/org/docs/measurements/shouldertoshoulder/nl.md
  markdown/org/docs/measurements/shouldertoshoulder/uk.md
  markdown/org/docs/measurements/shouldertowrist/de.md
  markdown/org/docs/measurements/shouldertowrist/es.md
  markdown/org/docs/measurements/shouldertowrist/fr.md
  markdown/org/docs/measurements/shouldertowrist/nl.md
  markdown/org/docs/measurements/shouldertowrist/uk.md
Labels: :book: documentation

#3255 chore: Updated depdencies
  config/dependencies.yaml
  sites/email/package.json
  sites/shared/package.json
  yarn.lock
Labels: :gear: configuration, :computer: shared, :computer: email

#3253 Work on building/deploying of a backend container
  .eslintignore
  config/dependencies.yaml
  config/scripts.yaml
  scripts/build-backend-container.sh
  sites/backend/.gitignore
  sites/backend/Dockerfile
  sites/backend/build.mjs
  sites/backend/local-config.mjs
  sites/backend/package.json
  sites/backend/prisma/schema.prisma
  sites/backend/src/config.mjs
  sites/backend/src/measurements.mjs
  sites/backend/src/utils/crypto.mjs
  sites/dev/skip_build.mjs
  sites/lab/skip_build.mjs
  sites/org/jargon.mjs
  sites/org/skip_build.mjs
  sites/sanity/skip_build.mjs
  yarn.lock
Labels: :gear: configuration, :computer: lab, :computer: backend, :computer: dev, :computer: org, :scroll: scripts, :computer: sanity

#3256 New Crowdin updates
  markdown/org/docs/guide/help/fr.md
  markdown/org/docs/guide/options/complete/fr.md
  markdown/org/docs/guide/options/paperless/fr.md
  markdown/org/docs/guide/options/scale/fr.md
  markdown/org/docs/guide/patterns/fr.md
  packages/i18n/src/locales/fr/app.yaml
  packages/i18n/src/locales/fr/components/homepage.yaml
  packages/i18n/src/locales/fr/components/ograph.yaml
  packages/i18n/src/locales/fr/components/workbench.yaml
  packages/i18n/src/locales/fr/email.yaml
  packages/i18n/src/locales/fr/lab.yaml
  packages/i18n/src/locales/fr/measurements.yaml
  packages/i18n/src/locales/fr/optiongroups.yaml
Labels: :package: i18n, :book: documentation

#3250 fix(github): Showcase issues template updates and corrections
  .github/ISSUE_TEMPLATE/04_showcase-template.yaml
Labels: :gear: configuration

#3249 fix(docs): Better definition for pattern context setting
  markdown/dev/reference/api/part/draft/en.md
Labels: :book: documentation

#3248 chore(core): Remove debug setting
  markdown/dev/reference/settings/en.md
  packages/core/src/config.mjs
Labels: :package: core, :book: documentation

#3270 Fix Pattern test after removal of debug setting
  packages/core/tests/pattern-init.test.mjs
Labels: :package: core

#3274 fix(github): Use shortcodes for labels emoji
  .github/ISSUE_TEMPLATE/01_bug-report.yaml
  .github/ISSUE_TEMPLATE/02_feature-request.yaml
  .github/ISSUE_TEMPLATE/03_documentation-update.yaml
  .github/ISSUE_TEMPLATE/05_all-contributors.yaml
Labels: :gear: configuration

#3269 [Fix] [bug]: Gridlines are missing on paperless PDF exports
  config/dependencies.yaml
  sites/shared/package.json
  yarn.lock
Labels: :gear: configuration, :computer: shared

#3283 chore(sanity): Migrate to Sanity studio v3
  .gitignore
  config/dependencies.yaml
  config/scripts.yaml
  sites/sanity/dist/.gitkeep
  sites/sanity/package.json
  sites/sanity/plugins/sanity-plugin-tutorial/CustomDefaultLayout.js
  sites/sanity/plugins/sanity-plugin-tutorial/GetStartedTutorial.js
  sites/sanity/plugins/sanity-plugin-tutorial/GetStartedTutorialIcon.js
  sites/sanity/plugins/sanity-plugin-tutorial/index.js
  sites/sanity/plugins/sanity-plugin-tutorial/sanity.json
  sites/sanity/sanity.cli.js
  sites/sanity/sanity.config.js
  sites/sanity/sanity.json
  sites/sanity/schemas/index.js
  sites/sanity/schemas/schema.js
  sites/sanity/static/favicon.ico
  yarn.lock
Labels: :gear: configuration, :computer: sanity

#3289 chore: Dependencies maintenance
  config/dependencies.yaml
  sites/backend/package.json
  sites/dev/package.json
  sites/lab/package.json
  sites/sanity/package.json
  yarn.lock
Labels: :gear: configuration, :computer: lab, :computer: backend, :computer: dev, :computer: sanity

#3291 fix(docs): Howtos and other documentation fixes
  markdown/dev/howtos/code/accessing-measurements/en.md
  markdown/dev/howtos/code/accessing-options/en.md
  markdown/dev/howtos/code/adding-paths/en.md
  markdown/dev/howtos/code/adding-points/en.md
  markdown/dev/howtos/code/adding-snippets/en.md
  markdown/dev/howtos/code/adding-text/en.md
  markdown/dev/howtos/code/after/en.md
  markdown/dev/howtos/code/create-new-design/en.md
  markdown/dev/howtos/code/hide-paths/en.md
  markdown/dev/howtos/code/text-whitespace/en.md
  markdown/dev/howtos/design/fit-sleeve/en.md
  markdown/dev/howtos/design/seam-allowance/en.md
  markdown/dev/howtos/editors/blogpost/en.md
  markdown/dev/howtos/editors/frontmatter/about/en.md
  markdown/dev/howtos/editors/frontmatter/en.md
  markdown/dev/howtos/editors/frontmatter/multi-line/en.md
  markdown/dev/howtos/editors/showcase/en.md
  markdown/dev/howtos/environments/browser/en.md
  markdown/dev/howtos/environments/nodejs/en.md
  markdown/dev/howtos/git/editing-content-on-github/en.md
  markdown/dev/howtos/git/en.md
  markdown/dev/howtos/ways-to-contribute/develop-patterns/en.md
  markdown/dev/howtos/ways-to-contribute/devops/en.md
  markdown/dev/howtos/ways-to-contribute/showcase-our-patterns/en.md
  markdown/dev/howtos/ways-to-contribute/technical-writing/code/en.md
  markdown/dev/reference/api/utils/beamsintersect/en.md
  markdown/dev/tutorials/getting-started-linux/dev-start/en.md
  markdown/dev/tutorials/getting-started-mac/dev-start/en.md
Labels: :book: documentation

#3285 feat(core): Make Part.getId() a prototype method
  packages/core/src/part.mjs
  packages/core/tests/part.test.mjs
Labels: :package: core

#3257 wip(backend): Work on OpenAPI v3 spec and swagger docs
  config/dependencies.yaml
  sites/backend/nodemon.json
  sites/backend/openapi/apikeys.mjs
  sites/backend/openapi/index.mjs
  sites/backend/openapi/lib.mjs
  sites/backend/openapi/patterns.mjs
  sites/backend/openapi/people.mjs
  sites/backend/openapi/refs.mjs
  sites/backend/openapi/users.mjs
  sites/backend/package.json
  sites/backend/prisma/schema.prisma
  sites/backend/scripts/newdb.mjs
  sites/backend/src/config.mjs
  sites/backend/src/controllers/users.mjs
  sites/backend/src/index.mjs
  sites/backend/src/models/apikey.mjs
  sites/backend/src/models/pattern.mjs
  sites/backend/src/models/user.mjs
  sites/backend/src/routes/patterns.mjs
  sites/backend/src/routes/people.mjs
  sites/backend/src/routes/users.mjs
  sites/backend/tests/account.mjs
  sites/backend/tests/index.mjs
  sites/backend/tests/pattern.mjs
  sites/backend/tests/person.mjs
  sites/backend/tests/shared.mjs
  sites/backend/tests/user.mjs
  yarn.lock
Labels: :gear: configuration, :computer: backend

#3311 fix(docs): Correct spelling of Bezier to Bézier with accented "e"
  markdown/dev/reference/api/path/_curve/en.md
  markdown/dev/reference/api/path/curve/en.md
  markdown/dev/reference/api/path/curve_/en.md
  markdown/dev/reference/api/path/roughlength/en.md
  markdown/dev/reference/api/utils/curveedge/en.md
  markdown/dev/reference/api/utils/pointonbeam/en.md
  markdown/dev/reference/api/utils/pointoncurve/en.md
  markdown/dev/tutorials/pattern-design/constructing-the-neck-opening/en.md
Labels: :book: documentation

#3314 [wip] Work on the freesewing.org site
  sites/org/components/design.js
  sites/org/components/footer.js
  sites/org/components/header.js
  sites/org/components/layouts/docs.js
  sites/org/components/mdx/index.js
  sites/org/components/mdx/pattern-docs.js
  sites/org/components/navigation/aside.js
  sites/org/components/navigation/primary.js
  sites/org/components/search.js
  sites/org/freesewing.config.js
  sites/org/jargon.mjs
  sites/org/next.config.mjs
  sites/org/pages/_document.js
  sites/org/pages/docs/[...mdxslug].js
  sites/shared/config/next.mjs
  sites/shared/mdx/compiler.js
  sites/shared/mdx/loader.js
  sites/shared/themes/dark.js
  sites/shared/themes/light.js
Labels: :computer: shared, :computer: org

#3332 fix(docs): Insert space between numbers and SI units
  markdown/dev/howtos/design/fit-sleeve/en.md
  markdown/dev/reference/api/part/config/options/pct/fromabs/en.md
  markdown/dev/reference/api/part/config/options/pct/snap/en.md
  markdown/dev/reference/api/path/shiftalong/en.md
  markdown/dev/reference/api/point/shift/en.md
  markdown/dev/reference/api/point/shiftoutwards/en.md
  markdown/dev/reference/api/point/shifttowards/en.md
  markdown/dev/reference/api/utils/stretchtoscale/en.md
  markdown/dev/reference/hooks/inserttext/en.md
  markdown/dev/reference/settings/margin/en.md
  markdown/dev/reference/settings/paperless/en.md
Labels: :book: documentation

#3329 fix(docs): Standardize spelling and capitalization for line break, Markdown, and Frontmatter
  markdown/dev/howtos/code/text-whitespace/en.md
  markdown/dev/howtos/editors/frontmatter/about/en.md
  markdown/dev/howtos/editors/frontmatter/en.md
  markdown/dev/tutorials/getting-started-windows/en.md
Labels: :book: documentation

#3327 fix(docs): Update Guides documentation 1
  markdown/dev/guides/best-practices/use-percentages/en.md
  markdown/dev/guides/faq/is-copying-ok/en.md
  markdown/dev/guides/patterns/en.md
  markdown/dev/guides/translation/en.md
  markdown/dev/guides/v3/en.md
Labels: :book: documentation

#3328 fix(docs): Update Guides documentation 2
  markdown/dev/guides/best-practices/go-counter-clockwise/en.md
  markdown/dev/guides/best-practices/reuse-css-classes/en.md
  markdown/dev/guides/best-practices/use-translation-keys/en.md
  markdown/dev/guides/code-of-conduct/enforcement-guidelines/warning/en.md
  markdown/dev/guides/code-of-conduct/scope/en.md
  markdown/dev/guides/docs/en.md
  markdown/dev/guides/en.md
  markdown/dev/guides/markdown/code-blocks/en.md
  markdown/dev/guides/markdown/en.md
  markdown/dev/guides/markdown/frequent-mistakes/en.md
  markdown/dev/guides/markdown/images/en.md
  markdown/dev/guides/markdown/jargon/en.md
  markdown/dev/guides/markdown/line-breaks/en.md
  markdown/dev/guides/markdown/links/en.md
  markdown/dev/guides/patterns/parts/en.md
  markdown/dev/guides/patterns/paths/en.md
  markdown/dev/guides/patterns/pattern/en.md
  markdown/dev/guides/patterns/sets/en.md
  markdown/dev/guides/patterns/snippets/en.md
  markdown/dev/guides/patterns/stacks/en.md
  markdown/dev/guides/patterns/store/en.md
  markdown/dev/guides/plugins/en.md
  markdown/dev/guides/plugins/hooks/en.md
  markdown/dev/guides/plugins/loading/en.md
  markdown/dev/guides/plugins/macros/en.md
  markdown/dev/guides/plugins/store/en.md
  markdown/dev/guides/plugins/structure/en.md
  markdown/dev/guides/prerequisites/bezier-curves/en.md
  markdown/dev/guides/prerequisites/en.md
  markdown/dev/guides/prerequisites/units/en.md
  markdown/dev/guides/v3/migration/en.md
Labels: :book: documentation

#3320 fix(docs): Update Custom Tags documentation
  markdown/dev/guides/markdown/custom-components/en.md
Labels: :book: documentation

#3319 fix(docs): Update Avoiding Frequent Mistakes documentation
  markdown/dev/guides/markdown/frequent-mistakes/en.md
Labels: :book: documentation

#3318 fix(docs): Updated Respect Draft Settings documentation.
  markdown/dev/guides/best-practices/respect-draft-settings/en.md
Labels: :book: documentation

#3317 [wip]: Work on freesewing.org site
  .eslintignore
  markdown/org/docs/guide/en.md
  markdown/org/docs/patterns/breanna/options/fr.md
  markdown/org/docs/patterns/brian/options/fr.md
  markdown/org/docs/patterns/holmes/cutting/de.md
  markdown/org/docs/patterns/holmes/cutting/en.md
  markdown/org/docs/patterns/holmes/cutting/es.md
  markdown/org/docs/patterns/holmes/cutting/fr.md
  markdown/org/docs/patterns/holmes/fabric/de.md
  markdown/org/docs/patterns/holmes/fabric/en.md
  markdown/org/docs/patterns/holmes/fabric/es.md
  markdown/org/docs/patterns/holmes/fabric/fr.md
  markdown/org/docs/patterns/holmes/fabric/nl.md
  markdown/org/docs/patterns/paco/instructions/de.md
  markdown/org/docs/patterns/paco/instructions/en.md
  markdown/org/docs/patterns/paco/instructions/es.md
  markdown/org/docs/patterns/paco/instructions/fr.md
  markdown/org/docs/patterns/paco/instructions/nl.md
  markdown/org/docs/patterns/paco/instructions/uk.md
  markdown/org/docs/patterns/yuri/instructions/de.md
  markdown/org/docs/patterns/yuri/instructions/en.md
  markdown/org/docs/patterns/yuri/instructions/es.md
  markdown/org/docs/patterns/yuri/instructions/fr.md
  markdown/org/docs/patterns/yuri/instructions/nl.md
  sites/org/components/design.js
  sites/org/components/footer.js
  sites/org/components/layouts/docs.js
  sites/org/components/navigation/primary.js
  sites/org/components/navigation/top-level.js
  sites/org/pages/blog/[slug].js
  sites/org/pages/blog/index.js
  sites/org/pages/community/index.js
  sites/org/pages/designs/index.js
  sites/org/pages/docs/index.js
  sites/org/pages/index.js
  sites/org/pages/showcase/[slug].js
  sites/org/pages/showcase/designs/[design].js
  sites/org/pages/showcase/designs/index.js
  sites/org/pages/showcase/index.js
  sites/org/pages/typography.js
  sites/org/skip_build.mjs
  sites/shared/components/page-link.js
  sites/shared/components/web-link.js
  sites/shared/components/wordmark.js
  sites/shared/components/wrappers/mdx.js
  sites/shared/components/wrappers/toc.js
  sites/shared/config/next.mjs
  sites/shared/designs/index.js
  sites/shared/styles/globals.css
  sites/shared/themes/dark.js
  sites/shared/themes/hax0r.js
  sites/shared/themes/light.js
Labels: :book: documentation, :computer: shared, :computer: org

#3342 chore: Depdencies update
  config/dependencies.yaml
  packages/new-design/package.json
  sites/backend/package.json
  sites/email/package.json
  sites/shared/package.json
Labels: :gear: configuration, :computer: shared, :computer: backend, :package: new-design, :computer: email

#3336 chore(docs): Add Getting Started with Codespaces tutorial
  markdown/dev/tutorials/getting-started-codespaces/en.md
Labels: :book: documentation

#3333 New Crowdin updates
  markdown/org/docs/guide/de.md
  markdown/org/docs/guide/es.md
  markdown/org/docs/guide/fr.md
  markdown/org/docs/guide/nl.md
  markdown/org/docs/guide/uk.md
  markdown/org/docs/patterns/holmes/cutting/nl.md
  markdown/org/docs/patterns/holmes/cutting/uk.md
  markdown/org/docs/patterns/holmes/fabric/de.md
  markdown/org/docs/patterns/holmes/fabric/es.md
  markdown/org/docs/patterns/holmes/fabric/fr.md
  markdown/org/docs/patterns/holmes/fabric/nl.md
  markdown/org/docs/patterns/holmes/fabric/uk.md
  markdown/org/docs/patterns/paco/instructions/de.md
  markdown/org/docs/patterns/paco/instructions/es.md
  markdown/org/docs/patterns/paco/instructions/fr.md
  markdown/org/docs/patterns/paco/instructions/nl.md
  markdown/org/docs/patterns/paco/instructions/uk.md
  markdown/org/docs/patterns/yuri/instructions/de.md
  markdown/org/docs/patterns/yuri/instructions/es.md
  markdown/org/docs/patterns/yuri/instructions/fr.md
  markdown/org/docs/patterns/yuri/instructions/nl.md
  markdown/org/docs/patterns/yuri/instructions/uk.md
Labels: :book: documentation

#3302 fix(shared): Remove redundant logic
  sites/shared/prebuild/mdx.mjs
Labels: :computer: shared

#3349 fix(docs): Update utils.stretchToScale()
  markdown/dev/reference/api/utils/stretchtoscale/en.md
Labels: :book: documentation

#3348 fix(backend): Fix Deepscan and eslint issues
  sites/backend/src/models/apikey.mjs
  sites/backend/src/models/pattern.mjs
  sites/backend/src/models/user.mjs
  sites/backend/tests/shared.mjs
Labels: :computer: backend

#3347 fix(docs): Tutorials updates and corrections
  markdown/dev/tutorials/getting-started-gitpod/en.md
  markdown/dev/tutorials/getting-started-linux/dev-setup/en.md
  markdown/dev/tutorials/getting-started-linux/en.md
  markdown/dev/tutorials/getting-started-linux/installing-node/en.md
  markdown/dev/tutorials/getting-started-linux/installing-nvm/en.md
  markdown/dev/tutorials/getting-started-linux/node-versions/en.md
  markdown/dev/tutorials/getting-started-mac/dev-setup/en.md
  markdown/dev/tutorials/getting-started-mac/en.md
  markdown/dev/tutorials/getting-started-mac/installing-node/en.md
  markdown/dev/tutorials/getting-started-mac/installing-nvm/en.md
  markdown/dev/tutorials/getting-started-mac/installing-xcode/en.md
  markdown/dev/tutorials/getting-started-mac/node-versions/en.md
  markdown/dev/tutorials/getting-started-windows/en.md
  markdown/dev/tutorials/pattern-design/adding-measurements/en.md
  markdown/dev/tutorials/pattern-design/avoiding-overlap/en.md
  markdown/dev/tutorials/pattern-design/completing-our-pattern/en.md
  markdown/dev/tutorials/pattern-design/constructing-the-neck-opening/en.md
  markdown/dev/tutorials/pattern-design/draft-method/en.md
  markdown/dev/tutorials/pattern-design/drawing-the-straps/en.md
  markdown/dev/tutorials/pattern-design/en.md
  markdown/dev/tutorials/pattern-design/fitting-the-neck-opening/en.md
  markdown/dev/tutorials/pattern-design/structure/en.md
  markdown/dev/tutorials/pattern-design/testing-your-pattern/en.md
Labels: :book: documentation

#3346 fix(docs): Add recurse attribute to Readmore tag
  markdown/dev/guides/markdown/custom-components/en.md
Labels: :book: documentation

#3354 chore: Dependencies update
  config/dependencies.yaml
  sites/backend/package.json
  sites/lab/package.json
  sites/org/package.json
  sites/shared/package.json
  yarn.lock
Labels: :gear: configuration, :computer: lab, :computer: shared, :computer: backend, :computer: org

#3352 fix(docs): Trim trailing whitespace and blank lines
  markdown/dev/reference/api/path/_curve/en.md
  markdown/dev/reference/api/path/addclass/en.md
  markdown/dev/reference/api/path/addtext/en.md
  markdown/dev/reference/api/path/aspathstring/en.md
  markdown/dev/reference/api/path/clean/en.md
  markdown/dev/reference/api/path/clone/en.md
  markdown/dev/reference/api/path/close/en.md
  markdown/dev/reference/api/path/curve/en.md
  markdown/dev/reference/api/path/divide/en.md
  markdown/dev/reference/api/path/edge/en.md
  markdown/dev/reference/api/path/end/en.md
  markdown/dev/reference/api/path/hide/en.md
  markdown/dev/reference/api/path/insop/en.md
  markdown/dev/reference/api/path/intersects/en.md
  markdown/dev/reference/api/path/intersectsx/en.md
  markdown/dev/reference/api/path/intersectsy/en.md
  markdown/dev/reference/api/path/join/en.md
  markdown/dev/reference/api/path/line/en.md
  markdown/dev/reference/api/path/move/en.md
  markdown/dev/reference/api/path/noop/en.md
  markdown/dev/reference/api/path/offset/en.md
  markdown/dev/reference/api/path/reverse/en.md
  markdown/dev/reference/api/path/roughlength/en.md
  markdown/dev/reference/api/path/setclass/en.md
  markdown/dev/reference/api/path/sethidden/en.md
  markdown/dev/reference/api/path/settext/en.md
  markdown/dev/reference/api/path/shiftalong/en.md
  markdown/dev/reference/api/path/shiftfractionalong/en.md
  markdown/dev/reference/api/path/smurve/en.md
  markdown/dev/reference/api/path/smurve_/en.md
  markdown/dev/reference/api/path/split/en.md
  markdown/dev/reference/api/path/start/en.md
  markdown/dev/reference/api/path/translate/en.md
  markdown/dev/reference/api/path/trim/en.md
  markdown/dev/reference/api/path/unhide/en.md
  markdown/dev/reference/api/point/addcircle/en.md
  markdown/dev/reference/api/point/addtext/en.md
  markdown/dev/reference/api/point/angle/en.md
  markdown/dev/reference/api/point/attr/en.md
  markdown/dev/reference/api/point/clone/en.md
  markdown/dev/reference/api/point/dist/en.md
  markdown/dev/reference/api/point/dx/en.md
  markdown/dev/reference/api/point/dy/en.md
  markdown/dev/reference/api/point/flipx/en.md
  markdown/dev/reference/api/point/flipy/en.md
  markdown/dev/reference/api/point/rotate/en.md
  markdown/dev/reference/api/point/setcircle/en.md
  markdown/dev/reference/api/point/settext/en.md
  markdown/dev/reference/api/point/shift/en.md
  markdown/dev/reference/api/point/shiftfractiontowards/en.md
  markdown/dev/reference/api/point/shiftoutwards/en.md
  markdown/dev/reference/api/point/shifttowards/en.md
  markdown/dev/reference/api/point/sitsroughlyon/en.md
  markdown/dev/reference/api/point/translate/en.md
Labels: :book: documentation

#3353 Fix: Development environment - Preparation for a new alpha release
  config/scripts.yaml
  package.json
  packages/new-design/build.mjs
  packages/new-design/lib/cli.mjs
  packages/new-design/lib/config.mjs
  packages/new-design/package.json
  packages/new-design/shared/lab/components/footer.js
  packages/new-design/shared/lab/components/header.js
  packages/new-design/shared/pages/index.mjs
  scripts/reconfigure.mjs
Labels: :gear: configuration, :package: new-design, :scroll: scripts

#3308 fix(core): Fix Path.join() to work with noop
  packages/core/src/path.mjs
  packages/core/tests/path.test.mjs
Labels: :package: core

#3355 fix(new-design): React 18 dependency updates
  packages/new-design/templates/shared/package.json.mustache
Labels: :package: new-design

#3351 fix(docs): Change examples to actually use the documented method
  markdown/dev/reference/api/path/attr/en.md
  markdown/dev/reference/api/path/length/en.md
Labels: :book: documentation
