Repository freesewing/freesewing, pull requests merged in 2022-04, with the labels that each got.

#2054 Correcting Yuri's Gusset Seam allowance.
  packages/yuri/src/gusset.js
Labels: :package: yuri

#2055 Format Yuri gusset. Replace tabs with spaces.
  packages/yuri/src/gusset.js
Labels: :package: yuri

#2036 Woutervdub bella shoulder ease
  packages/bee/config/index.js
  packages/bella/config/index.js
  packages/bella/src/back.js
  packages/bella/src/front-side-dart.js
  packages/i18n/src/locales/de/options/bella.yml
  packages/i18n/src/locales/en/options/bella.yml
  packages/i18n/src/locales/es/options/bella.yml
  packages/i18n/src/locales/fr/options/bella.yml
  packages/i18n/src/locales/nl/options/bella.yml
Labels: :package: i18n, :package: bella, :package: bee

#2056 New Crowdin updates
  packages/i18n/src/locales/de/options/bella.yml
  packages/i18n/src/locales/es/options/bella.yml
  packages/i18n/src/locales/fr/options/bella.yml
  packages/i18n/src/locales/nl/options/bella.yml
Labels: :package: i18n

#2063 Fix broken build.
  packages/i18n/src/locales/de/measurements.yaml
  packages/i18n/src/locales/es/measurements.yaml
  packages/i18n/src/locales/fr/measurements.yaml
  packages/i18n/src/locales/nl/measurements.yaml
  packages/i18n/src/next/de/measurements.mjs
  packages/i18n/src/next/de/o_bella.mjs
  packages/i18n/src/next/de/workbench.mjs
  packages/i18n/src/next/en/measurements.mjs
  packages/i18n/src/next/en/o_bella.mjs
  packages/i18n/src/next/en/workbench.mjs
  packages/i18n/src/next/es/measurements.mjs
  packages/i18n/src/next/es/o_bella.mjs
  packages/i18n/src/next/es/workbench.mjs
  packages/i18n/src/next/fr/measurements.mjs
  packages/i18n/src/next/fr/o_bella.mjs
  packages/i18n/src/next/fr/workbench.mjs
  packages/i18n/src/next/nl/measurements.mjs
  packages/i18n/src/next/nl/o_bella.mjs
  packages/i18n/src/next/nl/optiongroups.mjs
  packages/i18n/src/next/nl/settings.mjs
  packages/i18n/src/next/nl/workbench.mjs
Labels: :package: i18n

#2075 New Crowdin updates
  packages/i18n/src/locales/de/app.yaml
  packages/i18n/src/locales/de/components/common.yaml
  packages/i18n/src/locales/de/components/themes.yaml
  packages/i18n/src/locales/de/components/workbench.yaml
  packages/i18n/src/locales/de/measurements.yaml
  packages/i18n/src/locales/de/settings.yml
Labels: :package: i18n

#2082 New Crowdin updates
  markdown/org/docs/faq/why-signup/de.md
  markdown/org/docs/faq/womenswear-blocks/de.md
Labels: :book: documentation

#2083 New Crowdin updates
  markdown/org/docs/faq/womenswear-blocks/de.md
  markdown/org/docs/guide/account/de.md
  markdown/org/docs/guide/help/de.md
  markdown/org/docs/guide/measurements/estimates/de.md
Labels: :book: documentation

#2086 fix(lunetius-option-desc): to upper leg
  packages/i18n/src/locales/en/options/lunetius.yml
Labels: :package: i18n

#2085 New Crowdin updates
  markdown/org/docs/faq/breasts/de.md
  markdown/org/docs/faq/email-trouble/de.md
  markdown/org/docs/faq/measurement-estimates/de.md
  markdown/org/docs/faq/notches/de.md
  markdown/org/docs/faq/sizes/de.md
  markdown/org/docs/faq/what-is-freesewing/de.md
  markdown/org/docs/faq/womenswear-blocks/de.md
  markdown/org/docs/guide/de.md
  markdown/org/docs/guide/measurements/de.md
  markdown/org/docs/guide/options/margin/de.md
  markdown/org/docs/guide/options/scale/de.md
  markdown/org/docs/guide/options/units/de.md
  markdown/org/docs/guide/patterns/de.md
  markdown/org/docs/guide/people/de.md
  markdown/org/docs/guide/website/de.md
  markdown/org/docs/measurements/bustfront/de.md
  markdown/org/docs/measurements/bustspan/de.md
  markdown/org/docs/measurements/crossseam/de.md
  markdown/org/docs/measurements/crossseamfront/de.md
  markdown/org/docs/measurements/crotchdepth/de.md
  markdown/org/docs/measurements/heel/de.md
  markdown/org/docs/measurements/highbustfront/de.md
  markdown/org/docs/measurements/hps/de.md
  markdown/org/docs/measurements/hpstobust/de.md
  markdown/org/docs/measurements/hpstowaistback/de.md
  markdown/org/docs/measurements/hpstowaistfront/de.md
  markdown/org/docs/measurements/seat/de.md
  markdown/org/docs/measurements/seatback/de.md
  markdown/org/docs/measurements/shoulderslope/de.md
  markdown/org/docs/measurements/shouldertoelbow/de.md
  markdown/org/docs/measurements/shouldertowrist/de.md
  markdown/org/docs/measurements/underbust/de.md
  markdown/org/docs/measurements/upperleg/de.md
  markdown/org/docs/measurements/waist/de.md
  markdown/org/docs/measurements/waistback/de.md
  markdown/org/docs/measurements/waisttofloor/de.md
  markdown/org/docs/measurements/waisttohips/de.md
  markdown/org/docs/measurements/waisttoknee/de.md
  markdown/org/docs/measurements/waisttoseat/de.md
  markdown/org/docs/measurements/waisttounderbust/de.md
  markdown/org/docs/measurements/waisttoupperleg/de.md
  markdown/org/docs/measurements/wrist/de.md
  markdown/org/docs/sewing/double-welt-pockets/de.md
  markdown/org/docs/sewing/edgestitching/de.md
  packages/i18n/src/locales/de/components/workbench.yaml
  packages/i18n/src/locales/de/jargon.yml
  packages/i18n/src/locales/de/optiongroups.yaml
  packages/i18n/src/locales/de/options/aaron.yml
  packages/i18n/src/locales/de/options/bee.yml
  packages/i18n/src/locales/de/options/bella.yml
  packages/i18n/src/locales/de/options/charlie.yml
  packages/i18n/src/locales/de/options/holmes.yml
  packages/i18n/src/locales/de/options/lunetius.yml
  packages/i18n/src/locales/de/options/tiberius.yml
  packages/i18n/src/locales/de/options/walburga.yml
  packages/i18n/src/locales/de/options/waralee.yml
  packages/i18n/src/locales/de/settings.yml
  packages/i18n/src/locales/es/options/lunetius.yml
  packages/i18n/src/locales/fr/options/lunetius.yml
  packages/i18n/src/locales/nl/options/lunetius.yml
Labels: :package: i18n, :book: documentation

#2093 New Crowdin updates
  markdown/org/docs/faq/email-trouble/fr.md
  markdown/org/docs/faq/measurement-estimates/fr.md
  markdown/org/docs/faq/sizes/es.md
  markdown/org/docs/faq/sizes/fr.md
  markdown/org/docs/guide/es.md
  markdown/org/docs/guide/fr.md
  markdown/org/docs/guide/mtm/de.md
  markdown/org/docs/guide/nl.md
  markdown/org/docs/guide/options/complete/de.md
  markdown/org/docs/guide/options/paperless/de.md
  markdown/org/docs/guide/options/sa/de.md
  markdown/org/docs/guide/options/units/es.md
  markdown/org/docs/guide/options/units/fr.md
  markdown/org/docs/guide/options/units/nl.md
  markdown/org/docs/guide/patterns/es.md
  markdown/org/docs/guide/patterns/fr.md
  markdown/org/docs/guide/patterns/nl.md
  markdown/org/docs/measurements/highbustfront/es.md
  markdown/org/docs/measurements/highbustfront/fr.md
  markdown/org/docs/measurements/highbustfront/nl.md
  markdown/org/docs/measurements/upperleg/es.md
  markdown/org/docs/measurements/upperleg/fr.md
  markdown/org/docs/measurements/upperleg/nl.md
  markdown/org/docs/patterns/bee/options/crossbackties/de.md
  markdown/org/docs/patterns/bee/options/crossbackties/es.md
  markdown/org/docs/patterns/bee/options/crossbackties/fr.md
  markdown/org/docs/patterns/bee/options/crossbackties/nl.md
  markdown/org/docs/patterns/charlie/options/crotchdrop/de.md
  markdown/org/docs/patterns/charlie/options/crotchdrop/es.md
  markdown/org/docs/patterns/charlie/options/crotchdrop/fr.md
  markdown/org/docs/patterns/charlie/options/crotchdrop/nl.md
  markdown/org/docs/patterns/holmes/fabric/de.md
  markdown/org/docs/patterns/holmes/fabric/es.md
  markdown/org/docs/patterns/holmes/fabric/fr.md
  markdown/org/docs/patterns/holmes/fabric/nl.md
  markdown/org/docs/patterns/jaeger/instructions/de.md
  markdown/org/docs/patterns/jaeger/instructions/es.md
  markdown/org/docs/patterns/jaeger/instructions/fr.md
  markdown/org/docs/patterns/jaeger/instructions/nl.md
  markdown/org/docs/patterns/lunetius/cutting/de.md
  markdown/org/docs/patterns/lunetius/cutting/es.md
  markdown/org/docs/patterns/lunetius/cutting/fr.md
  markdown/org/docs/patterns/lunetius/cutting/nl.md
  markdown/org/docs/patterns/lunetius/fabric/de.md
  markdown/org/docs/patterns/lunetius/fabric/es.md
  markdown/org/docs/patterns/lunetius/fabric/fr.md
  markdown/org/docs/patterns/lunetius/fabric/nl.md
  markdown/org/docs/patterns/paco/fabric/de.md
  markdown/org/docs/patterns/paco/fabric/es.md
  markdown/org/docs/patterns/paco/fabric/fr.md
  markdown/org/docs/patterns/paco/fabric/nl.md
  markdown/org/docs/various/pledge/motivation/de.md
  markdown/org/docs/various/pledge/motivation/es.md
  markdown/org/docs/various/pledge/motivation/fr.md
  markdown/org/docs/various/pledge/motivation/nl.md
  markdown/org/ui/homepage/designers/de.md
  markdown/org/ui/homepage/designers/es.md
  markdown/org/ui/homepage/designers/fr.md
  markdown/org/ui/homepage/designers/nl.md
Labels: :book: documentation

#2098 New Crowdin updates
  markdown/org/docs/faq/breasts/de.md
  markdown/org/docs/faq/email-trouble/de.md
  markdown/org/docs/faq/notches/de.md
  markdown/org/docs/faq/womenswear-blocks/de.md
  markdown/org/docs/guide/de.md
  markdown/org/docs/guide/measurements/de.md
  markdown/org/docs/guide/patterns/de.md
  markdown/org/docs/measurements/bustspan/de.md
  markdown/org/docs/measurements/crossseam/de.md
Labels: :book: documentation

#2103 fix(link) Broken Links, Counter and ButtonHoles
  markdown/dev/reference/api/config/options/en.md
  markdown/dev/reference/api/snippets/buttonhole-end/en.md
  markdown/dev/reference/api/snippets/buttonhole-start/en.md
  markdown/dev/reference/api/snippets/buttonhole/en.md
Labels: :book: documentation

#2108 Bee Full Chest Reduction Documentation Update
  markdown/org/docs/patterns/bee/options/fullchesteasereduction/bella_fullchesteasereduction_sample.svg
  markdown/org/docs/patterns/bee/options/fullchesteasereduction/en.md
  packages/i18n/src/locales/en/options/bee.yml
Labels: :package: i18n, :book: documentation, :package: bee

#2113 New Crowdin updates
  markdown/org/docs/patterns/bee/options/fullchesteasereduction/de.md
  markdown/org/docs/patterns/bee/options/fullchesteasereduction/es.md
  markdown/org/docs/patterns/bee/options/fullchesteasereduction/fr.md
  markdown/org/docs/patterns/bee/options/fullchesteasereduction/nl.md
  packages/i18n/src/locales/de/options/bee.yml
  packages/i18n/src/locales/es/options/bee.yml
  packages/i18n/src/locales/fr/options/bee.yml
  packages/i18n/src/locales/nl/options/bee.yml
Labels: :package: i18n, :book: documentation

#2114 Update back.js
  packages/bella/src/back.js
Labels: :package: bella
