Repository freesewing/freesewing, pull requests merged in 2022-09, with the labels that each got.

#2696 Move aaron plugin config to part-level.
  designs/aaron/src/index.mjs
Labels: :shirt: aaron

#2697 Port bob to v3.
  designs/bob/config.js
  designs/bob/src/bib.js
  designs/bob/src/bib.mjs
  designs/bob/src/index.js
  designs/bob/src/index.mjs
Labels: :shirt: bob

#2699 Move bee and bella plugin config to part-level. Use new data property.
  designs/bee/src/index.mjs
  designs/bee/src/neck-tie.mjs
  designs/bella/src/back.mjs
  designs/bella/src/index.mjs
Labels: :shirt: bee, :shirt: bella

#2700 Complete porting albert to v3.
  designs/albert/src/front.mjs
  designs/albert/src/index.mjs
  designs/albert/src/pocket.mjs
  designs/albert/src/strap.mjs
Labels: :shirt: albert

#2703 v3 updates for plugin-title and plugin-scalebox
  plugins/plugin-scalebox/src/scalebox.mjs
  plugins/plugin-title/src/index.mjs
Labels: :electric_plug: plugin-scalebox, :electric_plug: plugin-title

#2723 New Crowdin updates
  packages/i18n/src/locales/uk/measurements.yaml
  packages/i18n/src/locales/uk/options/penelope.yml
  packages/i18n/src/locales/uk/options/sandy.yml
Labels: :package: i18n

#2722 chore(lucy): Ported to v3 (with history intact)
  designs/lucy/src/index.mjs
  designs/lucy/src/pocket.mjs
Labels: :shirt: lucy

#2725 Port Benjamin to v3.
  designs/benjamin/config/index.js
  designs/benjamin/src/base.mjs
  designs/benjamin/src/bow1.mjs
  designs/benjamin/src/bow2.mjs
  designs/benjamin/src/bow3.mjs
  designs/benjamin/src/index.mjs
  designs/benjamin/src/ribbon.mjs
Labels: :shirt: benjamin

#2711 Change v3 pattern raise.info message to use new data property config.
  packages/core/src/pattern.mjs
Labels: :package: core

#2714 Fix v3 Measurements page to use design shortname.
  sites/shared/components/workbench/measurements/index.js
Labels: :computer: shared

#2712 Fix v3 ForPrinting and ForCutting layouts to use design shortname.
  sites/shared/components/workbench/layout/cut/index.js
  sites/shared/components/workbench/layout/print/index.js
Labels: :computer: shared

#2727 Port Bent to v3.
  designs/bent/config/index.js
  designs/bent/src/index.mjs
  designs/bent/src/shared.mjs
  designs/bent/src/sleeve.mjs
  designs/bent/src/topsleeve.mjs
  designs/bent/src/undersleeve.mjs
Labels: :shirt: bent

#2729 Port Bruce to v3.
  designs/bruce/config/index.js
  designs/bruce/src/back.mjs
  designs/bruce/src/front.mjs
  designs/bruce/src/index.mjs
  designs/bruce/src/init.mjs
  designs/bruce/src/inset.mjs
  designs/bruce/src/side.mjs
Labels: :shirt: bruce

#2728 Port Breanna to v3.
  designs/breanna/config/index.js
  designs/breanna/src/back.mjs
  designs/breanna/src/base.mjs
  designs/breanna/src/dart-utils.mjs
  designs/breanna/src/front-base.mjs
  designs/breanna/src/front-primary-1100.mjs
  designs/breanna/src/front-primary-1130.mjs
  designs/breanna/src/front-primary-1200.mjs
  designs/breanna/src/front-primary-1300.mjs
  designs/breanna/src/front-primary-1330.mjs
  designs/breanna/src/front-primary-1400.mjs
  designs/breanna/src/front-primary-600.mjs
  designs/breanna/src/front-primary-700.mjs
  designs/breanna/src/front-primary-800.mjs
  designs/breanna/src/front-primary-only.mjs
  designs/breanna/src/front.mjs
  designs/breanna/src/index.mjs
  designs/breanna/src/sleeve.mjs
  designs/breanna/src/sleevecap.mjs
Labels: :shirt: breanna

#2726 New Crowdin updates
  packages/i18n/src/locales/uk/options/simon.yml
Labels: :package: i18n

#2744 Port Carlita to v3.
  designs/carlita/config/index.js
  designs/carlita/src/front.mjs
  designs/carlita/src/index.mjs
  designs/carlita/src/side.mjs
Labels: :shirt: carlita

#2735 Charlie port to v3
  designs/charlie/config/index.js
  designs/charlie/src/back-pocket-facing.mjs
  designs/charlie/src/back-pocket-interfacing.mjs
  designs/charlie/src/back-pocket-welt.mjs
  designs/charlie/src/back-pocket.mjs
  designs/charlie/src/back.mjs
  designs/charlie/src/beltloops.mjs
  designs/charlie/src/fly-extension.mjs
  designs/charlie/src/fly-facing.mjs
  designs/charlie/src/front-pocket-facing.mjs
  designs/charlie/src/front-pocket.mjs
  designs/charlie/src/front.mjs
  designs/charlie/src/index.mjs
  designs/charlie/src/waistband-curved.mjs
  designs/charlie/src/waistband.mjs
Labels: :shirt: charlie

#2734 Port Cathrin to v3.
  designs/cathrin/config/index.js
  designs/cathrin/src/base.mjs
  designs/cathrin/src/index.mjs
  designs/cathrin/src/panel1.mjs
  designs/cathrin/src/panel1ab.mjs
  designs/cathrin/src/panel2.mjs
  designs/cathrin/src/panel3.mjs
  designs/cathrin/src/panel4.mjs
  designs/cathrin/src/panel5.mjs
  designs/cathrin/src/panel6.mjs
  designs/cathrin/src/panels.mjs
Labels: :shirt: cathrin

#2732 Port Carlton to v3.
  designs/carlton/config/index.js
  designs/carlton/src/back.mjs
  designs/carlton/src/belt.mjs
  designs/carlton/src/chestpocketbag.mjs
  designs/carlton/src/chestpocketwelt.mjs
  designs/carlton/src/collar.mjs
  designs/carlton/src/collarstand.mjs
  designs/carlton/src/cufffacing.mjs
  designs/carlton/src/front.mjs
  designs/carlton/src/index.mjs
  designs/carlton/src/innerpocketbag.mjs
  designs/carlton/src/innerpockettab.mjs
  designs/carlton/src/innerpocketwelt.mjs
  designs/carlton/src/pocket.mjs
  designs/carlton/src/pocketflap.mjs
  designs/carlton/src/pocketlining.mjs
  designs/carlton/src/shared.mjs
  designs/carlton/src/tail.mjs
  designs/carlton/src/topsleeve.mjs
  designs/carlton/src/undersleeve.mjs
Labels: :shirt: carlton

#2730 New Crowdin updates
  packages/i18n/src/locales/uk/options/shin.yml
  packages/i18n/src/locales/uk/options/simon.yml
  packages/i18n/src/locales/uk/options/simone.yml
  packages/i18n/src/locales/uk/options/sven.yml
  packages/i18n/src/locales/uk/options/tamiko.yml
  packages/i18n/src/locales/uk/options/teagan.yml
  packages/i18n/src/locales/uk/options/theo.yml
  packages/i18n/src/locales/uk/options/tiberius.yml
  packages/i18n/src/locales/uk/parts.yaml
Labels: :package: i18n

#2746 Port Cornelius to v3.
  designs/cornelius/config/index.js
  designs/cornelius/src/back.mjs
  designs/cornelius/src/front.mjs
  designs/cornelius/src/frontpoints.mjs
  designs/cornelius/src/index.mjs
  designs/cornelius/src/legband.mjs
  designs/cornelius/src/legbandkeystone.mjs
  designs/cornelius/src/pocket.mjs
  designs/cornelius/src/pocketfacing.mjs
  designs/cornelius/src/waistband.mjs
  designs/cornelius/src/zipperguard.mjs
Labels: :shirt: cornelius

#2747 Port Diana to v3.
  designs/diana/config/index.js
  designs/diana/src/front.mjs
  designs/diana/src/index.mjs
  designs/diana/src/sleeve.mjs
Labels: :shirt: diana

#2748 Port Florent to v3.
  designs/florent/config/index.js
  designs/florent/src/brimbottom.mjs
  designs/florent/src/briminterfacing.mjs
  designs/florent/src/brimtop.mjs
  designs/florent/src/index.mjs
  designs/florent/src/side.mjs
  designs/florent/src/top.mjs
Labels: :shirt: florent

#2750 Port Hi to v3.
  designs/hi/config/index.js
  designs/hi/src/aboveMouth.mjs
  designs/hi/src/belly.mjs
  designs/hi/src/body.mjs
  designs/hi/src/bottomFin.mjs
  designs/hi/src/index.mjs
  designs/hi/src/lowerTeeth.mjs
  designs/hi/src/mouth.mjs
  designs/hi/src/tail.mjs
  designs/hi/src/teeth.mjs
  designs/hi/src/topFin.mjs
  designs/hi/src/upperTeeth.mjs
Labels: :shirt: hi

#2751 Port Holmes to v3.
  designs/holmes/config/index.js
  designs/holmes/src/ear.mjs
  designs/holmes/src/gore.mjs
  designs/holmes/src/index.mjs
  designs/holmes/src/visor.mjs
Labels: :shirt: holmes

#2752 Port Hortensia to v3.
  designs/hortensia/config/index.js
  designs/hortensia/src/bottompanel.mjs
  designs/hortensia/src/bottomsidepanel.mjs
  designs/hortensia/src/frontpanel.mjs
  designs/hortensia/src/index.mjs
  designs/hortensia/src/sidepanel.mjs
  designs/hortensia/src/sidepanelreinforcement.mjs
  designs/hortensia/src/strap.mjs
  designs/hortensia/src/zipperpanel.mjs
Labels: :shirt: hortensia

#2753 Port Huey to v3.
  designs/huey/config/index.js
  designs/huey/src/back.mjs
  designs/huey/src/cuff.mjs
  designs/huey/src/front.mjs
  designs/huey/src/hood.mjs
  designs/huey/src/index.mjs
  designs/huey/src/pocket.mjs
  designs/huey/src/shared.mjs
  designs/huey/src/sleeve.mjs
  designs/huey/src/waistband.mjs
Labels: :shirt: huey

#2754 v3 Misc. fixes for ported designs
  designs/florence/src/mask.mjs
  designs/hugo/src/sleeve.mjs
  designs/jaeger/src/index.mjs
  designs/paco/src/back.mjs
  designs/paco/src/front.mjs
  designs/paco/src/index.mjs
  designs/penelope/src/back.mjs
  designs/penelope/src/front.mjs
  designs/penelope/src/waistband.mjs
  designs/sandy/src/skirt.mjs
  designs/trayvon/src/fabric.mjs
  designs/trayvon/src/interfacing.mjs
  designs/trayvon/src/lining.mjs
  designs/trayvon/src/loop.mjs
  designs/wahid/src/back.mjs
  designs/wahid/src/front.mjs
  designs/walburga/src/base.mjs
  designs/waralee/src/pantsproto.mjs
Labels: :shirt: waralee, :shirt: penelope, :shirt: trayvon, :shirt: florence, :shirt: sandy, :shirt: wahid, :shirt: walburga, :shirt: paco, :shirt: jaeger, :shirt: hugo

#2749 Fix waralee
  designs/waralee/config/index.js
  designs/waralee/src/backpocket.js
  designs/waralee/src/cutout.js
  designs/waralee/src/facings.js
  designs/waralee/src/index.js
  designs/waralee/src/mini.js
  designs/waralee/src/pants.js
  designs/waralee/src/pantsproto.js
  designs/waralee/src/pocket.js
  designs/waralee/src/util.js
  designs/waralee/src/waistband.js
  markdown/org/docs/patterns/waralee/options/fitwaist/en.md
  markdown/org/docs/patterns/waralee/options/frontpocketstyle/en.md
  markdown/org/docs/patterns/waralee/options/knotinfront/en.md
  markdown/org/docs/patterns/waralee/options/separatewaistband/en.md
  markdown/org/docs/patterns/waralee/options/showmini/en.md
Labels: :book: documentation, :shirt: waralee

#2760 Move snapseries to earlier build order.
  config/build-order.mjs
Labels: :gear: configuration

#2775 Chore: import name and version from data.mjs in plugins
  plugins/plugin-banner/src/index.mjs
  plugins/plugin-bartack/src/index.mjs
  plugins/plugin-bundle/src/index.mjs
  plugins/plugin-bust/src/index.mjs
  plugins/plugin-buttons/src/index.mjs
  plugins/plugin-cutonfold/src/index.mjs
  plugins/plugin-dimension/src/index.mjs
  plugins/plugin-flip/src/index.mjs
  plugins/plugin-gore/src/index.mjs
  plugins/plugin-grainline/src/index.mjs
  plugins/plugin-i18n/src/index.mjs
  plugins/plugin-logo/src/index.mjs
  plugins/plugin-measurements/src/index.mjs
  plugins/plugin-mirror/src/index.mjs
  plugins/plugin-notches/src/index.mjs
  plugins/plugin-round/src/index.mjs
  plugins/plugin-scalebox/src/index.mjs
  plugins/plugin-sprinkle/src/index.mjs
  plugins/plugin-svgattr/src/index.mjs
  plugins/plugin-theme/src/index.mjs
  plugins/plugin-title/src/index.mjs
  plugins/plugin-versionfree-svg/src/index.mjs
Labels: :electric_plug: plugin-buttons, :electric_plug: plugin-bartack, :electric_plug: plugin-logo, :electric_plug: plugin-banner, :electric_plug: plugin-bundle, :electric_plug: plugin-bust, :electric_plug: plugin-cutonfold, :electric_plug: plugin-dimension, :electric_plug: plugin-flip, :electric_plug: plugin-gore, :electric_plug: plugin-grainline, :electric_plug: plugin-i18n, :electric_plug: plugin-measurements, :electric_plug: plugin-mirror, :electric_plug: plugin-notches, :electric_plug: plugin-round, :electric_plug: plugin-scalebox, :electric_plug: plugin-sprinkle, :electric_plug: plugin-svgattr, :electric_plug: plugin-theme, :electric_plug: plugin-title, :electric_plug: plugin-versionfree-svg

#2757 New Crowdin updates
  markdown/org/docs/patterns/aaron/cutting/uk.md
  markdown/org/docs/patterns/aaron/fabric/uk.md
  markdown/org/docs/patterns/hugo/instructions/de.md
  markdown/org/docs/patterns/hugo/options/backneckcutout/de.md
  markdown/org/docs/patterns/hugo/options/bicepsease/de.md
  markdown/org/docs/patterns/hugo/options/chestease/de.md
  markdown/org/docs/patterns/hugo/options/cuffease/de.md
  markdown/org/docs/patterns/hugo/options/draftforhighbust/de.md
  markdown/org/docs/patterns/hugo/options/hipsease/de.md
  markdown/org/docs/patterns/hugo/options/lengthbonus/de.md
  markdown/org/docs/patterns/hugo/options/ribbingheight/de.md
  markdown/org/docs/patterns/hugo/options/ribbingstretch/de.md
  markdown/org/docs/patterns/hugo/options/sleevelengthbonus/de.md
  markdown/org/docs/patterns/waralee/options/fitwaist/de.md
  markdown/org/docs/patterns/waralee/options/fitwaist/es.md
  markdown/org/docs/patterns/waralee/options/fitwaist/fr.md
  markdown/org/docs/patterns/waralee/options/fitwaist/nl.md
  markdown/org/docs/patterns/waralee/options/fitwaist/uk.md
  markdown/org/docs/patterns/waralee/options/frontpocketstyle/de.md
  markdown/org/docs/patterns/waralee/options/frontpocketstyle/es.md
  markdown/org/docs/patterns/waralee/options/frontpocketstyle/fr.md
  markdown/org/docs/patterns/waralee/options/frontpocketstyle/nl.md
  markdown/org/docs/patterns/waralee/options/frontpocketstyle/uk.md
  markdown/org/docs/patterns/waralee/options/knotinfront/de.md
  markdown/org/docs/patterns/waralee/options/knotinfront/es.md
  markdown/org/docs/patterns/waralee/options/knotinfront/fr.md
  markdown/org/docs/patterns/waralee/options/knotinfront/nl.md
  markdown/org/docs/patterns/waralee/options/knotinfront/uk.md
  markdown/org/docs/patterns/waralee/options/separatewaistband/de.md
  markdown/org/docs/patterns/waralee/options/separatewaistband/es.md
  markdown/org/docs/patterns/waralee/options/separatewaistband/fr.md
  markdown/org/docs/patterns/waralee/options/separatewaistband/nl.md
  markdown/org/docs/patterns/waralee/options/separatewaistband/uk.md
  markdown/org/docs/patterns/waralee/options/showmini/de.md
  markdown/org/docs/patterns/waralee/options/showmini/es.md
  markdown/org/docs/patterns/waralee/options/showmini/fr.md
  markdown/org/docs/patterns/waralee/options/showmini/nl.md
  markdown/org/docs/patterns/waralee/options/showmini/uk.md
  markdown/org/docs/various/notation/sa/de.md
  packages/i18n/src/locales/uk/options/carlita.yml
  packages/i18n/src/locales/uk/options/carlton.yml
  packages/i18n/src/locales/uk/options/noble.yml
  packages/i18n/src/locales/uk/options/tiberius.yml
  packages/i18n/src/locales/uk/options/titan.yml
  packages/i18n/src/locales/uk/options/ursula.yml
  packages/i18n/src/locales/uk/options/wahid.yml
  packages/i18n/src/locales/uk/options/walburga.yml
  packages/i18n/src/locales/uk/options/waralee.yml
  packages/i18n/src/locales/uk/parts.yaml
  packages/i18n/src/locales/uk/plugin/patterns/bruce.yaml
  packages/i18n/src/locales/uk/plugin/patterns/ursula.yaml
Labels: :package: i18n, :book: documentation

#2786 Clarify the meaning of 'binding'
  markdown/org/docs/faq/breasts/en.md
Labels: :book: documentation

#2795 chore(yuri): Port to v3 stage 2
  designs/yuri/src/back.mjs
  designs/yuri/src/front.mjs
  designs/yuri/src/gusset.mjs
  designs/yuri/src/hoodcenter.mjs
  designs/yuri/src/hoodside.mjs
  designs/yuri/src/sleeve.mjs
Labels: :shirt: yuri

#2796 chore(waralee): Port to v3 stage 2
  designs/waralee/src/backpocket.mjs
  designs/waralee/src/cutout.mjs
  designs/waralee/src/facings.mjs
  designs/waralee/src/mini.mjs
  designs/waralee/src/pants.mjs
  designs/waralee/src/pantsproto.mjs
  designs/waralee/src/pocket.mjs
  designs/waralee/src/waistband.mjs
Labels: :shirt: waralee

#2797 chore(walburga): Port to v3 stage 2
  designs/walburga/src/back.mjs
  designs/walburga/src/base.mjs
  designs/walburga/src/front.mjs
Labels: :shirt: walburga

#2798 chore(wahid): Port to v3 stage 2
  designs/wahid/src/back.mjs
  designs/wahid/src/front.mjs
  designs/wahid/src/frontfacing.mjs
  designs/wahid/src/frontlining.mjs
  designs/wahid/src/pocketbag.mjs
  designs/wahid/src/pocketfacing.mjs
  designs/wahid/src/pocketinterfacing.mjs
  designs/wahid/src/pocketwelt.mjs
Labels: :shirt: wahid

#2799 chore(ursula): Port to v3 stage 2. Also adds pluginBundle fix.
  designs/ursula/src/back.mjs
  designs/ursula/src/elastic.mjs
  designs/ursula/src/front.mjs
  designs/ursula/src/gusset.mjs
Labels: :shirt: ursula

#2794 fix: wrong option name in octoplushy and typos in noble's options
  packages/i18n/src/locales/en/options/noble.yml
  packages/i18n/src/locales/en/options/octoplushy.yml
Labels: :package: i18n, :book: documentation, :shirt: octoplushy, :shirt: noble

#2793 Fix typos in documentation and update cutting instruction for Jaeger
  markdown/org/docs/patterns/diana/fabric/en.md
  markdown/org/docs/patterns/diana/needs/en.md
  markdown/org/docs/patterns/jaeger/cutting/en.md
  markdown/org/docs/patterns/jaeger/instructions/en.md
  markdown/org/docs/patterns/jaeger/needs/en.md
Labels: :book: documentation

#2800 chore(tutorial): Port to v3 stage 2
  designs/tutorial/src/bib.mjs
  designs/tutorial/src/configpart.mjs
  designs/tutorial/src/step1-4.mjs
  designs/tutorial/src/step5-8.mjs
  designs/tutorial/src/step8.mjs
  designs/tutorial/src/step9-11.mjs
Labels: :shirt: tutorial

#2818 feat: Stack based layouts in core
  packages/core/src/index.mjs
  packages/core/src/part.mjs
  packages/core/src/pattern.mjs
  packages/core/src/stack.mjs
  packages/core/src/store.mjs
  packages/core/src/utils.mjs
  packages/core/tests/part.test.mjs
  packages/core/tests/pattern-init.test.mjs
  packages/core/tests/stacks.test.mjs
  packages/core/tests/utils.test.mjs
  sites/shared/components/workbench/draft/index.js
  sites/shared/components/workbench/draft/stack.js
  sites/shared/components/workbench/draft/svg-wrapper.js
Labels: :trident: v3

#2827 feat(core): Adds support for managing multiple sets of settings (aka mutisets)
  .gitignore
  config/scripts.yaml
  packages/core/.eslintignore
  packages/core/jsdoc.json
  packages/core/package.json
  packages/core/src/attributes.mjs
  packages/core/src/config.mjs
  packages/core/src/design.mjs
  packages/core/src/hooks.mjs
  packages/core/src/index.mjs
  packages/core/src/option.mjs
  packages/core/src/part.mjs
  packages/core/src/path.mjs
  packages/core/src/pattern.mjs
  packages/core/src/point.mjs
  packages/core/src/snippet.mjs
  packages/core/src/stack.mjs
  packages/core/src/store.mjs
  packages/core/src/svg.mjs
  packages/core/src/utils.mjs
  packages/core/tests/multi.test.mjs
  packages/core/tests/part.test.mjs
  packages/core/tests/path.test.mjs
  packages/core/tests/pattern-draft.test.mjs
  packages/core/tests/pattern-init.test.mjs
  packages/core/tests/point.test.mjs
  packages/core/tests/snap.test.mjs
  packages/core/tests/store.test.mjs
  packages/core/tests/utils.test.mjs
  sites/shared/.eslintignore
  sites/shared/.eslintrc.yml
  sites/shared/components/error/error-boundary.js
  sites/shared/components/workbench/draft/error.js
  sites/shared/components/workbench/draft/index.js
  sites/shared/components/workbench/draft/part/index.js
  sites/shared/components/workbench/draft/stack.js
  sites/shared/components/workbench/draft/svg-wrapper.js
  sites/shared/components/workbench/events.js
  sites/shared/components/workbench/logs.js
  sites/shared/components/workbench/menu/view.js
  sites/shared/components/workbench/sample.js
  sites/shared/components/wrappers/workbench.js
  sites/shared/config/postcss.config.js
  sites/shared/package.json
  sites/shared/styles/svg-freesewing-draft.css
  sites/shared/themes/light.js
  yarn.lock
Labels: :package: core, :gear: configuration, :computer: shared

#2872 fix(charlie): Unhide accidentally-hidden seam for Fly Extension part.
  designs/charlie/src/fly-extension.mjs
Labels: :shirt: charlie

#2868 fix(hi): Unhide accidentally-hidden seam.
  designs/hi/src/body.mjs
Labels: :shirt: hi

#2867 fix(lunetius): Unhide accidentally-hidden seam.
  designs/lunetius/src/lacerna.mjs
Labels: :shirt: lunetius

#2851 chore(v2): Run the test and CodeQL workflows on `v2`, not just on `develop`
  .github/workflows/codeql-analysis.yml
  .github/workflows/tests.all.yml
Labels: :gear: configuration

#2877 fix(cornelius): Unhide accidentally-hidden seams in Pocket and Pocket Facing
  designs/cornelius/src/pocket.mjs
  designs/cornelius/src/pocketfacing.mjs
Labels: :shirt: cornelius

#2783 Rename files for yarn new design port to v3
  config/templates/design/src/box.mjs
  config/templates/design/src/index.mjs
Labels: :gear: configuration

#2780 fix(octoplushy): Add missing pluginBundle
  designs/octoplushy/src/head.mjs
Labels: :shirt: octoplushy

#2884 chore(yuri): Re-add the temporarily-removed hoodCenter part.
  designs/yuri/src/index.mjs
Labels: :shirt: yuri
