Repository freesewing/freesewing, pull requests merged in 2022-08, with the labels that each got.

#2519 New Crowdin updates
  packages/i18n/src/locales/uk/options/benjamin.yml
  packages/i18n/src/locales/uk/options/charlie.yml
  packages/i18n/src/locales/uk/options/cornelius.yml
Labels: :package: i18n

#2526 Fix typo (jaron -> jargon)
  markdown/dev/guides/markdown/jargon/en.md
Labels: :book: documentation

#2521 add(info) Bob Pattern Options
  markdown/org/docs/patterns/bob/options/lengthratio/en.md
  markdown/org/docs/patterns/bob/options/neckratio/en.md
  markdown/org/docs/patterns/bob/options/widthratio/en.md
Labels: :book: documentation, :package: bob

#2541 [fix] fix parsing errors in markdown preventing successful dev build
  markdown/dev/guides/markdown/custom-components/en.md
  markdown/dev/howtos/ways-to-contribute/showcase-our-patterns/en.md
  markdown/dev/tutorials/getting-started-gitpod/en.md
  markdown/dev/tutorials/getting-started-linux/dev-start/en.md
  markdown/dev/tutorials/getting-started-mac/dev-start/en.md
  markdown/dev/tutorials/pattern-design/testing-your-pattern/en.md
Labels: :book: documentation

#2527 Add timestamp to title.
  CHANGELOG.md
  config/changelog.yaml
  markdown/dev/reference/plugins/title/en.md
  markdown/org/docs/various/notation/title/en.md
  plugins/plugin-title/src/index.js
Labels: :book: documentation, :gear: configuration

#2528 Fix SA slider to work when SA set to zero. Fixes #2501.
  packages/i18n/src/locales/de/settings.yml
  packages/i18n/src/locales/en/settings.yml
  packages/i18n/src/locales/es/settings.yml
  packages/i18n/src/locales/fr/settings.yml
  packages/i18n/src/locales/nl/settings.yml
  packages/i18n/src/locales/uk/settings.yml
  sites/shared/components/workbench/menu/core-settings/core-setting-sa-bool.js
  sites/shared/components/workbench/menu/core-settings/core-setting-sa-mm.js
  sites/shared/components/workbench/menu/core-settings/setting.js
Labels: :package: i18n

#2540 Update Waralee pocket instructions
  markdown/org/docs/patterns/waralee/instructions/en.md
Labels: :book: documentation, :package: waralee

#2542 fix (breanna): Large shoulder slope can cause an error. Fixes #2516
  CHANGELOG.md
  config/changelog.yaml
  designs/breanna/src/sleeve.js
Labels: :gear: configuration

#2547 chore(markdown): Some updates to the dev docs
  markdown/dev/howtos/code/extend-pattern/en.md
  markdown/dev/reference/api/part/addcut/en.md
  markdown/dev/reference/api/part/removecut/en.md
  markdown/dev/reference/api/pattern/getcutlist/en.md
  markdown/dev/tutorials/getting-started-windows/en.md
Labels: :book: documentation

#2549 Update Getting Started tutorials
  markdown/dev/tutorials/getting-started-linux/dev-setup/en.md
  markdown/dev/tutorials/getting-started-linux/dev-start/en.md
  markdown/dev/tutorials/getting-started-mac/dev-setup/en.md
  markdown/dev/tutorials/getting-started-mac/dev-start/en.md
  markdown/dev/tutorials/getting-started-windows/en.md
Labels: :book: documentation

#2548 fix (cathrin): Remove seam allowance from Part1a foldline. Fixes #2545
  CHANGELOG.md
  config/changelog.yaml
  designs/cathrin/src/panel1ab.js
Labels: :gear: configuration

#2551 Fix Simon notch typos
  markdown/org/docs/patterns/simon/instructions/en.md
Labels: :package: simon, :book: documentation

#2565 Octoplushy Documentation Update
  markdown/org/docs/patterns/octoplushy/cutting/en.md
  markdown/org/docs/patterns/octoplushy/fabric/en.md
  markdown/org/docs/patterns/octoplushy/instructions/en.md
  markdown/org/docs/patterns/octoplushy/needs/en.md
Labels: :book: documentation

#2580 Revised Guthub How-To
  markdown/dev/howtos/git/editing-content-on-github/commit-changes.png
  markdown/dev/howtos/git/editing-content-on-github/discord-github-updates.PNG
  markdown/dev/howtos/git/editing-content-on-github/edit-button.PNG
  markdown/dev/howtos/git/editing-content-on-github/edit-preview-buttons.png
  markdown/dev/howtos/git/editing-content-on-github/en.md
  markdown/dev/howtos/git/editing-content-on-github/fork-create-button.png
  markdown/dev/howtos/git/editing-content-on-github/fork_button.png
  markdown/dev/howtos/git/editing-content-on-github/pull-request-button.png
  markdown/dev/howtos/git/editing-content-on-github/simone-instructions-path.png
Labels: :book: documentation

#2586 Improved printing layout UI
  packages/core/src/utils.js
  packages/core/tests/part.test.js
  packages/core/tests/utils.test.js
  packages/i18n/src/next.mjs
  packages/i18n/src/next/de/settings.mjs
  packages/i18n/src/next/en/settings.mjs
  packages/i18n/src/next/es/settings.mjs
  packages/i18n/src/next/fr/settings.mjs
  packages/i18n/src/next/nl/settings.mjs
  sites/shared/components/icons/clear.js
  sites/shared/components/icons/flip.js
  sites/shared/components/icons/rotate.js
  sites/shared/components/icons/sheet.js
  sites/shared/components/workbench/draft/part/index.js
  sites/shared/components/workbench/layout/draft/buttons.js
  sites/shared/components/workbench/layout/draft/index.js
  sites/shared/components/workbench/layout/draft/part.js
  sites/shared/components/workbench/layout/print/index.js
  sites/shared/components/workbench/layout/print/settings.js
  sites/shared/components/workbench/menu/index.js
  sites/shared/components/wrappers/workbench.js
  sites/shared/hooks/useGist.js
  sites/shared/styles/globals.css
  sites/shared/styles/svg-freesewing-draft.css
Labels: :package: core, :package: i18n

#2568 Titan Notches for #2558
  designs/charlie/config/index.js
  designs/paco/config/index.js
  designs/titan/config/index.js
  designs/titan/src/back.js
  designs/titan/src/front.js
Labels: :gem: enhancement, :package: titan

#2606 Change emphasis markdown in extend pattern howto to allow checkdocs to pass.
  markdown/dev/howtos/code/extend-pattern/en.md
Labels: :book: documentation

#2602 Feature: Export to PDF, no additional gunk
  packages/core/src/part.js
  packages/core/src/pattern.js
  packages/core/src/svg.js
  packages/core/tests/part.test.js
  packages/core/tests/pattern.test.js
  plugins/plugin-buttons/src/button.js
  plugins/plugin-buttons/src/buttonhole.js
  plugins/plugin-cutonfold/src/lib/markers.js
  plugins/plugin-dimension/src/lib/markers.js
  plugins/plugin-grainline/src/markers.js
  plugins/plugin-theme/src/index.js
  plugins/plugin-theme/src/lib/draft.js
  sites/shared/components/workbench/exporting/index.js
  sites/shared/components/workbench/exporting/pdfExporter.js
  sites/shared/components/workbench/layout/draft/part.js
  sites/shared/components/workbench/layout/print/index.js
  sites/shared/components/workbench/layout/print/plugin.js
  sites/shared/components/workbench/layout/print/settings.js
  sites/shared/components/wrappers/workbench.js
  sites/shared/package.json
  yarn.lock
Labels: :gem: enhancement, :package: core, :nerd_face: ux, nextjs-only

#2617 fix: Broken links to the API reference
  markdown/dev/guides/best-practices/respect-draft-settings/en.md
  markdown/dev/guides/plugins/hooks/en.md
  markdown/dev/guides/plugins/loading-build-time-plugins/en.md
  markdown/dev/howtos/code/shorthand/en.md
  markdown/dev/reference/api/hooks/postsample/en.md
  markdown/dev/reference/api/hooks/presample/en.md
  markdown/dev/reference/api/part/units/en.md
  markdown/dev/reference/api/path/trim/en.md
  markdown/dev/reference/api/point/clone/en.md
  markdown/dev/reference/api/point/copy/en.md
  markdown/dev/reference/api/point/rotate/en.md
  markdown/dev/reference/api/point/shiftfractiontowards/en.md
  markdown/dev/reference/api/point/shifttowards/en.md
  markdown/dev/reference/api/settings/sa/en.md
  markdown/dev/reference/api/snippet/en.md
  markdown/dev/reference/api/utils/beamintersectsx/en.md
  markdown/dev/reference/api/utils/beamintersectsy/en.md
  markdown/dev/reference/api/utils/beamsintersect/en.md
  markdown/dev/reference/api/utils/curveintersectsx/en.md
  markdown/dev/reference/api/utils/curveintersectsy/en.md
  markdown/dev/reference/api/utils/linesintersect/en.md
  markdown/dev/reference/api/utils/pointonline/en.md
  markdown/dev/tutorials/pattern-design/new-design/en.md
  markdown/dev/tutorials/pattern-design/part-structure/en.md
  markdown/dev/tutorials/pattern-design/testing-your-pattern/en.md
Labels: :book: documentation

#2619 fix(boring-cyborg): Update the file paths and emojis used for PR labeling
  .github/boring-cyborg.yml
Labels: :gear: configuration

#2620 fix: Broken/misleading links to designs' source code
  designs/unice/example/netlify.toml
  markdown/dev/guides/markdown/custom-components/en.md
  markdown/dev/howtos/code/adding-instructions/en.md
  markdown/dev/howtos/code/extend-pattern/en.md
  markdown/dev/howtos/code/hide-paths/en.md
  markdown/dev/howtos/code/remove-paths/en.md
  markdown/dev/howtos/code/shared-dimensions/en.md
  markdown/dev/howtos/code/storing-path-length/en.md
  markdown/dev/howtos/design/fit-sleeve/en.md
  markdown/dev/howtos/design/seam-allowance/en.md
  markdown/dev/howtos/design/slash-spread/en.md
  markdown/dev/howtos/design/sprinkle-snippets/en.md
  markdown/dev/reference/api/config/en.md
  markdown/dev/reference/api/path/trim/en.md
  markdown/dev/reference/plugins/bust/en.md
Labels: :book: documentation

#2603 Add Bust-aligned buttons option to Simone. Resolves #2154
  CHANGELOG.md
  config/changelog.yaml
  designs/simon/src/buttonholeplacket.js
  designs/simon/src/buttonplacket.js
  designs/simon/src/frontleft-classic-cuton.js
  designs/simon/src/frontleft-classic-seperate.js
  designs/simon/src/frontright-classic-seperate.js
  designs/simon/src/shared.js
  designs/simone/config/index.js
  designs/simone/src/fba-front.js
  markdown/org/docs/patterns/simone/options/bustalignedbuttons/en.md
  packages/i18n/src/locales/en/options/simone.yml
Labels: :package: i18n, :package: simone, :book: documentation, :gear: configuration

#2601 Lucy documentation
  designs/lucy/src/pocket.js
  markdown/org/docs/patterns/lucy/cutting/en.md
  markdown/org/docs/patterns/lucy/fabric/en.md
  markdown/org/docs/patterns/lucy/instructions/en.md
  markdown/org/docs/patterns/lucy/needs/en.md
  markdown/org/docs/patterns/lucy/options/edge/en.md
  markdown/org/docs/patterns/lucy/options/length/en.md
  markdown/org/docs/patterns/lucy/options/width/en.md
Labels: :book: documentation, :package: lucy

#2654 [feature] PDF export part 2
  packages/core/src/part.js
  packages/core/tests/part.test.js
  plugins/plugin-logo/src/index.js
  sites/shared/components/workbench/exporting/export-handler.js
  sites/shared/components/workbench/exporting/export-worker.js
  sites/shared/components/workbench/exporting/index.js
  sites/shared/components/workbench/exporting/pdf-maker.js
  sites/shared/components/workbench/exporting/pdfExporter.js
  sites/shared/components/workbench/layout/draft/index.js
  sites/shared/components/workbench/layout/print/index.js
  sites/shared/components/workbench/layout/print/plugin.js
  sites/shared/components/workbench/layout/print/settings.js
  sites/shared/components/wrappers/workbench.js
  sites/shared/package.json
  yarn.lock
Labels: :package: core, :electric_plug: plugin-logo, :computer: lab, :computer: shared

#2641 [fix] Octoplushy Instructions incorrect format
  markdown/org/docs/patterns/octoplushy/instructions/en.md
Labels: :book: documentation

#2640 (docs fix) Noble Pattern options; add missing yml and removal of duped titles.
  markdown/org/docs/patterns/noble/options/armholedartposition/en.md
  markdown/org/docs/patterns/noble/options/armholedepth/en.md
  markdown/org/docs/patterns/noble/options/backarmholecurvature/en.md
  markdown/org/docs/patterns/noble/options/backarmholepitchdepth/en.md
  markdown/org/docs/patterns/noble/options/backarmholeslant/en.md
  markdown/org/docs/patterns/noble/options/backdartheight/en.md
  markdown/org/docs/patterns/noble/options/backhemslope/en.md
  markdown/org/docs/patterns/noble/options/backneckcutout/en.md
  markdown/org/docs/patterns/noble/options/bustspanease/en.md
  markdown/org/docs/patterns/noble/options/chestease/en.md
  markdown/org/docs/patterns/noble/options/frontarmholecurvature/en.md
  markdown/org/docs/patterns/noble/options/frontarmholepitchdepth/en.md
  markdown/org/docs/patterns/noble/options/frontshoulderwidth/en.md
  markdown/org/docs/patterns/noble/options/highbustwidth/en.md
  markdown/org/docs/patterns/noble/options/shoulderdartposition/en.md
  markdown/org/docs/patterns/noble/options/shouldertoshoulderease/en.md
  markdown/org/docs/patterns/noble/options/upperdartlength/en.md
  markdown/org/docs/patterns/noble/options/waistdartlength/en.md
  markdown/org/docs/patterns/noble/options/waistease/en.md
  packages/i18n/src/locales/en/options/noble.yml
Labels: :book: documentation, :package: noble

#2658 Update tutorial instructions to use Node 16.
  markdown/dev/tutorials/getting-started-linux/installing-node/en.md
  markdown/dev/tutorials/getting-started-linux/node-versions/en.md
  markdown/dev/tutorials/getting-started-mac/installing-node/en.md
  markdown/dev/tutorials/getting-started-windows/en.md
Labels: :book: documentation

#2669 Fix minor grammar and typos in documentation.
  markdown/dev/guides/patterns/en.md
  markdown/org/docs/measurements/highbustfront/en.md
  markdown/org/docs/measurements/upperleg/en.md
Labels: :book: documentation

#2668 Add Lab and remove Workbench and Next gist re-creation links.
  sites/backend/src/controllers/github.js
Labels: :computer: backend

#2673 Add json type assertions for import statements.
  config/templates/design/config.js
  packages/core/src/pattern.js
  packages/core/src/svg.js
  packages/new-design/templates/from-bella/design/config.js
  packages/new-design/templates/from-bent/design/config.js
  packages/new-design/templates/from-breanna/design/config.js
  packages/new-design/templates/from-brian/design/config.js
  packages/new-design/templates/from-scratch/design/config.js
  packages/new-design/templates/from-titan/design/config.js
  plugins/plugin-banner/src/index.js
  plugins/plugin-bartack/src/index.js
  plugins/plugin-bundle/src/index.js
  plugins/plugin-bust/src/index.js
  plugins/plugin-buttons/src/index.js
  plugins/plugin-cutonfold/src/index.js
  plugins/plugin-dimension/src/index.js
  plugins/plugin-flip/src/index.js
  plugins/plugin-gore/src/index.js
  plugins/plugin-grainline/src/index.js
  plugins/plugin-i18n/src/index.js
  plugins/plugin-logo/src/index.js
  plugins/plugin-measurements/src/index.js
  plugins/plugin-mirror/src/index.js
  plugins/plugin-notches/src/index.js
  plugins/plugin-round/src/index.js
  plugins/plugin-scalebox/src/index.js
  plugins/plugin-sprinkle/src/index.js
  plugins/plugin-svgattr/src/index.js
  plugins/plugin-theme/src/index.js
  plugins/plugin-title/src/index.js
  plugins/plugin-versionfree-svg/src/index.js
  scripts/add-software.mjs
  sites/lab/components/version-picker.js
  sites/lab/page-templates/design-list.js
  sites/lab/pages/v/index.js
  sites/org/pages/designs/index.js
  sites/org/pages/showcase/designs/[design].js
Labels: :package: core, :electric_plug: plugin-buttons, :electric_plug: plugin-bartack, :gear: configuration, :electric_plug: plugin-logo, :package: new-design, :electric_plug: plugin-banner, :electric_plug: plugin-bundle, :electric_plug: plugin-bust, :electric_plug: plugin-cutonfold, :electric_plug: plugin-dimension, :electric_plug: plugin-flip, :electric_plug: plugin-gore, :electric_plug: plugin-grainline, :electric_plug: plugin-i18n, :electric_plug: plugin-measurements, :electric_plug: plugin-mirror, :electric_plug: plugin-notches, :electric_plug: plugin-round, :electric_plug: plugin-scalebox, :electric_plug: plugin-sprinkle, :electric_plug: plugin-svgattr, :electric_plug: plugin-theme, :electric_plug: plugin-title

#2672 New Crowdin updates
  markdown/org/docs/measurements/highbustfront/de.md
  markdown/org/docs/measurements/highbustfront/es.md
  markdown/org/docs/measurements/highbustfront/fr.md
  markdown/org/docs/measurements/highbustfront/nl.md
  markdown/org/docs/measurements/highbustfront/uk.md
  markdown/org/docs/measurements/upperleg/de.md
  markdown/org/docs/measurements/upperleg/es.md
  markdown/org/docs/measurements/upperleg/fr.md
  markdown/org/docs/measurements/upperleg/nl.md
  markdown/org/docs/measurements/upperleg/uk.md
Labels: :book: documentation

#2692 New Crowdin updates
  markdown/org/docs/faq/sizes/de.md
  markdown/org/docs/faq/sizes/nl.md
  markdown/org/docs/guide/de.md
  markdown/org/docs/guide/mtm/de.md
  markdown/org/docs/guide/mtm/nl.md
  markdown/org/docs/guide/options/units/de.md
  markdown/org/docs/guide/patterns/de.md
  markdown/org/docs/measurements/hpstobust/de.md
  markdown/org/docs/patterns/bent/instructions/de.md
  markdown/org/docs/patterns/bent/instructions/es.md
  markdown/org/docs/patterns/bent/instructions/fr.md
  markdown/org/docs/patterns/bent/instructions/nl.md
  markdown/org/docs/patterns/jaeger/instructions/de.md
  markdown/org/docs/patterns/jaeger/instructions/es.md
  markdown/org/docs/patterns/jaeger/instructions/fr.md
  markdown/org/docs/patterns/jaeger/instructions/nl.md
  markdown/org/docs/patterns/jaeger/instructions/uk.md
  markdown/org/docs/various/pledge/motivation/de.md
  markdown/org/ui/other/issue-created/fr.md
  packages/i18n/src/locales/uk/options/lucy.yml
  packages/i18n/src/locales/uk/options/lunetius.yml
  packages/i18n/src/locales/uk/options/octoplushy.yml
  packages/i18n/src/locales/uk/options/paco.yml
Labels: :package: i18n, :book: documentation
