Repository freesewing/freesewing, pull requests merged in 2022-05, with the labels that each got.

#2152 Fixed links in dev markdown
  markdown/dev/guides/best-practices/reuse-css-classes/en.md
  markdown/dev/guides/markdown/custom-components/en.md
  markdown/dev/guides/patterns/config/en.md
  markdown/dev/guides/patterns/paths/en.md
  markdown/dev/guides/plugins/hooks/en.md
  markdown/dev/howtos/code/adding-instructions/en.md
  markdown/dev/howtos/code/adding-parts/en.md
  markdown/dev/howtos/code/attributes/en.md
  markdown/dev/howtos/code/dependencies/en.md
  markdown/dev/howtos/code/inject/en.md
  markdown/dev/howtos/code/store/en.md
  markdown/dev/howtos/design/sprinkle-snippets/en.md
  markdown/dev/howtos/environments/browser/en.md
  markdown/dev/tutorials/pattern-design/adding-options/en.md
  markdown/dev/tutorials/pattern-design/completing-your-pattern/en.md
  markdown/dev/tutorials/pattern-design/paperless-bib/en.md
Labels: :book: documentation

#2166 Shin - Adding Grainlines
  packages/shin/src/back.js
  packages/shin/src/front.js
  packages/shin/src/waistband.js
Labels: :gem: enhancement, :package: shin

#2176 Fixing Titan's Waist
  packages/titan/src/front.js
Labels: :bug: bug, :package: titan

#2167 New Crowdin updates
  markdown/org/docs/patterns/tamiko/cutting/fr.md
  markdown/org/docs/patterns/tamiko/fabric/fr.md
  markdown/org/docs/patterns/tamiko/instructions/fr.md
  markdown/org/docs/patterns/tamiko/measurements/fr.md
  markdown/org/docs/patterns/tamiko/needs/fr.md
  markdown/org/docs/patterns/tamiko/options/armholedepthfactor/fr.md
  markdown/org/docs/patterns/tamiko/options/chestease/fr.md
  markdown/org/docs/patterns/tamiko/options/flare/fr.md
  markdown/org/docs/patterns/tamiko/options/shoulderseamlength/fr.md
Labels: :package: i18n, :book: documentation

#2181 Typo fix in freq-mistakes markdown guide
  markdown/dev/guides/markdown/frequent-mistakes/en.md
Labels: :book: documentation

#2205 New Crowdin updates
  packages/i18n/src/locales/de/ograph.yaml
  packages/i18n/src/locales/es/ograph.yaml
  packages/i18n/src/locales/fr/ograph.yaml
  packages/i18n/src/locales/nl/ograph.yaml
Labels: :package: i18n
