Repository freesewing/freesewing, pull requests merged in 2022-02, with the labels that each got.

#1789 New Crowdin updates
  markdown/org/docs/patterns/wahid/options/backinset/fr.md
  markdown/org/docs/patterns/wahid/options/backscyedart/fr.md
Labels: :book: documentation

#1790 New Crowdin updates
  markdown/org/docs/patterns/wahid/options/armholedepthfactor/fr.md
  markdown/org/docs/patterns/wahid/options/backscyedart/fr.md
  markdown/org/docs/patterns/wahid/options/buttons/fr.md
  markdown/org/docs/patterns/wahid/options/centerbackdart/fr.md
  markdown/org/docs/patterns/wahid/options/chestease/fr.md
  markdown/org/docs/patterns/wahid/options/frontinset/fr.md
  markdown/org/docs/patterns/wahid/options/frontscyedart/fr.md
  markdown/org/docs/patterns/wahid/options/frontstyle/fr.md
  markdown/org/docs/patterns/wahid/options/hemradius/fr.md
  markdown/org/docs/patterns/wahid/options/hemstyle/fr.md
  markdown/org/docs/patterns/wahid/options/hipsease/fr.md
  markdown/org/docs/patterns/wahid/options/lengthbonus/fr.md
  markdown/org/docs/patterns/wahid/options/neckinset/fr.md
  markdown/org/docs/patterns/wahid/options/necklinedrop/fr.md
  markdown/org/docs/patterns/wahid/options/pocketangle/fr.md
  markdown/org/docs/patterns/wahid/options/pocketlocation/fr.md
  markdown/org/docs/patterns/wahid/options/pocketwidth/fr.md
  markdown/org/docs/patterns/wahid/options/shoulderinset/fr.md
  markdown/org/docs/patterns/wahid/options/waistease/fr.md
  markdown/org/docs/patterns/wahid/options/weltheight/fr.md
  packages/i18n/src/locales/fr/app.yaml
  packages/i18n/src/locales/fr/optiongroups.yaml
  packages/i18n/src/locales/fr/options/bee.yml
  packages/i18n/src/locales/fr/options/holmes.yml
  packages/i18n/src/locales/fr/settings.yml
Labels: :package: i18n, :book: documentation

#1804 sleeve grainline alteration
  packages/simon/src/sleeve.js
Labels: :package: simon

#1797 New Crowdin updates
  markdown/org/docs/patterns/hugo/instructions/de.md
  markdown/org/docs/patterns/hugo/instructions/es.md
  markdown/org/docs/patterns/hugo/instructions/fr.md
  markdown/org/docs/patterns/hugo/instructions/nl.md
Labels: :book: documentation

#1809 feat(core): Add a default hide() method to options
  packages/core/src/design.js
  packages/core/tests/design.test.js
Labels: :package: core

#1800 Enable tests in i18n. Add missing testci to core.
  config/scripts.yaml
  packages/core/package.json
  packages/i18n/package.json
Labels: :package: core, :package: i18n, :gear: configuration

#1798 Enable conditional display of options (Use in Simon)
  packages/components/src/DraftConfigurator/OptionGroup/index.js
  packages/components/src/Workbench/DraftConfig/index.js
  packages/simon/config/index.js
  packages/simon/src/buttonholeplacket.js
  packages/simon/src/buttonplacket.js
  packages/simon/src/frontleft.js
  packages/simon/src/frontright.js
Labels: :package: components, :package: simon

#1808 Markdown Documentation Frequent Mistakes
  markdown/dev/guides/markdown/frequent-mistakes/en.md
Labels: :book: documentation

#1811 Added heading for custom components examples see #1808
  markdown/dev/guides/markdown/frequent-mistakes/en.md
Labels: :book: documentation

#1812 chore(markdown): Update option docs
  markdown/dev/reference/api/config/dependencies/en.md
  markdown/dev/reference/api/config/en.md
  markdown/dev/reference/api/config/hide/en.md
  markdown/dev/reference/api/config/inject/en.md
  markdown/dev/reference/api/config/measurements/en.md
  markdown/dev/reference/api/config/name/en.md
  markdown/dev/reference/api/config/optionalmeasurements/en.md
  markdown/dev/reference/api/config/optiongroups/en.md
  markdown/dev/reference/api/config/options/bool/en.md
  markdown/dev/reference/api/config/options/boolean/en.md
  markdown/dev/reference/api/config/options/co
  markdown/dev/reference/api/config/options/const/en.md
  markdown/dev/reference/api/config/options/constant/en.md
  markdown/dev/reference/api/config/options/counter/en.md
  markdown/dev/reference/api/config/options/deg/en.md
  markdown/dev/reference/api/config/options/degrees/en.md
  markdown/dev/reference/api/config/options/en.md
  markdown/dev/reference/api/config/options/list/en.md
  markdown/dev/reference/api/config/options/mm/en.md
  markdown/dev/reference/api/config/options/pct/en.md
  markdown/dev/reference/api/config/options/pct/fromabs/en.md
  markdown/dev/reference/api/config/options/pct/snap/en.md
  markdown/dev/reference/api/config/options/pct/snap/snap.png
  markdown/dev/reference/api/config/options/pct/toabs/en.md
  markdown/dev/reference/api/config/options/percentage/en.md
  markdown/dev/reference/api/config/parts/en.md
  markdown/dev/reference/api/config/version/en.md
  markdown/dev/reference/api/settings/options/en.md
Labels: :book: documentation

#1806 Update testall to report all failures. Add All Tests workflow.
  .github/workflows/tests.all.yml
  .gitignore
  package.json
  scripts/test-failure-collector.js
  scripts/testall.js
Labels: :package: i18n, :gear: configuration

#1813 Waralee Documentation Update
  markdown/org/docs/patterns/waralee/cutting/en.md
  markdown/org/docs/patterns/waralee/fabric/en.md
  markdown/org/docs/patterns/waralee/instructions/en.md
  markdown/org/docs/patterns/waralee/needs/en.md
Labels: :book: documentation, :package: waralee

#1823 chore(markdown): fix typo in options/en.md
  markdown/dev/reference/api/config/options/en.md
Labels: :book: documentation

#1824 Moved cutting list to top
  markdown/org/docs/patterns/lunetius/cutting/en.md
Labels: :book: documentation

#1827 New Crowdin updates
  markdown/org/docs/faq/breasts/fr.md
  markdown/org/docs/patterns/bella/options/nl.md
  markdown/org/docs/patterns/bent/measurements/nl.md
  markdown/org/docs/patterns/carlita/options/backneckcutout/fr.md
  markdown/org/docs/patterns/carlita/options/s3collar/de.md
  markdown/org/docs/patterns/carlita/options/s3collar/fr.md
  markdown/org/docs/patterns/carlton/options/s3armhole/nl.md
  markdown/org/docs/patterns/florence/instructions/fr.md
  markdown/org/docs/patterns/holmes/options/de.md
  markdown/org/docs/patterns/holmes/options/nl.md
  markdown/org/docs/patterns/huey/options/sleevelengthbonus/de.md
  markdown/org/docs/patterns/jaeger/options/innerpocketweltheight/es.md
  markdown/org/docs/patterns/lunetius/cutting/de.md
  markdown/org/docs/patterns/lunetius/cutting/es.md
  markdown/org/docs/patterns/lunetius/cutting/fr.md
  markdown/org/docs/patterns/lunetius/cutting/nl.md
  markdown/org/docs/patterns/penelope/de.md
  markdown/org/docs/patterns/penelope/measurements/nl.md
  markdown/org/docs/patterns/penelope/options/es.md
  markdown/org/docs/patterns/simon/options/s3armhole/de.md
  markdown/org/docs/patterns/simon/options/s3collar/fr.md
  markdown/org/docs/patterns/simone/es.md
  markdown/org/docs/patterns/simone/options/roundback/de.md
  markdown/org/docs/patterns/simone/options/roundback/nl.md
  markdown/org/docs/patterns/sven/de.md
  markdown/org/docs/patterns/sven/measurements/nl.md
  markdown/org/docs/patterns/sven/options/de.md
  markdown/org/docs/patterns/sven/options/s3armhole/es.md
  markdown/org/docs/patterns/tiberius/measurements/es.md
  markdown/org/docs/patterns/titan/measurements/es.md
  markdown/org/docs/patterns/titan/nl.md
  markdown/org/docs/patterns/trayvon/instructions/nl.md
  markdown/org/docs/patterns/yuri/options/sleevecapbackfactory/nl.md
  markdown/org/docs/patterns/yuri/options/sleevecapease/fr.md
  markdown/org/docs/patterns/yuri/options/sleevewidthguarantee/de.md
  markdown/org/docs/various/notation/buttons/de.md
  markdown/org/docs/various/notation/buttons/es.md
  markdown/org/docs/various/notation/buttons/fr.md
  markdown/org/docs/various/notation/buttons/nl.md
  markdown/org/docs/various/notation/strokes/de.md
  markdown/org/docs/various/notation/strokes/es.md
  markdown/org/docs/various/notation/strokes/fr.md
  markdown/org/docs/various/notation/strokes/nl.md
  markdown/org/ui/community/where/twitter/es.md
  markdown/org/ui/community/where/youtube/de.md
  markdown/org/ui/community/where/youtube/nl.md
Labels: :book: documentation

#1816 Carlton and Carlita Doc Update Part 1
  markdown/org/docs/patterns/carlita/cutting/en.md
  markdown/org/docs/patterns/carlita/fabric/en.md
  markdown/org/docs/patterns/carlita/instructions/en.md
  markdown/org/docs/patterns/carlita/needs/en.md
  markdown/org/docs/patterns/carlita/options/collarflare/en.md
  markdown/org/docs/patterns/carlita/options/collarspread/en.md
  markdown/org/docs/patterns/carlton/cutting/en.md
  markdown/org/docs/patterns/carlton/fabric/en.md
  markdown/org/docs/patterns/carlton/instructions/en.md
  markdown/org/docs/patterns/carlton/needs/en.md
  markdown/org/docs/patterns/carlton/options/collarflare/en.md
  markdown/org/docs/patterns/carlton/options/collarspread/en.md
Labels: :package: carlton, :book: documentation, :package: carlita

#1835 New Crowdin updates
  markdown/org/docs/patterns/carlita/cutting/de.md
  markdown/org/docs/patterns/carlita/cutting/es.md
  markdown/org/docs/patterns/carlita/cutting/fr.md
  markdown/org/docs/patterns/carlita/cutting/nl.md
  markdown/org/docs/patterns/carlita/fabric/de.md
  markdown/org/docs/patterns/carlita/fabric/es.md
  markdown/org/docs/patterns/carlita/fabric/fr.md
  markdown/org/docs/patterns/carlita/fabric/nl.md
  markdown/org/docs/patterns/carlita/instructions/de.md
  markdown/org/docs/patterns/carlita/instructions/es.md
  markdown/org/docs/patterns/carlita/instructions/fr.md
  markdown/org/docs/patterns/carlita/instructions/nl.md
  markdown/org/docs/patterns/carlita/needs/de.md
  markdown/org/docs/patterns/carlita/needs/es.md
  markdown/org/docs/patterns/carlita/needs/fr.md
  markdown/org/docs/patterns/carlita/needs/nl.md
  markdown/org/docs/patterns/carlita/options/collarflare/de.md
  markdown/org/docs/patterns/carlita/options/collarflare/es.md
  markdown/org/docs/patterns/carlita/options/collarflare/fr.md
  markdown/org/docs/patterns/carlita/options/collarflare/nl.md
  markdown/org/docs/patterns/carlita/options/collarspread/de.md
  markdown/org/docs/patterns/carlita/options/collarspread/es.md
  markdown/org/docs/patterns/carlita/options/collarspread/fr.md
  markdown/org/docs/patterns/carlita/options/collarspread/nl.md
  markdown/org/docs/patterns/carlton/cutting/de.md
  markdown/org/docs/patterns/carlton/cutting/es.md
  markdown/org/docs/patterns/carlton/cutting/fr.md
  markdown/org/docs/patterns/carlton/cutting/nl.md
  markdown/org/docs/patterns/carlton/fabric/de.md
  markdown/org/docs/patterns/carlton/fabric/es.md
  markdown/org/docs/patterns/carlton/fabric/fr.md
  markdown/org/docs/patterns/carlton/fabric/nl.md
  markdown/org/docs/patterns/carlton/instructions/de.md
  markdown/org/docs/patterns/carlton/instructions/es.md
  markdown/org/docs/patterns/carlton/instructions/fr.md
  markdown/org/docs/patterns/carlton/instructions/nl.md
  markdown/org/docs/patterns/carlton/needs/de.md
  markdown/org/docs/patterns/carlton/needs/es.md
  markdown/org/docs/patterns/carlton/needs/fr.md
  markdown/org/docs/patterns/carlton/needs/nl.md
  markdown/org/docs/patterns/carlton/options/collarflare/de.md
  markdown/org/docs/patterns/carlton/options/collarflare/es.md
  markdown/org/docs/patterns/carlton/options/collarflare/fr.md
  markdown/org/docs/patterns/carlton/options/collarflare/nl.md
  markdown/org/docs/patterns/carlton/options/collarspread/de.md
  markdown/org/docs/patterns/carlton/options/collarspread/es.md
  markdown/org/docs/patterns/carlton/options/collarspread/fr.md
  markdown/org/docs/patterns/carlton/options/collarspread/nl.md
Labels: :book: documentation

#1847 #1843 Use units in css scale var.
  packages/components/src/Workbench/index.js
Labels: :package: components

#1836 Hortensia Documentation Update
  markdown/org/docs/patterns/hortensia/cutting/en.md
  markdown/org/docs/patterns/hortensia/fabric/en.md
  markdown/org/docs/patterns/hortensia/instructions/en.md
  markdown/org/docs/patterns/hortensia/needs/en.md
  markdown/org/docs/patterns/hortensia/options/handlewidth/en.md
  markdown/org/docs/patterns/hortensia/options/size/en.md
  markdown/org/docs/patterns/hortensia/options/straplength/en.md
  markdown/org/docs/patterns/hortensia/options/zippersize/en.md
Labels: :book: documentation, :package: hortensia

#1848 New Crowdin updates
  markdown/org/docs/patterns/hortensia/cutting/de.md
  markdown/org/docs/patterns/hortensia/cutting/es.md
  markdown/org/docs/patterns/hortensia/cutting/fr.md
  markdown/org/docs/patterns/hortensia/cutting/nl.md
  markdown/org/docs/patterns/hortensia/fabric/de.md
  markdown/org/docs/patterns/hortensia/fabric/es.md
  markdown/org/docs/patterns/hortensia/fabric/fr.md
  markdown/org/docs/patterns/hortensia/fabric/nl.md
  markdown/org/docs/patterns/hortensia/instructions/de.md
  markdown/org/docs/patterns/hortensia/instructions/es.md
  markdown/org/docs/patterns/hortensia/instructions/fr.md
  markdown/org/docs/patterns/hortensia/instructions/nl.md
  markdown/org/docs/patterns/hortensia/needs/de.md
  markdown/org/docs/patterns/hortensia/needs/es.md
  markdown/org/docs/patterns/hortensia/needs/fr.md
  markdown/org/docs/patterns/hortensia/needs/nl.md
  markdown/org/docs/patterns/hortensia/options/handlewidth/de.md
  markdown/org/docs/patterns/hortensia/options/handlewidth/es.md
  markdown/org/docs/patterns/hortensia/options/handlewidth/fr.md
  markdown/org/docs/patterns/hortensia/options/handlewidth/nl.md
  markdown/org/docs/patterns/hortensia/options/size/de.md
  markdown/org/docs/patterns/hortensia/options/size/es.md
  markdown/org/docs/patterns/hortensia/options/size/fr.md
  markdown/org/docs/patterns/hortensia/options/size/nl.md
  markdown/org/docs/patterns/hortensia/options/straplength/de.md
  markdown/org/docs/patterns/hortensia/options/straplength/es.md
  markdown/org/docs/patterns/hortensia/options/straplength/fr.md
  markdown/org/docs/patterns/hortensia/options/straplength/nl.md
  markdown/org/docs/patterns/hortensia/options/zippersize/de.md
  markdown/org/docs/patterns/hortensia/options/zippersize/es.md
  markdown/org/docs/patterns/hortensia/options/zippersize/fr.md
  markdown/org/docs/patterns/hortensia/options/zippersize/nl.md
Labels: :book: documentation

#1855 New Crowdin updates
  packages/i18n/src/locales/de/app.yaml
  packages/i18n/src/locales/de/components/common.yaml
  packages/i18n/src/locales/de/components/themes.yaml
  packages/i18n/src/locales/de/components/workbench.yaml
  packages/i18n/src/locales/es/app.yaml
  packages/i18n/src/locales/es/components/common.yaml
  packages/i18n/src/locales/es/components/themes.yaml
  packages/i18n/src/locales/es/components/workbench.yaml
  packages/i18n/src/locales/fr/app.yaml
  packages/i18n/src/locales/fr/components/common.yaml
  packages/i18n/src/locales/fr/components/themes.yaml
  packages/i18n/src/locales/fr/components/workbench.yaml
  packages/i18n/src/locales/nl/app.yaml
  packages/i18n/src/locales/nl/components/common.yaml
  packages/i18n/src/locales/nl/components/themes.yaml
  packages/i18n/src/locales/nl/components/workbench.yaml
Labels: :package: i18n

#1869 Remove units from calc(var(...
  packages/css-theme/src/components/_pattern.scss
Labels: :package: css-theme

#1877 fix(yml) Warlaee Pattern Options
  packages/i18n/src/locales/en/options/waralee.yml
Labels: :package: i18n

#1881 Update fr.md
  markdown/org/docs/patterns/florent/instructions/fr.md
Labels: :book: documentation

#1878 New Crowdin updates
  packages/i18n/src/locales/de/options/waralee.yml
  packages/i18n/src/locales/es/options/waralee.yml
  packages/i18n/src/locales/fr/options/waralee.yml
  packages/i18n/src/locales/nl/options/waralee.yml
Labels: :package: i18n

#1899 Add smoke test for create-freesewing-pattern.
  config/scripts.yaml
  packages/create-freesewing-pattern/package.json
  packages/create-freesewing-pattern/tests/cli.test.mjs
Labels: :package: create-freesewing-pattern, :gear: configuration

#1897 New Crowdin updates
  markdown/org/docs/patterns/florent/instructions/fr.md
  markdown/org/docs/patterns/hugo/instructions/de.md
  markdown/org/docs/various/notation/buttons/fr.md
Labels: :book: documentation

#1902 fix: Support -rc releases in version unit test. Fixes #1886
  tests/patterns/config.mjs
  tests/plugins/shared.mjs
Labels: :test_tube: tests

#1903 New Crowdin updates
  markdown/org/docs/various/notation/buttons/fr.md
Labels: :book: documentation

#1914 Add checkdocs workflow.
  .github/workflows/checkdocs.yml
  markdown/dev/reference/api/config/options/pct/snap/en.md
  markdown/dev/reference/api/path/intersects/en.md
  markdown/dev/tutorials/getting-started-windows/en.md
  markdown/org/docs/faq/what-is-freesewing/fr.md
  markdown/org/docs/guide/account/de.md
  markdown/org/docs/guide/account/en.md
  markdown/org/docs/guide/account/es.md
  markdown/org/docs/guide/account/fr.md
  markdown/org/docs/guide/account/nl.md
  markdown/org/docs/patterns/breanna/options/fr.md
  markdown/org/docs/patterns/brian/options/fr.md
  markdown/org/ui/homepage/extra/de.md
  markdown/org/ui/homepage/extra/es.md
  markdown/org/ui/homepage/extra/fr.md
  markdown/org/ui/homepage/extra/nl.md
  package.json
Labels: :book: documentation, :gear: configuration

#1920 fix(workbench): Type-check optionalMeasurements. Closes #1918
  packages/components/src/Workbench/Measurements/index.js
Labels: :bug: bug, :package: components, :package: create-freesewing-pattern

#1921 Revert checkdocs workflow.
  .github/workflows/checkdocs.yml
  package.json
Labels: :gear: configuration

#1941 Fix Teagan sleeve title.
  packages/teagan/src/sleeve.js
Labels: :package: teagan

#1942 Update Teagan left/right sleeve instructions.
  markdown/org/docs/patterns/teagan/instructions/en.md
Labels: :book: documentation

#1943 New Crowdin updates
  markdown/org/docs/patterns/teagan/instructions/de.md
  markdown/org/docs/patterns/teagan/instructions/es.md
  markdown/org/docs/patterns/teagan/instructions/fr.md
  markdown/org/docs/patterns/teagan/instructions/nl.md
Labels: :book: documentation
