Repository freesewing/freesewing, pull requests merged in 2022-06, with the labels that each got.

#2219 Lucy Documentation Re-Format
  markdown/org/docs/patterns/lucy/cutting/en.md
  markdown/org/docs/patterns/lucy/fabric/en.md
  markdown/org/docs/patterns/lucy/instructions/en.md
Labels: :book: documentation

#2227 Change quotes to tips
  markdown/org/docs/patterns/theo/instructions/en.md
Labels: :book: documentation

#2235 New Crowdin updates
  markdown/org/docs/patterns/tamiko/fabric/fr.md
Labels: :book: documentation

#2251 New pattern: hi
  config/descriptions.yaml
  config/exceptions.yaml
  markdown/org/docs/patterns/hi/cutting/en.md
  markdown/org/docs/patterns/hi/en.md
  markdown/org/docs/patterns/hi/fabric/en.md
  markdown/org/docs/patterns/hi/instructions/en.md
  markdown/org/docs/patterns/hi/measurements/en.md
  markdown/org/docs/patterns/hi/needs/en.md
  markdown/org/docs/patterns/hi/options/aggressive/en.md
  markdown/org/docs/patterns/hi/options/en.md
  markdown/org/docs/patterns/hi/options/hungry/en.md
  markdown/org/docs/patterns/hi/options/nosePointiness/en.md
  markdown/org/docs/patterns/hi/options/size/en.md
  packages/hi/CHANGELOG.md
  packages/hi/README.md
  packages/hi/config/index.js
  packages/hi/package.json
  packages/hi/rollup.config.js
  packages/hi/src/aboveMouth.js
  packages/hi/src/belly.js
  packages/hi/src/body.js
  packages/hi/src/bottomFin.js
  packages/hi/src/index.js
  packages/hi/src/lowerTeeth.js
  packages/hi/src/mouth.js
  packages/hi/src/tail.js
  packages/hi/src/teeth.js
  packages/hi/src/topFin.js
  packages/hi/src/upperTeeth.js
Labels: :book: documentation, :gear: configuration

#2127 Holmes and Bee Config Updates
  packages/bee/config/index.js
  packages/holmes/config/index.js
  packages/holmes/src/ear.js
  packages/holmes/src/visor.js
Labels: :bug: bug, :gem: enhancement, :package: holmes, :package: bee

#2248 #2246 support imperial measurements in new measurement inputs
  packages/utils/src/measurementAsMm/index.js
  sites/shared/components/workbench/inputs/measurement.js
  sites/shared/components/workbench/measurements/index.js
  sites/shared/components/workbench/menu/core-settings/index.js
Labels: :package: utils

#2280 New Crowdin updates
  markdown/org/docs/patterns/bob/cutting/de.md
  markdown/org/docs/patterns/bob/cutting/es.md
  markdown/org/docs/patterns/bob/cutting/fr.md
  markdown/org/docs/patterns/bob/cutting/nl.md
  markdown/org/docs/patterns/bob/de.md
  markdown/org/docs/patterns/bob/es.md
  markdown/org/docs/patterns/bob/fabric/de.md
  markdown/org/docs/patterns/bob/fabric/es.md
  markdown/org/docs/patterns/bob/fabric/fr.md
  markdown/org/docs/patterns/bob/fabric/nl.md
  markdown/org/docs/patterns/bob/fr.md
  markdown/org/docs/patterns/bob/instructions/de.md
  markdown/org/docs/patterns/bob/instructions/es.md
  markdown/org/docs/patterns/bob/instructions/fr.md
  markdown/org/docs/patterns/bob/instructions/nl.md
  markdown/org/docs/patterns/bob/measurements/de.md
  markdown/org/docs/patterns/bob/measurements/es.md
  markdown/org/docs/patterns/bob/measurements/fr.md
  markdown/org/docs/patterns/bob/measurements/nl.md
  markdown/org/docs/patterns/bob/needs/de.md
  markdown/org/docs/patterns/bob/needs/es.md
  markdown/org/docs/patterns/bob/needs/fr.md
  markdown/org/docs/patterns/bob/needs/nl.md
  markdown/org/docs/patterns/bob/nl.md
  markdown/org/docs/patterns/bob/options/de.md
  markdown/org/docs/patterns/bob/options/es.md
  markdown/org/docs/patterns/bob/options/fr.md
  markdown/org/docs/patterns/bob/options/nl.md
Labels: :book: documentation

#2303 New Crowdin updates
  markdown/org/docs/patterns/bee/options/shouldertoshoulderease/de.md
  markdown/org/docs/patterns/bee/options/shouldertoshoulderease/es.md
  markdown/org/docs/patterns/bee/options/shouldertoshoulderease/fr.md
  markdown/org/docs/patterns/bee/options/shouldertoshoulderease/nl.md
  markdown/org/docs/patterns/bella/options/shouldertoshoulderease/de.md
  markdown/org/docs/patterns/bella/options/shouldertoshoulderease/es.md
  markdown/org/docs/patterns/bella/options/shouldertoshoulderease/fr.md
  markdown/org/docs/patterns/bella/options/shouldertoshoulderease/nl.md
  markdown/org/docs/patterns/bob/options/headsize/de.md
  markdown/org/docs/patterns/bob/options/headsize/es.md
  markdown/org/docs/patterns/bob/options/headsize/fr.md
  markdown/org/docs/patterns/bob/options/headsize/nl.md
  markdown/org/docs/patterns/bob/options/lengthratio/de.md
  markdown/org/docs/patterns/bob/options/lengthratio/es.md
  markdown/org/docs/patterns/bob/options/lengthratio/fr.md
  markdown/org/docs/patterns/bob/options/lengthratio/nl.md
  markdown/org/docs/patterns/bob/options/neckratio/de.md
  markdown/org/docs/patterns/bob/options/neckratio/es.md
  markdown/org/docs/patterns/bob/options/neckratio/fr.md
  markdown/org/docs/patterns/bob/options/neckratio/nl.md
  markdown/org/docs/patterns/bob/options/widthratio/de.md
  markdown/org/docs/patterns/bob/options/widthratio/es.md
  markdown/org/docs/patterns/bob/options/widthratio/fr.md
  markdown/org/docs/patterns/bob/options/widthratio/nl.md
  markdown/org/docs/patterns/hi/fabric/de.md
  markdown/org/docs/patterns/hi/fabric/es.md
  markdown/org/docs/patterns/hi/fabric/fr.md
  markdown/org/docs/patterns/hi/fabric/nl.md
  markdown/org/docs/patterns/hi/instructions/de.md
  markdown/org/docs/patterns/hi/instructions/es.md
  markdown/org/docs/patterns/hi/instructions/fr.md
  markdown/org/docs/patterns/hi/instructions/nl.md
  markdown/org/docs/patterns/hi/needs/de.md
  markdown/org/docs/patterns/hi/needs/es.md
  markdown/org/docs/patterns/hi/needs/fr.md
  markdown/org/docs/patterns/hi/needs/nl.md
  packages/i18n/src/locales/de/options/hi.yml
  packages/i18n/src/locales/de/patterns.yml
  packages/i18n/src/locales/es/options/hi.yml
  packages/i18n/src/locales/es/patterns.yml
  packages/i18n/src/locales/fr/options/hi.yml
  packages/i18n/src/locales/fr/patterns.yml
  packages/i18n/src/locales/nl/options/hi.yml
  packages/i18n/src/locales/nl/patterns.yml
Labels: :book: documentation

#2304 New Crowdin updates
  packages/i18n/src/locales/de/options/unice.yml
  packages/i18n/src/locales/es/options/unice.yml
  packages/i18n/src/locales/fr/options/unice.yml
  packages/i18n/src/locales/nl/options/unice.yml
Labels: :package: i18n

#2295 Hi Documentation Update
  markdown/org/docs/patterns/hi/cutting/en.md
  markdown/org/docs/patterns/hi/fabric/en.md
  markdown/org/docs/patterns/hi/instructions/en.md
  markdown/org/docs/patterns/hi/needs/en.md
  markdown/org/docs/patterns/hi/options/aggressive/en.md
  markdown/org/docs/patterns/hi/options/hungry/en.md
  markdown/org/docs/patterns/hi/options/nosepointiness/en.md
  markdown/org/docs/patterns/hi/options/size/en.md
Labels: :book: documentation, :package: hi

#2312 add(optiongroups.yaml) Added Type and Size for Noble & Bob
  packages/i18n/src/locales/en/optiongroups.yaml
Labels: :package: i18n, :package: noble, :package: bob

#2314 Incorrect Title Format Hi Size Design Option page
  markdown/org/docs/patterns/hi/options/size/en.md
Labels: :book: documentation, :package: hi

#2318 add(Hi Docs) Added info on gills and eyes.
  markdown/org/docs/patterns/hi/instructions/en.md
  markdown/org/docs/patterns/hi/needs/en.md
Labels: :book: documentation, :package: hi

#2313 Adding Noble's missing Dart Position page.
  markdown/org/docs/patterns/noble/options/dartPosition/en.md
Labels: :book: documentation, :package: noble

#2330 New Crowdin updates
  markdown/org/docs/patterns/noble/options/dartPosition/de.md
  markdown/org/docs/patterns/noble/options/dartPosition/es.md
  markdown/org/docs/patterns/noble/options/dartPosition/fr.md
  markdown/org/docs/patterns/noble/options/dartPosition/nl.md
Labels: :book: documentation

#2331 Bee adding Shoulder to Shoulder Info
  markdown/org/docs/patterns/bee/options/shouldertoshoulderease/en.md
  packages/i18n/src/locales/en/options/bee.yml
Labels: :package: i18n, :book: documentation, :package: bee
