Repository freesewing/freesewing, pull requests merged in 2022-10, with the labels that each got.

#2885 fix(benjamin): Add missing dependency to Ribbon.
  designs/benjamin/src/ribbon.mjs
Labels: :shirt: benjamin

#2790 fix(ursula): Add box around elastic text, and remove dimensions.
  designs/ursula/src/elastic.mjs
Labels: :shirt: ursula

#2890 fix(legend): Add missing dimension and sa elements.
  designs/legend/src/index.mjs
Labels: :shirt: legend

#2891 Fixes #2677
  designs/albert/src/front.mjs
  designs/albert/src/pocket.mjs
  designs/albert/src/strap.mjs
Labels: :shirt: albert

#2892 Penelope fixes
  designs/penelope/src/shape.mjs
  designs/penelope/src/utils.mjs
Labels: :shirt: penelope

#2893 fix(legend): Remove bartack options.
  designs/legend/src/bartack.mjs
Labels: :shirt: legend

#2899 fix(plugintest): Add measurements required for calculated measurements.
  designs/plugintest/src/plugin-measurements.mjs
Labels: :shirt: plugintest

#2905 fix(lucy): Change options docs title from "Fixme".
  markdown/org/docs/patterns/lucy/options/en.md
Labels: :book: documentation

#2906 chore(yarn-new-design): Port to v3.
  config/templates/design/config.js
  config/templates/design/package.json
  config/templates/design/src/box.mjs
  config/templates/design/src/index.mjs
  scripts/add-software.mjs
Labels: :gear: configuration, :scroll: scripts

#2931 chore(plugintest): Convert Title to use v3 "for" store data.
  designs/plugintest/src/plugin-title.mjs
Labels: :shirt: plugintest

#2940 fix(shared): Correct error/warning counts for sets.
  sites/shared/components/workbench/draft/error.js
Labels: :computer: shared

#2917 New Crowdin updates
  markdown/org/docs/patterns/lucy/options/de.md
  markdown/org/docs/patterns/lucy/options/es.md
  markdown/org/docs/patterns/lucy/options/fr.md
  markdown/org/docs/patterns/lucy/options/nl.md
  markdown/org/docs/patterns/lucy/options/uk.md
Labels: :book: documentation

#2961 Added link to discord
  markdown/dev/guides/prerequisites/en.md
Labels: :book: documentation

#2980 Broken Link & Typo fix
  markdown/dev/howtos/code/hide-paths/en.md
  markdown/dev/howtos/git/editing-content-on-github/en.md
  sites/dev/pages/index.js
Labels: :book: documentation, :link: broken link, :computer: dev

#2981 Fix more broken links & typos, add link to translation guide
  markdown/dev/guides/v3/en.md
  markdown/dev/guides/v3/migration/en.md
  markdown/dev/howtos/git/editing-content-on-github/en.md
  markdown/dev/reference/api/en.md
Labels: :book: documentation, :link: broken link

#2983 fix typo
  markdown/dev/reference/api/part/config/dependencies/en.md
Labels: :book: documentation

#2638 Unice: update gusset and add curve options (pr version)
  config/changelog.yaml
  designs/unice/src/back.mjs
  designs/unice/src/front.mjs
  designs/unice/src/gusset.mjs
  markdown/org/docs/patterns/unice/options/backcurve/en.md
  markdown/org/docs/patterns/unice/options/backdip/en.md
  markdown/org/docs/patterns/unice/options/frontcurve/en.md
  markdown/org/docs/patterns/unice/options/frontdip/en.md
  markdown/org/docs/patterns/unice/options/tapertogusset/de.md
  markdown/org/docs/patterns/unice/options/tapertogusset/en.md
  markdown/org/docs/patterns/unice/options/tapertogusset/es.md
  markdown/org/docs/patterns/unice/options/tapertogusset/fr.md
  markdown/org/docs/patterns/unice/options/tapertogusset/nl.md
  markdown/org/docs/patterns/unice/options/tapertogusset/uk.md
  markdown/org/docs/patterns/unice/options/usecrossseam/en.md
Labels: :book: documentation, awaiting feedback, :gear: configuration, :shirt: unice

#2987 New Crowdin updates
  markdown/org/docs/patterns/unice/options/backcurve/de.md
  markdown/org/docs/patterns/unice/options/backcurve/es.md
  markdown/org/docs/patterns/unice/options/backcurve/fr.md
  markdown/org/docs/patterns/unice/options/backcurve/nl.md
  markdown/org/docs/patterns/unice/options/backcurve/uk.md
  markdown/org/docs/patterns/unice/options/backdip/de.md
  markdown/org/docs/patterns/unice/options/backdip/es.md
  markdown/org/docs/patterns/unice/options/backdip/fr.md
  markdown/org/docs/patterns/unice/options/backdip/nl.md
  markdown/org/docs/patterns/unice/options/backdip/uk.md
  markdown/org/docs/patterns/unice/options/frontcurve/de.md
  markdown/org/docs/patterns/unice/options/frontcurve/es.md
  markdown/org/docs/patterns/unice/options/frontcurve/fr.md
  markdown/org/docs/patterns/unice/options/frontcurve/nl.md
  markdown/org/docs/patterns/unice/options/frontcurve/uk.md
  markdown/org/docs/patterns/unice/options/frontdip/de.md
  markdown/org/docs/patterns/unice/options/frontdip/es.md
  markdown/org/docs/patterns/unice/options/frontdip/fr.md
  markdown/org/docs/patterns/unice/options/frontdip/nl.md
  markdown/org/docs/patterns/unice/options/frontdip/uk.md
  markdown/org/docs/patterns/unice/options/tapertogusset/de.md
  markdown/org/docs/patterns/unice/options/tapertogusset/es.md
  markdown/org/docs/patterns/unice/options/tapertogusset/fr.md
  markdown/org/docs/patterns/unice/options/tapertogusset/nl.md
  markdown/org/docs/patterns/unice/options/tapertogusset/uk.md
  markdown/org/docs/patterns/unice/options/usecrossseam/de.md
  markdown/org/docs/patterns/unice/options/usecrossseam/es.md
  markdown/org/docs/patterns/unice/options/usecrossseam/fr.md
  markdown/org/docs/patterns/unice/options/usecrossseam/nl.md
  markdown/org/docs/patterns/unice/options/usecrossseam/uk.md
Labels: :book: documentation

#2970 chore(eslint): Clean up the eslint config, round 2
  .eslintrc.cjs
  config/templates/design.test.mjs.mustache
  config/templates/design/src/index.mjs.mustache
  package.json
  packages/core/.eslintignore
  packages/core/package.json
  plugins/plugin-timing/src/index.mjs
  sites/shared/.eslintignore
  yarn.lock
Labels: :package: core, :gear: configuration, :computer: shared, :package: new-design

#2989 New Crowdin updates
  markdown/org/docs/patterns/charlie/fabric/fr.md
  markdown/org/docs/patterns/charlie/instructions/fr.md
  markdown/org/docs/patterns/charlie/needs/fr.md
  markdown/org/docs/patterns/jaeger/needs/de.md
  markdown/org/docs/patterns/jaeger/needs/es.md
  markdown/org/docs/patterns/jaeger/needs/fr.md
  markdown/org/docs/patterns/jaeger/needs/nl.md
  markdown/org/docs/patterns/jaeger/needs/uk.md
  packages/i18n/src/locales/fr/app.yaml
  packages/i18n/src/locales/fr/components/common.yaml
  packages/i18n/src/locales/fr/components/patrons.yaml
  packages/i18n/src/locales/fr/components/posts.yaml
  packages/i18n/src/locales/fr/components/themes.yaml
  packages/i18n/src/locales/fr/components/workbench.yaml
Labels: :package: i18n, :book: documentation

#3006 New Crowdin updates
  markdown/org/docs/patterns/charlie/instructions/fr.md
Labels: :book: documentation

#3019 Remove duplicated `Added:` in changelog
  config/changelog.yaml
Labels: :gear: configuration
