Repository freesewing/freesewing, pull requests merged in 2022-01, with the labels that each got.

#1603 Fix broken macros documentation link
  markdown/dev/howtos/code/macros/en.md
Labels: :book: documentation

#1610 Update link on reuse-measurements page
  markdown/dev/guides/best-practices/reuse-measurements/en.md
Labels: :book: documentation

#1614 A few small Simon instruction updates
  markdown/org/docs/patterns/simon/instructions/14a.png
  markdown/org/docs/patterns/simon/instructions/14b.png
  markdown/org/docs/patterns/simon/instructions/de.md
  markdown/org/docs/patterns/simon/instructions/en.md
  markdown/org/docs/patterns/simon/instructions/es.md
  markdown/org/docs/patterns/simon/instructions/finished.gif
  markdown/org/docs/patterns/simon/instructions/fr.md
  markdown/org/docs/patterns/simon/instructions/nl.md
Labels: :book: documentation

#1631 fix: Updates open patterns link in tutorial
  markdown/dev/tutorials/pattern-design/conclusion/en.md
Labels: :book: documentation

#1629 Address misaligned match lines on Simon front and left pieces
  packages/simon/src/frontleft-classic-cuton.js
  packages/simon/src/frontleft-seamless.js
  packages/simon/src/frontright-classic-cuton.js
  packages/simon/src/frontright-seamless.js
Labels: :package: simon

#1628 New Crowdin updates
  markdown/org/docs/patterns/simon/instructions/de.md
  markdown/org/docs/patterns/simon/instructions/es.md
  markdown/org/docs/patterns/simon/instructions/fr.md
  markdown/org/docs/patterns/simon/instructions/nl.md
  markdown/org/docs/various/notation/sa/de.md
  markdown/org/docs/various/notation/sa/es.md
  markdown/org/docs/various/notation/sa/fr.md
  markdown/org/docs/various/notation/sa/nl.md
Labels: :book: documentation

#1637 Replace reference to freesewing.dev with .org.
  markdown/dev/howtos/dev/freesewing-org/en.md
Labels: :book: documentation

#1644 freesewing.dev environment setup documentation update
  markdown/dev/howtos/dev/freesewing-dev/en.md
Labels: :book: documentation

#1633 Round Back Info for Simon(e) Option
  markdown/org/docs/patterns/simon/options/roundback/en.md
Labels: :package: simon, :package: simone, :book: documentation

#1640 Update tutorial code block
  markdown/dev/tutorials/pattern-design/fitting-the-neck-opening/en.md
Labels: :book: documentation

#1641 Update code block in tutorial
  markdown/dev/tutorials/pattern-design/completing-the-neck-opening/en.md
Labels: :book: documentation

#1642 Update path to macros docs in tutorial
  markdown/dev/tutorials/pattern-design/creating-the-closure/en.md
Labels: :book: documentation

#1646 Update steps to run freesewing.org locally
  markdown/dev/howtos/dev/freesewing-org/en.md
Labels: :book: documentation

#1649 Honor scale in plugin-theme.
  packages/plugin-theme/src/index.js
  packages/plugin-theme/src/lib/draft.js
  packages/plugin-theme/src/scss/draft.scss
  packages/plugin-theme/tests/plugin.test.mjs
Labels: :package: plugin-theme

#1652 Use 2:1 overlap to underlap ratio for Simon sleeve placket
  packages/simon/src/sleeveplacket-underlap.js
Labels: :package: simon

#1653 Minor text fixes
  markdown/dev/guides/patterns/en.md
  markdown/dev/guides/patterns/paths/en.md
  markdown/dev/guides/translation/en.md
  markdown/dev/reference/api/pattern/en.md
  markdown/dev/tutorials/getting-started-mac/installing-nvm/en.md
Labels: :book: documentation

#1659 New Crowdin updates
  packages/i18n/src/locales/de/settings.yml
  packages/i18n/src/locales/es/settings.yml
  packages/i18n/src/locales/fr/settings.yml
  packages/i18n/src/locales/nl/settings.yml
Labels: :package: i18n

#1662 Small typo corrections & content changes to Reference terms
  markdown/dev/reference/terms/commit/en.md
  markdown/dev/reference/terms/design-pattern/en.md
  markdown/dev/reference/terms/editor/en.md
  markdown/dev/reference/terms/plugin/en.md
  markdown/dev/reference/terms/translator/en.md
Labels: :book: documentation

#1663 Small wording change to Simon cuff instructions.
  markdown/org/docs/patterns/simon/instructions/en.md
Labels: :book: documentation

#1664 Sandy Documentation Update
  markdown/org/docs/patterns/sandy/cutting/en.md
  markdown/org/docs/patterns/sandy/fabric/en.md
  markdown/org/docs/patterns/sandy/instructions/en.md
  markdown/org/docs/patterns/sandy/needs/en.md
Labels: :package: sandy, :book: documentation

#1665 New Crowdin updates
  markdown/org/docs/patterns/sandy/cutting/de.md
  markdown/org/docs/patterns/sandy/cutting/es.md
  markdown/org/docs/patterns/sandy/cutting/fr.md
  markdown/org/docs/patterns/sandy/cutting/nl.md
  markdown/org/docs/patterns/sandy/fabric/de.md
  markdown/org/docs/patterns/sandy/fabric/es.md
  markdown/org/docs/patterns/sandy/fabric/fr.md
  markdown/org/docs/patterns/sandy/fabric/nl.md
  markdown/org/docs/patterns/sandy/instructions/de.md
  markdown/org/docs/patterns/sandy/instructions/es.md
  markdown/org/docs/patterns/sandy/instructions/fr.md
  markdown/org/docs/patterns/sandy/instructions/nl.md
  markdown/org/docs/patterns/sandy/needs/de.md
  markdown/org/docs/patterns/sandy/needs/es.md
  markdown/org/docs/patterns/sandy/needs/fr.md
  markdown/org/docs/patterns/sandy/needs/nl.md
  markdown/org/docs/patterns/simon/instructions/de.md
  markdown/org/docs/patterns/simon/instructions/es.md
  markdown/org/docs/patterns/simon/instructions/fr.md
  markdown/org/docs/patterns/simon/instructions/nl.md
Labels: :book: documentation

#1666 Removing Repeat Step Numbers - Holmes Instructions
  markdown/org/docs/patterns/holmes/instructions/en.md
Labels: :book: documentation, :package: holmes

#1667 Minor Update Tamiko Instructions
  markdown/org/docs/patterns/tamiko/instructions/en.md
Labels: :package: tamiko

#1668 New Crowdin updates
  markdown/org/docs/patterns/holmes/instructions/de.md
  markdown/org/docs/patterns/holmes/instructions/es.md
  markdown/org/docs/patterns/holmes/instructions/fr.md
  markdown/org/docs/patterns/holmes/instructions/nl.md
  markdown/org/docs/patterns/tamiko/instructions/de.md
  markdown/org/docs/patterns/tamiko/instructions/es.md
  markdown/org/docs/patterns/tamiko/instructions/fr.md
  markdown/org/docs/patterns/tamiko/instructions/nl.md
Labels: :book: documentation

#1689 Bee's Config changes to make User and Non-User Options
  packages/bee/config/index.js
Labels: :package: bee

#1690 New Crowdin updates
  markdown/org/docs/measurements/waisttohips/de.md
  markdown/org/docs/measurements/waisttohips/es.md
  markdown/org/docs/measurements/waisttohips/fr.md
  markdown/org/docs/measurements/waisttohips/nl.md
  packages/i18n/src/locales/de/options/bella.yml
  packages/i18n/src/locales/es/options/bella.yml
  packages/i18n/src/locales/fr/options/bella.yml
  packages/i18n/src/locales/nl/options/bella.yml
Labels: :package: i18n, :book: documentation

#1693 New Crowdin updates
  packages/i18n/src/locales/fr/settings.yml
Labels: :package: i18n

#1696 Update snap pct option documentation.
  markdown/dev/reference/api/config/options/percentage/en.md
Labels: :book: documentation

#1692 Honor scale setting in scalebox.
  packages/plugin-scalebox/src/miniscale.js
  packages/plugin-scalebox/src/scalebox.js
  packages/plugin-scalebox/tests/plugin.test.mjs
Labels: :package: plugin-scalebox

#1701 fix: Small typo corrections in how to extend a pattern
  markdown/dev/howtos/code/extend-pattern/en.md
Labels: :book: documentation

#1691 Update holmes.yml Added missing options.
  packages/i18n/src/locales/en/options/holmes.yml
Labels: :package: i18n, :package: holmes

#1703 fix(docs) Holmes typo in Step 3 Note
  markdown/org/docs/patterns/holmes/instructions/en.md
Labels: :book: documentation

#1705 New Crowdin updates
  markdown/org/docs/patterns/holmes/instructions/de.md
  markdown/org/docs/patterns/holmes/instructions/es.md
  markdown/org/docs/patterns/holmes/instructions/fr.md
  markdown/org/docs/patterns/holmes/instructions/nl.md
  packages/i18n/src/locales/de/options/holmes.yml
  packages/i18n/src/locales/es/options/holmes.yml
  packages/i18n/src/locales/fr/options/holmes.yml
  packages/i18n/src/locales/nl/options/holmes.yml
Labels: :package: i18n, :book: documentation

#1706 New Crowdin updates
  markdown/org/docs/patterns/lunetius/fabric/de.md
  markdown/org/docs/patterns/lunetius/fabric/es.md
  markdown/org/docs/patterns/lunetius/fabric/fr.md
  markdown/org/docs/patterns/lunetius/fabric/nl.md
  markdown/org/docs/patterns/walburga/fabric/de.md
  markdown/org/docs/patterns/walburga/fabric/es.md
  markdown/org/docs/patterns/walburga/fabric/fr.md
  markdown/org/docs/patterns/walburga/fabric/nl.md
  packages/i18n/src/locales/de/app.yaml
  packages/i18n/src/locales/fr/options/holmes.yml
Labels: :package: i18n, :book: documentation

#1707 New Crowdin updates
  markdown/org/docs/patterns/lunetius/fabric/de.md
  markdown/org/docs/patterns/tiberius/cutting/de.md
  markdown/org/docs/patterns/tiberius/fabric/de.md
  markdown/org/docs/patterns/tiberius/instructions/de.md
  markdown/org/docs/patterns/tiberius/needs/de.md
  markdown/org/docs/patterns/tiberius/options/clavi/de.md
  markdown/org/docs/patterns/walburga/fabric/de.md
  packages/i18n/src/locales/fr/app.yaml
  packages/i18n/src/locales/fr/options/holmes.yml
Labels: :package: i18n, :book: documentation

#1709 New Crowdin updates
  markdown/org/docs/patterns/yuri/instructions/fr.md
  packages/i18n/src/locales/de/app.yaml
  packages/i18n/src/locales/de/jargon.yml
  packages/i18n/src/locales/de/options/bella.yml
  packages/i18n/src/locales/de/options/charlie.yml
  packages/i18n/src/locales/de/settings.yml
  packages/i18n/src/locales/es/options/charlie.yml
  packages/i18n/src/locales/fr/options/charlie.yml
  packages/i18n/src/locales/nl/options/charlie.yml
Labels: :package: i18n, :book: documentation

#1713 New Crowdin updates
  packages/i18n/src/locales/de/options/bella.yml
Labels: :package: i18n

#1717 Fix broken gore image link.
  markdown/org/docs/patterns/holmes/options/gores/de.md
  markdown/org/docs/patterns/holmes/options/gores/en.md
  markdown/org/docs/patterns/holmes/options/gores/es.md
  markdown/org/docs/patterns/holmes/options/gores/fr.md
  markdown/org/docs/patterns/holmes/options/gores/nl.md
Labels: :book: documentation, :package: holmes

#1716 update(yml, docs, config) Bee
  markdown/org/docs/patterns/bee/options/bandlength/en.md
  markdown/org/docs/patterns/bee/options/bellaguide/en.md
  markdown/org/docs/patterns/bee/options/crossbackties/en.md
  markdown/org/docs/patterns/bella/options/backdartheight/en.md
  packages/bee/config/index.js
  packages/i18n/src/locales/en/optiongroups.yaml
  packages/i18n/src/locales/en/options/bee.yml
Labels: :package: i18n, :book: documentation, :package: bee

#1725 update (docs) Diana Pattern Options and Instructions
  markdown/org/docs/patterns/diana/instructions/en.md
  markdown/org/docs/patterns/diana/options/acrossbackfactor/acrossbackfactor.svg
  markdown/org/docs/patterns/diana/options/acrossbackfactor/en.md
  markdown/org/docs/patterns/diana/options/armholedepthfactor/armholedepthfactor.svg
  markdown/org/docs/patterns/diana/options/armholedepthfactor/en.md
  markdown/org/docs/patterns/diana/options/frontarmholedeeper/en.md
  markdown/org/docs/patterns/diana/options/frontarmholedeeper/frontarmholedeeper.svg
Labels: :book: documentation, :package: diana

#1721 Fix some broken image links.
  markdown/org/docs/patterns/breanna/options/sleevecapfrontfactory/de.md
  markdown/org/docs/patterns/breanna/options/sleevecapfrontfactory/en.md
  markdown/org/docs/patterns/breanna/options/sleevecapfrontfactory/es.md
  markdown/org/docs/patterns/breanna/options/sleevecapfrontfactory/fr.md
  markdown/org/docs/patterns/breanna/options/sleevecapfrontfactory/nl.md
  markdown/org/docs/patterns/brian/options/sleevecapfrontfactory/de.md
  markdown/org/docs/patterns/brian/options/sleevecapfrontfactory/en.md
  markdown/org/docs/patterns/brian/options/sleevecapfrontfactory/es.md
  markdown/org/docs/patterns/brian/options/sleevecapfrontfactory/fr.md
  markdown/org/docs/patterns/brian/options/sleevecapfrontfactory/nl.md
  markdown/org/docs/patterns/diana/options/sleevecapfrontfactory/de.md
  markdown/org/docs/patterns/diana/options/sleevecapfrontfactory/en.md
  markdown/org/docs/patterns/diana/options/sleevecapfrontfactory/es.md
  markdown/org/docs/patterns/diana/options/sleevecapfrontfactory/fr.md
  markdown/org/docs/patterns/diana/options/sleevecapfrontfactory/nl.md
  markdown/org/docs/patterns/huey/options/sleevecapfrontfactory/de.md
  markdown/org/docs/patterns/huey/options/sleevecapfrontfactory/en.md
  markdown/org/docs/patterns/huey/options/sleevecapfrontfactory/es.md
  markdown/org/docs/patterns/huey/options/sleevecapfrontfactory/fr.md
  markdown/org/docs/patterns/huey/options/sleevecapfrontfactory/nl.md
  markdown/org/docs/patterns/simon/options/sleevecapfrontfactory/de.md
  markdown/org/docs/patterns/simon/options/sleevecapfrontfactory/en.md
  markdown/org/docs/patterns/simon/options/sleevecapfrontfactory/es.md
  markdown/org/docs/patterns/simon/options/sleevecapfrontfactory/fr.md
  markdown/org/docs/patterns/simon/options/sleevecapfrontfactory/nl.md
  markdown/org/docs/patterns/simone/options/sleevecapfrontfactory/de.md
  markdown/org/docs/patterns/simone/options/sleevecapfrontfactory/en.md
  markdown/org/docs/patterns/simone/options/sleevecapfrontfactory/es.md
  markdown/org/docs/patterns/simone/options/sleevecapfrontfactory/fr.md
  markdown/org/docs/patterns/simone/options/sleevecapfrontfactory/nl.md
  markdown/org/docs/patterns/sven/options/sleevecapfrontfactory/de.md
  markdown/org/docs/patterns/sven/options/sleevecapfrontfactory/en.md
  markdown/org/docs/patterns/sven/options/sleevecapfrontfactory/es.md
  markdown/org/docs/patterns/sven/options/sleevecapfrontfactory/fr.md
  markdown/org/docs/patterns/sven/options/sleevecapfrontfactory/nl.md
  markdown/org/docs/patterns/teagan/options/sleevecapfrontfactory/de.md
  markdown/org/docs/patterns/teagan/options/sleevecapfrontfactory/en.md
  markdown/org/docs/patterns/teagan/options/sleevecapfrontfactory/es.md
  markdown/org/docs/patterns/teagan/options/sleevecapfrontfactory/fr.md
  markdown/org/docs/patterns/teagan/options/sleevecapfrontfactory/nl.md
  markdown/org/docs/patterns/trayvon/options/tipwidth/de.md
  markdown/org/docs/patterns/trayvon/options/tipwidth/en.md
  markdown/org/docs/patterns/trayvon/options/tipwidth/es.md
  markdown/org/docs/patterns/trayvon/options/tipwidth/fr.md
  markdown/org/docs/patterns/trayvon/options/tipwidth/nl.md
  markdown/org/docs/patterns/waralee/options/hemwidth/de.md
  markdown/org/docs/patterns/waralee/options/hemwidth/en.md
  markdown/org/docs/patterns/waralee/options/hemwidth/es.md
  markdown/org/docs/patterns/waralee/options/hemwidth/fr.md
  markdown/org/docs/patterns/waralee/options/hemwidth/nl.md
  markdown/org/docs/patterns/waralee/options/waistbandwidth/de.md
  markdown/org/docs/patterns/waralee/options/waistbandwidth/en.md
  markdown/org/docs/patterns/waralee/options/waistbandwidth/es.md
  markdown/org/docs/patterns/waralee/options/waistbandwidth/fr.md
  markdown/org/docs/patterns/waralee/options/waistbandwidth/nl.md
  markdown/org/docs/patterns/yuri/options/sleevecapfrontfactory/de.md
  markdown/org/docs/patterns/yuri/options/sleevecapfrontfactory/en.md
  markdown/org/docs/patterns/yuri/options/sleevecapfrontfactory/es.md
  markdown/org/docs/patterns/yuri/options/sleevecapfrontfactory/fr.md
  markdown/org/docs/patterns/yuri/options/sleevecapfrontfactory/nl.md
Labels: :book: documentation

#1715 update(yml) Holmes. Crown not Semi-sphere
  packages/i18n/src/locales/en/options/holmes.yml
Labels: :package: i18n, :package: holmes

#1735 Update Simon sleeveplacketoverlap
  packages/simon/src/sleeveplacket-overlap.js
Labels: :package: simon

#1730 New Crowdin updates
  packages/i18n/src/locales/de/options/holmes.yml
  packages/i18n/src/locales/es/options/holmes.yml
  packages/i18n/src/locales/fr/options/holmes.yml
  packages/i18n/src/locales/nl/app.yaml
  packages/i18n/src/locales/nl/options/holmes.yml
Labels: :package: i18n

#1745 New Crowdin updates
  markdown/org/docs/patterns/bee/options/fullchesteasereduction/de.md
  markdown/org/docs/patterns/bee/options/fullchesteasereduction/es.md
  markdown/org/docs/patterns/bee/options/fullchesteasereduction/fr.md
  markdown/org/docs/patterns/bee/options/fullchesteasereduction/nl.md
Labels: :book: documentation

#1744 Slightly expanded documentation for Lunetius
  markdown/org/docs/patterns/lunetius/cutting/en.md
  markdown/org/docs/patterns/lunetius/fabric/en.md
  markdown/org/docs/patterns/lunetius/instructions/en.md
Labels: :book: documentation, :package: lunetius

#1747 New Crowdin updates
  markdown/org/docs/patterns/lunetius/cutting/de.md
  markdown/org/docs/patterns/lunetius/cutting/es.md
  markdown/org/docs/patterns/lunetius/cutting/fr.md
  markdown/org/docs/patterns/lunetius/cutting/nl.md
  markdown/org/docs/patterns/lunetius/fabric/de.md
  markdown/org/docs/patterns/lunetius/fabric/es.md
  markdown/org/docs/patterns/lunetius/fabric/fr.md
  markdown/org/docs/patterns/lunetius/fabric/nl.md
  markdown/org/docs/patterns/lunetius/instructions/de.md
  markdown/org/docs/patterns/lunetius/instructions/es.md
  markdown/org/docs/patterns/lunetius/instructions/fr.md
  markdown/org/docs/patterns/lunetius/instructions/nl.md
Labels: :book: documentation

#1754 New Crowdin updates
  markdown/org/docs/patterns/lunetius/cutting/de.md
  markdown/org/docs/patterns/lunetius/cutting/es.md
  markdown/org/docs/patterns/lunetius/cutting/fr.md
  markdown/org/docs/patterns/lunetius/cutting/nl.md
  markdown/org/docs/patterns/tiberius/cutting/de.md
  markdown/org/docs/patterns/tiberius/cutting/es.md
  markdown/org/docs/patterns/tiberius/cutting/fr.md
  markdown/org/docs/patterns/tiberius/cutting/nl.md
  markdown/org/docs/patterns/walburga/cutting/de.md
  markdown/org/docs/patterns/walburga/cutting/es.md
  markdown/org/docs/patterns/walburga/cutting/fr.md
  markdown/org/docs/patterns/walburga/cutting/nl.md
Labels: :book: documentation

#1756 update(docs) Lunetius re-formatting new updates
  markdown/org/docs/patterns/lunetius/cutting/en.md
  markdown/org/docs/patterns/lunetius/fabric/en.md
  markdown/org/docs/patterns/lunetius/instructions/en.md
  markdown/org/docs/patterns/lunetius/needs/en.md
Labels: :book: documentation, :package: lunetius

#1765 update(docs) Here comes the yardage!
  markdown/org/docs/patterns/aaron/needs/en.md
  markdown/org/docs/patterns/albert/needs/en.md
  markdown/org/docs/patterns/bee/needs/en.md
  markdown/org/docs/patterns/bella/needs/en.md
  markdown/org/docs/patterns/benjamin/needs/en.md
  markdown/org/docs/patterns/bent/needs/en.md
  markdown/org/docs/patterns/breanna/needs/en.md
  markdown/org/docs/patterns/brian/needs/en.md
  markdown/org/docs/patterns/bruce/needs/en.md
  markdown/org/docs/patterns/cathrin/needs/en.md
  markdown/org/docs/patterns/charlie/needs/en.md
  markdown/org/docs/patterns/cornelius/needs/en.md
  markdown/org/docs/patterns/diana/needs/en.md
  markdown/org/docs/patterns/florence/needs/en.md
  markdown/org/docs/patterns/florent/needs/en.md
  markdown/org/docs/patterns/holmes/needs/en.md
  markdown/org/docs/patterns/huey/needs/en.md
  markdown/org/docs/patterns/hugo/needs/en.md
  markdown/org/docs/patterns/jaeger/needs/en.md
  markdown/org/docs/patterns/paco/needs/en.md
  markdown/org/docs/patterns/penelope/needs/en.md
  markdown/org/docs/patterns/sandy/needs/en.md
  markdown/org/docs/patterns/shin/needs/en.md
  markdown/org/docs/patterns/simon/needs/en.md
  markdown/org/docs/patterns/sven/needs/en.md
  markdown/org/docs/patterns/tamiko/needs/en.md
  markdown/org/docs/patterns/teagan/needs/en.md
  markdown/org/docs/patterns/theo/needs/en.md
  markdown/org/docs/patterns/tiberius/needs/en.md
  markdown/org/docs/patterns/titan/needs/en.md
  markdown/org/docs/patterns/trayvon/needs/en.md
  markdown/org/docs/patterns/ursula/needs/en.md
  markdown/org/docs/patterns/wahid/needs/en.md
  markdown/org/docs/patterns/walburga/needs/en.md
  markdown/org/docs/patterns/waralee/needs/en.md
  markdown/org/docs/patterns/yuri/needs/en.md
Labels: :package: bruce, :package: jaeger, :package: sandy, :package: theo, :package: wahid, :package: simon, :package: penelope, :package: brian, :package: breanna, :package: titan, :package: huey, :book: documentation, :package: albert, :package: aaron, :package: paco, :package: shin, :package: hugo, :package: bella, :package: charlie, :package: florent, :package: sven, :package: teagan, :package: holmes, :package: cornelius, :package: yuri, :package: waralee, :package: bee, :package: benjamin, :package: bent, :package: cathrin, :package: diana, :package: florence, :package: tamiko, :package: trayvon, :package: ursula, :package: walburga, :package: tiberius

#1771 Update some pattern deps. Add render test.
  packages/benjamin/config/index.js
  packages/bent/config/index.js
  packages/carlita/config/index.js
  packages/carlton/config/index.js
  packages/charlie/config/index.js
  packages/huey/config/index.js
  packages/hugo/config/index.js
  packages/jaeger/config/index.js
  packages/paco/config/index.js
  packages/shin/config/index.js
  packages/simon/config/index.js
  packages/simone/config/index.js
  packages/ursula/config/index.js
  packages/yuri/config/index.js
  tests/patterns/drafting.mjs
Labels: :package: carlton, :package: jaeger, :package: simon, :package: simone, :package: huey, :package: carlita, :package: paco, :package: shin, :package: hugo, :package: charlie, :package: yuri, :package: benjamin, :package: bent, :package: ursula, :test_tube: tests

#1776 add(docs) Missing Simon(e) Pattern Options
  markdown/org/docs/patterns/simon/options/yokeheight/en.md
  markdown/org/docs/patterns/simone/options/bustdartangle/en.md
  markdown/org/docs/patterns/simone/options/bustdartlength/en.md
  markdown/org/docs/patterns/simone/options/contour/en.md
  markdown/org/docs/patterns/simone/options/frontdartlength/en.md
  markdown/org/docs/patterns/simone/options/frontdarts/en.md
  markdown/org/docs/patterns/simone/options/yokeheight/en.md
Labels: :book: documentation

#1775 fix(docs) Removing incorrect Diagrams
  markdown/org/docs/patterns/hugo/options/hipsease/en.md
  markdown/org/docs/patterns/hugo/options/hipsease/hipsease.svg
  markdown/org/docs/patterns/simon/options/backneckcutout/backneckcutout.svg
  markdown/org/docs/patterns/simon/options/backneckcutout/en.md
  markdown/org/docs/patterns/simon/options/frontarmholedeeper/en.md
  markdown/org/docs/patterns/simon/options/frontarmholedeeper/frontarmholedeeper.svg
  markdown/org/docs/patterns/simon/options/shoulderease/en.md
  markdown/org/docs/patterns/simon/options/shoulderease/shoulderease.svg
  markdown/org/docs/patterns/simon/options/shoulderslopereduction/en.md
  markdown/org/docs/patterns/simon/options/shoulderslopereduction/shoulderslopereduction.svg
  markdown/org/docs/patterns/simone/options/backneckcutout/backneckcutout.svg
  markdown/org/docs/patterns/simone/options/backneckcutout/en.md
  markdown/org/docs/patterns/simone/options/frontarmholedeeper/en.md
  markdown/org/docs/patterns/simone/options/frontarmholedeeper/frontarmholedeeper.svg
  markdown/org/docs/patterns/simone/options/shoulderease/en.md
  markdown/org/docs/patterns/simone/options/shoulderease/shoulderease.svg
  markdown/org/docs/patterns/simone/options/shoulderslopereduction/en.md
  markdown/org/docs/patterns/simone/options/shoulderslopereduction/shoulderslopereduction.svg
  markdown/org/docs/patterns/sven/options/shoulderease/en.md
  markdown/org/docs/patterns/sven/options/shoulderease/shoulderease.svg
  markdown/org/docs/patterns/teagan/options/backneckcutout/backneckcutout.svg
  markdown/org/docs/patterns/teagan/options/backneckcutout/en.md
Labels: :package: simon, :package: simone, :book: documentation, :package: hugo, :package: teagan

#1748 Add some plugin unit tests.
  packages/plugin-bartack/tests/plugin.test.mjs
  packages/plugin-bust/tests/plugin.test.mjs
  packages/plugin-buttons/tests/plugin.test.mjs
  packages/plugin-cutonfold/tests/plugin.test.mjs
  packages/plugin-dimension/tests/plugin.test.mjs
  packages/plugin-flip/tests/plugin.test.mjs
  packages/plugin-gore/tests/plugin.test.mjs
  packages/plugin-measurements/tests/plugin.test.mjs
  packages/plugin-notches/tests/plugin.test.mjs
Labels: :package: plugin-bartack, :package: plugin-bust, :package: plugin-buttons, :package: plugin-cutonfold, :package: plugin-dimension, :package: plugin-flip, :package: plugin-gore, :package: plugin-measurements, :package: plugin-notches
