Repository freesewing/freesewing, pull requests merged in 2023-02, with the labels that each got.

#3502 fix: missing slash
  markdown/org/docs/patterns/simone/instructions/en.md
Labels: :book: documentation, :link: broken link

#3513 (chore): update dependencies and scripts
  config/dependencies.yaml
  config/scripts.yaml
  sites/dev/package.json
  sites/lab/package.json
  sites/org/package.json
Labels: :gear: configuration, :computer: lab, :computer: dev, :computer: org

#3512 (Feature) Refine skip build logic to build relevant pull requests
  sites/dev/skip_build.mjs
  sites/lab/skip_build.mjs
  sites/org/skip_build.mjs
  sites/sanity/skip_build.mjs
Labels: :computer: lab, :computer: dev, :computer: org, :computer: sanity

#3515 (Feature) Add action to sync dependencies bumped by dependabot
  .github/workflows/dependabot-sync.yml
  scripts/sync-dependencies.mjs
Labels: :gear: configuration, :scroll: scripts

#3519 Dependabot sync action runs reconfigure after syncing updates
  .github/workflows/dependabot-sync.yml
Labels: :gear: configuration

#3521 (Dependabot sync) Sync versions even if they are managed by yaml constants
  scripts/sync-dependencies.mjs
Labels: :scroll: scripts

#3522 Change scalebox
  sites/shared/components/workbench/layout/print/plugin.js
Labels: :computer: shared

#3524 (Chore: deps) Give Scripts its own package.json and update sync action accordingly
  .github/workflows/dependabot-sync.yml
  config/dependencies.yaml
  packages/core/package.json
  scripts/addpatterndocs.js
  scripts/optiondocsimages.js
  scripts/package.json
  scripts/reconfigure.mjs
  scripts/yarn.lock
Labels: :package: core, :gear: configuration, :scroll: scripts

#3526 [Fix] simpler git diff command in skip_build scripts
  sites/dev/skip_build.mjs
  sites/lab/skip_build.mjs
  sites/org/skip_build.mjs
  sites/sanity/skip_build.mjs
Labels: :computer: lab, :computer: dev, :computer: org, :computer: sanity

#3525 (Fix) Lab Builds again after mjs port
  .gitignore
  sites/lab/page-templates/design-list.mjs
  sites/lab/pages/accessories/index.js
  sites/lab/pages/blocks/index.js
  sites/lab/pages/garments/index.js
  sites/lab/pages/utilities/index.js
  sites/shared/components/workbench/draft/error.mjs
  sites/shared/components/workbench/draft/index.mjs
  sites/shared/components/workbench/logs.mjs
  sites/shared/components/workbench/menu/design-options/option-input.mjs
  sites/shared/components/workbench/menu/test-design-options/index.mjs
  sites/shared/components/workbench/menu/test-design-options/option.mjs
  sites/shared/components/workbench/menu/xray/list.mjs
  sites/shared/components/workbench/menu/xray/path-ops.mjs
  sites/shared/components/workbench/menu/xray/path.mjs
  sites/shared/components/workbench/menu/xray/point.mjs
  sites/shared/components/workbench/sample.mjs
  sites/shared/components/wrappers/workbench.mjs
Labels: :computer: lab, :computer: shared

#3528 (Fix) Actually working ignored_build script
  sites/dev/skip_build.mjs
  sites/lab/skip_build.mjs
  sites/org/skip_build.mjs
  sites/sanity/skip_build.mjs
Labels: :computer: lab, :computer: dev, :computer: org, :computer: sanity

#3247 Yaml Edit View
  packages/i18n/src/locales/en/components/workbench.yaml
  sites/shared/components/workbench/edit/gist-validator.mjs
  sites/shared/components/workbench/edit/index.mjs
  sites/shared/components/wrappers/workbench.mjs
Labels: :package: i18n, :computer: shared

#3520 fix(lab) Properly call Path attributes for X-ray mode.
  sites/shared/components/workbench/draft/path.mjs
Labels: :bug: bug, :package: core, :package: components, :gear: configuration, :computer: shared, :computer: dev, :package: new-design, :scroll: scripts

#3529 New Crowdin updates
  packages/i18n/src/locales/de/components/workbench.yaml
  packages/i18n/src/locales/es/components/workbench.yaml
  packages/i18n/src/locales/fr/components/workbench.yaml
  packages/i18n/src/locales/nl/components/workbench.yaml
  packages/i18n/src/locales/uk/components/workbench.yaml
Labels: :package: i18n

#3532 fix(dev/shared): .mjs filename and named exports changes
  sites/dev/hooks/useApp.mjs
  sites/shared/components/workbench/edit/index.mjs
Labels: :computer: shared, :computer: dev

#3533 fix (Skip Builds) Truly this one has been tested
  scripts/skip-build-base.mjs
  sites/dev/skip_build.mjs
  sites/lab/skip_build.mjs
  sites/org/skip_build.mjs
  sites/sanity/skip_build.mjs
Labels: :computer: lab, :computer: dev, :computer: org, :scroll: scripts, :computer: sanity

#3530 fix (TestThing) Fix menu and inital draft
  sites/shared/components/workbench/menu/test-design-options/index.mjs
  sites/shared/components/workbench/sample.mjs
  sites/shared/utils.mjs
Labels: :computer: shared

#3541 fix (#3539) add wrap flag to iconWrapper
  sites/shared/components/icons.mjs
  sites/shared/components/workbench/layout/draft/buttons.mjs
Labels: :computer: shared

#3540 fix(teagan): Renumber sleeve part to 3
  designs/teagan/src/sleeve.mjs
Labels: :shirt: teagan

#3542 fix(carlita): Restore missing cuffFacing part
  designs/carlita/src/index.mjs
Labels: :shirt: carlita

#3545 fix(plugintest): Adjust title bounding box to prevent clipping
  designs/plugintest/src/plugin-title.mjs
Labels: :shirt: plugintest

#3549 Added instructions for Jeager
  markdown/org/docs/patterns/jaeger/instructions/collarCuts.svg
  markdown/org/docs/patterns/jaeger/instructions/collarMarkings.svg
  markdown/org/docs/patterns/jaeger/instructions/collarWithCanvas.svg
  markdown/org/docs/patterns/jaeger/instructions/en.md
Labels: :book: documentation, :shirt: jaeger

#3551 New Crowdin updates
  markdown/org/docs/patterns/jaeger/instructions/de.md
  markdown/org/docs/patterns/jaeger/instructions/es.md
  markdown/org/docs/patterns/jaeger/instructions/fr.md
  markdown/org/docs/patterns/jaeger/instructions/nl.md
  markdown/org/docs/patterns/jaeger/instructions/uk.md
Labels: :book: documentation

#3548 feature (ignored_builds) Add plugins and designs build trigger for lab
  sites/lab/skip_build.mjs
Labels: :computer: lab

#3536 fix (useLocalStorage) Simplify useLocalStorage hook
  sites/shared/components/mdx/examples.mjs
  sites/shared/components/mdx/index.mjs
  sites/shared/components/mdx/tabbed-example.mjs
  sites/shared/components/picker.mjs
  sites/shared/components/workbench/draft/svg.mjs
  sites/shared/components/wrappers/workbench.mjs
  sites/shared/hooks/useGist.mjs
  sites/shared/hooks/useLocalStorage.mjs
  sites/shared/hooks/useTheme.mjs
Labels: :computer: shared

#3563 fix(docs): Correct hideDependencies and clarify hideAll descriptions
  markdown/dev/reference/api/part/config/hide/en.md
Labels: :book: documentation

#3566 fix(simon): Restore missing Back part. Fixes #3538
  designs/simon/src/front.mjs
Labels: :shirt: simon

#3570 feat: Work on API key pages
  sites/backend/src/controllers/apikeys.mjs
  sites/backend/src/models/apikey.mjs
  sites/backend/src/routes/apikeys.mjs
  sites/org/components/account/account.en.yaml
  sites/org/components/account/apikeys.mjs
  sites/org/components/wrappers/page.mjs
  sites/org/hooks/useBackend.mjs
  sites/org/pages/account/apikeys.mjs
  sites/shared/components/collapse.mjs
  sites/shared/components/icons.mjs
Labels: :computer: shared, :computer: backend, :computer: org

#3572 New Crowdin updates
  markdown/org/docs/guide/de.md
  markdown/org/docs/measurements/shoulderslope/de.md
  markdown/org/docs/patterns/aaron/instructions/de.md
  markdown/org/docs/patterns/bella/instructions/de.md
  markdown/org/docs/patterns/bent/instructions/de.md
  markdown/org/docs/patterns/breanna/instructions/de.md
  markdown/org/docs/patterns/breanna/options/shoulderease/de.md
  markdown/org/docs/patterns/brian/instructions/de.md
  markdown/org/docs/patterns/brian/options/de.md
  markdown/org/docs/patterns/brian/options/shoulderease/de.md
  markdown/org/docs/patterns/cathrin/instructions/de.md
  markdown/org/docs/patterns/holmes/cutting/de.md
  markdown/org/docs/patterns/holmes/instructions/de.md
  markdown/org/docs/patterns/huey/instructions/de.md
  markdown/org/docs/patterns/huey/options/shoulderease/de.md
  markdown/org/docs/patterns/hugo/instructions/de.md
  markdown/org/docs/patterns/hugo/options/bicepsease/de.md
  markdown/org/docs/patterns/hugo/options/chestease/de.md
  markdown/org/docs/patterns/hugo/options/cuffease/de.md
  markdown/org/docs/patterns/hugo/options/hipsease/de.md
  markdown/org/docs/patterns/hugo/options/lengthbonus/de.md
  markdown/org/docs/patterns/hugo/options/ribbingheight/de.md
  markdown/org/docs/patterns/hugo/options/sleevelengthbonus/de.md
  markdown/org/docs/patterns/jaeger/options/shoulderease/de.md
  markdown/org/docs/patterns/noble/instructions/de.md
  markdown/org/docs/patterns/penelope/instructions/de.md
  markdown/org/docs/patterns/sandy/instructions/de.md
  markdown/org/docs/patterns/simon/fabric/de.md
  markdown/org/docs/patterns/simon/options/shoulderease/de.md
  markdown/org/docs/patterns/simone/options/shoulderease/de.md
  markdown/org/docs/patterns/sven/options/shoulderease/de.md
  markdown/org/docs/patterns/teagan/instructions/de.md
  markdown/org/docs/patterns/titan/instructions/de.md
  markdown/org/docs/patterns/trayvon/fabric/de.md
  markdown/org/docs/sewing/ease/de.md
  markdown/org/docs/sewing/zig-zag-stitch/de.md
  markdown/org/docs/various/notation/grainline/de.md
  packages/i18n/src/locales/de/email.yaml
  packages/i18n/src/locales/de/susi.yaml
Labels: :package: i18n, :book: documentation

#3569 fix(workbench): Restore missing whole and half interval ticks on ruler
  sites/shared/components/workbench/layout/print/plugin.mjs
Labels: :computer: shared

#3574 New Crowdin updates
  markdown/org/docs/patterns/aaron/instructions/de.md
  markdown/org/docs/patterns/aaron/measurements/de.md
  markdown/org/docs/patterns/aaron/needs/de.md
  markdown/org/docs/patterns/aaron/options/de.md
  markdown/org/docs/patterns/aaron/options/draftforhighbust/de.md
  packages/i18n/src/locales/de/components/workbench.yaml
Labels: :package: i18n, :book: documentation

#3585 Addition Vercel Ignored build refinements
  scripts/skip-build-base.mjs
  sites/lab/skip_build.mjs
Labels: :computer: lab, :scroll: scripts
