Repository freesewing/freesewing, pull requests merged in 2023-08, with the labels that each got.

#4617 New Crowdin Translations [skip build]
  markdown/org/docs/designs/hugo/instructions/uk.md
  markdown/org/docs/designs/jaeger/instructions/uk.md
  markdown/org/docs/designs/penelope/instructions/uk.md
  markdown/org/docs/measurements/hpstowaistback/uk.md
  markdown/org/docs/measurements/hpstowaistfront/uk.md
  markdown/org/showcase/a-fantastic-outfit-featuring-teagan-simon-and-cornelius/de.md
  markdown/org/showcase/fighter-hoodie/de.md
  markdown/org/showcase/fighter-hoodie/fr.md
  packages/new-design/i18n/de.json
  packages/new-design/i18n/fr.json
  sites/backend/src/templates/email/de.yaml
  sites/backend/src/templates/email/emailchange/de.yaml
  sites/backend/src/templates/email/signup-aea/de.yaml
  sites/backend/src/templates/email/transinvite/de.yaml
  sites/lab/components/header/fr.yaml
  sites/lab/de.yaml
  sites/lab/fr.yaml
  sites/org/components/curate/de.yaml
  sites/org/components/curate/fr.yaml
  sites/org/components/footer/de.yaml
  sites/org/components/footer/es.yaml
  sites/org/components/footer/fr.yaml
  sites/org/components/footer/nl.yaml
  sites/org/components/footer/uk.yaml
  sites/org/components/header/fr.yaml
  sites/org/pages/translation/de.yaml
  sites/org/pages/translation/fr.yaml
  sites/shared/components/account/de.yaml
  sites/shared/components/footer/de.yaml
  sites/shared/components/footer/es.yaml
  sites/shared/components/footer/fr.yaml
  sites/shared/components/footer/nl.yaml
  sites/shared/components/footer/uk.yaml
  sites/shared/components/workbench/de.yaml
  sites/shared/components/wrappers/auth/de.yaml
  sites/shared/i18n/common/de.yaml
  sites/shared/i18n/homepage/de.yaml
  sites/shared/i18n/homepage/fr.yaml
  sites/shared/i18n/signin/de.yaml
  sites/shared/i18n/signup/de.yaml
  sites/shared/i18n/toast/de.yaml
Labels: :book: documentation, :computer: lab, :computer: shared, :computer: backend, :computer: org, :package: new-design, crowdin, i18n

#4633 Update en.md
  markdown/org/docs/sewing/ease/en.md
Labels: :book: documentation

#4623 New Crowdin Translations [skip build]
  markdown/org/docs/designs/benjamin/instructions/uk.md
  markdown/org/docs/sewing/darts/uk.md
  markdown/org/docs/sewing/ease/uk.md
  sites/shared/components/workbench/de.yaml
  sites/shared/components/wrappers/auth/uk.yaml
Labels: :book: documentation, :computer: shared, crowdin, i18n

#4634 feat(org): Added support page, tweaks to home page
  sites/org/pages/index.mjs
  sites/org/pages/support.mjs
  sites/shared/i18n/sections/en.yaml
  sites/shared/i18n/support/en.yaml
  sites/shared/prebuild/sitenav-org.mjs
Labels: :computer: shared, :computer: org

#4635 chore(backend): Store database location in env var
  sites/backend/example.env
  sites/backend/prisma/schema.prisma
Labels: :computer: backend

#4642 Albert linedrawing jsx
  sites/shared/components/animations/how-does-it-work.mjs
  sites/shared/components/designs/linedrawings/albert.mjs
Labels: :computer: shared

#4637 New Crowdin Translations [skip build]
  markdown/org/docs/designs/hugo/instructions/uk.md
  markdown/org/docs/designs/jaeger/instructions/uk.md
  markdown/org/docs/designs/penelope/instructions/uk.md
  markdown/org/docs/sewing/double-welt-pockets/uk.md
  markdown/org/docs/sewing/ease/de.md
  markdown/org/docs/sewing/ease/es.md
  markdown/org/docs/sewing/ease/fr.md
  markdown/org/docs/sewing/ease/nl.md
  markdown/org/docs/sewing/ease/uk.md
  markdown/org/docs/sewing/edgestitching/uk.md
  markdown/org/docs/sewing/topstitching/uk.md
  sites/shared/components/patrons/de.yaml
  sites/shared/components/patrons/es.yaml
  sites/shared/components/patrons/fr.yaml
  sites/shared/components/patrons/nl.yaml
  sites/shared/components/patrons/uk.yaml
  sites/shared/i18n/homepage/en.yaml
  sites/shared/i18n/sections/de.yaml
  sites/shared/i18n/sections/es.yaml
  sites/shared/i18n/sections/fr.yaml
  sites/shared/i18n/sections/nl.yaml
  sites/shared/i18n/sections/uk.yaml
  sites/shared/i18n/signup/de.yaml
  sites/shared/i18n/signup/es.yaml
  sites/shared/i18n/signup/fr.yaml
  sites/shared/i18n/signup/nl.yaml
  sites/shared/i18n/signup/uk.yaml
  sites/shared/i18n/support/de.yaml
  sites/shared/i18n/support/es.yaml
  sites/shared/i18n/support/fr.yaml
  sites/shared/i18n/support/nl.yaml
  sites/shared/i18n/support/uk.yaml
  sites/shared/i18n/themes/de.yaml
  sites/shared/i18n/themes/es.yaml
  sites/shared/i18n/themes/fr.yaml
  sites/shared/i18n/themes/nl.yaml
  sites/shared/i18n/themes/uk.yaml
Labels: :book: documentation, :computer: shared, crowdin, i18n

#4636 fix(bee) Hiding inherited Bella frontSideDart part
  designs/bee/src/cup.mjs
Labels: :shirt: bee

#4646 Update Ursula instructions
  markdown/org/docs/designs/ursula/instructions/en.md
Labels: :book: documentation

#4655 feature (PDF) export single-page PDF
  sites/shared/components/sets/measie-input.mjs
  sites/shared/components/workbench/exporting/export-handler.mjs
  sites/shared/components/workbench/exporting/export-worker.js
  sites/shared/components/workbench/exporting/pdf-maker.mjs
  sites/shared/components/workbench/exporting/pdf.mjs
  sites/shared/components/workbench/exporting/single-pdf-maker.mjs
  sites/shared/components/workbench/menus/shared/inputs.mjs
  sites/shared/components/workbench/views/print/index.mjs
Labels: :computer: shared

#3842 fix(docs): Improve knit binding information and instructions
  markdown/org/docs/sewing/knit-binding/en.md
Labels: :book: documentation

#4663 Brings tutorial in line with generated file
  markdown/dev/tutorials/pattern-design/adding-measurements/en.md
  markdown/dev/tutorials/pattern-design/adding-options/en.md
  markdown/dev/tutorials/pattern-design/avoiding-overlap/en.md
  markdown/dev/tutorials/pattern-design/completing-our-pattern/en.md
  markdown/dev/tutorials/pattern-design/completing-the-neck-opening/en.md
  markdown/dev/tutorials/pattern-design/creating-the-closure/en.md
  markdown/dev/tutorials/pattern-design/draft-method/en.md
  markdown/dev/tutorials/pattern-design/drawing-the-straps/en.md
  markdown/dev/tutorials/pattern-design/en.md
  markdown/dev/tutorials/pattern-design/fitting-the-neck-opening/en.md
  markdown/dev/tutorials/pattern-design/our-first-part/en.md
  markdown/dev/tutorials/pattern-design/paperless/en.md
  markdown/dev/tutorials/pattern-design/rounding-the-corners/en.md
  markdown/dev/tutorials/pattern-design/shaping-the-straps/en.md
Labels: :book: documentation

#4703 New Crowdin Translations [skip build]
  sites/backend/src/templates/email/de.yaml
  sites/backend/src/templates/email/emailchange/de.yaml
  sites/backend/src/templates/email/emailchange/es.yaml
  sites/backend/src/templates/email/emailchange/fr.yaml
  sites/backend/src/templates/email/emailchange/nl.yaml
  sites/backend/src/templates/email/emailchange/uk.yaml
  sites/backend/src/templates/email/es.yaml
  sites/backend/src/templates/email/fr.yaml
  sites/backend/src/templates/email/goodbye/de.yaml
  sites/backend/src/templates/email/goodbye/es.yaml
  sites/backend/src/templates/email/goodbye/fr.yaml
  sites/backend/src/templates/email/goodbye/nl.yaml
  sites/backend/src/templates/email/goodbye/uk.yaml
  sites/backend/src/templates/email/newslettersub/de.yaml
  sites/backend/src/templates/email/newslettersub/es.yaml
  sites/backend/src/templates/email/newslettersub/fr.yaml
  sites/backend/src/templates/email/newslettersub/nl.yaml
  sites/backend/src/templates/email/newslettersub/uk.yaml
  sites/backend/src/templates/email/nl.yaml
  sites/backend/src/templates/email/passwordreset/de.yaml
  sites/backend/src/templates/email/passwordreset/es.yaml
  sites/backend/src/templates/email/passwordreset/fr.yaml
  sites/backend/src/templates/email/passwordreset/nl.yaml
  sites/backend/src/templates/email/passwordreset/uk.yaml
  sites/backend/src/templates/email/signinlink/de.yaml
  sites/backend/src/templates/email/signinlink/es.yaml
  sites/backend/src/templates/email/signinlink/fr.yaml
  sites/backend/src/templates/email/signinlink/nl.yaml
  sites/backend/src/templates/email/signinlink/uk.yaml
  sites/backend/src/templates/email/signup-aea/de.yaml
  sites/backend/src/templates/email/signup-aea/es.yaml
  sites/backend/src/templates/email/signup-aea/fr.yaml
  sites/backend/src/templates/email/signup-aea/nl.yaml
  sites/backend/src/templates/email/signup-aea/uk.yaml
  sites/backend/src/templates/email/signup-aed/de.yaml
  sites/backend/src/templates/email/signup-aed/es.yaml
  sites/backend/src/templates/email/signup-aed/fr.yaml
  sites/backend/src/templates/email/signup-aed/nl.yaml
  sites/backend/src/templates/email/signup-aed/uk.yaml
  sites/backend/src/templates/email/signup/de.yaml
  sites/backend/src/templates/email/signup/es.yaml
  sites/backend/src/templates/email/signup/fr.yaml
  sites/backend/src/templates/email/signup/nl.yaml
  sites/backend/src/templates/email/signup/uk.yaml
  sites/backend/src/templates/email/transinvite/de.yaml
  sites/backend/src/templates/email/transinvite/es.yaml
  sites/backend/src/templates/email/transinvite/fr.yaml
  sites/backend/src/templates/email/transinvite/nl.yaml
  sites/backend/src/templates/email/transinvite/uk.yaml
  sites/backend/src/templates/email/uk.yaml
Labels: :computer: backend, crowdin, i18n

#4710 chore(backend): Improve backend code structure
  sites/backend/scripts/rmdb.mjs
  sites/backend/src/config.mjs
  sites/backend/src/controllers/apikeys.mjs
  sites/backend/src/models/apikey.mjs
  sites/backend/src/models/confirmation.mjs
  sites/backend/src/models/curated-set.mjs
  sites/backend/src/models/flow.mjs
  sites/backend/src/models/issue.mjs
  sites/backend/src/models/pattern.mjs
  sites/backend/src/models/set.mjs
  sites/backend/src/models/subscriber.mjs
  sites/backend/src/models/user.mjs
  sites/backend/src/utils/cloudflare-images.mjs
  sites/backend/src/utils/github.mjs
  sites/backend/src/utils/model-decorator.mjs
  sites/backend/tests/curated-set.mjs
  sites/backend/tests/flow.mjs
  sites/backend/tests/index.mjs
  sites/backend/tests/issue.mjs
  sites/backend/tests/mfa.mjs
  sites/backend/tests/pattern.mjs
  sites/backend/tests/set.mjs
  sites/backend/tests/shared.mjs
  sites/backend/tests/user.mjs
  sites/backend/v2-v3/import.mjs
  sites/backend/v2-v3/inactive.mjs
  sites/backend/v2-v3/remove-set-images.mjs
Labels: :computer: backend

#4717 feat(backend): Track lastSeen and jwtCalls/keyCalls in middleware
  sites/backend/prisma/schema.prisma
  sites/backend/src/middleware.mjs
  sites/backend/src/models/user.mjs
Labels: :computer: backend

#4718 chore: Privacy Notice update
  markdown/org/docs/various/privacy/account/de.md
  markdown/org/docs/various/privacy/account/en.md
  markdown/org/docs/various/privacy/account/es.md
  markdown/org/docs/various/privacy/account/fr.md
  markdown/org/docs/various/privacy/account/nl.md
  markdown/org/docs/various/privacy/account/uk.md
  markdown/org/docs/various/privacy/en.md
  markdown/org/docs/various/privacy/other/de.md
  markdown/org/docs/various/privacy/other/en.md
  markdown/org/docs/various/privacy/other/es.md
  markdown/org/docs/various/privacy/other/fr.md
  markdown/org/docs/various/privacy/other/nl.md
  markdown/org/docs/various/privacy/other/uk.md
  markdown/org/docs/various/privacy/people/de.md
  markdown/org/docs/various/privacy/people/en.md
  markdown/org/docs/various/privacy/people/es.md
  markdown/org/docs/various/privacy/people/fr.md
  markdown/org/docs/various/privacy/people/nl.md
  markdown/org/docs/various/privacy/people/uk.md
  markdown/org/docs/various/privacy/subscriber/de.md
  markdown/org/docs/various/privacy/subscriber/en.md
  markdown/org/docs/various/privacy/subscriber/es.md
  markdown/org/docs/various/privacy/subscriber/fr.md
  markdown/org/docs/various/privacy/subscriber/nl.md
  markdown/org/docs/various/privacy/subscriber/uk.md
  markdown/org/docs/various/privacy/visitor/de.md
  markdown/org/docs/various/privacy/visitor/en.md
  markdown/org/docs/various/privacy/visitor/es.md
  markdown/org/docs/various/privacy/visitor/fr.md
  markdown/org/docs/various/privacy/visitor/nl.md
  markdown/org/docs/various/privacy/visitor/uk.md
  markdown/org/docs/various/privacy/your-data/de.md
  markdown/org/docs/various/privacy/your-data/es.md
  markdown/org/docs/various/privacy/your-data/fr.md
  markdown/org/docs/various/privacy/your-data/nl.md
Labels: :book: documentation

#4720 chore: Further privacy notice updates & GDPR component tweaks
  .gitignore
  markdown/org/docs/various/privacy/en.md
  markdown/org/docs/various/rights/object/en.md
  scripts/send-real-email.mjs
  scripts/send-test-email.mjs
  sites/backend/scripts/import-sizing-table.mjs
  sites/backend/src/controllers/imports.mjs
  sites/backend/src/models/pattern.mjs
  sites/backend/src/models/set.mjs
  sites/backend/src/models/user.mjs
  sites/backend/src/routes/imports.mjs
  sites/backend/src/utils/cloudflare-images.mjs
  sites/backend/src/utils/model-decorator.mjs
  sites/backend/v2-v3/import.mjs
  sites/backend/v2-v3/inactive.mjs
  sites/backend/v2-v3/migrate-export.mjs
  sites/backend/v2-v3/remove-set-images.mjs
  sites/org/pages/confirm/signup/[...confirmation].mjs
  sites/shared/components/account/consent.mjs
  sites/shared/components/gdpr/details.mjs
  sites/shared/components/gdpr/en.yaml
  sites/shared/components/susi/sign-up.mjs
Labels: :book: documentation, :computer: shared, :computer: backend, :computer: org, :scroll: scripts

#4727 Update Newsletter FAQ
  markdown/org/docs/faq/newsletter/why-subscribe-multiple-clicks/en.md
  sites/shared/i18n/locales/en.yaml
Labels: :book: documentation, :computer: shared

#4726 Update en.yaml
  sites/shared/i18n/locales/en.yaml
Labels: :computer: shared

#4760 fix(backend): Bug in handling measurements updates
  sites/backend/src/models/admin.mjs
  sites/backend/src/models/set.mjs
  sites/backend/tests/set.mjs
  sites/org/pages/blog/page/[page].mjs
Labels: :computer: backend, :computer: org

#4762 chore: Update production backend
  sites/backend/src/models/admin.mjs
  sites/backend/src/models/set.mjs
  sites/backend/tests/set.mjs
  sites/org/pages/blog/page/[page].mjs
Labels: :computer: backend, :computer: org

#4764 Fix import errors for ModalThemePicker and ModalLocalePicker
  packages/new-design/shared/lab/components/header.mjs
  packages/new-design/shared/lab/components/layouts/lab.mjs
  sites/lab/components/layouts/lab.mjs
Labels: :computer: lab, :package: new-design

#4763 fix(backend/shared): Catch JSON errors in backend and add border to measurements input
  sites/backend/src/controllers/flows.mjs
  sites/backend/src/models/flow.mjs
  sites/backend/src/routes/flows.mjs
  sites/backend/src/utils/github.mjs
  sites/backend/src/utils/model-decorator.mjs
  sites/org/components/github/create-showcase.mjs
  sites/org/components/github/inputs.mjs
  sites/shared/components/sets/measie-input.mjs
  sites/shared/components/workbench/menus/shared/inputs.mjs
  sites/shared/hooks/use-backend.mjs
Labels: :computer: shared, :computer: backend, :computer: org

#4766 Updating production backend branch
  .all-contributorsrc
  CONTRIBUTORS.md
  packages/new-design/shared/lab/components/header.mjs
  packages/new-design/shared/lab/components/layouts/lab.mjs
  sites/backend/src/controllers/flows.mjs
  sites/backend/src/models/flow.mjs
  sites/backend/src/routes/flows.mjs
  sites/backend/src/utils/github.mjs
  sites/backend/src/utils/model-decorator.mjs
  sites/lab/components/layouts/lab.mjs
  sites/org/components/github/create-showcase.mjs
  sites/org/components/github/inputs.mjs
  sites/shared/components/sets/measie-input.mjs
  sites/shared/components/workbench/menus/shared/inputs.mjs
  sites/shared/hooks/use-backend.mjs
Labels: :computer: lab, :computer: shared, :computer: backend, :computer: org, :package: new-design

#4771 Update production backend branch
  config/roles.mjs
  sites/backend/prisma/schema.prisma
  sites/backend/src/config.mjs
  sites/backend/src/controllers/flows.mjs
  sites/backend/src/middleware.mjs
  sites/backend/src/models/apikey.mjs
  sites/backend/src/models/flow.mjs
  sites/backend/src/models/user.mjs
  sites/backend/src/routes/flows.mjs
  sites/org/components/github/create-post.mjs
  sites/org/pages/new/blog.mjs
  sites/org/pages/new/showcase.mjs
  sites/shared/hooks/use-backend.mjs
Labels: :gear: configuration, :computer: shared, :computer: backend, :computer: org

#4775 fix(dev): Small fixed required to make the tutorial work
  markdown/dev/tutorials/pattern-design/completing-our-pattern/en.md
  markdown/dev/tutorials/pattern-design/our-first-part/en.md
  sites/dev/pages/index.mjs
Labels: :book: documentation, :computer: dev

#4831 fix(org): Comment out WIP pages to save the build
  sites/org/components/curate/sets/edit.mjs
  sites/org/pages/curate/sets/[set].mjs
Labels: :computer: org

#4832 fix(org): Comment out unused namespace
  sites/org/pages/curate/sets/[set].mjs
Labels: :computer: org

#4843 fix: SSR config and migration of units/newsletter setting
  sites/backend/src/models/user.mjs
  sites/org/pages/account/[platform].mjs
  sites/org/pages/account/apikeys/[id].mjs
  sites/org/pages/account/bookmarks/[id].mjs
  sites/org/pages/account/sets/[id].mjs
  sites/org/pages/docs/[...slug].mjs
Labels: :computer: backend, :computer: org

#4844 fix(org): Fix SSR config for docs
  sites/org/pages/docs/[...slug].mjs
  sites/org/pages/index.mjs
  sites/shared/components/icons.mjs
  sites/shared/components/susi/sign-up.mjs
  sites/shared/i18n/signup/en.yaml
  sites/shared/themes/dark.mjs
Labels: :computer: shared, :computer: org

#4845 chore: Production backend update
  sites/backend/src/models/user.mjs
  sites/org/components/curate/sets/edit.mjs
  sites/org/pages/account/[platform].mjs
  sites/org/pages/account/apikeys/[id].mjs
  sites/org/pages/account/bookmarks/[id].mjs
  sites/org/pages/account/sets/[id].mjs
  sites/org/pages/curate/sets/[set].mjs
  sites/org/pages/index.mjs
  sites/shared/components/icons.mjs
  sites/shared/components/susi/sign-up.mjs
  sites/shared/i18n/signup/en.yaml
  sites/shared/themes/dark.mjs
Labels: :computer: shared, :computer: backend, :computer: org

#4848 feat: Improve measurements view in workbench
  sites/shared/components/account/sets.mjs
  sites/shared/components/icons.mjs
  sites/shared/components/inputs.mjs
  sites/shared/components/mdx/index.mjs
  sites/shared/components/mdx/tabbed-example.mjs
  sites/shared/components/tabs.mjs
  sites/shared/components/workbench/en.yaml
  sites/shared/components/workbench/logs.mjs
  sites/shared/components/workbench/views/measies/editor.mjs
  sites/shared/components/workbench/views/measies/index.mjs
Labels: :computer: shared

#4864 fix (dynamic docs) pass correct components to dynamic org docs
  sites/shared/components/dynamic-docs/org.mjs
Labels: :computer: shared

#4865 fix (curated set picker) get language from i18n for curated set picker
  sites/shared/components/account/sets.mjs
Labels: :computer: shared
