Repository freesewing/freesewing, pull requests merged in 2023-06, with the labels that each got.

#4203 feat(react-components): Added Pattern component
  config/exceptions.yaml
  packages/react-components/CHANGELOG.md
  packages/react-components/README.md
  packages/react-components/build.mjs
  packages/react-components/data.mjs
  packages/react-components/package.json
  packages/react-components/src/index.mjs
  packages/react-components/src/pattern/circle.mjs
  packages/react-components/src/pattern/defs.mjs
  packages/react-components/src/pattern/grid.mjs
  packages/react-components/src/pattern/group.mjs
  packages/react-components/src/pattern/index.mjs
  packages/react-components/src/pattern/part.mjs
  packages/react-components/src/pattern/path.mjs
  packages/react-components/src/pattern/point.mjs
  packages/react-components/src/pattern/snippet.mjs
  packages/react-components/src/pattern/stack.mjs
  packages/react-components/src/pattern/svg.mjs
  packages/react-components/src/pattern/text.mjs
  packages/react-components/src/pattern/utils.mjs
Labels: :gear: configuration

#4202 feat(core): Added Pattern.getLogs() and updated Pattern.getRenderProps()
  markdown/dev/reference/api/attributes/asrenderprops/en.md
  markdown/dev/reference/api/part/asrenderprops/en.md
  markdown/dev/reference/api/path/asrenderprops/en.md
  markdown/dev/reference/api/pattern/getlogs/en.md
  markdown/dev/reference/api/pattern/getrenderprops/en.md
  markdown/dev/reference/api/point/asrenderprops/en.md
  markdown/dev/reference/api/snippet/asrenderprops/en.md
  markdown/dev/reference/api/svg/asrenderprops/en.md
  packages/core/src/attributes.mjs
  packages/core/src/part.mjs
  packages/core/src/path.mjs
  packages/core/src/pattern/index.mjs
  packages/core/src/pattern/pattern-renderer.mjs
  packages/core/src/point.mjs
  packages/core/src/snippet.mjs
  packages/core/src/stack.mjs
  packages/core/src/svg.mjs
  packages/core/tests/pattern-other.test.mjs
  packages/core/tests/pattern-renderer.test.mjs
Labels: :package: core, :book: documentation

#4215 Refactor (Sites/Shared) Workbench menus use shared components
  sites/org/next-i18next.config.js
  sites/shared/components/account/account.en.yaml
  sites/shared/components/account/control.mjs
  sites/shared/components/workbench/index.mjs
  sites/shared/components/workbench/menus/core-settings/config.mjs
  sites/shared/components/workbench/menus/core-settings/index.mjs
  sites/shared/components/workbench/menus/core-settings/inputs.mjs
  sites/shared/components/workbench/menus/core-settings/values.mjs
  sites/shared/components/workbench/menus/design-options/design-options.en.yaml
  sites/shared/components/workbench/menus/design-options/index.mjs
  sites/shared/components/workbench/menus/design-options/inputs.mjs
  sites/shared/components/workbench/menus/design-options/values.mjs
  sites/shared/components/workbench/menus/shared/index.mjs
  sites/shared/components/workbench/menus/shared/inputs.mjs
  sites/shared/components/workbench/menus/shared/menu-item.mjs
  sites/shared/components/workbench/menus/shared/values.mjs
  sites/shared/components/workbench/menus/test-design-options/index.mjs
  sites/shared/components/workbench/menus/ui-settings/config.mjs
  sites/shared/components/workbench/menus/ui-settings/index.mjs
  sites/shared/components/workbench/menus/ui-settings/inputs.mjs
  sites/shared/components/workbench/menus/ui-settings/values.mjs
  sites/shared/components/workbench/menus/ui-settings/xray.en.yaml
  sites/shared/components/workbench/views/draft/menu.mjs
  sites/shared/config/i18n.config.mjs
  sites/shared/hooks/use-account.mjs
  sites/shared/page-templates/new-pattern-from-cset.mjs.mustache
  sites/shared/utils.mjs
Labels: :computer: shared, :computer: org

#4204 fix(docs): (timing) Add details and examples
  markdown/dev/reference/plugins/timing/en.md
Labels: :book: documentation

#4227 WIP Feature (Shared) Port Print and Cut Layout to v3 ui
  packages/i18n/src/locales/en/plugin/plugins/cutlist.yaml
  packages/react-components/src/pattern/group.mjs
  packages/react-components/src/pattern/index.mjs
  packages/react-components/src/pattern/part.mjs
  sites/shared/components/workbench/exporting/export-handler.mjs
  sites/shared/components/workbench/exporting/export-worker.js
  sites/shared/components/workbench/exporting/index.mjs
  sites/shared/components/workbench/exporting/pdf-maker.mjs
  sites/shared/components/workbench/index.mjs
  sites/shared/components/workbench/layout/cut/index.mjs
  sites/shared/components/workbench/layout/cut/settings.mjs
  sites/shared/components/workbench/layout/draft/index.mjs
  sites/shared/components/workbench/layout/draft/stack.mjs
  sites/shared/components/workbench/layout/print/index.mjs
  sites/shared/components/workbench/layout/print/orientation-picker.mjs
  sites/shared/components/workbench/layout/print/pagesize-picker.mjs
  sites/shared/components/workbench/layout/print/settings.mjs
  sites/shared/components/workbench/menus/core-settings/config.mjs
  sites/shared/components/workbench/menus/design-options/index.mjs
  sites/shared/components/workbench/menus/shared/index.mjs
  sites/shared/components/workbench/menus/shared/inputs.mjs
  sites/shared/components/workbench/menus/shared/menu-item.mjs
  sites/shared/components/workbench/pan-zoom-pattern.mjs
  sites/shared/components/workbench/pattern/movable/index.mjs
  sites/shared/components/workbench/pattern/movable/stack.mjs
  sites/shared/components/workbench/pattern/movable/transform-buttons.mjs
  sites/shared/components/workbench/views/cut/cut.en.yaml
  sites/shared/components/workbench/views/cut/hooks.mjs
  sites/shared/components/workbench/views/cut/index.mjs
  sites/shared/components/workbench/views/cut/menu.mjs
  sites/shared/components/workbench/views/cut/settings.mjs
  sites/shared/components/workbench/views/print/actions.mjs
  sites/shared/components/workbench/views/print/config.mjs
  sites/shared/components/workbench/views/print/index.mjs
  sites/shared/components/workbench/views/print/menu.mjs
  sites/shared/components/workbench/views/print/print.en.yaml
  sites/shared/components/workbench/views/print/settings.mjs
  sites/shared/components/workbench/workbench.en.yaml
  sites/shared/plugins/plugin-cut-layout.mjs
  sites/shared/plugins/plugin-layout-part.mjs
  sites/shared/utils.mjs
Labels: :package: i18n, :computer: shared

#4180 fix(workbench): Accept measurement-less edited YAML for designs with no required measurements
  sites/shared/components/workbench/edit/gist-validator.mjs
Labels: :computer: shared

#4233 Implement Test View in new UI
  packages/i18n/src/locales/en/measurements.yaml
  sites/org/pages/new/pattern/[design]/[type]/[id].mjs
  sites/shared/components/workbench/index.mjs
  sites/shared/components/workbench/menus/design-options/index.mjs
  sites/shared/components/workbench/menus/shared/menu-item.mjs
  sites/shared/components/workbench/menus/test-design-options/index.mjs
  sites/shared/components/workbench/menus/test-design-options/option.mjs
  sites/shared/components/workbench/sample.mjs
  sites/shared/components/workbench/views/test/index.mjs
  sites/shared/components/workbench/views/test/measurements.mjs
  sites/shared/components/workbench/views/test/menu.mjs
  sites/shared/components/workbench/views/test/options.mjs
  sites/shared/components/workbench/views/test/test-view.en.yaml
Labels: :package: i18n, :computer: shared, :computer: org

#4235 Implement Edit View in New UI
  packages/i18n/src/locales/en/components/workbench.yaml
  sites/shared/components/workbench/edit/index.mjs
  sites/shared/components/workbench/index.mjs
  sites/shared/components/workbench/views/edit/index.mjs
  sites/shared/components/workbench/views/edit/settings-validator.mjs
  sites/shared/components/workbench/views/edit/wbedit.en.yaml
Labels: :package: i18n, :computer: shared

#4246 (React-components) Lint fixes for react-components package
  .eslintrc.cjs
  config/dependencies.yaml
  config/scripts.yaml
  packages/react-components/package.json
  packages/react-components/src/index.mjs
  packages/react-components/src/pattern/circle.mjs
  packages/react-components/src/pattern/defs.mjs
  packages/react-components/src/pattern/grid.mjs
  packages/react-components/src/pattern/group.mjs
  packages/react-components/src/pattern/index.mjs
  packages/react-components/src/pattern/part.mjs
  packages/react-components/src/pattern/path.mjs
  packages/react-components/src/pattern/point.mjs
  packages/react-components/src/pattern/snippet.mjs
  packages/react-components/src/pattern/stack.mjs
  packages/react-components/src/pattern/svg.mjs
  packages/react-components/src/pattern/text.mjs
  packages/react-components/src/pattern/utils.mjs
Labels: :gear: configuration

#4247 More Lint Fixes
  sites/org/pages/new/pattern/[design]/[type]/[id].mjs
  sites/shared/components/mdx/tabbed-example.mjs
  sites/shared/components/tag.mjs
  sites/shared/components/workbench/index.mjs
  sites/shared/components/workbench/menus/ui-settings/index.mjs
  sites/shared/components/workbench/pan-zoom-pattern.mjs
Labels: :computer: shared, :computer: org

#4252 fix(dev): Update use-navigation hook for recent changes
  sites/dev/hooks/use-navigation.mjs
Labels: :computer: dev

#4250 fix(react-components): Avoid use of dangerouslySetInnerHTML in Defs
  config/dependencies.yaml
  packages/react-components/package.json
  packages/react-components/src/pattern/defs.mjs
  yarn.lock
Labels: :gear: configuration

#4254 Keep icon text in headers an smaller (not mobile) screen sizes
  .github/workflows/dependabot-sync.yml
  .github/workflows/lint.all.yml
  .github/workflows/lint.diff.yml
  .github/workflows/playwright.yml
  .github/workflows/tests.all.yml
  .github/workflows/tests.new-design.yml
  package.json
  sites/dev/hooks/use-navigation.mjs
  sites/org/components/header/index.mjs
  sites/org/components/layouts/docs.mjs
  sites/shared/components/account/sets.mjs
  sites/shared/components/header.mjs
  sites/shared/components/workbench/header.mjs
  sites/shared/components/workbench/views/draft/inspector/menu.mjs
  sites/shared/components/workbench/views/draft/inspector/path.mjs
Labels: :gear: configuration, :computer: shared, :computer: dev, :computer: org

#4258 feat(shared): implemented log view
  packages/core/src/pattern/index.mjs
  packages/core/src/pattern/pattern-drafter.mjs
  packages/core/src/store.mjs
  packages/core/tests/pattern-other.test.mjs
  packages/core/tests/store.test.mjs
  sites/lab/components/header/index.mjs
  sites/lab/hooks/use-navigation.mjs
  sites/shared/components/popout.mjs
  sites/shared/components/workbench/index.mjs
  sites/shared/components/workbench/menus/ui-settings/attributes.mjs
  sites/shared/components/workbench/menus/ui-settings/config.mjs
  sites/shared/components/workbench/menus/ui-settings/index.mjs
  sites/shared/components/workbench/menus/ui-settings/inputs.mjs
  sites/shared/components/workbench/menus/ui-settings/log.mjs
  sites/shared/components/workbench/menus/ui-settings/path-ops.mjs
  sites/shared/components/workbench/menus/ui-settings/path.mjs
  sites/shared/components/workbench/menus/ui-settings/point.mjs
  sites/shared/components/workbench/menus/ui-settings/reset.mjs
  sites/shared/components/workbench/menus/ui-settings/ui-settings.en.yaml
  sites/shared/components/workbench/menus/ui-settings/values.mjs
  sites/shared/components/workbench/views/draft/index.mjs
  sites/shared/components/workbench/views/draft/menu.mjs
  sites/shared/components/workbench/views/logs/errors.mjs
  sites/shared/components/workbench/views/logs/index.mjs
  sites/shared/components/workbench/views/logs/logs.en.yaml
  sites/shared/styles/globals.css
  sites/shared/utils.mjs
Labels: :package: core, :computer: lab, :computer: shared

#4259 feat(core): Merge options and pass them to toAbs
  markdown/dev/reference/api/en.md
  markdown/dev/reference/api/part/config/options/pct/toabs/en.md
  markdown/dev/reference/api/utils/mergeoptions/en.md
  packages/core/src/index.mjs
  packages/core/src/pattern/pattern-drafter.mjs
  packages/core/src/utils.mjs
  sites/shared/components/workbench/menus/design-options/index.mjs
  sites/shared/components/workbench/menus/design-options/values.mjs
Labels: :package: core, :book: documentation, :computer: shared

#4295 feat(shared): Icons for core/ui settings
  sites/org/pages/curate/index.mjs
  sites/org/pages/new/index.mjs
  sites/shared/components/icons.mjs
  sites/shared/components/workbench/menus/core-settings/config.mjs
  sites/shared/components/workbench/menus/shared/menu-item.mjs
  sites/shared/components/workbench/menus/ui-settings/config.mjs
Labels: :computer: shared, :computer: org

#4293 fix(new-design): Import using absolute identifier
  packages/new-design/lib/utils.mjs
Labels: :package: new-design

#4301 fix(shared): Fixed ReadMore component to new useNavigation
  markdown/dev/guides/content/en.md
  markdown/dev/guides/content/mdx/en.md
  markdown/dev/guides/content/sanity/en.md
  markdown/dev/reference/sites/en.md
  markdown/dev/reference/sites/sanity/en.md
  sites/shared/components/mdx/index.mjs
  sites/shared/components/mdx/read-more.mjs
  sites/shared/components/popout.mjs
Labels: :book: documentation, :computer: shared

#4304 feat(shared): Re-implement MDX TOX. Closes #4129
  config/dependencies.yaml
  sites/dev/pages/[...slug].mjs
  sites/org/pages/docs/[...slug].mjs
  sites/org/pages/docs/index.mjs
  sites/shared/components/mdx/toc.mjs
  sites/shared/components/wrappers/toc.mjs
  sites/shared/config/next.mjs
  sites/shared/config/tailwind-force.html
  sites/shared/i18n/docs.en.yaml
  sites/shared/mdx/mdx-plugin-toc.mjs
  sites/shared/package.json
  sites/shared/styles/globals.css
  sites/shared/utils.mjs
  yarn.lock
Labels: :gear: configuration, :computer: shared, :computer: dev, :computer: org

#4306 fix(lab): Fix after renaming icon and workbench navigation changes
  sites/lab/components/header/index.mjs
  sites/lab/pages/new/pattern/[design]/[type]/[id].mjs
Labels: :computer: lab

#4307 feat(shared): Keep pattern settings in URL
  sites/shared/components/workbench/index.mjs
  sites/shared/hooks/use-pattern-settings.mjs
Labels: :computer: shared

#4305 WIP (org) Implement blog and showcase pages
  .eslintrc.cjs
  config/dependencies.yaml
  sites/org/components/sanity/author.mjs
  sites/org/components/sanity/mdx-wrapper.mjs
  sites/org/components/sanity/page-wrapper.mjs
  sites/org/components/sanity/utils.mjs
  sites/org/package.json
  sites/org/pages/blog/[slug].mjs
  sites/org/pages/blog/index.mjs
  sites/org/pages/showcase/[slug].mjs
  sites/org/pages/showcase/index.mjs
  sites/shared/components/wrappers/mdx.mjs
  sites/shared/components/wrappers/page.mjs
  sites/shared/hooks/use-evaled-mdx.mjs
  yarn.lock
Labels: :gear: configuration, :computer: shared, :computer: org

#4321 refactor (sites) DRY headers, sticky side navs
  sites/dev/components/header/index.mjs
  sites/dev/components/layouts/docs.mjs
  sites/dev/components/search.mjs
  sites/dev/components/wrappers/layout.mjs
  sites/lab/components/header/index.mjs
  sites/lab/components/layouts/docs.mjs
  sites/lab/components/layouts/lab.mjs
  sites/lab/components/layouts/workbench.mjs
  sites/lab/components/search.mjs
  sites/lab/components/wrappers/layout.mjs
  sites/org/components/header/index.mjs
  sites/org/components/layouts/docs.mjs
  sites/org/components/layouts/workbench.mjs
  sites/shared/components/navigation/aside.mjs
  sites/shared/components/workbench/header.mjs
  sites/shared/components/workbench/index.mjs
  sites/shared/components/wrappers/header.mjs
  sites/shared/components/wrappers/layout.mjs
  sites/shared/components/wrappers/page.mjs
Labels: :computer: lab, :computer: shared, :computer: dev, :computer: org

#4322 fix (designs) add missing measurements to design configs
  designs/aaron/src/front.mjs
  designs/bee/src/cup.mjs
  designs/carlton/src/front.mjs
  designs/simone/src/fba-front.mjs
  packages/core/src/part.mjs
  packages/models/tests/models.test.mjs
  tests/designs/config.mjs
Labels: :bug: bug, :package: core, :test_tube: tests, :shirt: aaron, :shirt: bee, :shirt: carlton, :shirt: simone, :package: models

#4332 UI Tweaks
  sites/lab/pages/index.mjs
  sites/shared/components/icons.mjs
  sites/shared/components/workbench/header.mjs
  sites/shared/components/workbench/index.mjs
  sites/shared/components/workbench/menus/core-settings/config.mjs
  sites/shared/components/workbench/menus/core-settings/inputs.mjs
  sites/shared/components/workbench/menus/shared/inputs.mjs
  sites/shared/components/workbench/menus/shared/menu-item.mjs
  sites/shared/components/workbench/menus/shared/values.mjs
  sites/shared/components/workbench/new.mjs
  sites/shared/components/workbench/pan-zoom-pattern.mjs
  sites/shared/components/workbench/pattern/pan-zoom-context.mjs
  sites/shared/components/workbench/views/cut/index.mjs
  sites/shared/components/workbench/views/cut/menu.mjs
  sites/shared/components/workbench/views/cut/settings.mjs
  sites/shared/components/workbench/views/draft/index.mjs
  sites/shared/components/workbench/views/inspect/index.mjs
  sites/shared/components/workbench/views/print/menu.mjs
  sites/shared/components/workbench/views/print/settings.mjs
  sites/shared/components/workbench/views/test/index.mjs
  sites/shared/components/workbench/views/view-header.mjs
  sites/shared/components/workbench/workbench.en.yaml
  sites/shared/utils.mjs
Labels: :computer: lab, :computer: shared

#4338 More UI Tweaks. Fixes Infinite Loop
  sites/shared/components/workbench/pan-zoom-pattern.mjs
  sites/shared/components/workbench/pattern/pan-zoom-context.mjs
  sites/shared/components/workbench/views/test/options.mjs
  sites/shared/components/workbench/views/view-header.mjs
  sites/shared/components/wrappers/layout.mjs
Labels: :computer: shared

#4179 fix(docs): (waistToHips) Removed ambiguous trousers reference
  markdown/org/docs/measurements/waisttohips/en.md
Labels: :book: documentation

#4331 feature (org) add pagination to blog and showcase pages
  config/dependencies.yaml
  sites/org/components/sanity/utils.mjs
  sites/org/next.config.mjs
  sites/org/package.json
  sites/org/pages/blog/page/[page].mjs
  sites/org/pages/showcase/index.mjs
  sites/org/pages/showcase/page/[page].mjs
  sites/shared/components/icons.mjs
  sites/shared/components/navigation/pagination.mjs
  yarn.lock
Labels: :gear: configuration, :computer: shared, :computer: org

#4341 (lab) UI tweaks from contributor call feedback
  sites/shared/components/collapse.mjs
  sites/shared/components/workbench/menus/core-settings/index.mjs
  sites/shared/components/workbench/menus/shared/inputs.mjs
  sites/shared/components/workbench/menus/shared/menu-item.mjs
  sites/shared/components/workbench/new.mjs
  sites/shared/components/workbench/pan-zoom-pattern.mjs
  sites/shared/components/workbench/views/cut/index.mjs
  sites/shared/components/workbench/views/cut/menu.mjs
  sites/shared/components/workbench/views/draft/index.mjs
  sites/shared/components/workbench/views/draft/menu.mjs
  sites/shared/components/workbench/views/inspect/index.mjs
  sites/shared/components/workbench/views/inspect/menu.mjs
  sites/shared/components/workbench/views/print/index.mjs
  sites/shared/components/workbench/views/print/menu.mjs
  sites/shared/components/workbench/views/test/index.mjs
  sites/shared/components/workbench/views/test/options.mjs
  sites/shared/components/workbench/views/view-header.mjs
Labels: :computer: shared
