Repository freesewing/freesewing, pull requests merged in 2023-04, with the labels that each got.

#3735 New Crowdin updates
  markdown/org/docs/patterns/aaron/fr.md
  markdown/org/docs/patterns/aaron/options/draftforhighbust/fr.md
  markdown/org/docs/patterns/aaron/options/fr.md
  markdown/org/docs/patterns/aaron/options/hipsease/fr.md
  markdown/org/docs/patterns/aaron/options/lengthbonus/fr.md
  markdown/org/docs/patterns/aaron/options/necklinebend/fr.md
  markdown/org/docs/patterns/aaron/options/necklinedrop/fr.md
  markdown/org/docs/patterns/aaron/options/shoulderstrapplacement/fr.md
  markdown/org/docs/patterns/aaron/options/shoulderstrapwidth/fr.md
  markdown/org/docs/patterns/aaron/options/stretchfactor/fr.md
  markdown/org/docs/patterns/albert/cutting/fr.md
  markdown/org/docs/patterns/albert/fabric/fr.md
  markdown/org/docs/patterns/albert/instructions/fr.md
Labels: :book: documentation

#3737 New Crowdin updates
  markdown/org/docs/patterns/albert/fr.md
  markdown/org/docs/patterns/albert/instructions/fr.md
  markdown/org/docs/patterns/albert/measurements/fr.md
  markdown/org/docs/patterns/albert/needs/fr.md
  markdown/org/docs/patterns/albert/options/backopening/fr.md
  markdown/org/docs/patterns/albert/options/biblength/fr.md
  markdown/org/docs/patterns/albert/options/bibwidth/fr.md
  markdown/org/docs/patterns/albert/options/chestdepth/fr.md
  markdown/org/docs/patterns/albert/options/fr.md
  markdown/org/docs/patterns/albert/options/lengthbonus/fr.md
  markdown/org/docs/patterns/albert/options/strapwidth/fr.md
  markdown/org/docs/patterns/bee/cutting/fr.md
  markdown/org/docs/patterns/bee/fabric/fr.md
  markdown/org/docs/patterns/bee/instructions/fr.md
  markdown/org/docs/patterns/bee/measurements/fr.md
  markdown/org/docs/patterns/bee/needs/fr.md
  markdown/org/docs/patterns/bee/options/armholedepth/fr.md
  markdown/org/docs/patterns/bee/options/backdartheight/fr.md
  markdown/org/docs/patterns/bee/options/bandlength/fr.md
Labels: :book: documentation

#3764 Hi fixes
  designs/hi/src/aboveMouth.mjs
  designs/hi/src/belly.mjs
  designs/hi/src/body.mjs
  designs/hi/src/bottomFin.mjs
  designs/hi/src/lowerTeeth.mjs
  designs/hi/src/mouth.mjs
  designs/hi/src/tail.mjs
  designs/hi/src/topFin.mjs
  designs/hi/src/upperTeeth.mjs
Labels: :shirt: hi

#3763 Adding Magde pattern, a messenger bag
  config/exceptions.yaml
  config/software/designs.json
  designs/magde/CHANGELOG.md
  designs/magde/README.md
  designs/magde/build.mjs
  designs/magde/data.mjs
  designs/magde/package.json
  designs/magde/src/backPanel.mjs
  designs/magde/src/bodyLiner.mjs
  designs/magde/src/frontOrganiserBase.mjs
  designs/magde/src/frontOrganiserFront.mjs
  designs/magde/src/frontPanel.mjs
  designs/magde/src/index.mjs
  designs/magde/src/lidLiner.mjs
  designs/magde/src/lidOnePiece.mjs
  designs/magde/src/strapAttachments.mjs
  designs/magde/src/twoPieceLidBottom.mjs
  designs/magde/src/twoPieceLidTop.mjs
  designs/magde/tests/shared.test.mjs
Labels: :gear: configuration

#3778 fix(workbench): Move design option menu sub-groups into their parent group. Closes #3594
  sites/shared/utils.mjs
Labels: :computer: shared

#3761 fix(docs): Add warning to curve intersection methods and functions
  markdown/dev/reference/api/path/intersects/en.md
  markdown/dev/reference/api/path/intersectsx/en.md
  markdown/dev/reference/api/path/intersectsy/en.md
  markdown/dev/reference/api/utils/curveintersectsx/en.md
  markdown/dev/reference/api/utils/curveintersectsy/en.md
  markdown/dev/reference/api/utils/curvesintersect/en.md
  markdown/dev/reference/api/utils/lineintersectscurve/en.md
Labels: :book: documentation

#3780 fix(workbench): renderProps in xray caused error as 'draft' was not part of props
  sites/shared/components/wrappers/workbench.mjs
Labels: :computer: shared

#3275 Teagan inward curve at waist
  designs/teagan/src/back.mjs
  designs/teagan/src/front.mjs
  markdown/org/docs/patterns/teagan/options/curvetowaist/en.md
Labels: :book: documentation, :shirt: teagan

#3754 fix(sites) Missing Path Name Info
  sites/shared/components/workbench/draft/path.mjs
Labels: :computer: shared

#3788 New Crowdin updates
  markdown/org/docs/patterns/teagan/options/curvetowaist/de.md
  markdown/org/docs/patterns/teagan/options/curvetowaist/es.md
  markdown/org/docs/patterns/teagan/options/curvetowaist/fr.md
  markdown/org/docs/patterns/teagan/options/curvetowaist/nl.md
  markdown/org/docs/patterns/teagan/options/curvetowaist/uk.md
Labels: :book: documentation

#3790 Bartack doc
  markdown/org/docs/various/notation/bartack/en.md
Labels: :book: documentation, freesewing.org

#3799 Sandy Documentation Overhaul
  markdown/org/docs/patterns/sandy/cutting/en.md
  markdown/org/docs/patterns/sandy/fabric/en.md
  markdown/org/docs/patterns/sandy/instructions/en.md
  markdown/org/docs/patterns/sandy/options/seamlessfullcircle/en.md
Labels: :book: documentation, :shirt: sandy

#3800 Updated Hide info for V3 Migration
  markdown/dev/guides/v3/migration/en.md
Labels: :book: documentation, :spider_web: freesewing.dev

#3803 fix(docs): (sandy) Remove stray <Note> opening tag
  markdown/org/docs/patterns/sandy/instructions/en.md
Labels: :book: documentation

#3811 Added missing Hugo Notches & Options
  designs/hugo/src/front.mjs
  designs/hugo/src/hoodside.mjs
  designs/hugo/src/options.mjs
  designs/hugo/src/sleeve.mjs
Labels: :shirt: hugo

#3794 Add Missing Cross/Crotch Seam Curve Angle Option Info
  markdown/org/docs/patterns/charlie/options/crossseamcurveangle/en.md
  markdown/org/docs/patterns/charlie/options/crotchseamcurveangle/en.md
  markdown/org/docs/patterns/paco/options/crossseamcurveangle/en.md
  markdown/org/docs/patterns/paco/options/crotchseamcurveangle/en.md
  markdown/org/docs/patterns/titan/options/crossseamcurveangle/en.md
  markdown/org/docs/patterns/titan/options/crotchseamcurveangle/en.md
Labels: :book: documentation, :shirt: titan, :shirt: charlie, :shirt: paco

#3789 Added draftForHighBust brian.yml
  packages/i18n/src/locales/en/options/brian.yml
Labels: :package: i18n

#3487 Vercel documentation
  markdown/dev/tutorials/getting-started-vercel/en.md
Labels: :book: documentation

#3822 New Crowdin updates
  markdown/org/docs/patterns/charlie/options/crossseamcurveangle/de.md
  markdown/org/docs/patterns/charlie/options/crossseamcurveangle/es.md
  markdown/org/docs/patterns/charlie/options/crossseamcurveangle/fr.md
  markdown/org/docs/patterns/charlie/options/crossseamcurveangle/nl.md
  markdown/org/docs/patterns/charlie/options/crossseamcurveangle/uk.md
  markdown/org/docs/patterns/charlie/options/crotchseamcurveangle/de.md
  markdown/org/docs/patterns/charlie/options/crotchseamcurveangle/es.md
  markdown/org/docs/patterns/charlie/options/crotchseamcurveangle/fr.md
  markdown/org/docs/patterns/charlie/options/crotchseamcurveangle/nl.md
  markdown/org/docs/patterns/charlie/options/crotchseamcurveangle/uk.md
  markdown/org/docs/patterns/paco/options/crossseamcurveangle/de.md
  markdown/org/docs/patterns/paco/options/crossseamcurveangle/es.md
  markdown/org/docs/patterns/paco/options/crossseamcurveangle/fr.md
  markdown/org/docs/patterns/paco/options/crossseamcurveangle/nl.md
  markdown/org/docs/patterns/paco/options/crossseamcurveangle/uk.md
  markdown/org/docs/patterns/paco/options/crotchseamcurveangle/de.md
  markdown/org/docs/patterns/paco/options/crotchseamcurveangle/es.md
  markdown/org/docs/patterns/paco/options/crotchseamcurveangle/fr.md
  markdown/org/docs/patterns/paco/options/crotchseamcurveangle/nl.md
  markdown/org/docs/patterns/paco/options/crotchseamcurveangle/uk.md
  markdown/org/docs/patterns/sandy/instructions/de.md
  markdown/org/docs/patterns/sandy/instructions/es.md
  markdown/org/docs/patterns/sandy/instructions/fr.md
  markdown/org/docs/patterns/sandy/instructions/nl.md
  markdown/org/docs/patterns/sandy/instructions/uk.md
  markdown/org/docs/patterns/titan/options/crossseamcurveangle/de.md
  markdown/org/docs/patterns/titan/options/crossseamcurveangle/es.md
  markdown/org/docs/patterns/titan/options/crossseamcurveangle/fr.md
  markdown/org/docs/patterns/titan/options/crossseamcurveangle/nl.md
  markdown/org/docs/patterns/titan/options/crossseamcurveangle/uk.md
  markdown/org/docs/patterns/titan/options/crotchseamcurveangle/de.md
  markdown/org/docs/patterns/titan/options/crotchseamcurveangle/es.md
  markdown/org/docs/patterns/titan/options/crotchseamcurveangle/fr.md
  markdown/org/docs/patterns/titan/options/crotchseamcurveangle/nl.md
  markdown/org/docs/patterns/titan/options/crotchseamcurveangle/uk.md
  packages/i18n/src/locales/de/options/brian.yml
  packages/i18n/src/locales/es/options/brian.yml
  packages/i18n/src/locales/fr/options/brian.yml
  packages/i18n/src/locales/nl/options/brian.yml
  packages/i18n/src/locales/uk/options/brian.yml
Labels: :book: documentation

#3767 feat(core): Work on supported part-level transforms in layouting
  packages/core/src/stack.mjs
  packages/core/src/utils.mjs
  packages/core/tests/stacks.test.mjs
Labels: :package: core

#3821 fix(core): Proposal to fix #3781
  packages/core/src/part.mjs
Labels: :package: core

#3825 New Crowdin updates
  markdown/org/docs/patterns/sandy/instructions/de.md
  markdown/org/docs/patterns/teagan/options/curvetowaist/de.md
  markdown/org/docs/various/notation/bartack/de.md
Labels: :book: documentation

#3833 feat(shared): Add Mermaid support to MDX pipeline
  config/dependencies.yaml
  markdown/dev/guides/markdown/code-blocks/en.md
  markdown/dev/guides/markdown/custom-components/en.md
  sites/shared/components/mdx/highlight.mjs
  sites/shared/components/mdx/mermaid.mjs
  sites/shared/mdx/loader.mjs
  sites/shared/package.json
  yarn.lock
Labels: :book: documentation, :gear: configuration, :computer: shared

#3840 Add functionality for yarn new plugin
  config/templates/plugin/package.json.mustache
  config/templates/plugin/src/index.mjs.mustache
  scripts/add-software.mjs
Labels: :gear: configuration, :scroll: scripts

#3845 (bugfix #3844) mermaid missing from new-design package
  packages/new-design/lib/config.mjs
  packages/new-design/templates/shared/package.json.mustache
Labels: :package: new-design

#3855 Remove offending packages contributing to build errors (bug: #3854)
  config/dependencies.yaml
  designs/legend/package.json
Labels: :gear: configuration, :electric_plug: plugin-bundle, :shirt: legend, :shirt: plugintest

#3870 New Crowdin updates
  markdown/org/docs/guide/fr.md
Labels: :book: documentation

#3672 (cutting layout) fixes and enhancements to cutting features
  .github/ISSUE_TEMPLATE/01_bug-report.yaml
  .github/boring-cyborg.yml
  config/software/plugins.json
  designs/bella/src/front-side-dart.mjs
  designs/brian/src/sleevecap.mjs
  designs/carlita/src/front.mjs
  designs/carlita/src/side.mjs
  designs/carlton/src/back.mjs
  designs/carlton/src/collar.mjs
  designs/carlton/src/collarstand.mjs
  designs/carlton/src/front.mjs
  designs/carlton/src/topsleeve.mjs
  designs/carlton/src/undersleeve.mjs
  designs/simon/src/front.mjs
  markdown/dev/howtos/design/cutlist/en.md
  markdown/dev/reference/plugins/annotations/en.md
  markdown/dev/reference/plugins/bundle/en.md
  markdown/dev/reference/plugins/cutlist/en.md
  packages/core/src/store.mjs
  packages/i18n/src/locales/en/plugin/plugins/cutlist.yaml
  packages/new-design/templates/shared/package.json.mustache
  plugins/plugin-annotations/src/cutlist.mjs
  plugins/plugin-annotations/src/cutonfold.mjs
  plugins/plugin-annotations/src/grainline.mjs
  plugins/plugin-annotations/src/index.mjs
  plugins/plugin-annotations/src/title.mjs
  plugins/plugin-annotations/tests/cutlist.test.mjs
  plugins/plugin-bundle/src/index.mjs
  plugins/plugin-cutlist/CHANGELOG.md
  plugins/plugin-cutlist/README.md
  plugins/plugin-cutlist/build.mjs
  plugins/plugin-cutlist/data.mjs
  plugins/plugin-cutlist/package.json
  plugins/plugin-cutlist/tests/shared.test.mjs
  plugins/plugin-mirror/src/index.mjs
  sites/shared/components/workbench/exporting/export-handler.mjs
  sites/shared/components/workbench/exporting/pdf-maker.mjs
  sites/shared/components/workbench/layout/cut/index.mjs
  sites/shared/components/workbench/layout/cut/plugin-cut-layout.mjs
  sites/shared/components/workbench/layout/cut/settings.mjs
  sites/shared/components/workbench/layout/plugin-layout-part.mjs
  sites/shared/components/workbench/layout/print/settings.mjs
Labels: :package: core, :package: i18n, :book: documentation, :gear: configuration, :computer: shared, :shirt: bella, :package: new-design, :electric_plug: plugin-bundle, :electric_plug: plugin-title, :shirt: carlton, :shirt: carlita, :shirt: brian, :shirt: simon, :electric_plug: plugin-cutlist, :electric_plug: plugin-annotations

#3862 Feature (tests) Get E2E testing set up
  .github/workflows/playwright.yml
  .gitignore
  config/dependencies.yaml
  config/scripts.yaml
  nx.json
  package.json
  sites/dev/package.json
  sites/lab/e2e/lab.spec.js
  sites/lab/package.json
  sites/lab/playwright.config.mjs
  sites/org/package.json
  sites/shared/config/playwright.mjs
  yarn.lock
Labels: :gear: configuration, :computer: lab, :computer: shared, :computer: dev, :computer: org

#3871 New Crowdin updates
  markdown/org/docs/guide/fr.md
  markdown/org/docs/measurements/biceps/fr.md
  markdown/org/docs/patterns/bella/cutting/fr.md
  markdown/org/docs/patterns/bella/options/frontarmholecurvature/fr.md
  markdown/org/docs/patterns/bella/options/fullchesteasereduction/fr.md
  markdown/org/docs/patterns/bella/options/shouldertoshoulderease/fr.md
  markdown/org/docs/patterns/benjamin/cutting/fr.md
  markdown/org/docs/patterns/benjamin/instructions/fr.md
  markdown/org/docs/patterns/benjamin/measurements/fr.md
  markdown/org/docs/patterns/benjamin/needs/fr.md
  markdown/org/docs/patterns/benjamin/options/adjustmentribbon/fr.md
  markdown/org/docs/patterns/benjamin/options/bowlength/fr.md
  markdown/org/docs/patterns/benjamin/options/bowstyle/fr.md
  markdown/org/docs/patterns/benjamin/options/collarease/fr.md
  markdown/org/docs/patterns/benjamin/options/endstyle/fr.md
  markdown/org/docs/patterns/benjamin/options/fr.md
  markdown/org/docs/patterns/benjamin/options/knotwidth/fr.md
  markdown/org/docs/patterns/benjamin/options/ribbonwidth/fr.md
  markdown/org/docs/patterns/benjamin/options/tipwidth/fr.md
  packages/i18n/src/locales/de/plugin/plugins/cutlist.yaml
  packages/i18n/src/locales/es/plugin/plugins/cutlist.yaml
  packages/i18n/src/locales/fr/app.yaml
  packages/i18n/src/locales/fr/loader.yaml
  packages/i18n/src/locales/fr/parts.yaml
  packages/i18n/src/locales/fr/plugin/plugins/cutlist.yaml
  packages/i18n/src/locales/nl/plugin/plugins/cutlist.yaml
  packages/i18n/src/locales/uk/plugin/plugins/cutlist.yaml
Labels: :package: i18n, :book: documentation

#3872 New Crowdin updates
  markdown/org/docs/measurements/crossseam/fr.md
  markdown/org/docs/measurements/neck/uk.md
  markdown/org/docs/measurements/seat/fr.md
  markdown/org/docs/measurements/shouldertoshoulder/fr.md
  markdown/org/docs/measurements/shouldertowrist/fr.md
  markdown/org/docs/patterns/bruce/cutting/fr.md
  markdown/org/docs/patterns/bruce/fabric/fr.md
  markdown/org/docs/patterns/bruce/fr.md
  markdown/org/docs/patterns/bruce/instructions/fr.md
  markdown/org/docs/patterns/bruce/measurements/fr.md
  markdown/org/docs/patterns/bruce/needs/fr.md
  markdown/org/docs/patterns/bruce/options/backrise/fr.md
  markdown/org/docs/patterns/bruce/options/bulge/fr.md
  markdown/org/docs/patterns/bruce/options/fr.md
  markdown/org/docs/patterns/bruce/options/legbonus/fr.md
  markdown/org/docs/patterns/bruce/options/legstretch/fr.md
  markdown/org/docs/patterns/bruce/options/rise/fr.md
  markdown/org/docs/patterns/bruce/options/stretch/fr.md
  markdown/org/docs/patterns/wahid/fr.md
  packages/i18n/src/locales/fr/components/workbench.yaml
  packages/i18n/src/locales/fr/options/bee.yml
  packages/i18n/src/locales/fr/options/bob.yml
  packages/i18n/src/locales/fr/options/hi.yml
  packages/i18n/src/locales/uk/app.yaml
  packages/i18n/src/locales/uk/components/workbench.yaml
  packages/i18n/src/locales/uk/email.yaml
  packages/i18n/src/locales/uk/loader.yaml
  packages/i18n/src/locales/uk/susi.yaml
Labels: :package: i18n, :book: documentation

#3878 fix(vercel) limit the number of times skip_build deepens merge-base check
  scripts/skip-build-base.mjs
Labels: :scroll: scripts

#3874 New Crowdin updates
  packages/i18n/src/locales/fr/options/hi.yml
  packages/i18n/src/locales/fr/options/lucy.yml
Labels: :package: i18n

#3861 fix(dev,org): Add/change clean script
  config/scripts.yaml
Labels: :gear: configuration, :computer: org

#3888 Test (new-design) add a way to test new-design
  .github/workflows/tests.new-design.yml
  config/dependencies.yaml
  packages/i18n/package.json
  packages/new-design/lib/config.mjs
  packages/new-design/lib/download-list.js
  packages/new-design/lib/utils.mjs
  packages/new-design/scripts/generate-from-cli.mjs
  packages/new-design/shared/e2e/lab.spec.js
  packages/new-design/shared/playwright.config.js
  packages/new-design/templates/shared/package.json.mustache
  sites/shared/package.json
  yarn.lock
Labels: :package: i18n, :gear: configuration, :computer: shared, :package: new-design

#3906 fix(sandy): Correct 100% full circle angle and seam allowance
  designs/sandy/src/skirt.mjs
Labels: :shirt: sandy

#3903 fix(simone): Only show notches and logo if complete
  designs/simone/src/fba-front.mjs
Labels: :shirt: simone

#3922 Revert "fix(sandy): Correct 100% full circle angle and seam allowance"
  designs/sandy/src/skirt.mjs
Labels: :shirt: sandy

#3792 Documentation updates
  markdown/dev/howtos/design/cutlist/en.md
  markdown/dev/howtos/editors/frontmatter/about/en.md
  markdown/dev/reference/api/part/attr/en.md
  markdown/dev/reference/api/part/props/en.md
  markdown/dev/reference/api/point/slope/en.md
  markdown/dev/reference/plugins/annotations/en.md
  markdown/org/docs/faq/tapering-seams/en.md
Labels: :book: documentation

#3932 fix (lab) don't rely on browsers to compute transforms in layouts
  packages/core/src/index.mjs
  packages/core/src/stack.mjs
  packages/core/src/utils.mjs
  packages/core/tests/utils.test.mjs
  sites/shared/components/workbench/layout/draft/stack.mjs
Labels: :package: core, :computer: shared

#3931 utils.beamIntersectsCurve()
  designs/examples/config/index.js
  designs/examples/src/utils.mjs
  markdown/dev/reference/api/en.md
  markdown/dev/reference/api/utils/beamintersectscurve/en.md
  packages/core/src/index.mjs
  packages/core/src/utils.mjs
  packages/core/tests/utils.test.mjs
Labels: :package: core, :book: documentation, :shirt: examples
