Repository freesewing/freesewing, pull requests merged in 2023-12, with the labels that each got.

#5540 Add Benjamin, Bent, and Bob line drawings as React components
  sites/shared/components/designs/linedrawings/benjamin.mjs
  sites/shared/components/designs/linedrawings/bent.mjs
  sites/shared/components/designs/linedrawings/bob.mjs
  sites/shared/components/designs/linedrawings/index.mjs
Labels: :computer: shared

#5602 Skully documentation update
  designs/skully/i18n/en.json
  designs/skully/src/cheek.mjs
  designs/skully/src/cheekbone.mjs
  designs/skully/src/eye.mjs
  designs/skully/src/forehead.mjs
  designs/skully/src/head1.mjs
  designs/skully/src/head2.mjs
  designs/skully/src/head3.mjs
  designs/skully/src/jawfloor.mjs
  designs/skully/src/lowerjaw.mjs
  designs/skully/src/lowermouth.mjs
  designs/skully/src/nose.mjs
  designs/skully/src/uppermouth.mjs
  markdown/org/docs/designs/skully/instructions/en.md
Labels: :book: documentation, :shirt: skully

#5612 (Documentation) Fix error in the example for /reference/api/path/setclass
  markdown/dev/reference/api/path/setclass/en.md
Labels: :book: documentation

#5592 Add Breanna, Brian, Hortensia line drawings as React components
  sites/shared/components/designs/linedrawings/breanna.mjs
  sites/shared/components/designs/linedrawings/brian.mjs
  sites/shared/components/designs/linedrawings/hortensia.mjs
  sites/shared/components/designs/linedrawings/index.mjs
Labels: :computer: shared

#5613 fix: Hydration erros in popout component
  .gitignore
  config/dependencies.yaml
  designs/skully/i18n/en.json
  designs/skully/src/uppermouth.mjs
  packages/new-design/lib/download-list.mjs
  packages/new-design/package.json
  sites/backend/package.json
  sites/lab/package.json
  sites/org/package.json
  sites/sde/package.json
  sites/shared/components/popout/index.mjs
  sites/shared/package.json
  yarn.lock
Labels: :gear: configuration, :computer: lab, :computer: shared, :computer: backend, :computer: org, :package: new-design

#5614 fix(shared): Saving pattern in edit mode
  sites/org/page-templates/edit-pattern.mjs
  sites/shared/components/workbench/new.mjs
  sites/shared/components/workbench/views/draft/header.mjs
Labels: :computer: shared, :computer: org

#5617 Tristan
  config/software/designs.json
  designs/tristan/README.md
  designs/tristan/i18n/en.json
  designs/tristan/package.json
  designs/tristan/src/backinside.mjs
  designs/tristan/src/backoutside.mjs
  designs/tristan/src/backpoints.mjs
  designs/tristan/src/frontinside.mjs
  designs/tristan/src/frontoutside.mjs
  designs/tristan/src/frontpoints.mjs
  markdown/org/docs/designs/tristan/cutting/en.md
  markdown/org/docs/designs/tristan/en.md
  markdown/org/docs/designs/tristan/fabric/en.md
  markdown/org/docs/designs/tristan/instructions/en.md
  markdown/org/docs/designs/tristan/measurements/en.md
  markdown/org/docs/designs/tristan/needs/en.md
  markdown/org/docs/designs/tristan/notes/en.md
  sites/lab/pages/new/tristan.mjs
  sites/org/pages/account/patterns/tristan/edit.mjs
  sites/org/pages/new/tristan.mjs
Labels: :book: documentation, :gear: configuration, :computer: lab, :computer: org

#5652 Fixes #5569 (`path.split()`)
  packages/core/src/path.mjs
  packages/core/tests/path.test.mjs
Labels: :package: core

#5691 New Crowdin Translations [skip build]
  markdown/org/docs/about/site/draft/core-settings/samm/de.md
  markdown/org/docs/about/site/nl.md
  markdown/org/docs/designs/hi/notes/es.md
  markdown/org/docs/designs/waralee/notes/es.md
Labels: :book: documentation, crowdin, i18n

#5693 Typo fixes in documentation
  markdown/org/docs/about/site/draft/en.md
Labels: :book: documentation

#5692 New Crowdin Translations [skip build]
  markdown/org/docs/about/site/nl.md
  markdown/org/docs/designs/hi/notes/es.md
  markdown/org/docs/designs/waralee/notes/es.md
Labels: :book: documentation, crowdin, i18n

#5698 Update utils.mjs
  packages/core/src/utils.mjs
Labels: :package: core

#5704 v3.1.0
  markdown/org/docs/designs/lucy/cutting/en.md
  markdown/org/docs/designs/lucy/fabric/en.md
  markdown/org/docs/designs/lucy/instructions/en.md
  markdown/org/docs/designs/lucy/needs/en.md
  markdown/org/docs/designs/lucy/options/edge/en.md
  markdown/org/docs/designs/lucy/options/length/en.md
  markdown/org/docs/designs/lucy/options/width/en.md
Labels: :book: documentation

#5615 Add Diana, Florence, Uma, Noble, and Lucy line drawings as React components
  sites/shared/components/designs/linedrawings/aaron.mjs
  sites/shared/components/designs/linedrawings/diana.mjs
  sites/shared/components/designs/linedrawings/florence.mjs
  sites/shared/components/designs/linedrawings/index.mjs
  sites/shared/components/designs/linedrawings/lucy.mjs
  sites/shared/components/designs/linedrawings/noble.mjs
  sites/shared/components/designs/linedrawings/uma.mjs
Labels: :computer: shared

#5711 New Crowdin Translations [skip build]
  markdown/org/docs/about/pledge/es.md
  markdown/org/docs/about/site/draft/de.md
  markdown/org/docs/about/site/nl.md
  markdown/org/docs/designs/onyx/options/zipperPosition/de.md
  markdown/org/docs/designs/onyx/options/zipperPosition/es.md
  markdown/org/docs/designs/onyx/options/zipperPosition/nl.md
  markdown/org/docs/designs/otis/options/sleeveType/de.md
  markdown/org/docs/designs/otis/options/sleeveType/es.md
  markdown/org/docs/designs/otis/options/sleeveType/nl.md
  markdown/org/docs/designs/otis/options/snapPlacket/de.md
  markdown/org/docs/designs/otis/options/snapPlacket/es.md
  markdown/org/docs/designs/otis/options/snapPlacket/nl.md
  markdown/org/docs/designs/waralee/notes/es.md
  markdown/org/newsletter/2023q4/es.md
  markdown/org/showcase/brazenedMinstrel-double-ws/en.md
Labels: :book: documentation, crowdin, i18n

#5726 chore: Blog post for v3.1 release
  config/software/designs.json
  markdown/org/blog/freesewing-v3-1/en.md
  markdown/org/docs/designs/lumira/de.md
  markdown/org/docs/designs/lumira/en.md
  markdown/org/docs/designs/lumira/options/ease/de.md
  markdown/org/docs/designs/lumira/options/ease/en.md
  markdown/org/docs/designs/lumira/options/ease/es.md
  markdown/org/docs/designs/lumira/options/ease/fr.md
  markdown/org/docs/designs/lumira/options/ease/nl.md
  markdown/org/docs/designs/lumira/options/ease/uk.md
  sites/org/hooks/use-design.mjs
  sites/org/pages/account/patterns/lumira/edit.mjs
  sites/org/pages/new/lumira.mjs
Labels: :book: documentation, :gear: configuration, :computer: org

#5727 fix(markdown): Fix post caption
  markdown/org/blog/freesewing-v3-1/en.md
Labels: :book: documentation

#5728 fix: Remove cased folder name
  markdown/org/docs/designs/onyx/options/zipperPosition/de.md
  markdown/org/docs/designs/onyx/options/zipperPosition/en.md
  markdown/org/docs/designs/onyx/options/zipperPosition/es.md
  markdown/org/docs/designs/onyx/options/zipperPosition/nl.md
Labels: :book: documentation

#5729 fix(shared): Fix SVG display in Safari. Closes #5653
  sites/shared/components/workbench/pan-zoom-pattern.mjs
Labels: :computer: shared

#5732 feat(backend): Add subscribers endpoint
  sites/backend/package.json
  sites/backend/src/controllers/admin.mjs
  sites/backend/src/models/admin.mjs
  sites/backend/src/models/subscriber.mjs
  sites/backend/src/routes/admin.mjs
Labels: :computer: backend

#5734 chore: 2024q1 newsletter draft
  markdown/org/newsletter/2024q1/en.md
Labels: :book: documentation
