Repository freesewing/freesewing, pull requests merged in 2023-09, with the labels that each got.

#4883 feat(shared): Initial implementation of Oauth flow
  sites/backend/example.env
  sites/backend/prisma/schema.prisma
  sites/backend/src/config.mjs
  sites/backend/src/controllers/users.mjs
  sites/backend/src/middleware.mjs
  sites/backend/src/models/user.mjs
  sites/backend/src/routes/users.mjs
  sites/backend/src/utils/crypto.mjs
  sites/backend/src/utils/model-decorator.mjs
  sites/backend/src/utils/oauth.mjs
  sites/org/pages/confirm/signin/[...confirmation].mjs
  sites/org/pages/confirm/signup/[...confirmation].mjs
  sites/org/pages/signin/callback/[provider].mjs
  sites/org/pages/welcome/index.mjs
  sites/shared/components/gdpr/form.mjs
  sites/shared/components/susi/en.yaml
  sites/shared/components/susi/sign-in.mjs
  sites/shared/components/susi/sign-up.mjs
  sites/shared/components/wrappers/auth/index.mjs
  sites/shared/hooks/use-backend.mjs
  sites/shared/i18n/status/en.yaml
  sites/shared/utils.mjs
Labels: :computer: shared, :computer: backend, :computer: org

#4887 New Crowdin Translations [skip build]
  markdown/org/docs/site/apikeys/level/de.md
  markdown/org/docs/site/apikeys/level/es.md
  markdown/org/docs/site/apikeys/level/fr.md
  markdown/org/docs/site/apikeys/level/nl.md
  markdown/org/docs/site/apikeys/level/uk.md
  sites/shared/components/susi/de.yaml
  sites/shared/components/susi/es.yaml
  sites/shared/components/susi/fr.yaml
  sites/shared/components/susi/nl.yaml
  sites/shared/components/susi/uk.yaml
  sites/shared/i18n/status/de.yaml
  sites/shared/i18n/status/es.yaml
  sites/shared/i18n/status/fr.yaml
  sites/shared/i18n/status/nl.yaml
  sites/shared/i18n/status/uk.yaml
Labels: :book: documentation, :computer: shared, crowdin, i18n

#4892 fix(markdown): Crowdin issues
  markdown/org/docs/site/apikeys/level/de.md
  markdown/org/docs/site/apikeys/level/es.md
  markdown/org/docs/site/apikeys/level/fr.md
  markdown/org/docs/site/apikeys/level/nl.md
  markdown/org/docs/site/apikeys/level/uk.md
Labels: :book: documentation

#4893 chore(markdown): Attempt to side-step crowdin issues
  markdown/org/docs/site/apikeys/level/en.md
Labels: :book: documentation

#4902 feat(org): Add curation of sets
  config/sewing-techniques.mjs
  sites/backend/src/controllers/confirmations.mjs
  sites/backend/src/models/confirmation.mjs
  sites/backend/src/models/curated-set.mjs
  sites/backend/src/routes/confirmations.mjs
  sites/backend/tests/curated-set.mjs
  sites/backend/tests/pattern.mjs
  sites/org/components/curate/de.yaml
  sites/org/components/curate/en.yaml
  sites/org/components/curate/es.yaml
  sites/org/components/curate/fr.yaml
  sites/org/components/curate/nl.yaml
  sites/org/components/curate/sets/edit.mjs
  sites/org/components/curate/sets/index.mjs
  sites/org/components/curate/uk.yaml
  sites/org/pages/curate/index.mjs
  sites/org/pages/curate/sets/[id].mjs
  sites/org/pages/curate/sets/[set].mjs
  sites/org/pages/curate/sets/index.mjs
  sites/org/pages/index.mjs
  sites/shared/components/curated-sets.mjs
  sites/shared/components/link.mjs
  sites/shared/components/submissions/index.mjs
  sites/shared/hooks/use-backend.mjs
  sites/shared/i18n/curate/en.yaml
Labels: :gear: configuration, :computer: shared, :computer: backend, :computer: org

#4936 fix(shared): Missing icons
  sites/shared/components/icons.mjs
  sites/shared/components/workbench/views/flags.mjs
Labels: :computer: shared

#4937 chore(shared): Changes to workbench ui, header, and expand/flags/kiosk
  designs/aaron/i18n/en.json
  designs/aaron/src/arm-binding.mjs
  designs/aaron/src/back.mjs
  designs/aaron/src/neck-binding.mjs
  designs/albert/i18n/en.json
  designs/albert/src/front.mjs
  designs/albert/src/pocket.mjs
  designs/albert/src/strap.mjs
  markdown/org/docs/designs/aaron/options/bindingwidth/en.md
  packages/core/src/config.mjs
  plugins/plugin-annotations/src/flag.mjs
  sites/org/components/header/index.mjs
  sites/org/components/layouts/default.mjs
  sites/org/components/layouts/docs.mjs
  sites/org/components/layouts/post.mjs
  sites/org/pages/new/[design].mjs
  sites/shared/components/accordion.mjs
  sites/shared/components/base-layout.mjs
  sites/shared/components/designs/design-picker.mjs
  sites/shared/components/icons.mjs
  sites/shared/components/workbench/menus/core-settings/config.mjs
  sites/shared/components/workbench/menus/mobile-menubar.mjs
  sites/shared/components/workbench/menus/ui-settings/config.mjs
  sites/shared/components/workbench/menus/ui-settings/en.yaml
  sites/shared/components/workbench/menus/ui-settings/inputs.mjs
  sites/shared/components/workbench/menus/ui-settings/values.mjs
  sites/shared/components/workbench/new.mjs
  sites/shared/components/workbench/views/draft/header.mjs
  sites/shared/components/workbench/views/draft/index.mjs
  sites/shared/components/workbench/views/draft/menu.mjs
  sites/shared/components/workbench/views/flags.mjs
  sites/shared/components/workbench/views/pattern-with-menu.mjs
  sites/shared/components/wrappers/header.mjs
  sites/shared/components/wrappers/layout.mjs
  sites/shared/components/wrappers/page.mjs
  sites/shared/i18n/flag/en.yaml
Labels: :package: core, :book: documentation, :computer: shared, :computer: org, :shirt: aaron, :shirt: albert, :electric_plug: plugin-annotations

#4944 fix(shared): Take units into account for displaying sets. Fixes #4939
  sites/shared/components/account/sets.mjs
Labels: :computer: shared

#4947 fix(shared): Handle design list options in workbench
  designs/benjamin/i18n/en.json
  sites/shared/components/workbench/menus/design-options/inputs.mjs
  sites/shared/components/workbench/menus/design-options/values.mjs
  sites/shared/components/workbench/menus/shared/inputs.mjs
  sites/shared/components/workbench/menus/shared/menu-item.mjs
Labels: :computer: shared, :shirt: benjamin

#4955 chore(benjamin): Migrated for v3 beta + plugin tweaks
  designs/benjamin/i18n/en.json
  designs/benjamin/src/bow1.mjs
  designs/benjamin/src/bow2.mjs
  designs/benjamin/src/bow3.mjs
  designs/benjamin/src/collar-band.mjs
  packages/react-components/src/pattern/point.mjs
  plugins/plugin-annotations/src/cutlist.mjs
  plugins/plugin-annotations/src/title.mjs
  sites/shared/components/workbench/en.yaml
  sites/shared/components/workbench/menus/design-options/values.mjs
  sites/shared/components/workbench/menus/shared/inputs.mjs
  sites/shared/components/workbench/menus/shared/menu-item.mjs
  tests/designs/config.mjs
  tests/designs/i18n.mjs
Labels: :test_tube: tests, :computer: shared, :shirt: benjamin, :electric_plug: plugin-annotations

#4957 chore: Work on preparing designs for beta v3
  designs/bent/src/index.mjs
  designs/bent/src/sleeve.mjs
  designs/bent/src/topsleeve.mjs
  designs/bent/src/undersleeve.mjs
  designs/bob/src/bib.mjs
  designs/breanna/i18n/en.json
  designs/breanna/src/base.mjs
  designs/brian/i18n/en.json
  designs/brian/src/back.mjs
  designs/brian/src/base.mjs
  sites/shared/components/workbench/en.yaml
  sites/shared/components/workbench/menus/design-options/index.mjs
  sites/shared/utils.mjs
Labels: :computer: shared, :shirt: bob, :shirt: breanna, :shirt: bent, :shirt: brian

#4966 chore(cathrin): Prepare for v3 beta
  config/software/designs.json
  designs/carlita/src/front-facing.mjs
  designs/carlita/src/front-lining.mjs
  designs/cathrin/i18n/en.json
  designs/cathrin/src/panel1.mjs
  designs/cathrin/src/panel1ab.mjs
  designs/cathrin/src/panel2.mjs
  designs/cathrin/src/panel3.mjs
  designs/cathrin/src/panel4.mjs
  designs/cathrin/src/panel5.mjs
  designs/cathrin/src/panel6.mjs
  designs/charlie/i18n/en.json
  designs/charlie/src/back-pocket-bag.mjs
  designs/charlie/src/back-pocket-facing.mjs
  designs/charlie/src/back-pocket-interfacing.mjs
  designs/charlie/src/back-pocket.mjs
  designs/charlie/src/back.mjs
  designs/charlie/src/beltloops.mjs
  designs/charlie/src/fly-extension.mjs
  designs/charlie/src/fly-facing.mjs
  designs/charlie/src/front-pocket-bag.mjs
  designs/charlie/src/front-pocket-facing.mjs
  designs/charlie/src/front-pocket.mjs
  designs/charlie/src/front.mjs
  designs/charlie/src/index.mjs
  designs/charlie/src/waistband-curved.mjs
  designs/charlie/src/waistband.mjs
  designs/titan/i18n/en.json
  designs/titan/src/back.mjs
  designs/titan/src/front.mjs
  plugins/plugin-annotations/src/scalebox.mjs
Labels: :gear: configuration, :shirt: titan, :shirt: carlita, :shirt: cathrin, :shirt: charlie, :electric_plug: plugin-annotations

#4975 chore: Prepare more designs for v3 beta
  config/software/designs.json
  designs/diana/src/front.mjs
  designs/diana/src/index.mjs
  designs/diana/src/sleeve.mjs
  designs/florence/src/mask.mjs
  designs/florent/src/brimbottom.mjs
  designs/florent/src/briminterfacing.mjs
  designs/florent/src/brimtop.mjs
  designs/florent/src/side.mjs
  designs/florent/src/top.mjs
  designs/holmes/i18n/en.json
  designs/holmes/src/crown.mjs
  designs/holmes/src/ear.mjs
  designs/holmes/src/gore.mjs
  designs/holmes/src/index.mjs
  designs/holmes/src/visor.mjs
  sites/shared/components/workbench/en.yaml
  sites/shared/components/workbench/menus/shared/index.mjs
  sites/shared/utils.mjs
Labels: :gear: configuration, :computer: shared, :shirt: diana, :shirt: florent, :shirt: holmes, :shirt: florence

#4979 fix(carlita): Don't remove frontCollar path, we need it
  designs/carlita/src/front-lining.mjs
  designs/carlita/src/front.mjs
  designs/carlita/src/side.mjs
  designs/carlton/i18n/en.json
  designs/carlton/src/back-stay.mjs
  designs/carlton/src/chestpocketbag.mjs
  designs/carlton/src/chestpocketwelt.mjs
  designs/carlton/src/innerpocketbag.mjs
  designs/carlton/src/innerpocketwelt.mjs
Labels: :shirt: carlton, :shirt: carlita

#4980 chore: Prepare more designs for v3 beta
  config/software/designs.json
  designs/huey/i18n/en.json
  designs/huey/src/back.mjs
  designs/huey/src/cuff.mjs
  designs/huey/src/front.mjs
  designs/huey/src/hood.mjs
  designs/huey/src/pocket.mjs
  designs/huey/src/shared.mjs
  designs/huey/src/sleeve.mjs
  designs/huey/src/waistband.mjs
  designs/hugo/i18n/en.json
  designs/hugo/src/back.mjs
  designs/hugo/src/cuff.mjs
  designs/hugo/src/front.mjs
  designs/hugo/src/hoodcenter.mjs
  designs/hugo/src/hoodside.mjs
  designs/hugo/src/options.mjs
  designs/hugo/src/pocket.mjs
  designs/hugo/src/pocketfacing.mjs
  designs/hugo/src/sleeve.mjs
  designs/hugo/src/waistband.mjs
  designs/jaeger/i18n/en.json
  designs/jaeger/src/back.mjs
  designs/jaeger/src/chest-piece.mjs
  designs/jaeger/src/chestpocketbag.mjs
  designs/jaeger/src/chestpocketwelt.mjs
  designs/jaeger/src/collar.mjs
  designs/jaeger/src/collarstand.mjs
  designs/jaeger/src/front-facing.mjs
  designs/jaeger/src/front-lining.mjs
  designs/jaeger/src/front.mjs
  designs/jaeger/src/index.mjs
  designs/jaeger/src/innerpocketbag.mjs
  designs/jaeger/src/innerpocketwelt.mjs
  designs/jaeger/src/pocket.mjs
  designs/jaeger/src/pocketlining.mjs
  designs/jaeger/src/side.mjs
  designs/jaeger/src/topsleeve.mjs
  designs/jaeger/src/undercollar.mjs
  designs/jaeger/src/undersleeve.mjs
  designs/lucy/src/pocket.mjs
  designs/lunetius/i18n/en.json
  designs/lunetius/src/lacerna.mjs
  markdown/org/docs/designs/hugo/options/pocketwidth/en.md
Labels: :gear: configuration, :shirt: huey, :shirt: jaeger, :shirt: hugo

#4991 wip: More designs ready for beta v3
  config/software/designs.json
  designs/paco/i18n/en.json
  designs/paco/src/back.mjs
  designs/paco/src/backpocketbag.mjs
  designs/paco/src/backpocketwelt.mjs
  designs/paco/src/backpocketweltinterfacing.mjs
  designs/paco/src/cuff.mjs
  designs/paco/src/front.mjs
  designs/paco/src/frontpocketbag.mjs
  designs/paco/src/waistband.mjs
  designs/sandy/i18n/en.json
  designs/sandy/src/curved-waistband.mjs
  designs/sandy/src/skirt.mjs
  designs/sandy/src/straight-waistband.mjs
  designs/sandy/src/waistband.mjs
  designs/shin/i18n/en.json
  designs/shin/src/back.mjs
  designs/shin/src/front.mjs
  designs/shin/src/waistband.mjs
  designs/simon/i18n/en.json
  designs/simon/src/back.mjs
  designs/simon/src/buttonholeplacket.mjs
  designs/simon/src/buttonplacket.mjs
  designs/simon/src/collar.mjs
  designs/simon/src/collarstand.mjs
  designs/simon/src/cuff-barrel-angled.mjs
  designs/simon/src/cuff-barrel-rounded.mjs
  designs/simon/src/cuff-barrel-straight.mjs
  designs/simon/src/cuff-french-angled.mjs
  designs/simon/src/cuff-french-rounded.mjs
  designs/simon/src/cuff-french-straight.mjs
  designs/simon/src/front.mjs
  designs/simon/src/frontleft-classic-cuton.mjs
  designs/simon/src/frontleft-classic-seperate.mjs
  designs/simon/src/frontleft-seamless.mjs
  designs/simon/src/frontleft.mjs
  designs/simon/src/frontright-classic-cuton.mjs
  designs/simon/src/frontright-classic-seperate.mjs
  designs/simon/src/frontright-seamless.mjs
  designs/simon/src/frontright.mjs
  designs/simon/src/options.mjs
  designs/simon/src/shared.mjs
  designs/simon/src/sleeve.mjs
  designs/simon/src/sleeveplacket-overlap.mjs
  designs/simon/src/sleeveplacket-underlap.mjs
  designs/simon/src/yoke.mjs
  designs/simone/src/fba-front.mjs
  markdown/org/docs/designs/paco/cutting/en.md
  markdown/org/docs/designs/paco/options/elasticatedcuff/de.md
  markdown/org/docs/designs/paco/options/elasticatedcuff/en.md
  markdown/org/docs/designs/paco/options/elasticatedcuff/es.md
  markdown/org/docs/designs/paco/options/elasticatedcuff/fr.md
  markdown/org/docs/designs/paco/options/elasticatedcuff/nl.md
  markdown/org/docs/designs/paco/options/elasticatedcuff/paco_elasticatedhem_sample.svg
  markdown/org/docs/designs/paco/options/elasticatedcuff/uk.md
  plugins/plugin-annotations/src/buttons.mjs
  sites/shared/components/workbench/en.yaml
  sites/shared/components/workbench/menus/shared/inputs.mjs
Labels: :gear: configuration, :shirt: sandy, :shirt: paco, :shirt: shin, :shirt: simon

#4997 chore(sven): Prepare for v3 beta
  config/software/designs.json
  designs/sven/i18n/en.json
  designs/sven/src/cuff.mjs
  designs/sven/src/frontback.mjs
  designs/sven/src/shared.mjs
  designs/sven/src/sleeve.mjs
  designs/sven/src/waistband.mjs
Labels: :gear: configuration, :shirt: sven

#5000 chore: Prepare more designs for v3 beta
  config/software/designs.json
  designs/tamiko/i18n/en.json
  designs/tamiko/src/top.mjs
  designs/teagan/i18n/en.json
  designs/teagan/src/back.mjs
  designs/teagan/src/front.mjs
  designs/teagan/src/sleeve.mjs
  designs/tiberius/i18n/en.json
  designs/tiberius/src/tunica.mjs
Labels: :gear: configuration, :shirt: tamiko, :shirt: teagan, :shirt: tiberius

#5010 chore(trayvon): Prepare for v3 beta
  config/software/designs.json
  designs/trayvon/i18n/en.json
  designs/trayvon/src/fabric.mjs
  designs/trayvon/src/interfacing.mjs
  designs/trayvon/src/lining.mjs
  designs/trayvon/src/loop.mjs
  designs/trayvon/src/shared.mjs
Labels: :gear: configuration, :shirt: trayvon

#5012 chore: Prepare more designs for v3 beta
  config/software/designs.json
  designs/walburga/i18n/en.json
  designs/walburga/src/back.mjs
  designs/walburga/src/base.mjs
  designs/walburga/src/front.mjs
  packages/core/src/index.mjs
  packages/core/src/utils.mjs
Labels: :package: core, :gear: configuration, :shirt: walburga

#5014 chore(wahid): Prepare for v3 beta
  config/software/designs.json
  designs/wahid/i18n/en.json
  designs/wahid/src/back.mjs
  designs/wahid/src/front.mjs
  designs/wahid/src/frontfacing.mjs
  designs/wahid/src/frontlining.mjs
  designs/wahid/src/pocketbag.mjs
  designs/wahid/src/pocketfacing.mjs
  designs/wahid/src/pocketinterfacing.mjs
  designs/wahid/src/pocketwelt.mjs
  designs/wahid/src/shared.mjs
  sites/shared/components/workbench/menus/design-options/inputs.mjs
Labels: :gear: configuration, :computer: shared, :shirt: wahid

#5015 chore(yuri): Prepare for v3 beta
  config/software/designs.json
  designs/yuri/i18n/en.json
  designs/yuri/src/back.mjs
  designs/yuri/src/front.mjs
  designs/yuri/src/gusset.mjs
  designs/yuri/src/hoodcenter.mjs
  designs/yuri/src/hoodside.mjs
  designs/yuri/src/shared.mjs
  designs/yuri/src/sleeve.mjs
Labels: :gear: configuration, :shirt: yuri

#5011 New Crowdin Translations [skip build]
  markdown/org/docs/designs/benjamin/options/collarbandheight/fr.md
  markdown/org/docs/designs/brian/options/armholedepth/de.md
  markdown/org/docs/designs/brian/options/armholedepth/nl.md
  markdown/org/docs/designs/paco/cutting/de.md
  markdown/org/docs/designs/paco/cutting/es.md
  markdown/org/docs/designs/paco/cutting/fr.md
  markdown/org/docs/designs/paco/cutting/nl.md
  markdown/org/docs/site/sets/de.md
  markdown/org/docs/site/sets/es.md
  markdown/org/docs/site/sets/fr.md
  markdown/org/docs/site/sets/image/de.md
  markdown/org/docs/site/sets/image/es.md
  markdown/org/docs/site/sets/image/fr.md
  markdown/org/docs/site/sets/image/nl.md
  markdown/org/docs/site/sets/image/uk.md
  markdown/org/docs/site/sets/name/de.md
  markdown/org/docs/site/sets/name/es.md
  markdown/org/docs/site/sets/name/fr.md
  markdown/org/docs/site/sets/name/nl.md
  markdown/org/docs/site/sets/name/uk.md
  markdown/org/docs/site/sets/nl.md
  markdown/org/docs/site/sets/notes/de.md
  markdown/org/docs/site/sets/notes/es.md
  markdown/org/docs/site/sets/notes/fr.md
  markdown/org/docs/site/sets/notes/nl.md
  markdown/org/docs/site/sets/notes/uk.md
  markdown/org/docs/site/sets/public/de.md
  markdown/org/docs/site/sets/public/es.md
  markdown/org/docs/site/sets/public/fr.md
  markdown/org/docs/site/sets/public/nl.md
  markdown/org/docs/site/sets/public/uk.md
  markdown/org/docs/site/sets/uk.md
  markdown/org/docs/site/sets/units/de.md
  markdown/org/docs/site/sets/units/es.md
  markdown/org/docs/site/sets/units/fr.md
  markdown/org/docs/site/sets/units/nl.md
  markdown/org/docs/site/sets/units/uk.md
  sites/org/components/curate/en.yaml
  sites/shared/components/workbench/menus/ui-settings/en.yaml
  sites/shared/i18n/toast/en.yaml
Labels: :book: documentation, crowdin, i18n

#5017 Implement #4951
  config/software/designs.json
  designs/hortensia/i18n/en.json
  designs/hortensia/src/bottompanel.mjs
  designs/hortensia/src/bottomsidepanel.mjs
  designs/hortensia/src/frontpanel.mjs
  designs/hortensia/src/index.mjs
  designs/hortensia/src/sidepanel.mjs
  designs/hortensia/src/sidepanelreinforcement.mjs
  designs/hortensia/src/strap.mjs
  designs/hortensia/src/zipperpanel.mjs
  markdown/org/docs/designs/hortensia/options/en.md
  plugins/plugin-annotations/src/crossbox.mjs
Labels: :book: documentation, :gear: configuration, :shirt: hortensia, :electric_plug: plugin-annotations

#5021 New Crowdin Translations [skip build]
  sites/shared/components/workbench/menus/ui-settings/de.yaml
  sites/shared/components/workbench/menus/ui-settings/en.yaml
  sites/shared/components/workbench/menus/ui-settings/es.yaml
  sites/shared/components/workbench/menus/ui-settings/fr.yaml
  sites/shared/components/workbench/menus/ui-settings/nl.yaml
  sites/shared/components/workbench/menus/ui-settings/uk.yaml
Labels: :computer: shared, crowdin, i18n

#5023 chore(markdown): Remove casing conflict
  markdown/org/showcase/brazenedMinstrel-double-ws/de.md
  markdown/org/showcase/brazenedMinstrel-double-ws/en.md
  markdown/org/showcase/brazenedMinstrel-double-ws/es.md
  markdown/org/showcase/brazenedMinstrel-double-ws/fr.md
  markdown/org/showcase/brazenedMinstrel-double-ws/nl.md
  markdown/org/showcase/brazenedMinstrel-double-ws/uk.md
Labels: :book: documentation

#5028 feat(org): Newsletter subscription & design filters
  designs/teagan/i18n/en.json
  designs/teagan/src/back.mjs
  designs/teagan/src/front.mjs
  sites/backend/src/models/subscriber.mjs
  sites/backend/src/routes/subscribers.mjs
  sites/org/pages/designs/index.mjs
  sites/org/pages/index.mjs
  sites/org/pages/newsletter/index.mjs
  sites/org/pages/newsletter/subscribe/[...tokens].mjs
  sites/org/pages/newsletter/unsubscribe/[...tokens].mjs
  sites/org/site.config.mjs
  sites/shared/components/account/bookmarks.mjs
  sites/shared/components/account/newsletter.mjs
  sites/shared/components/account/sets.mjs
  sites/shared/components/designs/design-picker.mjs
  sites/shared/components/designs/design.mjs
  sites/shared/components/designs/examples.mjs
  sites/shared/components/designs/linedrawings/index.mjs
  sites/shared/components/designs/tag.mjs
  sites/shared/components/newsletter/en.yaml
  sites/shared/components/newsletter/index.mjs
  sites/shared/components/workbench/views/flags.mjs
  sites/shared/config/designs.mjs
  sites/shared/hooks/use-backend.mjs
  sites/shared/i18n/tags/en.yaml
  sites/shared/i18n/techniques/en.yaml
  sites/shared/i18n/toast/de.yaml
  sites/shared/i18n/toast/en.yaml
  sites/shared/i18n/toast/es.yaml
  sites/shared/i18n/toast/fr.yaml
  sites/shared/i18n/toast/nl.yaml
  sites/shared/i18n/toast/uk.yaml
  sites/shared/themes/dark.mjs
  sites/shared/themes/hax0r.mjs
  sites/shared/utils.mjs
Labels: :computer: shared, :computer: backend, :computer: org, :shirt: teagan

#5033 fix(shared): Incorrect import
  sites/shared/components/designs/info.mjs
Labels: :computer: shared

#5034 feat(markdown): New design info in docs
  designs/noble/src/options.mjs
  designs/octoplushy/src/head.mjs
  markdown/org/docs/designs/aaron/en.md
  markdown/org/docs/designs/albert/en.md
  markdown/org/docs/designs/bee/en.md
  markdown/org/docs/designs/bella/en.md
  markdown/org/docs/designs/benjamin/en.md
  markdown/org/docs/designs/bent/en.md
  markdown/org/docs/designs/bob/en.md
  markdown/org/docs/designs/breanna/en.md
  markdown/org/docs/designs/brian/en.md
  markdown/org/docs/designs/bruce/en.md
  markdown/org/docs/designs/carlita/en.md
  markdown/org/docs/designs/carlton/en.md
  markdown/org/docs/designs/cathrin/en.md
  markdown/org/docs/designs/charlie/en.md
  markdown/org/docs/designs/cornelius/en.md
  markdown/org/docs/designs/diana/en.md
  markdown/org/docs/designs/florence/en.md
  markdown/org/docs/designs/florent/en.md
  markdown/org/docs/designs/hi/en.md
  markdown/org/docs/designs/holmes/en.md
  markdown/org/docs/designs/hortensia/en.md
  markdown/org/docs/designs/huey/en.md
  markdown/org/docs/designs/hugo/en.md
  markdown/org/docs/designs/jaeger/en.md
  markdown/org/docs/designs/lucy/en.md
  markdown/org/docs/designs/lunetius/en.md
  markdown/org/docs/designs/naomiwu/en.md
  markdown/org/docs/designs/noble/en.md
  markdown/org/docs/designs/octoplushy/en.md
  markdown/org/docs/designs/paco/en.md
  markdown/org/docs/designs/penelope/en.md
  markdown/org/docs/designs/sandy/en.md
  markdown/org/docs/designs/shin/en.md
  markdown/org/docs/designs/simon/en.md
  markdown/org/docs/designs/simone/en.md
  markdown/org/docs/designs/sven/en.md
  markdown/org/docs/designs/tamiko/en.md
  markdown/org/docs/designs/teagan/en.md
  markdown/org/docs/designs/tiberius/en.md
  markdown/org/docs/designs/titan/en.md
  markdown/org/docs/designs/trayvon/en.md
  markdown/org/docs/designs/uma/en.md
  markdown/org/docs/designs/wahid/en.md
  markdown/org/docs/designs/walburga/en.md
  markdown/org/docs/designs/waralee/en.md
  markdown/org/docs/designs/yuri/en.md
  sites/org/pages/docs/[...slug].mjs
  sites/shared/components/designs/info.mjs
Labels: :book: documentation, :shirt: octoplushy, :shirt: noble

#5036 Implements #4953 ([octoplushy]: Prepare for v3 beta)
  config/software/designs.json
  designs/octoplushy/i18n/en.json
  designs/octoplushy/src/arm.mjs
  designs/octoplushy/src/eye.mjs
  designs/octoplushy/src/head.mjs
  sites/shared/components/designs/info.mjs
Labels: :gear: configuration, :computer: shared, :shirt: octoplushy

#5037 chore(org): Tweaks to showcase/blog/homepage
  sites/org/components/mdx/posts/article.mjs
  sites/org/components/mdx/posts/author.mjs
  sites/org/notes.md
  sites/org/pages/blog/[dir].mjs
  sites/org/pages/blog/index.mjs
  sites/org/pages/blog/page/[page].mjs
  sites/org/pages/index.mjs
  sites/org/pages/showcase/[dir].mjs
  sites/org/pages/showcase/index.mjs
  sites/org/pages/showcase/page/[page].mjs
  sites/org/site.config.mjs
Labels: :computer: org

#5038 feat(org): Pick bookmarked or curated sets in workbench
  sites/org/components/mdx/pattern-docs.mjs
  sites/org/pages/curate/sets/index.mjs
  sites/shared/components/account/en.yaml
  sites/shared/components/account/sets.mjs
  sites/shared/components/bookmarks.mjs
  sites/shared/components/curated-sets.mjs
  sites/shared/components/workbench/views/measies/index.mjs
Labels: :computer: shared, :computer: org

#5039 Implements #4954 ([penelope]: Prepare for v3 beta)
  config/software/designs.json
  designs/penelope/i18n/en.json
  designs/penelope/src/back.mjs
  designs/penelope/src/front.mjs
  designs/penelope/src/shape.mjs
  designs/penelope/src/utils.mjs
  designs/penelope/src/waistband.mjs
  markdown/org/docs/designs/penelope/options/curveddarts/en.md
  markdown/org/docs/designs/penelope/options/waistbandoverlap/en.md
Labels: :book: documentation, :gear: configuration, :shirt: penelope

#5026 Merge pull request #5024 from freesewing/develop
  config/software/designs.json
  designs/hi/i18n/en.json
  designs/hi/src/aboveMouth.mjs
  designs/hi/src/belly.mjs
  designs/hi/src/body.mjs
  designs/hi/src/bottomFin.mjs
  designs/hi/src/index.mjs
  designs/hi/src/lowerTeeth.mjs
  designs/hi/src/mouth.mjs
  designs/hi/src/tail.mjs
  designs/hi/src/topFin.mjs
  designs/hi/src/upperTeeth.mjs
Labels: :gear: configuration, :shirt: hi

#5041 Implements #4952 [noble]: Prepare for v3 beta
  config/software/designs.json
  designs/noble/i18n/en.json
  designs/noble/src/backinside.mjs
  designs/noble/src/backoutside.mjs
  designs/noble/src/backpoints.mjs
  designs/noble/src/frontinside.mjs
  designs/noble/src/frontoutside.mjs
  designs/noble/src/frontpoints.mjs
  designs/noble/src/options.mjs
Labels: :gear: configuration, :shirt: noble

#5044 New Crowdin Translations [skip build]
  markdown/org/docs/designs/aaron/de.md
  markdown/org/docs/designs/aaron/es.md
  markdown/org/docs/designs/aaron/fr.md
  markdown/org/docs/designs/aaron/nl.md
  markdown/org/docs/designs/aaron/uk.md
  markdown/org/docs/designs/albert/de.md
  markdown/org/docs/designs/albert/es.md
  markdown/org/docs/designs/albert/fr.md
  markdown/org/docs/designs/albert/nl.md
  markdown/org/docs/designs/albert/uk.md
  markdown/org/docs/designs/charlie/notes/es.md
  markdown/org/docs/designs/huey/notes/de.md
  markdown/org/docs/designs/huey/notes/es.md
  markdown/org/docs/designs/huey/notes/fr.md
  markdown/org/docs/designs/huey/notes/nl.md
  markdown/org/docs/designs/huey/notes/uk.md
  markdown/org/docs/designs/penelope/options/curveddarts/de.md
  markdown/org/docs/designs/penelope/options/curveddarts/es.md
  markdown/org/docs/designs/penelope/options/curveddarts/fr.md
  markdown/org/docs/designs/penelope/options/curveddarts/nl.md
  markdown/org/docs/designs/penelope/options/curveddarts/uk.md
  markdown/org/docs/designs/penelope/options/waistbandoverlap/de.md
  markdown/org/docs/designs/penelope/options/waistbandoverlap/es.md
  markdown/org/docs/designs/penelope/options/waistbandoverlap/fr.md
  markdown/org/docs/designs/penelope/options/waistbandoverlap/nl.md
  markdown/org/docs/designs/penelope/options/waistbandoverlap/uk.md
  markdown/org/docs/designs/uma/cutting/de.md
  markdown/org/docs/designs/uma/cutting/es.md
  markdown/org/docs/designs/uma/cutting/fr.md
  markdown/org/docs/designs/uma/cutting/nl.md
  markdown/org/docs/designs/uma/cutting/uk.md
  markdown/org/docs/designs/ursula/cutting/en.md
  markdown/org/docs/designs/ursula/en.md
  markdown/org/docs/designs/ursula/fabric/en.md
  markdown/org/docs/designs/ursula/measurements/en.md
  markdown/org/docs/designs/ursula/needs/en.md
  markdown/org/docs/designs/ursula/options/backdip/en.md
  markdown/org/docs/designs/ursula/options/backexposure/en.md
  markdown/org/docs/designs/ursula/options/elasticstretch/en.md
  markdown/org/docs/designs/ursula/options/en.md
  markdown/org/docs/designs/ursula/options/fabricstretch/en.md
  markdown/org/docs/designs/ursula/options/frontdip/en.md
  markdown/org/docs/designs/ursula/options/gussetlength/en.md
  markdown/org/docs/designs/ursula/options/gussetwidth/en.md
  markdown/org/docs/designs/ursula/options/legopening/en.md
  markdown/org/docs/designs/ursula/options/rise/en.md
  markdown/org/docs/designs/ursula/options/tapertogusset/en.md
  sites/shared/components/account/de.yaml
  sites/shared/components/account/es.yaml
  sites/shared/components/account/fr.yaml
  sites/shared/components/account/nl.yaml
  sites/shared/components/account/uk.yaml
  sites/shared/components/workbench/de.yaml
  sites/shared/components/workbench/es.yaml
  sites/shared/components/workbench/fr.yaml
  sites/shared/components/workbench/nl.yaml
  sites/shared/components/workbench/uk.yaml
  sites/shared/i18n/flag/en.yaml
Labels: :book: documentation, crowdin, i18n

#5050 fix(org): Wrong import path
  .github/pull_request_template.md
  markdown/dev/guides/v3/en.md
  markdown/dev/guides/v3/migration/en.md
  markdown/dev/howtos/code/create-new-design/en.md
  markdown/dev/tutorials/getting-started-linux/dev-setup/en.md
  markdown/dev/tutorials/getting-started-linux/installing-node/en.md
  markdown/dev/tutorials/getting-started-mac/dev-setup/en.md
  markdown/dev/tutorials/getting-started-mac/installing-node/en.md
  markdown/dev/tutorials/getting-started-windows/en.md
  markdown/dev/tutorials/pattern-design/en.md
  markdown/dev/tutorials/pattern-design/part1/en.md
  markdown/dev/tutorials/pattern-design/part1/new-design/en.md
  sites/dev/components/layouts/bare.mjs
  sites/dev/pages/index.mjs
  sites/dev/pages/support.mjs
  sites/org/components/github/design-picker.mjs
  sites/shared/prebuild/data/design-measurements.mjs
  sites/shared/prebuild/data/design-options.mjs
  sites/shared/prebuild/data/designs.mjs
Labels: :book: documentation, :gear: configuration, :computer: shared, :computer: dev, :computer: org

#5051 chore(dev): Remove support page
  sites/dev/pages/about.mjs
  sites/dev/pages/index.mjs
  sites/dev/pages/support.mjs
Labels: :computer: dev

#5054 fix(org): Get design list from hook
  sites/org/pages/designs/[design].mjs
Labels: :computer: org
