Repository freesewing/freesewing, pull requests merged in 2023-10, with the labels that each got.

#5071 fix(lab): Keep docs view out of the lab
  sites/lab/components/design-examples.mjs
  sites/lab/pages/designs/index.mjs
  sites/lab/site.config.mjs
  sites/org/components/design-examples.mjs
  sites/sde/components/design-examples.mjs
  sites/shared/components/designs/info.mjs
  sites/shared/components/workbench/en.yaml
  sites/shared/components/workbench/views/docs/index.mjs
Labels: :computer: lab, :computer: shared, :computer: org

#5073 catch up
  sites/lab/components/design-examples.mjs
  sites/lab/pages/designs/index.mjs
  sites/lab/site.config.mjs
  sites/org/components/design-examples.mjs
  sites/sde/components/design-examples.mjs
  sites/shared/components/designs/info.mjs
  sites/shared/components/workbench/en.yaml
  sites/shared/components/workbench/views/docs/index.mjs
Labels: :computer: lab, :computer: shared, :computer: org

#5074 catch up
  CHANGELOG.md
  config/dependencies.yaml
  markdown/org/blog/announcing-freesewing-v30/es.md
  markdown/org/newsletter/2023q4/de.md
  markdown/org/newsletter/2023q4/es.md
  markdown/org/newsletter/2023q4/fr.md
  markdown/org/newsletter/2023q4/nl.md
  markdown/org/newsletter/2023q4/uk.md
  packages/new-design/package.json
  sites/dev/package.json
  sites/lab/components/design-examples.mjs
  sites/lab/package.json
  sites/lab/pages/designs/index.mjs
  sites/lab/site.config.mjs
  sites/org/components/design-examples.mjs
  sites/org/package.json
  sites/sde/components/design-examples.mjs
  sites/sde/package.json
  sites/shared/components/designs/info.mjs
  sites/shared/components/workbench/de.yaml
  sites/shared/components/workbench/en.yaml
  sites/shared/components/workbench/es.yaml
  sites/shared/components/workbench/fr.yaml
  sites/shared/components/workbench/nl.yaml
  sites/shared/components/workbench/uk.yaml
  sites/shared/components/workbench/views/docs/index.mjs
  sites/shared/i18n/flag/de.yaml
  sites/shared/i18n/flag/es.yaml
  sites/shared/i18n/flag/fr.yaml
  sites/shared/i18n/flag/nl.yaml
  sites/shared/i18n/flag/uk.yaml
  sites/shared/i18n/tags/de.yaml
  sites/shared/i18n/tags/es.yaml
  sites/shared/i18n/tags/fr.yaml
  sites/shared/i18n/tags/nl.yaml
  sites/shared/i18n/tags/uk.yaml
  sites/shared/package.json
  yarn.lock
Labels: :book: documentation, :gear: configuration, :computer: lab, :computer: shared, :computer: dev, :computer: org, :package: new-design

#5078 fix: Make yarn new design work again
  config/software/designs.json
  config/templates/design/i18n/en.json
  config/templates/design/i18n/index.mjs
  config/templates/use-design.mjs.mustache
  scripts/add-software.mjs
  scripts/reconfigure.mjs
  sites/lab/hooks/use-design.mjs
  sites/org/hooks/use-design.mjs
Labels: :gear: configuration, :computer: lab, :computer: org, :scroll: scripts

#5079 chore: Install various major updates
  config/dependencies.yaml
  markdown/dev/api/en.md
  markdown/dev/contribute/en.md
  markdown/dev/design/en.md
  markdown/dev/i18n/en.md
  package.json
  packages/core/package.json
  packages/new-design/package.json
  sites/dev/package.json
  sites/lab/package.json
  sites/org/package.json
  sites/sde/package.json
  sites/shared/package.json
  yarn.lock
Labels: :package: core, :book: documentation, :gear: configuration, :computer: lab, :computer: shared, :computer: dev, :computer: org, :package: new-design

#5086 catch up
  CHANGELOG.md
  config/dependencies.yaml
  config/software/designs.json
  config/templates/design/i18n/en.json
  config/templates/design/i18n/index.mjs
  config/templates/use-design.mjs.mustache
  markdown/dev/api/en.md
  markdown/dev/contribute/en.md
  markdown/dev/design/en.md
  markdown/dev/i18n/en.md
  markdown/org/blog/announcing-freesewing-v30/es.md
  markdown/org/newsletter/2023q4/de.md
  markdown/org/newsletter/2023q4/es.md
  markdown/org/newsletter/2023q4/fr.md
  markdown/org/newsletter/2023q4/nl.md
  markdown/org/newsletter/2023q4/uk.md
  package.json
  packages/core/package.json
  packages/new-design/package.json
  scripts/add-software.mjs
  scripts/reconfigure.mjs
  sites/dev/package.json
  sites/lab/components/design-examples.mjs
  sites/lab/hooks/use-design.mjs
  sites/lab/package.json
  sites/lab/pages/designs/index.mjs
  sites/lab/site.config.mjs
  sites/org/components/design-examples.mjs
  sites/org/hooks/use-design.mjs
  sites/org/package.json
  sites/sde/components/design-examples.mjs
  sites/sde/package.json
  sites/shared/components/account/sets.mjs
  sites/shared/components/designs/design-list.mjs
  sites/shared/components/designs/info.mjs
  sites/shared/components/workbench/de.yaml
  sites/shared/components/workbench/en.yaml
  sites/shared/components/workbench/es.yaml
  sites/shared/components/workbench/fr.yaml
  sites/shared/components/workbench/header.mjs
  sites/shared/components/workbench/new.mjs
  sites/shared/components/workbench/nl.yaml
  sites/shared/components/workbench/uk.yaml
  sites/shared/components/workbench/views/docs/index.mjs
  sites/shared/config/designs.mjs
  sites/shared/config/freesewing.config.mjs
  sites/shared/i18n/flag/de.yaml
  sites/shared/i18n/flag/es.yaml
  sites/shared/i18n/flag/fr.yaml
  sites/shared/i18n/flag/nl.yaml
  sites/shared/i18n/flag/uk.yaml
  sites/shared/i18n/tags/de.yaml
  sites/shared/i18n/tags/es.yaml
  sites/shared/i18n/tags/fr.yaml
  sites/shared/i18n/tags/nl.yaml
  sites/shared/i18n/tags/uk.yaml
  sites/shared/package.json
  yarn.lock
Labels: :package: core, :book: documentation, :gear: configuration, :computer: lab, :computer: dev, :computer: org, :package: new-design, :scroll: scripts

#5094 New Crowdin Translations [skip build]
  markdown/org/docs/sewing/good-sides-together/uk.md
Labels: :book: documentation, crowdin, i18n

#5107 chore(org): Only add English to getStaticPaths
  sites/org/components/layouts/post.mjs
  sites/org/components/mdx/posts/article.mjs
  sites/org/components/mdx/posts/de.yaml
  sites/org/components/mdx/posts/en.yaml
  sites/org/components/mdx/posts/es.yaml
  sites/org/components/mdx/posts/fr.yaml
  sites/org/components/mdx/posts/nl.yaml
  sites/org/components/mdx/posts/uk.yaml
  sites/org/pages/blog/[dir].mjs
  sites/org/pages/designs/[design].mjs
  sites/org/pages/docs/[...slug].mjs
  sites/org/pages/showcase/[dir].mjs
  sites/shared/components/mdx/toc.mjs
  sites/shared/components/timeago/index.mjs
  sites/shared/i18n/docs/en.yaml
  sites/shared/prebuild/data/design-options.mjs
Labels: :computer: shared, :computer: org

#5109 chore(org): Port blog/showcase to new mdx loader
  config/dependencies.yaml
  sites/dev/package.json
  sites/lab/package.json
  sites/org/components/github/create-post.mjs
  sites/org/components/github/create-showcase.mjs
  sites/org/components/layouts/post.mjs
  sites/org/components/mdx/posts/author.mjs
  sites/org/package.json
  sites/sde/package.json
  sites/shared/components/account/patterns.mjs
  sites/shared/components/account/profile.mjs
  sites/shared/components/account/sets.mjs
  sites/shared/components/admin.mjs
  sites/shared/components/curated-sets.mjs
  sites/shared/components/inputs.mjs
  sites/shared/components/mdx/dynamic.mjs
  sites/shared/components/mdx/tabbed-example.mjs
  sites/shared/components/pattern/manage.mjs
  sites/shared/components/submissions/index.mjs
  sites/shared/components/workbench/logs.mjs
  sites/shared/components/workbench/views/flags.mjs
  sites/shared/components/workbench/views/logs/errors.mjs
  sites/shared/components/workbench/views/logs/index.mjs
  sites/shared/mdx/browser-compile.mjs
  sites/shared/package.json
Labels: :gear: configuration, :computer: lab, :computer: shared, :computer: dev, :computer: org

#5110 chore(org): Remove edit page in the wrong location
  sites/lab/pages/designs/[design].mjs
  sites/lab/pages/patterns/[id]/edit.mjs
  sites/org/pages/patterns/[id]/edit.mjs
Labels: :computer: lab, :computer: org

#5113 fix(shared): Proper display of degree measurments. Fixes #5099
  sites/shared/components/inputs.mjs
Labels: :computer: shared

#5084 [skully]: Update for v3 improvements #5068
  config/software/designs.json
  designs/skully/CHANGELOG.md
  designs/skully/README.md
  designs/skully/build.mjs
  designs/skully/data.mjs
  designs/skully/i18n/de.json
  designs/skully/i18n/en.json
  designs/skully/i18n/es.json
  designs/skully/i18n/fr.json
  designs/skully/i18n/index.mjs
  designs/skully/i18n/nl.json
  designs/skully/i18n/uk.json
  designs/skully/package.json
  designs/skully/src/cheek.mjs
  designs/skully/src/cheekbone.mjs
  designs/skully/src/eye.mjs
  designs/skully/src/forehead.mjs
  designs/skully/src/head1.mjs
  designs/skully/src/head2.mjs
  designs/skully/src/head3.mjs
  designs/skully/src/index.mjs
  designs/skully/src/jawfloor.mjs
  designs/skully/src/lowerjaw.mjs
  designs/skully/src/lowermouth.mjs
  designs/skully/src/nose.mjs
  designs/skully/src/uppermouth.mjs
  designs/skully/tests/shared.test.mjs
  markdown/org/docs/designs/skully/cutting/en.md
  markdown/org/docs/designs/skully/en.md
  markdown/org/docs/designs/skully/fabric/en.md
  markdown/org/docs/designs/skully/instructions/en.md
  markdown/org/docs/designs/skully/measurements/en.md
  markdown/org/docs/designs/skully/needs/en.md
  markdown/org/docs/designs/skully/notes/en.md
  markdown/org/docs/designs/skully/options/en.md
  markdown/org/docs/designs/skully/options/size/en.md
  markdown/org/docs/patterns/skully/cutting/en.md
  markdown/org/docs/patterns/skully/en.md
  markdown/org/docs/patterns/skully/fabric/en.md
  markdown/org/docs/patterns/skully/instructions/en.md
  markdown/org/docs/patterns/skully/measurements/en.md
  markdown/org/docs/patterns/skully/needs/en.md
  markdown/org/docs/patterns/skully/options/en.md
  markdown/org/docs/patterns/skully/options/size/en.md
  sites/lab/hooks/use-design.mjs
Labels: :book: documentation, :gear: configuration

#5108 [cornelius]: Update for v3 improvements #4949
  config/software/designs.json
  designs/cornelius/i18n/en.json
  designs/cornelius/src/back.mjs
  designs/cornelius/src/front.mjs
  designs/cornelius/src/frontpoints.mjs
  designs/cornelius/src/legband.mjs
  designs/cornelius/src/legbandkeystone.mjs
  designs/cornelius/src/pocket.mjs
  designs/cornelius/src/pocketfacing.mjs
  designs/cornelius/src/waistband.mjs
  designs/cornelius/src/zipperguard.mjs
  markdown/org/docs/designs/cornelius/options/flywidth/en.md
Labels: :book: documentation, :gear: configuration, :shirt: cornelius

#5126 chore: Updated/cleaned up dependencies
  config/dependencies.yaml
  designs/bent/package.json
  designs/brian/package.json
  designs/carlita/package.json
  designs/carlton/package.json
  designs/charlie/package.json
  designs/examples/package.json
  designs/jaeger/package.json
  package.json
  packages/core/package.json
  packages/new-design/lib/download-list.mjs
  packages/new-design/package.json
  packages/react-components/package.json
  sites/backend/package.json
  sites/dev/package.json
  sites/lab/package.json
  sites/org/package.json
  sites/sde/package.json
  sites/shared/components/locale-picker/index.mjs
  sites/shared/components/picker.mjs
  sites/shared/package.json
  yarn.lock
Labels: :package: core, :gear: configuration, :computer: lab, :computer: shared, :computer: backend, :computer: dev, :computer: org, :package: new-design, :shirt: bent, :shirt: carlton, :shirt: carlita, :shirt: charlie, :shirt: jaeger, :shirt: brian, :shirt: examples

#5129 feat(shelly): New design
  config/exceptions.yaml
  config/software/designs.json
  designs/shelly/CHANGELOG.md
  designs/shelly/README.md
  designs/shelly/build.mjs
  designs/shelly/data.mjs
  designs/shelly/i18n/de.json
  designs/shelly/i18n/en.json
  designs/shelly/i18n/es.json
  designs/shelly/i18n/fr.json
  designs/shelly/i18n/index.mjs
  designs/shelly/i18n/nl.json
  designs/shelly/i18n/uk.json
  designs/shelly/package.json
  designs/shelly/src/back.mjs
  designs/shelly/src/base.mjs
  designs/shelly/src/front.mjs
  designs/shelly/src/index.mjs
  designs/shelly/src/neckband.mjs
  designs/shelly/src/raglansleeve.mjs
  designs/shelly/tests/shared.test.mjs
  sites/lab/hooks/use-design.mjs
  sites/lab/pages/account/patterns/shelly/[id]/edit.mjs
  sites/lab/pages/new/shelly.mjs
  sites/org/hooks/use-design.mjs
  sites/org/pages/account/patterns/shelly/[id]/edit.mjs
  sites/org/pages/new/shelly.mjs
  sites/shared/i18n/designs.mjs
  sites/shared/prebuild/data/design-measurements.mjs
  sites/shared/prebuild/data/design-options.mjs
  sites/shared/prebuild/data/designs.mjs
Labels: :gear: configuration, :computer: lab, :computer: shared, :computer: org

#5131 feat(docs): Docs for shelly
  markdown/org/docs/designs/shelly/cutting/en.md
  markdown/org/docs/designs/shelly/en.md
  markdown/org/docs/designs/shelly/fabric/en.md
  markdown/org/docs/designs/shelly/instructions/en.md
  markdown/org/docs/designs/shelly/measurements/en.md
  markdown/org/docs/designs/shelly/needs/en.md
  markdown/org/docs/designs/shelly/options/bodyhem/en.md
  markdown/org/docs/designs/shelly/options/bodylength/en.md
  markdown/org/docs/designs/shelly/options/chestease/en.md
  markdown/org/docs/designs/shelly/options/en.md
  markdown/org/docs/designs/shelly/options/hipsease/en.md
  markdown/org/docs/designs/shelly/options/neckbalance/en.md
  markdown/org/docs/designs/shelly/options/neckbandlength/en.md
  markdown/org/docs/designs/shelly/options/neckbandwidth/en.md
  markdown/org/docs/designs/shelly/options/neckease/en.md
  markdown/org/docs/designs/shelly/options/raglanscooplength/en.md
  markdown/org/docs/designs/shelly/options/raglanscoopmagnitude/en.md
  markdown/org/docs/designs/shelly/options/sideshape/en.md
  markdown/org/docs/designs/shelly/options/sleeveease/en.md
  markdown/org/docs/designs/shelly/options/sleevehem/en.md
  markdown/org/docs/designs/shelly/options/sleevelength/en.md
  markdown/org/docs/designs/shelly/options/straightsides/en.md
  markdown/org/docs/designs/shelly/options/wristease/en.md
Labels: :book: documentation

#5132 fix(core): snap upwards when snap config is a mere number. Fixes #4236
  CHANGELOG.md
  config/changelog.yaml
  packages/core/src/pattern/pattern-drafter.mjs
  packages/core/tests/snap.test.mjs
Labels: :package: core, :gear: configuration

#4098 fix(octoplushy): Three fixes and add cutlist
  designs/octoplushy/src/arm.mjs
  designs/octoplushy/src/eye.mjs
  designs/octoplushy/src/head.mjs
Labels: :shirt: octoplushy

#5133 feat(core): Add strictMax property to bin pack() call
  packages/core/src/pattern/pattern-renderer.mjs
Labels: :package: core

#4089 fix(docs): Move optional measurements info from Part config to Part draft
  markdown/dev/reference/api/part/config/measurements/en.md
  markdown/dev/reference/api/part/draft/en.md
Labels: :book: documentation

#4009 chore(docs): Add Stack documentation
  markdown/dev/guides/designs/stacks/en.md
  markdown/dev/reference/api/part/config/en.md
  markdown/dev/reference/api/part/config/stack/en.md
  markdown/dev/reference/api/pattern/en.md
  markdown/dev/reference/api/stack/addPart/en.md
  markdown/dev/reference/api/stack/asProps/en.md
  markdown/dev/reference/api/stack/attr/en.md
  markdown/dev/reference/api/stack/en.md
  markdown/dev/reference/api/stack/generateTransform/en.md
  markdown/dev/reference/api/stack/getAnchor/en.md
  markdown/dev/reference/api/stack/getPartList/en.md
  markdown/dev/reference/api/stack/getPartNames/en.md
  markdown/dev/reference/api/stack/home/en.md
  markdown/dev/reference/settings/stackprefix/en.md
Labels: :book: documentation

#5138 Fix/export il8n in new design
  config/templates/design/src/index.mjs.mustache
Labels: :gear: configuration

#5139 fix(lab): Make prebuild not rely on designs being in org
  CHANGELOG.md
  config/changelog.yaml
  config/software/designs.json
  designs/plugintest/src/base.mjs
  sites/lab/hooks/use-design.mjs
  sites/lab/pages/new/magde.mjs
  sites/lab/pages/new/plugintest.mjs
  sites/lab/pages/new/rendertest.mjs
  sites/shared/prebuild/lab.mjs
  sites/shared/prebuild/org.mjs
Labels: :gear: configuration, :computer: lab, :computer: shared, :shirt: plugintest

#5140 chore(core): Remove debug output
  packages/core/src/store.mjs
Labels: :package: core

#5142 add(docs) Missing Noble & Octoplushy options
  markdown/org/docs/designs/noble/options/fullchesteasereduction/en.md
  markdown/org/docs/designs/octoplushy/options/armlength/en.md
  markdown/org/docs/designs/octoplushy/options/armtaper/en.md
  markdown/org/docs/designs/octoplushy/options/armwidth/en.md
  markdown/org/docs/designs/octoplushy/options/bottomarmreduction/en.md
  markdown/org/docs/designs/octoplushy/options/bottomarmreductionplushy/en.md
  markdown/org/docs/designs/octoplushy/options/bottomlegreduction/de.md
  markdown/org/docs/designs/octoplushy/options/bottomlegreduction/en.md
  markdown/org/docs/designs/octoplushy/options/bottomlegreduction/es.md
  markdown/org/docs/designs/octoplushy/options/bottomlegreduction/fr.md
  markdown/org/docs/designs/octoplushy/options/bottomlegreduction/nl.md
  markdown/org/docs/designs/octoplushy/options/bottomlegreduction/uk.md
  markdown/org/docs/designs/octoplushy/options/bottomlegreductionplushy/de.md
  markdown/org/docs/designs/octoplushy/options/bottomlegreductionplushy/en.md
  markdown/org/docs/designs/octoplushy/options/bottomlegreductionplushy/es.md
  markdown/org/docs/designs/octoplushy/options/bottomlegreductionplushy/fr.md
  markdown/org/docs/designs/octoplushy/options/bottomlegreductionplushy/nl.md
  markdown/org/docs/designs/octoplushy/options/bottomlegreductionplushy/uk.md
  markdown/org/docs/designs/octoplushy/options/bottomtoparmratio/en.md
  markdown/org/docs/designs/octoplushy/options/bottomtoplegratio/de.md
  markdown/org/docs/designs/octoplushy/options/bottomtoplegratio/en.md
  markdown/org/docs/designs/octoplushy/options/bottomtoplegratio/es.md
  markdown/org/docs/designs/octoplushy/options/bottomtoplegratio/fr.md
  markdown/org/docs/designs/octoplushy/options/bottomtoplegratio/nl.md
  markdown/org/docs/designs/octoplushy/options/bottomtoplegratio/uk.md
Labels: :book: documentation, :shirt: octoplushy, :shirt: noble

#5141 fix(shared): Import from ESM source, not from built code
  sites/shared/components/mdx/tabbed-example.mjs
Labels: :computer: shared

#5143 fix(markdown): Fix Otis documentation
  markdown/org/docs/designs/otis/en.md
  markdown/org/docs/designs/otis/measurements/en.md
  markdown/org/docs/designs/otis/options/en.md
Labels: :book: documentation

#5148 fix(markdown): Fixes to docs of recently merged designs
  markdown/org/docs/designs/shelly/en.md
  markdown/org/docs/designs/shelly/measurements/en.md
  markdown/org/docs/designs/shelly/options/en.md
  markdown/org/docs/designs/skully/options/en.md
Labels: :book: documentation

#5149 fix(markdown): More fixes for Shelly docs
  markdown/org/docs/designs/shelly/options/en.md
  markdown/org/docs/designs/shelly/options/hemwidth/en.md
Labels: :book: documentation

#5150 fix: Add skully to lab/org
  config/software/designs.json
  sites/lab/hooks/use-design.mjs
  sites/org/components/mdx/index.mjs
  sites/org/hooks/use-design.mjs
  sites/shared/prebuild/data/design-options.mjs
Labels: :gear: configuration, :computer: lab, :computer: shared, :computer: org

#5151 fix(markdown): Remove import of skully docs
  markdown/org/docs/designs/skully/en.md
  sites/backend/prisma/schema.prisma
  sites/backend/src/models/curated-set.mjs
  sites/backend/src/models/option-pack.mjs
Labels: :book: documentation, :computer: backend

#5152 chore(backend): Update tests for recent changes
  sites/backend/tests/curated-set.mjs
  sites/backend/tests/option-pack.mjs
  sites/org/pages/account/patterns/skully/[id]/edit.mjs
  sites/org/pages/new/skully.mjs
Labels: :computer: backend, :computer: org

#5153 Shelly 3 - fixes to hemWidth and sleeveHem options.
  designs/shelly/src/back.mjs
  designs/shelly/src/base.mjs
  designs/shelly/src/raglansleeve.mjs
  markdown/org/docs/designs/shelly/options/hemwidth/en.md
Labels: :book: documentation

#5170 feat(plugin-ringsector): New plugin to draft a ring sector
  CHANGELOG.md
  config/changelog.yaml
  config/software/plugins.json
  designs/sandy/src/curved-waistband.mjs
  designs/sandy/src/shared.mjs
  designs/sandy/src/skirt.mjs
  markdown/dev/reference/macros/ringsector/en.md
  markdown/dev/reference/macros/rmringsector/en.md
  markdown/dev/reference/plugins/ringsector/en.md
  plugins/plugin-ringsector/CHANGELOG.md
  plugins/plugin-ringsector/README.md
  plugins/plugin-ringsector/build.mjs
  plugins/plugin-ringsector/data.mjs
  plugins/plugin-ringsector/package.json
  plugins/plugin-ringsector/src/index.mjs
  plugins/plugin-ringsector/tests/shared.test.mjs
  sites/shared/components/mdx/tabbed-example.mjs
Labels: :book: documentation, :gear: configuration, :computer: shared, :shirt: sandy

#5182 fix(dev): Add missing namespace
  plugins/plugin-annotations/src/banner.mjs
  sites/dev/pages/[...slug].mjs
Labels: :computer: dev, :electric_plug: plugin-annotations

#5184 feat(core): Add `cbqc` named export
  CHANGELOG.md
  config/changelog.yaml
  packages/core/src/index.mjs
  packages/core/src/utils.mjs
Labels: :package: core, :gear: configuration

#5187 catchup
  .all-contributorsrc
  CHANGELOG.md
  CONTRIBUTORS.md
  config/changelog.yaml
  config/software/designs.json
  config/software/plugins.json
  designs/otis/i18n/en.json
  designs/sandy/src/curved-waistband.mjs
  designs/sandy/src/shared.mjs
  designs/sandy/src/skirt.mjs
  markdown/dev/reference/macros/ringsector/en.md
  markdown/dev/reference/macros/rmringsector/en.md
  markdown/dev/reference/plugins/ringsector/en.md
  markdown/org/docs/designs/otis/cutting/en.md
  markdown/org/docs/designs/otis/en.md
  markdown/org/docs/designs/otis/fabric/en.md
  markdown/org/docs/designs/otis/instructions/en.md
  markdown/org/docs/designs/otis/measurements/en.md
  markdown/org/docs/designs/otis/needs/en.md
  markdown/org/docs/designs/otis/options/en.md
  markdown/org/showcase/a-noble-top-for-the-renaissance-festival/en.md
  markdown/org/showcase/short-sleeve-shelly-rash-guard/en.md
  package.json
  packages/core/src/index.mjs
  packages/core/src/utils.mjs
  plugins/plugin-annotations/src/banner.mjs
  plugins/plugin-ringsector/CHANGELOG.md
  plugins/plugin-ringsector/README.md
  plugins/plugin-ringsector/build.mjs
  plugins/plugin-ringsector/data.mjs
  plugins/plugin-ringsector/package.json
  plugins/plugin-ringsector/src/index.mjs
  plugins/plugin-ringsector/tests/shared.test.mjs
  sites/backend/package.json
  sites/dev/package.json
  sites/dev/pages/[...slug].mjs
  sites/lab/package.json
  sites/org/package.json
  sites/sde/package.json
  sites/shared/components/mdx/tabbed-example.mjs
  sites/shared/package.json
  yarn.lock
Labels: :package: core, :book: documentation, :gear: configuration, :shirt: sandy, :electric_plug: plugin-annotations

#5191 chore(backend): Remove (c)set from patterns, img from users
  sites/backend/prisma/schema.prisma
  sites/backend/src/models/curated-set.mjs
  sites/backend/src/models/option-pack.mjs
  sites/backend/src/models/pattern.mjs
  sites/backend/src/models/set.mjs
  sites/backend/src/models/subscriber.mjs
  sites/backend/src/models/user.mjs
  sites/backend/src/routes/imports.mjs
  sites/backend/src/routes/index.mjs
  sites/backend/src/utils/cloudflare-images.mjs
  sites/backend/tests/account.mjs
  sites/backend/tests/curated-set.mjs
  sites/backend/tests/option-pack.mjs
  sites/backend/tests/pattern.mjs
Labels: :computer: backend

#5193 catchup
  CHANGELOG.md
  config/changelog.yaml
  markdown/org/showcase/breanna-dress-by-andrea-cretu/en.md
  markdown/org/showcase/four-versions-of-otis-and-a-bonus-bob/en.md
  markdown/org/showcase/simone-by-gaelle/en.md
  packages/core/src/index.mjs
  packages/core/src/utils.mjs
  sites/backend/prisma/schema.prisma
  sites/backend/src/models/curated-set.mjs
  sites/backend/src/models/option-pack.mjs
  sites/backend/src/models/pattern.mjs
  sites/backend/src/models/set.mjs
  sites/backend/src/models/subscriber.mjs
  sites/backend/src/models/user.mjs
  sites/backend/src/routes/imports.mjs
  sites/backend/src/routes/index.mjs
  sites/backend/src/utils/cloudflare-images.mjs
  sites/backend/tests/account.mjs
  sites/backend/tests/curated-set.mjs
  sites/backend/tests/option-pack.mjs
  sites/backend/tests/pattern.mjs
Labels: :package: core, :book: documentation, :gear: configuration, :computer: backend

#5165 gozer
  config/software/designs.json
  designs/gozer/CHANGELOG.md
  designs/gozer/README.md
  designs/gozer/build.mjs
  designs/gozer/data.mjs
  designs/gozer/i18n/de.json
  designs/gozer/i18n/en.json
  designs/gozer/i18n/es.json
  designs/gozer/i18n/fr.json
  designs/gozer/i18n/index.mjs
  designs/gozer/i18n/nl.json
  designs/gozer/i18n/uk.json
  designs/gozer/package.json
  designs/gozer/src/ghost.mjs
  designs/gozer/src/index.mjs
  designs/gozer/tests/shared.test.mjs
  markdown/org/docs/designs/gozer/cutting/en.md
  markdown/org/docs/designs/gozer/en.md
  markdown/org/docs/designs/gozer/fabric/en.md
  markdown/org/docs/designs/gozer/instructions/en.md
  markdown/org/docs/designs/gozer/measurements/en.md
  markdown/org/docs/designs/gozer/needs/en.md
  markdown/org/docs/designs/gozer/notes/en.md
  sites/lab/hooks/use-design.mjs
  sites/lab/pages/account/patterns/gozer/[id]/edit.mjs
  sites/lab/pages/account/patterns/skully/[id]/edit.mjs
  sites/lab/pages/new/gozer.mjs
  sites/lab/pages/new/skully.mjs
  sites/org/hooks/use-design.mjs
  sites/org/pages/account/patterns/gozer/[id]/edit.mjs
  sites/org/pages/new/gozer.mjs
  sites/shared/i18n/designs.mjs
  sites/shared/prebuild/data/design-measurements.mjs
  sites/shared/prebuild/data/design-options.mjs
  sites/shared/prebuild/data/designs.mjs
Labels: :book: documentation, awaiting feedback, :gear: configuration, :computer: lab, :computer: org

#5156 [Waralee] Implement #4948 and #4828 and #4026
  config/software/designs.json
  designs/waralee/i18n/en.json
  designs/waralee/src/backpocket.mjs
  designs/waralee/src/cutout.mjs
  designs/waralee/src/facings.mjs
  designs/waralee/src/index.mjs
  designs/waralee/src/mini.mjs
  designs/waralee/src/options.mjs
  designs/waralee/src/pants.mjs
  designs/waralee/src/pantsproto.mjs
  designs/waralee/src/pocket.mjs
  designs/waralee/src/waistband.mjs
  markdown/org/docs/designs/waralee/options/legshortening/de.md
  markdown/org/docs/designs/waralee/options/legshortening/en.md
  markdown/org/docs/designs/waralee/options/legshortening/es.md
  markdown/org/docs/designs/waralee/options/legshortening/fr.md
  markdown/org/docs/designs/waralee/options/legshortening/nl.md
  markdown/org/docs/designs/waralee/options/legshortening/uk.md
  markdown/org/docs/designs/waralee/options/legsize/en.md
Labels: :book: documentation, :gear: configuration, :shirt: waralee

#5203 fix(UI - Twitter Logo)
  sites/shared/components/icons.mjs
Labels: :computer: shared

#5221 feat(shared): Fallback to en content when translation is not available
  sites/org/pages/showcase/[dir].mjs
  sites/shared/mdx/load.mjs
Labels: :computer: shared, :computer: org

#5222 Fix(lab): Updates in line with recent changes
  scripts/add-software.mjs
  sites/backend/package.json
  sites/dev/package.json
  sites/lab/components/header/index.mjs
  sites/lab/components/layouts/default.mjs
  sites/lab/package.json
  sites/lab/pages/index.mjs
  sites/lab/pages/new/pattern.mjs
  sites/lab/uk.yaml
  sites/org/package.json
  sites/sde/package.json
  sites/shared/components/account/img.mjs
  sites/shared/components/account/links.mjs
  sites/shared/i18n/lab/de.yaml
  sites/shared/i18n/lab/en.yaml
  sites/shared/i18n/lab/es.yaml
  sites/shared/i18n/lab/fr.yaml
  sites/shared/i18n/lab/nl.yaml
  sites/shared/i18n/lab/uk.yaml
  sites/shared/package.json
  yarn.lock
Labels: :computer: lab, :computer: shared, :computer: backend, :computer: dev, :computer: org, :scroll: scripts

#5223 chore(dev): Simplify home page and navigation
  markdown/dev/api/en.md
  markdown/dev/contact/discord/en.md
  markdown/dev/contact/email/en.md
  markdown/dev/contact/en.md
  markdown/dev/contact/facebook/en.md
  markdown/dev/contact/github/en.md
  markdown/dev/contact/instagram/en.md
  markdown/dev/contact/reddit/en.md
  markdown/dev/contact/twitter/en.md
  markdown/dev/contact/youtube/en.md
  markdown/dev/infra/en.md
  markdown/dev/reference/en.md
  sites/dev/components/header/index.mjs
  sites/dev/pages/about.mjs
  sites/dev/pages/index.mjs
  sites/shared/components/navigation/primary.mjs
  sites/shared/prebuild/sitenav-dev.mjs
Labels: :book: documentation, :computer: shared, :computer: dev

#5227 fix(backend): initialize raw object in cloak method
  markdown/dev/reference/api/part/config/options/en.md
  markdown/dev/reference/api/pattern/en.md
  markdown/dev/tutorials/pattern-design/en.md
  markdown/dev/tutorials/pattern-design/part2/adding-measurements/en.md
  markdown/dev/tutorials/pattern-design/part2/en.md
  markdown/dev/tutorials/pattern-design/part3/tests/en.md
  markdown/org/docs/about/faq/why-signup/de.md
  markdown/org/docs/about/faq/why-signup/en.md
  markdown/org/docs/about/faq/why-signup/es.md
  markdown/org/docs/about/faq/why-signup/fr.md
  markdown/org/docs/about/faq/why-signup/nl.md
  markdown/org/docs/about/faq/why-signup/uk.md
  markdown/org/docs/about/guide/en.md
  markdown/org/docs/about/privacy/en.md
  markdown/org/docs/about/site/csets/en.md
  markdown/org/docs/about/site/draft/en.md
  markdown/org/docs/about/site/en.md
  markdown/org/showcase/brazenedminstrel-double-ws/en.md
  sites/backend/src/utils/model-decorator.mjs
  sites/org/pages/index.mjs
  sites/shared/components/account/en.yaml
  sites/shared/components/gdpr/en.yaml
  sites/shared/components/sets/en.yaml
  sites/shared/components/susi/sign-in.mjs
  sites/shared/components/susi/sign-up.mjs
  sites/shared/i18n/homepage/en.yaml
Labels: :book: documentation, :computer: shared, :computer: backend, :computer: org

#5229 fix(shared): Leftover merge conflict
  sites/shared/i18n/lab/nl.yaml
Labels: :computer: shared

#5233 wip: Work on #5230
  sites/org/pages/account/apikeys/[id].mjs
Labels: :computer: org

#5236 wip: Work on fix for #5230
  sites/org/pages/account/apikeys/[id].mjs
  sites/org/pages/account/apikeys/index.mjs
  sites/shared/components/account/apikeys.mjs
  sites/shared/hooks/use-id.mjs
Labels: :computer: shared, :computer: org

#5237 chore: Remove fallback from platforms page. See #5230
  scripts/add-software.mjs
  sites/org/pages/account/[platform].mjs
  sites/shared/ssr-i18n.mjs
Labels: :computer: shared, :computer: org, :scroll: scripts

#5238 chore: Add yarn buildall to kickstart
  package.json
  scripts/add-software.mjs
Labels: :scroll: scripts

#5241 chore: Don't use Linedrawing component in blog post
  markdown/org/blog/breanna-measurements-sizes-in-2-2/de.md
  markdown/org/blog/breanna-measurements-sizes-in-2-2/en.md
  markdown/org/blog/breanna-measurements-sizes-in-2-2/es.md
  markdown/org/blog/breanna-measurements-sizes-in-2-2/fr.md
  markdown/org/blog/breanna-measurements-sizes-in-2-2/nl.md
  markdown/org/blog/breanna-measurements-sizes-in-2-2/uk.md
Labels: :book: documentation

#5243 fix(markdown): Issues in french translations
  markdown/org/docs/designs/brian/options/fr.md
  sites/org/pages/patrons/index.mjs
Labels: :book: documentation, :computer: org

#5244 fix(org): Final (I hope) changes. Fixes #5230
  sites/org/pages/admin/cset.mjs
  sites/org/pages/admin/csets.mjs
  sites/org/pages/admin/index.mjs
  sites/org/pages/admin/user.mjs
  sites/org/pages/confirm/emailchange.mjs
  sites/org/pages/confirm/signin.mjs
  sites/org/pages/confirm/signup-aea.mjs
  sites/org/pages/confirm/signup.mjs
  sites/org/pages/curate/set.mjs
  sites/org/pages/curate/sets/index.mjs
  sites/org/pages/curated-set.mjs
  sites/org/pages/newsletter/subscribe.mjs
  sites/org/pages/newsletter/unsubscribe.mjs
  sites/org/pages/patrons/index.mjs
  sites/org/pages/set.mjs
  sites/shared/components/admin.mjs
  sites/shared/components/curated-sets.mjs
  sites/shared/components/hodl/en.yaml
  sites/shared/components/hodl/index.mjs
  sites/shared/components/submissions/index.mjs
  sites/shared/components/wrappers/page.mjs
  sites/shared/config/tailwind-force.html
  sites/shared/i18n/sets/de.yaml
  sites/shared/i18n/sets/en.yaml
  sites/shared/i18n/sets/es.yaml
  sites/shared/i18n/sets/fr.yaml
  sites/shared/i18n/sets/nl.yaml
  sites/shared/i18n/sets/uk.yaml
Labels: :computer: shared, :computer: org

#5245 fix(shared): Old URLs used in router.push
  sites/shared/components/account/sets.mjs
  sites/shared/components/submissions/index.mjs
Labels: :computer: shared

#5246 chore(org): Put up a warning message
  sites/org/pages/index.mjs
Labels: :computer: org

#5254 fix(backend): update urls after frontend changes
  sites/backend/src/models/subscriber.mjs
  sites/backend/src/models/user.mjs
Labels: :computer: backend

#5256 fix(org): Fix signin confirmation page
  sites/backend/src/models/user.mjs
  sites/org/pages/confirm/signin.mjs
  sites/org/pages/confirm/signup.mjs
  sites/org/pages/index.mjs
Labels: :computer: backend, :computer: org

#5257 chore: Update production-backend
  sites/backend/src/models/user.mjs
  sites/org/pages/confirm/signin.mjs
  sites/org/pages/confirm/signup.mjs
  sites/org/pages/index.mjs
Labels: :computer: backend, :computer: org

#5265 chore: Update dependencies, limit builds, bring Onyx on board
  config/changelog.yaml
  designs/uma/src/back.mjs
  designs/uma/src/base.mjs
  packages/new-design/lib/download-list.mjs
  sites/backend/package.json
  sites/dev/package.json
  sites/dev/vercel.json
  sites/lab/hooks/use-design.mjs
  sites/lab/package.json
  sites/lab/pages/new/onyx.mjs
  sites/org/hooks/use-design.mjs
  sites/org/package.json
  sites/org/pages/account/patterns/onyx/edit.mjs
  sites/org/pages/new/onyx.mjs
  sites/org/vercel.json
  sites/sde/package.json
  sites/shared/i18n/designs.mjs
  sites/shared/package.json
  sites/shared/prebuild/data/design-measurements.mjs
  sites/shared/prebuild/data/design-options.mjs
  sites/shared/prebuild/data/designs.mjs
Labels: :gear: configuration, :computer: lab, :computer: shared, :computer: backend, :computer: dev, :computer: org, :package: new-design

#5268 New Crowdin Translations [skip build]
  markdown/org/docs/about/pledge/es.md
  markdown/org/docs/about/privacy/uk.md
  markdown/org/docs/about/site/es.md
  markdown/org/docs/about/site/nl.md
  markdown/org/docs/designs/onyx/options/sleeveease/de.md
  markdown/org/docs/designs/onyx/options/sleeveease/es.md
  markdown/org/docs/designs/onyx/options/sleeveease/fr.md
  markdown/org/docs/designs/onyx/options/sleeveease/nl.md
  markdown/org/docs/designs/onyx/options/wristease/de.md
  markdown/org/docs/designs/onyx/options/wristease/es.md
  markdown/org/docs/designs/onyx/options/wristease/fr.md
  markdown/org/docs/designs/onyx/options/wristease/nl.md
  markdown/org/docs/designs/onyx/options/zipperPosition/de.md
  markdown/org/docs/designs/onyx/options/zipperPosition/es.md
  markdown/org/docs/designs/onyx/options/zipperPosition/fr.md
  markdown/org/docs/designs/onyx/options/zipperPosition/nl.md
Labels: :book: documentation, crowdin, i18n

#5277 fix(markdown): Various crowdin issues
  markdown/org/docs/about/pledge/es.md
  markdown/org/docs/about/site/en.md
  markdown/org/docs/about/site/es.md
  markdown/org/docs/designs/onyx/en.md
Labels: :book: documentation

#5285 New Crowdin Translations [skip build]
  markdown/org/docs/about/pledge/es.md
  markdown/org/docs/about/privacy/uk.md
  markdown/org/docs/about/site/de.md
  markdown/org/docs/about/site/es.md
  markdown/org/docs/about/site/fr.md
  markdown/org/docs/about/site/nl.md
  markdown/org/docs/about/site/uk.md
  markdown/org/docs/designs/onyx/de.md
  markdown/org/docs/designs/onyx/es.md
  markdown/org/docs/designs/onyx/fr.md
  markdown/org/docs/designs/onyx/nl.md
  markdown/org/docs/designs/onyx/uk.md
Labels: :book: documentation, crowdin, i18n

#5292 updated path to use {logoPath} instead of string
  plugins/plugin-annotations/src/logo.mjs
Labels: :electric_plug: plugin-annotations

#5305 Update utils.mjs
  packages/core/src/utils.mjs
Labels: :package: core

#5302 Delete duplicate showcase posts
  markdown/org/showcase/shin-swim-trunks-for-comixminxs-kid/de.md
  markdown/org/showcase/shin-swim-trunks-for-comixminxs-kid/en.md
  markdown/org/showcase/shin-swim-trunks-for-comixminxs-kid/es.md
  markdown/org/showcase/shin-swim-trunks-for-comixminxs-kid/fr.md
  markdown/org/showcase/shin-swim-trunks-for-comixminxs-kid/nl.md
  markdown/org/showcase/shin-swim-trunks-for-comixminxs-kid/uk.md
  markdown/org/showcase/space-bruces-by-comixminx/de.md
  markdown/org/showcase/space-bruces-by-comixminx/en.md
  markdown/org/showcase/space-bruces-by-comixminx/es.md
  markdown/org/showcase/space-bruces-by-comixminx/fr.md
  markdown/org/showcase/space-bruces-by-comixminx/nl.md
  markdown/org/showcase/space-bruces-by-comixminx/uk.md
Labels: :book: documentation

#5299 New Crowdin Translations [skip build]
  sites/shared/i18n/locales/nl.yaml
Labels: :computer: shared, crowdin, i18n

#5300 Added documentation of two new methods in the utils section of API.
  markdown/dev/reference/api/utils/applytransformtopoint/en.md
  markdown/dev/reference/api/utils/combinetransforms/en.md
Labels: :book: documentation

#5310 New Crowdin Translations [skip build]
  markdown/org/docs/about/pledge/es.md
  markdown/org/docs/about/site/es.md
  markdown/org/docs/about/site/nl.md
  markdown/org/showcase/an-early-uma/de.md
  markdown/org/showcase/an-early-uma/es.md
  markdown/org/showcase/an-early-uma/fr.md
  markdown/org/showcase/an-early-uma/nl.md
  markdown/org/showcase/an-early-uma/uk.md
  markdown/org/showcase/bruce-by-clolimb/de.md
  markdown/org/showcase/bruce-by-clolimb/es.md
  markdown/org/showcase/bruce-by-clolimb/fr.md
  markdown/org/showcase/bruce-by-clolimb/nl.md
  markdown/org/showcase/bruce-by-clolimb/uk.md
Labels: :book: documentation, crowdin, i18n

#5311 New Crowdin Translations [skip build]
  markdown/org/docs/about/pledge/es.md
  markdown/org/docs/about/site/es.md
  markdown/org/docs/about/site/nl.md
  markdown/org/showcase/bruce-by-clolimb/de.md
  markdown/org/showcase/bruce-by-clolimb/es.md
  markdown/org/showcase/bruce-by-clolimb/nl.md
Labels: :book: documentation, crowdin, i18n

#5315 fix(shared): Update logoPath import
  sites/shared/components/animations/freesewing.mjs
  sites/shared/components/icons.mjs
  sites/shared/components/workbench/exporting/pdf-maker.mjs
Labels: :computer: shared

#5316 fix(markdown): Small markdown fixes
  markdown/org/docs/designs/onyx/options/zipperposition/de.md
  markdown/org/docs/designs/onyx/options/zipperposition/en.md
  markdown/org/docs/designs/onyx/options/zipperposition/es.md
  markdown/org/docs/designs/onyx/options/zipperposition/fr.md
  markdown/org/docs/designs/onyx/options/zipperposition/nl.md
  markdown/org/docs/designs/onyx/options/zipperposition/uk.md
  markdown/org/showcase/bruce-by-clolimb/en.md
Labels: :book: documentation

#5318 Markdown fixes
  markdown/dev/reference/api/part/draft/en.md
  markdown/org/docs/designs/onyx/options/zipperposition/en.md
  sites/dev/vercel.json
  sites/org/vercel.json
Labels: :book: documentation, :computer: dev, :computer: org

#5319 chore: Various docs updates
  markdown/dev/reference/api/defs/asrenderprops/en.md
  markdown/dev/reference/api/defs/clone/en.md
  markdown/dev/reference/api/defs/en.md
  markdown/dev/reference/api/defs/get/en.md
  markdown/dev/reference/api/defs/remove/en.md
  markdown/dev/reference/api/defs/render/en.md
  markdown/dev/reference/api/defs/set/en.md
  markdown/dev/reference/api/defs/setifunset/en.md
  markdown/dev/reference/api/svg/defs/en.md
  markdown/dev/reference/api/svg/en.md
  markdown/dev/reference/css/en.md
  scripts/addpatterndocs.js
  sites/shared/styles/globals.css
Labels: :book: documentation, :computer: shared, :scroll: scripts

#5312 Onyx - new armpitEase option
  designs/onyx/i18n/en.json
  designs/onyx/src/base.mjs
  markdown/org/docs/designs/onyx/instructions/en.md
  markdown/org/docs/designs/onyx/options/armpitease/en.md
  markdown/org/docs/designs/onyx/options/backonfold/en.md
  markdown/org/docs/designs/onyx/options/centerseamease/en.md
  markdown/org/docs/designs/onyx/options/chestease/en.md
  markdown/org/docs/designs/onyx/options/crotchgussetwidth/en.md
  markdown/org/docs/designs/onyx/options/frontonfold/en.md
  markdown/org/docs/designs/onyx/options/hipsease/en.md
  markdown/org/docs/designs/onyx/options/hooddepth/en.md
  markdown/org/docs/designs/onyx/options/hoodfrontbonus/en.md
  markdown/org/docs/designs/onyx/options/hoodfrontdip/en.md
  markdown/org/docs/designs/onyx/options/hoodfrontpiecesize/en.md
  markdown/org/docs/designs/onyx/options/hoodheight/en.md
  markdown/org/docs/designs/onyx/options/hoodhem/en.md
  markdown/org/docs/designs/onyx/options/leghem/en.md
  markdown/org/docs/designs/onyx/options/leghemease/en.md
  markdown/org/docs/designs/onyx/options/leglength/en.md
  markdown/org/docs/designs/onyx/options/legribbing/en.md
  markdown/org/docs/designs/onyx/options/legribbinglength/en.md
  markdown/org/docs/designs/onyx/options/legribbingwidth/en.md
  markdown/org/docs/designs/onyx/options/legtaperposition/en.md
  markdown/org/docs/designs/onyx/options/neckbalance/en.md
  markdown/org/docs/designs/onyx/options/neckbandlength/en.md
  markdown/org/docs/designs/onyx/options/neckbandwidth/en.md
  markdown/org/docs/designs/onyx/options/neckease/en.md
  markdown/org/docs/designs/onyx/options/neckguardlength/en.md
  markdown/org/docs/designs/onyx/options/neckstyle/en.md
  markdown/org/docs/designs/onyx/options/raglanscooplength/en.md
  markdown/org/docs/designs/onyx/options/raglanscoopmagnitude/en.md
  markdown/org/docs/designs/onyx/options/seatease/en.md
  markdown/org/docs/designs/onyx/options/skirt/en.md
  markdown/org/docs/designs/onyx/options/skirthem/en.md
  markdown/org/docs/designs/onyx/options/skirtlength/en.md
  markdown/org/docs/designs/onyx/options/skirtwaistband/en.md
  markdown/org/docs/designs/onyx/options/skirtwidth/en.md
  markdown/org/docs/designs/onyx/options/sleeveease/en.md
  markdown/org/docs/designs/onyx/options/sleevehem/en.md
  markdown/org/docs/designs/onyx/options/sleevelength/en.md
  markdown/org/docs/designs/onyx/options/sleeveribbing/en.md
  markdown/org/docs/designs/onyx/options/sleeveribbinglength/en.md
  markdown/org/docs/designs/onyx/options/sleeveribbingwidth/en.md
  markdown/org/docs/designs/onyx/options/upperlegease/en.md
  markdown/org/docs/designs/onyx/options/wristease/en.md
  markdown/org/docs/designs/onyx/options/zipperguardwidth/en.md
  markdown/org/docs/designs/onyx/options/zipperlength/en.md
  markdown/org/docs/designs/onyx/options/zipperposition/en.md
Labels: :book: documentation

#5320 New Crowdin Translations [skip build]
  markdown/org/docs/about/pledge/es.md
  markdown/org/docs/about/site/es.md
  markdown/org/docs/about/site/nl.md
  markdown/org/docs/designs/florent/cutting/de.md
  markdown/org/docs/designs/florent/cutting/es.md
  markdown/org/docs/designs/florent/cutting/fr.md
  markdown/org/docs/designs/florent/cutting/nl.md
  markdown/org/docs/designs/florent/cutting/uk.md
  markdown/org/docs/designs/onyx/options/zipperposition/de.md
  markdown/org/docs/designs/onyx/options/zipperposition/en.md
  markdown/org/docs/designs/onyx/options/zipperposition/es.md
  markdown/org/docs/designs/onyx/options/zipperposition/fr.md
  markdown/org/docs/designs/onyx/options/zipperposition/nl.md
  markdown/org/docs/designs/onyx/options/zipperposition/uk.md
  markdown/org/showcase/bruce-by-clolimb/de.md
  markdown/org/showcase/bruce-by-clolimb/es.md
  markdown/org/showcase/bruce-by-clolimb/fr.md
  markdown/org/showcase/bruce-by-clolimb/nl.md
  markdown/org/showcase/bruce-by-clolimb/uk.md
  sites/shared/components/account/de.yaml
  sites/shared/components/account/es.yaml
  sites/shared/components/account/fr.yaml
  sites/shared/components/account/nl.yaml
  sites/shared/components/account/uk.yaml
  sites/shared/components/susi/de.yaml
  sites/shared/components/susi/es.yaml
  sites/shared/components/susi/fr.yaml
  sites/shared/components/susi/nl.yaml
  sites/shared/components/susi/uk.yaml
Labels: :book: documentation, :computer: shared, crowdin, i18n

#5330 chore: Migrate to MDX 3
  config/dependencies.yaml
  packages/new-design/lib/download-list.mjs
  sites/backend/package.json
  sites/dev/package.json
  sites/lab/package.json
  sites/org/package.json
  sites/sde/package.json
  sites/shared/mdx/compile.mjs
  sites/shared/package.json
  sites/shared/prebuild/data/design-options.mjs
  yarn.lock
Labels: :gear: configuration, :computer: lab, :computer: shared, :computer: backend, :computer: dev, :computer: org, :package: new-design

#5331 chore: Add Thrunic to docs authors file
  config/authors.mjs
Labels: :gear: configuration

#5333 chore(markdown): Show how to create a snippet. Closes #3824
  markdown/dev/howtos/code/create-new-design/en.md
  markdown/dev/howtos/code/create-snippet/en.md
  markdown/dev/howtos/code/create-snippet/smiley.png
Labels: :book: documentation

#5334 chore(markdown): Changes to refer less to models
  markdown/dev/guides/best-practices/use-percentages/en.md
  markdown/dev/howtos/environments/nodejs/en.md
  markdown/dev/reference/api/pattern/addpart/en.md
  markdown/dev/reference/api/pattern/draft/en.md
  markdown/dev/reference/api/pattern/getconfig/en.md
  markdown/dev/reference/api/pattern/render/en.md
  markdown/dev/reference/api/pattern/sample/en.md
  markdown/dev/reference/api/pattern/samplemeasurement/en.md
  markdown/dev/reference/api/pattern/samplemodels/en.md
  markdown/dev/reference/api/pattern/sampleoption/en.md
  markdown/dev/reference/api/pattern/use/en.md
  markdown/dev/reference/packages/snapseries/en.md
  markdown/dev/reference/plugins/timing/en.md
  markdown/org/docs/designs/breanna/options/en.md
  markdown/org/docs/designs/brian/options/en.md
  markdown/org/docs/measurements/highbust/en.md
Labels: :book: documentation
