Repository freesewing/freesewing, pull requests merged in 2023-07, with the labels that each got.

#4342 feature (lab) Modal Menus for Mobile
  .eslintrc.cjs
  config/dependencies.yaml
  package.json
  sites/lab/package.json
  sites/shared/components/collapse.mjs
  sites/shared/components/mdx/tabs.mjs
  sites/shared/components/workbench/header.mjs
  sites/shared/components/workbench/menus/mobile-menubar.mjs
  sites/shared/components/workbench/menus/shared/inputs.mjs
  sites/shared/components/workbench/menus/shared/menu-wrapper.mjs
  sites/shared/components/workbench/new.mjs
  sites/shared/components/workbench/pan-zoom-pattern.mjs
  sites/shared/components/workbench/views/cut/index.mjs
  sites/shared/components/workbench/views/cut/menu.mjs
  sites/shared/components/workbench/views/draft/index.mjs
  sites/shared/components/workbench/views/draft/menu.mjs
  sites/shared/components/workbench/views/inspect/index.mjs
  sites/shared/components/workbench/views/inspect/inspector/menu.mjs
  sites/shared/components/workbench/views/inspect/menu.mjs
  sites/shared/components/workbench/views/pattern-with-menu.mjs
  sites/shared/components/workbench/views/print/index.mjs
  sites/shared/components/workbench/views/print/menu.mjs
  sites/shared/components/workbench/views/test/index.mjs
  sites/shared/components/workbench/views/test/menu.mjs
  sites/shared/components/workbench/views/test/options.mjs
  sites/shared/components/workbench/views/view-header.mjs
  sites/shared/components/wrappers/context.mjs
  sites/shared/components/wrappers/header.mjs
  sites/shared/components/wrappers/modal.mjs
  sites/shared/components/wrappers/page.mjs
  sites/shared/components/wrappers/swipes.mjs
  sites/shared/context/mobile-menubar-context.mjs
  sites/shared/context/modal-context.mjs
  yarn.lock
Labels: :gear: configuration, :computer: lab, :computer: shared

#4368 fix (workbench) allow designs with no measurements to draft
  sites/shared/components/workbench/new.mjs
  sites/shared/components/workbench/workbench.en.yaml
Labels: :computer: shared

#4394 fix (org) add blog and showcase pages to the nav prebuild
  config/dependencies.yaml
  sites/org/components/sanity/page-wrapper.mjs
  sites/org/components/sanity/utils.mjs
  sites/org/hooks/use-navigation.mjs
  sites/org/package.json
  sites/org/pages/blog/[slug].mjs
  sites/org/pages/blog/page/[page].mjs
  sites/org/pages/showcase/[slug].mjs
  sites/org/pages/showcase/page/[page].mjs
  sites/org/pages/sitemap.mjs
  sites/org/site.config.mjs
  sites/sanity/package.json
  sites/shared/components/mdx/read-more.mjs
  sites/shared/context/navigation-context.mjs
  sites/shared/package.json
  sites/shared/prebuild/index.mjs
  sites/shared/prebuild/navigation.mjs
  sites/shared/prebuild/sanity.mjs
  yarn.lock
Labels: :gear: configuration, :computer: lab, :computer: shared, :computer: org, :computer: sanity

#4404 feat(org): Added translation status page
  config/dependencies.yaml
  sites/org/components/crowdin/status.mjs
  sites/org/hooks/use-navigation.mjs
  sites/org/package.json
  sites/org/pages/translation/index.mjs
  sites/org/site.config.mjs
  sites/shared/components/wrappers/chart.mjs
  yarn.lock
Labels: :gear: configuration, :computer: shared, :computer: org

#4407 fix (Workbench) remove infinite loop in measies view
  sites/shared/components/sets/set-picker.mjs
  sites/shared/hooks/use-backend.mjs
Labels: :computer: shared

#4409 fix (Workbench) Measies view fix 2
  sites/shared/components/sets/set-candidate.mjs
Labels: :computer: shared

#4408 fix(org): Added translation for translation page (so meta)
  sites/org/pages/translation/index.mjs
  sites/org/pages/translation/translation.en.yaml
  sites/shared/components/locale-picker/locales.en.yaml
Labels: :computer: shared, :computer: org

#4412 chore: Updated translation guide
  markdown/dev/guides/translation/en.md
Labels: :book: documentation

#4413 fix(markdown): Links in translation guide
  markdown/dev/guides/translation/en.md
Labels: :book: documentation

#4414 fix(markdown): Line breaks in translation guide
  markdown/dev/guides/translation/en.md
Labels: :book: documentation

#4417 Parts renamed to stacks in layout reference docs
  markdown/dev/reference/settings/layout/en.md
Labels: :book: documentation

#4418 feat(org): Translation pages
  markdown/dev/guides/translation/en.md
  sites/backend/openapi/flows.mjs
  sites/backend/openapi/index.mjs
  sites/backend/openapi/lib.mjs
  sites/backend/src/config.mjs
  sites/backend/src/controllers/flows.mjs
  sites/backend/src/models/flow.mjs
  sites/backend/src/models/user.mjs
  sites/backend/src/routes/flows.mjs
  sites/backend/src/routes/index.mjs
  sites/backend/src/templates/email/index.mjs
  sites/backend/src/templates/email/langsuggest/index.mjs
  sites/backend/src/templates/email/transinvite/index.mjs
  sites/backend/src/templates/email/transinvite/transinvite.en.yaml
  sites/backend/src/utils/email.mjs
  sites/org/components/crowdin/suggest-language.mjs
  sites/org/components/crowdin/translator-invite.mjs
  sites/org/components/crowdin/translators.mjs
  sites/org/hooks/use-navigation.mjs
  sites/org/pages/translation/index.mjs
  sites/org/pages/translation/join.mjs
  sites/org/pages/translation/suggest-language.mjs
  sites/org/pages/translation/translation.en.yaml
  sites/org/site.config.mjs
  sites/shared/components/choice-button.mjs
  sites/shared/hooks/use-backend.mjs
  sites/shared/prebuild/crowdin.mjs
  sites/shared/prebuild/index.mjs
Labels: :book: documentation, :computer: shared, :computer: backend, :computer: org

#2953 fix(Bee) Options changes restored.
  designs/bee/src/cup.mjs
Labels: :shirt: bee

#4459 Tweaks to the sitemap and MDX meta data display
  markdown/dev/sitemap/en.md
  sites/dev/hooks/use-navigation.mjs
  sites/dev/pages/[...slug].mjs
  sites/dev/site.config.mjs
  sites/org/hooks/use-navigation.mjs
  sites/org/site.config.mjs
  sites/shared/components/mdx/docs-helpers.mjs
  sites/shared/components/mdx/meta.mjs
  sites/shared/components/mdx/prev-next.mjs
  sites/shared/components/mdx/read-more.mjs
  sites/shared/components/prev-next.mjs
  sites/shared/components/wrappers/mdx.mjs
  sites/shared/context/navigation-context.mjs
  sites/shared/hooks/use-navigation-helpers.mjs
  sites/shared/i18n/docs.en.yaml
  sites/shared/prebuild/i18n.mjs
  sites/shared/styles/globals.css
  sites/shared/utils.mjs
Labels: :book: documentation, :computer: shared, :computer: dev, :computer: org

#4466 Build error fixes
  config/authors.mjs
  sites/shared/components/prev-next.mjs
Labels: :gear: configuration, :computer: shared

#4467 Layout changes to sites - New navigation based on sitenav
  packages/react-components/src/pattern/defs.mjs
  sites/dev/components/header/index.mjs
  sites/dev/components/layouts/bare.mjs
  sites/dev/components/layouts/default.mjs
  sites/dev/components/layouts/docs.mjs
  sites/dev/components/navigation/modal-menu.mjs
  sites/dev/components/navigation/sections-menu.mjs
  sites/dev/hooks/use-navigation.mjs
  sites/dev/pages/404.mjs
  sites/dev/pages/[...slug].mjs
  sites/dev/pages/about.mjs
  sites/dev/pages/search.mjs
  sites/org/components/header/index.mjs
  sites/org/components/layouts/bare.mjs
  sites/org/components/layouts/default.mjs
  sites/org/components/layouts/docs.mjs
  sites/org/components/sanity/page-wrapper.mjs
  sites/org/hooks/use-navigation.mjs
  sites/org/pages/docs/[...slug].mjs
  sites/org/pages/translation/index.mjs
  sites/org/pages/translation/join.mjs
  sites/org/pages/translation/suggest-language.mjs
  sites/org/pages/welcome/bio.mjs
  sites/org/pages/welcome/compare.mjs
  sites/org/pages/welcome/img.mjs
  sites/org/pages/welcome/index.mjs
  sites/org/pages/welcome/newsletter.mjs
  sites/org/pages/welcome/units.mjs
  sites/org/pages/welcome/username.mjs
  sites/shared/components/base-layout.mjs
  sites/shared/components/footer/index.mjs
  sites/shared/components/mdx/meta.mjs
  sites/shared/components/mdx/read-more.mjs
  sites/shared/components/mdx/tabbed-example.mjs
  sites/shared/components/mdx/toc.mjs
  sites/shared/components/navigation/primary.mjs
  sites/shared/components/navigation/sections.en.yaml
  sites/shared/components/navigation/sitenav.mjs
  sites/shared/components/prev-next.mjs
  sites/shared/components/wrappers/layout.mjs
  sites/shared/components/wrappers/page.mjs
  sites/shared/utils.mjs
Labels: :computer: shared, :computer: dev, :computer: org

#4471 chore(markdown): Updates to translation docs
  markdown/dev/guides/translation/en.md
  markdown/dev/i18n/en.md
Labels: :book: documentation

#4473 fix(dev): Make slug available in header for modal menu
  sites/dev/components/header/index.mjs
  sites/dev/components/navigation/modal-menu.mjs
  sites/shared/components/navigation/sitenav.mjs
  sites/shared/components/wrappers/layout.mjs
Labels: :computer: shared, :computer: dev

#4476 fix: skip build script is not working as it should
  crowdin.yml
  scripts/skip-build-base.mjs
Labels: :scroll: scripts

#4477 fix(shared): Color edit page button
  sites/shared/components/mdx/meta.mjs
Labels: :computer: shared

#4478 chore(shared): Tweaks to breadcrumbs and dev modal menu
  sites/dev/components/header/index.mjs
  sites/dev/components/navigation/modal-menu.mjs
  sites/dev/hooks/use-navigation.mjs
  sites/shared/components/navigation/sitenav.mjs
  sites/shared/i18n/common.en.yaml
Labels: :computer: shared, :computer: dev

#4479 chore: More tweaks to skip-build script
  scripts/skip-build-base.mjs
  sites/dev/skip_build.mjs
  sites/lab/skip_build.mjs
  sites/org/skip_build.mjs
  sites/sanity/skip_build.mjs
Labels: :computer: lab, :computer: dev, :computer: org, :scroll: scripts, :computer: sanity

#4481 feat: new dev home page
  sites/dev/pages/index.mjs
  sites/org/pages/new/index.mjs
  sites/shared/components/navigation/sitenav.mjs
  sites/shared/components/page-link.mjs
  sites/shared/components/web-link.mjs
  sites/shared/styles/globals.css
Labels: :computer: shared, :computer: dev, :computer: org

#4492 feat(shared): Started linedrawing JSX collection with Aaron
  artwork/linedrawings/aaron.jsx
  artwork/linedrawings/aaron.svg
  sites/shared/components/designs/linedrawings/aaron.mjs
  sites/shared/components/designs/linedrawings/shared.mjs
Labels: :computer: shared

#4493 More contained fixes to docs
  markdown/org/blog/2019-yearly-report/fr.md
  markdown/org/blog/a-call-for-help/nl.md
  markdown/org/blog/announcing-v2/uk.md
  markdown/org/blog/core-1-8-jaeger-across-back/de.md
  markdown/org/blog/email-spam-problems/uk.md
  markdown/org/blog/freesewing-goes-jamstack/de.md
  markdown/org/blog/freesewing-v2-1/fr.md
  markdown/org/blog/gdpr-plan/uk.md
  markdown/org/blog/roundup-2017-12/nl.md
  markdown/org/docs/designs/breanna/options/fr.md
  markdown/org/docs/designs/brian/options/fr.md
  markdown/org/docs/designs/hi/instructions/uk.md
  markdown/org/showcase/charlie-by-joost/nl.md
  sites/org/components/layouts/docs.mjs
  sites/org/hooks/use-navigation.mjs
  sites/org/pages/docs/[...slug].mjs
  sites/org/pages/docs/index.mjs
  sites/shared/components/dynamic-docs/org.mjs
  sites/shared/components/mdx/index.mjs
  sites/shared/components/mdx/legend.mjs
  sites/shared/components/mdx/meta.mjs
  sites/shared/components/mdx/read-more.mjs
  sites/shared/components/mdx/tabbed-example.mjs
  sites/shared/components/navigation/sitenav.mjs
  sites/shared/components/prev-next.mjs
  sites/shared/components/sets/set-picker.mjs
  sites/shared/components/workbench/menus/design-options/index.mjs
  sites/shared/components/wrappers/page.mjs
Labels: :book: documentation, :computer: shared, :computer: org

#4507 Feature (org) mdx blog and showcase pages
  sites/org/components/layouts/docs.mjs
  sites/org/components/layouts/post.mjs
  sites/org/components/mdx/posts/article.mjs
  sites/org/components/mdx/posts/author.mjs
  sites/org/components/mdx/posts/utils.mjs
  sites/org/components/sanity/mdx-wrapper.mjs
  sites/org/components/sanity/page-wrapper.mjs
  sites/org/components/sanity/utils.mjs
  sites/org/hooks/use-navigation.mjs
  sites/org/pages/blog/[slug].mjs
  sites/org/pages/blog/page/[page].mjs
  sites/org/pages/docs/[...slug].mjs
  sites/org/pages/docs/index.mjs
  sites/org/pages/showcase/[slug].mjs
  sites/org/pages/showcase/page/[page].mjs
  sites/shared/components/navigation/pagination.mjs
  sites/shared/components/prev-next.mjs
  sites/shared/components/spinner.mjs
  sites/shared/hooks/use-dynamic-mdx.mjs
  sites/shared/prebuild/docs.mjs
  sites/shared/prebuild/index.mjs
  sites/shared/prebuild/navigation.mjs
  sites/shared/prebuild/posts.mjs
  sites/shared/styles/globals.css
  sites/shared/utils.mjs
Labels: :computer: shared, :computer: org

#4499 New Crowdin updates
  markdown/org/blog/announcing-carlita/uk.md
  markdown/org/docs/designs/aaron/options/fr.md
  markdown/org/docs/designs/bella/instructions/uk.md
  markdown/org/docs/designs/carlita/instructions/uk.md
  markdown/org/docs/designs/carlton/instructions/uk.md
  markdown/org/docs/designs/charlie/instructions/uk.md
  markdown/org/docs/designs/penelope/instructions/uk.md
  markdown/org/docs/sewing/cutting/uk.md
  markdown/org/docs/sewing/darts/uk.md
  markdown/org/docs/sewing/double-welt-pockets/uk.md
  markdown/org/newsletter/2023q3/uk.md
  markdown/org/showcase/casual-pink-simon/uk.md
  markdown/org/showcase/huey-by-minty/fr.md
  markdown/org/showcase/matching-simon/fr.md
  markdown/org/showcase/purple-huey/fr.md
  markdown/org/showcase/sandy-by-karin/fr.md
  markdown/org/showcase/sven-nr2/fr.md
  markdown/org/showcase/wahid-by-minty/fr.md
  markdown/org/showcase/wahid-by-pho/fr.md
  markdown/org/ui/community/where/discord/fr.md
  markdown/org/ui/homepage/makers/fr.md
  markdown/org/ui/splash/developer/fr.md
  markdown/org/ui/splash/maker/fr.md
  sites/shared/jargon/uk.json
Labels: :book: documentation, :computer: shared

#4513 New Crowdin updates
  markdown/org/*/de.md
  markdown/org/*/es.md
  markdown/org/*/fr.md
  markdown/org/*/nl.md
  markdown/org/*/uk.md
  markdown/org/docs/designs/bella/instructions/uk.md
  markdown/org/docs/designs/breanna/options/fr.md
  markdown/org/docs/designs/brian/options/fr.md
  markdown/org/docs/designs/carlton/instructions/uk.md
  markdown/org/docs/designs/charlie/instructions/uk.md
  markdown/org/docs/designs/penelope/instructions/uk.md
  markdown/org/docs/sewing/cutting/uk.md
  markdown/org/docs/sewing/darts/uk.md
  markdown/org/docs/uk.md
  markdown/org/showcase/casual-pink-simon/uk.md
  markdown/org/ui/community/where/discord/fr.md
  markdown/org/ui/homepage/makers/fr.md
  markdown/org/ui/splash/developer/fr.md
  markdown/org/ui/splash/maker/fr.md
  sites/shared/components/gdpr/*.de.yaml
  sites/shared/components/gdpr/*.es.yaml
  sites/shared/components/gdpr/*.fr.yaml
  sites/shared/components/gdpr/*.nl.yaml
  sites/shared/components/gdpr/*.uk.yaml
  sites/shared/jargon/uk.json
Labels: :book: documentation, :computer: shared

#4525 fix(sites): Showcase pages / Import typo fix / Fix lab after prebuild changes
  config/scripts.yaml
  sites/dev/components/navigation/modal-menu.mjs
  sites/dev/hooks/useApp.mjs
  sites/lab/components/layouts/default.mjs
  sites/lab/components/navigation/modal-menu.mjs
  sites/lab/components/navigation/sections-menu.mjs
  sites/lab/hooks/use-navigation.mjs
  sites/lab/hooks/useApp.mjs
  sites/lab/package.json
  sites/lab/prebuild.mjs
  sites/org/components/navigation/modal-menu.mjs
  sites/org/pages/showcase/[slug].mjs
  sites/org/pages/showcase/page/[page].mjs
  sites/shared/components/navigation/sections-menu.mjs
  sites/shared/context/navigation-context.mjs
  sites/shared/prebuild/crowdin.mjs
  sites/shared/prebuild/navigation.mjs
  sites/shared/prebuild/sitenav-lab.mjs
Labels: :gear: configuration, :computer: lab, :computer: shared, :computer: dev, :computer: org

#4526 fix: Unice does not extend Ursula
  .github/pull_request_template.md
  config/build-order.mjs
  crowdin.yml
  designs/unice/i18n/en.json
  designs/unice/src/index.mjs
  designs/ursula/package.json
  nx.json
  packages/new-design/lib/cli.mjs
  packages/new-design/prebuild.mjs
  sites/shared/prebuild/runner.mjs
Labels: :gear: configuration, :computer: shared, :shirt: unice, :package: new-design, :shirt: ursula

#4527 chore: Let cms site run skip_build script
  sites/sanity/skip_build.mjs
  sites/shared/prebuild/navigation.mjs
  sites/shared/prebuild/shared.mjs
  sites/shared/prebuild/sitenav-org.mjs
Labels: :computer: shared, :computer: sanity

#4530 fix(org): Avoid confusing about what slug means
  config/dependencies.yaml
  sites/dev/package.json
  sites/lab/package.json
  sites/org/package.json
  sites/org/pages/blog/[dir].mjs
  sites/org/pages/showcase/[dir].mjs
  sites/shared/package.json
  yarn.lock
Labels: :gear: configuration, :computer: lab, :computer: shared, :computer: dev, :computer: org

#4532 chore: Remove email site
  config/dependencies.yaml
  config/software/sites.json
  sites/email/LICENSE
  sites/email/build_local/emailchange.html
  sites/email/build_local/goodbye.html
  sites/email/build_local/login-link.html
  sites/email/build_local/newsletter-subscribe.html
  sites/email/build_local/password-reset.html
  sites/email/build_local/signup.html
  sites/email/config.js
  sites/email/config.production.js
  sites/email/package.json
  sites/email/src/components/footer.html
  sites/email/src/css/tailwind.css
  sites/email/src/css/utilities.css
  sites/email/src/layouts/main.html
  sites/email/src/templates/emailchange.html
  sites/email/src/templates/goodbye.html
  sites/email/src/templates/login-link.html
  sites/email/src/templates/newsletter-subscribe.html
  sites/email/src/templates/password-reset.html
  sites/email/src/templates/signup.html
  sites/email/tailwind.config.js
  sites/shared/package.json
  yarn.lock
Labels: :gear: configuration, :computer: shared, :computer: email

#4535 chore(markdown): Crowdin fixes
  markdown/org/blog/a-call-for-help/nl.md
  markdown/org/blog/announcing-v2/uk.md
  markdown/org/blog/bye-2020/de.md
  markdown/org/blog/core-1-8-jaeger-across-back/de.md
  markdown/org/blog/core-v1-3-0-is-out/fr.md
Labels: :book: documentation

#4538 chore: Updated translation guide
  markdown/dev/guides/translation/en.md
Labels: :book: documentation

#4544 fix: Issue with crowding file names and UI tweaks
  crowdin.yml
  sites/shared/components/modal/locale-picker.mjs
  sites/shared/components/modal/theme-picker.mjs
  sites/shared/components/wrappers/modal.mjs
Labels: :computer: shared

#4571 New Crowdin Translations [skip build]
  markdown/org/blog/gdpr-plan/uk.md
  markdown/org/blog/roundup-2017-10/fr.md
  markdown/org/newsletter/2021q2/uk.md
Labels: :book: documentation, crowdin, i18n

#4572 New Crowdin Translations [skip build]
  markdown/org/blog/announcing-v2/uk.md
  markdown/org/blog/email-spam-problems/uk.md
  markdown/org/blog/v2-22-then-v3/es.md
  markdown/org/docs/designs/breanna/options/fr.md
  markdown/org/docs/designs/brian/options/fr.md
  markdown/org/docs/designs/cornelius/instructions/es.md
  markdown/org/docs/designs/cornelius/options/cuffstyle/es.md
  markdown/org/docs/designs/hi/instructions/uk.md
  markdown/org/docs/faq/commercial-use/uk.md
  markdown/org/docs/faq/measurement-estimates/uk.md
  markdown/org/docs/faq/notches/uk.md
  markdown/org/docs/faq/sizes/uk.md
  markdown/org/newsletter/2022q4/uk.md
  markdown/org/showcase/charlie-by-joost/es.md
Labels: :book: documentation, crowdin, i18n

#4603 Work on a homepage for FreeSewing.org
  sites/org/components/footer/de.yaml
  sites/org/components/footer/en.yaml
  sites/org/components/footer/es.yaml
  sites/org/components/footer/fr.yaml
  sites/org/components/footer/index.mjs
  sites/org/components/footer/nl.yaml
  sites/org/components/footer/uk.yaml
  sites/org/pages/index.mjs
  sites/org/public/img/models/model-0.png
  sites/org/public/img/models/model-1.png
  sites/org/public/img/models/model-2.png
  sites/org/public/img/models/model-3.png
  sites/org/public/img/models/model-4.png
  sites/org/public/img/models/model-5.png
  sites/org/public/img/models/model-6.png
  sites/org/public/img/models/model-7.png
  sites/shared/components/animations/freesewing.mjs
  sites/shared/components/animations/how-does-it-work.mjs
  sites/shared/components/animations/loading-bar.mjs
  sites/shared/components/designs/linedrawings/aaron.mjs
  sites/shared/components/designs/linedrawings/bruce.mjs
  sites/shared/components/designs/linedrawings/shared.mjs
  sites/shared/components/designs/linedrawings/simon.mjs
  sites/shared/components/designs/linedrawings/wahid.mjs
  sites/shared/components/footer/de.yaml
  sites/shared/components/footer/en.yaml
  sites/shared/components/footer/es.yaml
  sites/shared/components/footer/fr.yaml
  sites/shared/components/footer/index.mjs
  sites/shared/components/footer/nl.yaml
  sites/shared/components/footer/uk.yaml
  sites/shared/i18n/common/en.yaml
  sites/shared/i18n/common/nl.yaml
  sites/shared/i18n/homepage/en.yaml
Labels: :computer: shared, :computer: org

#4600 fix (prebuild) fix dev and lab prebuild, nav prebuild translations
  .gitignore
  sites/lab/pages/docs/index.mjs
  sites/lab/pages/index.mjs
  sites/lab/prebuild.mjs
  sites/shared/prebuild/markdown.mjs
  sites/shared/prebuild/sitenav-lab.mjs
  sites/shared/prebuild/sitenav-org.mjs
Labels: :computer: lab, :computer: shared

#4602 fix (scripts) update kickstart and tips
  package.json
  scripts/help.mjs
Labels: :scroll: scripts

#4604 New Crowdin Translations [skip build]
  markdown/org/docs/faq/tapering-seams/uk.md
  sites/shared/i18n/common/de.yaml
  sites/shared/i18n/common/es.yaml
  sites/shared/i18n/common/fr.yaml
  sites/shared/i18n/common/nl.yaml
  sites/shared/i18n/common/uk.yaml
  sites/shared/i18n/homepage/de.yaml
  sites/shared/i18n/homepage/es.yaml
  sites/shared/i18n/homepage/fr.yaml
  sites/shared/i18n/homepage/nl.yaml
  sites/shared/i18n/homepage/uk.yaml
Labels: :book: documentation, :computer: shared, crowdin, i18n

#4607 New Crowdin Translations [skip build]
  markdown/org/blog/freesewing-v2-1/uk.md
  markdown/org/blog/the-refashioners-2017/uk.md
  markdown/org/docs/designs/benjamin/instructions/uk.md
  markdown/org/docs/designs/diana/options/bicepsease/uk.md
  markdown/org/docs/designs/octoplushy/instructions/uk.md
  markdown/org/docs/faq/tapering-seams/uk.md
  markdown/org/docs/faq/what-is-freesewing/uk.md
  markdown/org/docs/faq/why-signup/uk.md
  markdown/org/docs/guide/measurements/estimates/uk.md
  markdown/org/docs/guide/people/uk.md
  markdown/org/docs/guide/uk.md
  markdown/org/docs/guide/what/uk.md
  markdown/org/docs/measurements/biceps/uk.md
  markdown/org/docs/measurements/bustspan/uk.md
  markdown/org/docs/measurements/hpstobust/uk.md
  markdown/org/docs/sewing/double-welt-pockets/uk.md
  markdown/org/docs/sewing/ease/uk.md
  markdown/org/showcase/quilted-jersey-huey/de.md
  sites/lab/components/header/uk.yaml
  sites/org/components/footer/en.yaml
  sites/org/components/header/uk.yaml
  sites/shared/components/footer/en.yaml
  sites/shared/components/workbench/uk.yaml
  sites/shared/i18n/measurements/uk.yaml
Labels: :book: documentation, :computer: lab, :computer: shared, :computer: org, crowdin, i18n
