Repository freesewing/freesewing, pull requests merged in 2023-01, with the labels that each got.

#3359 Update en.md with pectoral fin tips
  markdown/org/docs/patterns/hi/instructions/en.md
  markdown/org/docs/patterns/teagan/instructions/en.md
Labels: :gem: enhancement, :book: documentation, :shirt: hi

#3368 New Crowdin updates
  markdown/org/docs/patterns/hi/instructions/de.md
  markdown/org/docs/patterns/hi/instructions/es.md
  markdown/org/docs/patterns/hi/instructions/fr.md
  markdown/org/docs/patterns/hi/instructions/nl.md
  markdown/org/docs/patterns/hi/instructions/uk.md
  markdown/org/docs/patterns/teagan/instructions/de.md
  markdown/org/docs/patterns/teagan/instructions/es.md
  markdown/org/docs/patterns/teagan/instructions/fr.md
  markdown/org/docs/patterns/teagan/instructions/nl.md
  markdown/org/docs/patterns/teagan/instructions/uk.md
Labels: :book: documentation

#3369 chore: Dependency updates
  config/dependencies.yaml
  package.json
  packages/core/package.json
  packages/new-design/package.json
  sites/dev/package.json
  sites/lab/package.json
  sites/org/package.json
  sites/sanity/package.json
  sites/shared/package.json
  yarn.lock
Labels: :package: core, :gear: configuration, :computer: lab, :computer: shared, :computer: dev, :computer: org, :package: new-design, :computer: sanity

#3376 Tangerineshark teagan band pics
  markdown/org/docs/patterns/teagan/instructions/Teagan03f.svg
  markdown/org/docs/patterns/teagan/instructions/Teagan03g.svg
  markdown/org/docs/patterns/teagan/instructions/Teagan03h.svg
  markdown/org/docs/patterns/teagan/instructions/Teagan03i.svg
  markdown/org/docs/patterns/teagan/instructions/en.md
Labels: :book: documentation

#3379 chore: Dependency updates
  config/dependencies.yaml
  sites/backend/package.json
  sites/dev/package.json
  sites/org/package.json
  sites/sanity/package.json
  yarn.lock
Labels: :gear: configuration, :computer: backend, :computer: dev, :computer: org, :computer: sanity

#3378 New Crowdin updates
  markdown/org/docs/patterns/teagan/instructions/de.md
  markdown/org/docs/patterns/teagan/instructions/es.md
  markdown/org/docs/patterns/teagan/instructions/fr.md
  markdown/org/docs/patterns/teagan/instructions/nl.md
  markdown/org/docs/patterns/teagan/instructions/uk.md
Labels: :book: documentation

#3384 Dependencies
  config/dependencies.yaml
  package.json
  packages/rehype-jargon/package.json
  scripts/reconfigure.mjs
  sites/lab/package.json
Labels: :gear: configuration, :computer: lab, :package: rehype-jargon, :scroll: scripts

#3391 fix(docs): Pattern tutorial: Change "you/your" to "we/us/our". Fixes #2982
  markdown/dev/tutorials/pattern-design/adding-measurements/en.md
  markdown/dev/tutorials/pattern-design/adding-options/en.md
  markdown/dev/tutorials/pattern-design/avoiding-overlap/en.md
  markdown/dev/tutorials/pattern-design/completing-our-pattern/en.md
  markdown/dev/tutorials/pattern-design/completing-the-neck-opening/en.md
  markdown/dev/tutorials/pattern-design/conclusion/en.md
  markdown/dev/tutorials/pattern-design/constructing-the-neck-opening/en.md
  markdown/dev/tutorials/pattern-design/creating-the-closure/en.md
  markdown/dev/tutorials/pattern-design/draft-method/en.md
  markdown/dev/tutorials/pattern-design/drawing-the-bib-outline/en.md
  markdown/dev/tutorials/pattern-design/drawing-the-straps/en.md
  markdown/dev/tutorials/pattern-design/en.md
  markdown/dev/tutorials/pattern-design/fitting-the-neck-opening/en.md
  markdown/dev/tutorials/pattern-design/new-design/en.md
  markdown/dev/tutorials/pattern-design/our-first-part/en.md
  markdown/dev/tutorials/pattern-design/paperless/en.md
  markdown/dev/tutorials/pattern-design/rounding-the-corners/en.md
  markdown/dev/tutorials/pattern-design/shaping-the-straps/en.md
  markdown/dev/tutorials/pattern-design/structure/en.md
  markdown/dev/tutorials/pattern-design/testing-our-pattern/en.md
  markdown/dev/tutorials/pattern-design/testing-our-pattern/test-option-lengthratio.png
  markdown/dev/tutorials/pattern-design/testing-our-pattern/test-option-neckratio.png
  markdown/dev/tutorials/pattern-design/testing-our-pattern/test-option-widthratio.png
Labels: :book: documentation

#3410 fix(docs): Correct grammar in Adding Measurements
  markdown/dev/tutorials/pattern-design/adding-measurements/en.md
Labels: :book: documentation

#3411 (minor typo fix) Fixes typo in SVG in dev documentation
  markdown/dev/guides/docs/docs.png
  markdown/dev/guides/docs/docs.svg
Labels: :book: documentation

#3407 fix(i18n): Add design categories
  packages/i18n/src/locales/en/app.yaml
Labels: :package: i18n

#3387 feature(docs): Add Howto hide paths but show text
  markdown/dev/howtos/code/hide-paths-show-text/en.md
Labels: :book: documentation

#3412 Seems I've been neglecting to merge in my changes
  .eslintignore
  config/dependencies.yaml
  packages/i18n/src/locales/de/susi.yaml
  packages/i18n/src/locales/en/loader.yaml
  packages/i18n/src/locales/en/susi.yaml
  packages/i18n/src/locales/es/susi.yaml
  packages/i18n/src/locales/fr/susi.yaml
  packages/i18n/src/locales/nl/susi.yaml
  packages/i18n/src/locales/uk/susi.yaml
  sites/org/components/header.js
  sites/org/components/wrappers/layout.js
  sites/org/components/wrappers/page.js
  sites/org/components/wrappers/susi.js
  sites/org/example.env
  sites/org/freesewing.config.js
  sites/org/hooks/useApp.js
  sites/org/package.json
  sites/org/pages/_app.js
  sites/org/pages/docs/[...mdxslug].js
  sites/org/pages/docs/index.js
  sites/org/pages/index.js
  sites/org/pages/signin/index.js
  sites/org/pages/signup/index.js
  sites/org/pages/typography.js
  sites/org/public/img/splash.jpg
  sites/shared/backend.mjs
  sites/shared/components/icons/spinner.js
  sites/shared/components/locale-picker.js
  sites/shared/components/theme-picker.js
  sites/shared/package.json
  sites/shared/prebuild/index.mjs
  sites/shared/themes/dark.js
  sites/shared/themes/hax0r.js
  sites/shared/themes/light.js
  sites/shared/utils.mjs
  yarn.lock
Labels: :package: i18n, :gear: configuration, :computer: shared, :computer: org

#3416 feat(markdown): Added docs on how to trace a pattern
  markdown/dev/howtos/design/trace/en.md
  markdown/dev/reference/plugins/svgattr/en.md
  markdown/dev/reference/snippets/en.md
Labels: :book: documentation

#3417 feat: Load translation from pages or components folder
  config/dependencies.yaml
  crowdin.yml
  sites/org/package.json
  sites/org/pages/signup/en.yaml
  sites/org/pages/signup/i18n.mjs
  sites/org/pages/signup/index.js
  sites/org/pages/signup/index.json
  sites/shared/config/next.mjs
  sites/shared/prebuild/og/index.mjs
  yarn.lock
Labels: :gear: configuration, :computer: shared, :computer: org

#3421 feat(org): Changes to code-adjacent translation files
  crowdin.yml
  sites/org/pages/signup/en.yaml
  sites/org/pages/signup/i18n.mjs
  sites/org/pages/signup/index.js
  sites/org/pages/signup/index.json
  sites/org/pages/signup/signup.en.yaml
  sites/shared/prebuild/i18n.mjs
Labels: :computer: shared, :computer: org

#3304 fix(core): Improve error messages for Firefox and Safari browsers
  sites/shared/components/workbench/logs.js
Labels: :package: core, :computer: shared

#2778 feat(lunetius): add linedrawing
  artwork/linedrawings/lunetius.svg
  config/changelog.yaml
Labels: :gear: configuration, :shirt: lunetius

#3408 fix(dev,lab): Add <title> elements to HTML pages
  sites/dev/pages/404.js
  sites/dev/pages/[...mdxslug].js
  sites/dev/pages/contact.js
  sites/dev/pages/index.js
  sites/lab/page-templates/design-list.js
  sites/lab/page-templates/workbench.mjs
  sites/lab/pages/index.js
Labels: :computer: lab, :computer: dev

#3371 fix(core): utils.curvesIntersect correctly has 3 different return types, not 2
  markdown/dev/reference/api/utils/curvesintersect/en.md
  packages/core/src/utils.mjs
Labels: :package: core, :book: documentation

#3424 chore: Move title to page wrapper for dev site
  sites/dev/components/wrappers/page.js
  sites/dev/pages/404.js
  sites/dev/pages/[...mdxslug].js
  sites/dev/pages/contact.js
  sites/dev/pages/index.js
Labels: :computer: dev

#3415 (fix) Clean up prefixing issues in plugins
  plugins/plugin-cutonfold/src/index.mjs
  plugins/plugin-gore/src/index.mjs
  plugins/plugin-round/src/index.mjs
Labels: :bug: bug, :electric_plug: plugin-cutonfold, :electric_plug: plugin-gore, :electric_plug: plugin-round

#3426 [Feature] Escape inline code while parsing it for og images
  markdown/dev/reference/plugins/svgattr/en.md
  sites/shared/prebuild/md-intro.mjs
Labels: :gem: enhancement, :book: documentation, :computer: shared

#3390 fix(docs): Updates and corrections for FreeSewing in different environments
  markdown/dev/howtos/environments/browser/en.md
  markdown/dev/howtos/environments/en.md
  markdown/dev/howtos/environments/nodejs/en.md
Labels: :book: documentation

#3438 chore: Dependency updates
  config/dependencies.yaml
  packages/rehype-jargon/package.json
  sites/backend/package.json
  sites/dev/package.json
  sites/lab/package.json
  sites/org/package.json
  sites/sanity/package.json
  yarn.lock
Labels: :gear: configuration, :computer: lab, :computer: backend, :computer: dev, :computer: org, :package: rehype-jargon, :computer: sanity

#3491 New Crowdin updates
  sites/org/components/gdpr/*.de.yaml
  sites/org/components/gdpr/*.es.yaml
  sites/org/components/gdpr/*.fr.yaml
  sites/org/components/gdpr/*.nl.yaml
  sites/org/components/gdpr/*.uk.yaml
Labels: :computer: org

#3497 fix(org): Rename/remove incorrect asterisk-named files
  sites/org/components/gdpr/*.de.yaml
  sites/org/components/gdpr/*.es.yaml
  sites/org/components/gdpr/*.fr.yaml
  sites/org/components/gdpr/*.nl.yaml
  sites/org/components/gdpr/gdpr.uk.yaml
Labels: :computer: org
