Repository freesewing/freesewing, pull requests merged in 2023-03, with the labels that each got.

#3565 fix(workbench): Change forPrinting background fill to "none". Fixes #2649
  sites/shared/components/workbench/layout/print/index.mjs
Labels: :computer: shared

#3588 New Crowdin updates
  markdown/org/docs/patterns/aaron/cutting/de.md
  markdown/org/docs/patterns/aaron/de.md
  markdown/org/docs/patterns/aaron/fabric/de.md
  markdown/org/docs/patterns/aaron/instructions/de.md
  markdown/org/docs/patterns/aaron/needs/de.md
  markdown/org/docs/patterns/aaron/options/de.md
Labels: :book: documentation

#3584 Refactor optiondocsimages script for mjs
  scripts/optiondocsimages.js
  scripts/optiondocsimages.mjs
Labels: :scroll: scripts

#3564 feature (Pattern Config Resolution) Resolve Part Configurations Progressively
  config/dependencies.yaml
  packages/core/package.json
  packages/core/src/pattern-config.mjs
  packages/core/src/pattern-draft-queue.mjs
  packages/core/src/pattern.mjs
  packages/core/src/store.mjs
  packages/core/tests/pattern-init.test.mjs
  packages/core/tests/pattern-other.test.mjs
  packages/core/tests/pattern-runtime-parts.test.mjs
  packages/core/tests/snap.test.mjs
  yarn.lock
Labels: :package: core, :gear: configuration

#3580 fix(simon): Improve positioning for snippets and macros using relative points
  designs/simon/src/back.mjs
  designs/simon/src/collar.mjs
  designs/simon/src/front.mjs
  designs/simon/src/yoke.mjs
Labels: :shirt: simon

#3506 fix(titan): Add runaway rotations protection
  designs/titan/src/back.mjs
  designs/titan/src/front.mjs
Labels: :shirt: titan

#3309 chore(charlie): Add debugging messages for inseam/outseam lengths
  designs/charlie/src/back.mjs
  designs/charlie/src/front.mjs
Labels: :shirt: charlie

#3490 fix(charlie): Fix length of back inseam to match front
  designs/charlie/src/back.mjs
  designs/charlie/src/front.mjs
Labels: :shirt: charlie

#3310 fix(bruce): Turn failing patterns into degraded patterns with warning messages
  designs/bruce/src/front.mjs
  designs/bruce/src/side.mjs
Labels: :shirt: bruce

#3305 fix(albert): Replace duplicate calculations with store values. Closes #2676
  designs/albert/src/front.mjs
  designs/albert/src/pocket.mjs
  designs/albert/src/strap.mjs
Labels: :shirt: albert

#3303 fix(docs): Remove linktitle Frontmatter keys
  markdown/dev/reference/api/part/config/hide/en.md
  markdown/dev/reference/api/part/config/name/en.md
Labels: :book: documentation

#3596 fix(charlie): Remove duplicated code from two merged PRs
  designs/charlie/src/back.mjs
  designs/charlie/src/front.mjs
Labels: :shirt: charlie

#3597 fix(albert): Remove unused variables to pass eslint
  designs/albert/src/pocket.mjs
Labels: :shirt: albert

#3598 catch up
  config/dependencies.yaml
  designs/albert/src/front.mjs
  designs/albert/src/pocket.mjs
  designs/albert/src/strap.mjs
  designs/bruce/src/front.mjs
  designs/bruce/src/side.mjs
  designs/charlie/src/back.mjs
  designs/charlie/src/front.mjs
  designs/simon/src/back.mjs
  designs/simon/src/collar.mjs
  designs/simon/src/front.mjs
  designs/simon/src/yoke.mjs
  designs/titan/src/back.mjs
  designs/titan/src/front.mjs
  markdown/dev/reference/api/part/config/hide/en.md
  markdown/dev/reference/api/part/config/name/en.md
  markdown/org/docs/patterns/holmes/cutting/nl.md
  packages/core/package.json
  packages/core/src/pattern-config.mjs
  packages/core/src/pattern-draft-queue.mjs
  packages/core/src/pattern.mjs
  packages/core/src/store.mjs
  packages/core/tests/pattern-init.test.mjs
  packages/core/tests/pattern-other.test.mjs
  packages/core/tests/pattern-runtime-parts.test.mjs
  packages/core/tests/snap.test.mjs
  packages/rehype-highlight-lines/package.json
  packages/rehype-jargon/package.json
  sites/org/package.json
  sites/sanity/package.json
  sites/shared/package.json
  yarn.lock
Labels: :package: core, :book: documentation, :gear: configuration, :computer: org, :shirt: albert, :shirt: bruce, :shirt: titan, :shirt: charlie, :package: rehype-jargon, :shirt: simon, :package: rehype-highlight-lines, :computer: sanity

#3615 New Crowdin updates
  markdown/org/docs/measurements/shouldertoelbow/de.md
  markdown/org/ui/homepage/designers/de.md
Labels: :book: documentation

#3617 fix (Bug) Usability fixes for dev
  sites/dev/components/layouts/docs.mjs
  sites/dev/components/navigation/aside.mjs
  sites/dev/skip_build.mjs
  sites/org/skip_build.mjs
Labels: :computer: dev, :computer: org

#3616 enhancement (New Part Hiding) Implement granular hiding config with presets
  designs/bee/src/cup.mjs
  designs/benjamin/src/base.mjs
  designs/bent/src/sleeve.mjs
  designs/breanna/src/base.mjs
  designs/breanna/src/front-base.mjs
  designs/breanna/src/sleevecap.mjs
  designs/brian/src/base.mjs
  designs/brian/src/sleevecap.mjs
  designs/carlita/src/front.mjs
  designs/carlton/src/back.mjs
  designs/carlton/src/front.mjs
  designs/carlton/src/topsleeve.mjs
  designs/carlton/src/undersleeve.mjs
  designs/cathrin/src/base.mjs
  designs/cathrin/src/panels.mjs
  designs/charlie/src/back.mjs
  designs/charlie/src/front.mjs
  designs/cornelius/src/frontpoints.mjs
  designs/diana/src/front.mjs
  designs/diana/src/sleeve.mjs
  designs/huey/src/back.mjs
  designs/huey/src/front.mjs
  designs/huey/src/sleeve.mjs
  designs/hugo/src/back.mjs
  designs/hugo/src/front.mjs
  designs/hugo/src/pocket.mjs
  designs/hugo/src/sleeve.mjs
  designs/jaeger/src/backbase.mjs
  designs/jaeger/src/frontbase.mjs
  designs/jaeger/src/topsleeve.mjs
  designs/jaeger/src/undersleeve.mjs
  designs/noble/src/backpoints.mjs
  designs/noble/src/frontpoints.mjs
  designs/paco/src/back.mjs
  designs/paco/src/front.mjs
  designs/simon/src/back.mjs
  designs/simon/src/front.mjs
  designs/simon/src/sleeve.mjs
  designs/simone/src/fba-front.mjs
  designs/sven/src/frontback.mjs
  designs/sven/src/sleeve.mjs
  designs/teagan/src/front.mjs
  designs/teagan/src/sleeve.mjs
  designs/tutorial/src/configpart.mjs
  designs/wahid/src/back.mjs
  designs/wahid/src/front.mjs
  designs/walburga/src/base.mjs
  designs/waralee/src/pantsproto.mjs
  designs/yuri/src/back.mjs
  designs/yuri/src/front.mjs
  designs/yuri/src/sleeve.mjs
  markdown/dev/reference/api/part/config/hide/en.md
  packages/core/src/index.mjs
  packages/core/src/pattern-config.mjs
  packages/core/tests/pattern-init.test.mjs
  packages/core/tests/pattern-part-hiding.test.mjs
Labels: :shirt: bee, :shirt: benjamin, :shirt: breanna, :shirt: bent, :shirt: carlton, :shirt: carlita, :shirt: cathrin, :shirt: charlie, :shirt: cornelius, :shirt: diana, :shirt: huey, :shirt: jaeger, :shirt: hugo, :shirt: brian

#3651 fix (shared/prebuild/i18n) update relative filepath for checking sidecars
  sites/shared/prebuild/i18n.mjs
Labels: :computer: shared

#3632 Enhancement (new-design) Ask before overwriting files when running new-design
  config/scripts.yaml
  packages/new-design/lib/config.mjs
  packages/new-design/lib/utils.mjs
  packages/new-design/package.json
  packages/new-design/templates/shared/package.json.mustache
Labels: :gear: configuration, :package: new-design

#3631 New Crowdin updates
  packages/i18n/src/locales/de/plugin/plugins/cutlist.yaml
  packages/i18n/src/locales/es/plugin/plugins/cutlist.yaml
  packages/i18n/src/locales/fr/plugin/plugins/cutlist.yaml
  packages/i18n/src/locales/nl/plugin/plugins/cutlist.yaml
  packages/i18n/src/locales/uk/plugin/plugins/cutlist.yaml
Labels: :package: i18n

#3654 fix (new-design) update for core breaking changes
  packages/new-design/templates/shared/part.mjs.mustache
  plugins/plugin-cutlist/src/index.mjs
Labels: :package: new-design, :electric_plug: plugin-cutlist

#3635 chore (store plugin methods) Change method access to via store only
  designs/bella/src/back.mjs
  designs/carlita/src/front.mjs
  designs/carlita/src/side.mjs
  designs/carlton/src/back.mjs
  designs/carlton/src/belt.mjs
  designs/carlton/src/chestpocketbag.mjs
  designs/carlton/src/chestpocketwelt.mjs
  designs/carlton/src/collar.mjs
  designs/carlton/src/collarstand.mjs
  designs/carlton/src/cufffacing.mjs
  designs/carlton/src/front.mjs
  designs/carlton/src/innerpocketbag.mjs
  designs/carlton/src/innerpockettab.mjs
  designs/carlton/src/innerpocketwelt.mjs
  designs/carlton/src/pocket.mjs
  designs/carlton/src/pocketflap.mjs
  designs/carlton/src/pocketlining.mjs
  designs/carlton/src/tail.mjs
  designs/carlton/src/topsleeve.mjs
  designs/carlton/src/undersleeve.mjs
  markdown/dev/howtos/design/cutlist/en.md
  markdown/dev/reference/api/part/draft/en.md
  markdown/dev/reference/api/store/extend/en.md
  markdown/dev/reference/plugins/cutlist/en.md
  packages/core/src/part.mjs
  packages/core/src/pattern.mjs
  packages/core/tests/store.test.mjs
  plugins/plugin-cutlist/src/index.mjs
  plugins/plugin-cutonfold/src/index.mjs
  plugins/plugin-grainline/src/index.mjs
Labels: :package: core, :book: documentation, :shirt: bella, :electric_plug: plugin-cutonfold, :electric_plug: plugin-grainline, :shirt: carlton, :shirt: carlita, :electric_plug: plugin-cutlist

#3665 fix (cutlist) string paths for cutlist methods
  plugins/plugin-cutlist/src/index.mjs
Labels: :electric_plug: plugin-cutlist

#3666 fix(plugin-cutlist, plugin-test, workbench): Cutting layout-related fixes
  plugins/plugin-cutlist/src/index.mjs
  plugins/plugin-title/src/index.mjs
  sites/shared/components/workbench/layout/cut/plugin-cut-layout.mjs
Labels: :computer: shared, :electric_plug: plugin-title, :electric_plug: plugin-cutlist

#3668 fix(plugin-title): Add space between name and version
  plugins/plugin-title/src/index.mjs
Labels: :electric_plug: plugin-title

#3669 fix(plugin-cutonfold): Update tests to use prefix in variable name
  plugins/plugin-cutonfold/tests/plugin.test.mjs
Labels: :electric_plug: plugin-cutonfold

#3671 fix (tests) Terser reporter should report failures
  plugins/plugin-bust/tests/plugin.test.mjs
  plugins/plugin-cutlist/tests/plugin.test.mjs
  plugins/plugin-cutonfold/src/index.mjs
  plugins/plugin-grainline/src/index.mjs
  tests/reporters/terse.js
Labels: :test_tube: tests, :electric_plug: plugin-bust, :electric_plug: plugin-cutonfold, :electric_plug: plugin-grainline, :electric_plug: plugin-cutlist

#3676 fix(docs): Typo missing quote in title macro docs
  markdown/dev/reference/macros/title/en.md
Labels: :book: documentation

#3675 fix (dev) add part name to mdx example so example will draft
  sites/shared/components/mdx/tabbed-example.mjs
Labels: :computer: shared

#3693 Pattern design tutorial proofreading
  markdown/dev/howtos/ways-to-contribute/proofreading/en.md
  markdown/dev/tutorials/pattern-design/completing-the-neck-opening/en.md
  markdown/dev/tutorials/pattern-design/constructing-the-neck-opening/en.md
  markdown/dev/tutorials/pattern-design/draft-method/en.md
Labels: :book: documentation

#3703 New Crowdin updates
  markdown/org/docs/patterns/aaron/cutting/fr.md
  markdown/org/docs/patterns/aaron/fabric/fr.md
Labels: :book: documentation

#3704 New Crowdin updates
  markdown/org/docs/patterns/aaron/instructions/fr.md
Labels: :book: documentation

#3705 Remove reliance on default exports in docs
  markdown/dev/howtos/design/fit-sleeve/en.md
  markdown/dev/howtos/environments/browser/en.md
  markdown/dev/howtos/environments/nodejs/en.md
Labels: :book: documentation

#3714 New Crowdin updates
  markdown/org/docs/guide/fr.md
  markdown/org/docs/patterns/bob/fabric/fr.md
Labels: :book: documentation

#3730 New Crowdin updates
  markdown/org/docs/measurements/hps/fr.md
  markdown/org/docs/measurements/hpstobust/fr.md
  markdown/org/docs/measurements/hpstowaistback/fr.md
  markdown/org/docs/measurements/hpstowaistfront/fr.md
  markdown/org/docs/measurements/seat/fr.md
  markdown/org/docs/measurements/seatback/fr.md
  markdown/org/docs/measurements/shoulderslope/fr.md
  markdown/org/docs/measurements/shouldertoelbow/fr.md
  markdown/org/docs/measurements/shouldertoshoulder/fr.md
  markdown/org/docs/measurements/shouldertowrist/fr.md
  markdown/org/docs/measurements/upperleg/fr.md
  markdown/org/docs/patterns/aaron/cutting/fr.md
  markdown/org/docs/patterns/aaron/fabric/fr.md
  markdown/org/docs/patterns/aaron/instructions/fr.md
  markdown/org/docs/patterns/aaron/measurements/fr.md
  markdown/org/docs/patterns/aaron/needs/fr.md
  markdown/org/docs/patterns/aaron/options/armholedrop/fr.md
  markdown/org/docs/patterns/aaron/options/backlinebend/fr.md
  markdown/org/docs/patterns/aaron/options/chestease/fr.md
  markdown/org/docs/patterns/aaron/options/draftforhighbust/fr.md
  packages/i18n/src/locales/fr/app.yaml
Labels: :package: i18n, :book: documentation
