Repository freesewing/freesewing, pull requests merged in 2023-05, with the labels that each got.

#3943 fix(workbench): Do not pre-draft patterns without measurements
  sites/shared/components/wrappers/workbench.mjs
Labels: :computer: shared

#3921 New Crowdin updates
  markdown/org/docs/faq/tapering-seams/de.md
  markdown/org/docs/faq/tapering-seams/es.md
  markdown/org/docs/faq/tapering-seams/fr.md
  markdown/org/docs/faq/tapering-seams/nl.md
  markdown/org/docs/faq/tapering-seams/uk.md
  markdown/org/docs/patterns/bruce/instructions/de.md
  markdown/org/docs/patterns/bruce/instructions/es.md
  markdown/org/docs/patterns/bruce/instructions/fr.md
  markdown/org/docs/patterns/bruce/instructions/nl.md
  markdown/org/docs/patterns/bruce/instructions/uk.md
Labels: :book: documentation

#3938 fix(various designs): Restore design options omitted during v3 port. Fixes #3004.
  designs/holmes/src/ear.mjs
  designs/jaeger/src/options.mjs
  designs/simon/src/options.mjs
  designs/simone/src/fba-front.mjs
  designs/yuri/src/back.mjs
  designs/yuri/src/front.mjs
Labels: :shirt: holmes, :shirt: jaeger, :shirt: yuri, :shirt: simon, :shirt: simone

#3923 chore (workflows) enforce consistent caching across workflows
  .eslintignore
  .github/workflows/lint.all.yml
  .github/workflows/lint.diff.yml
  .github/workflows/playwright.yml
  .github/workflows/tests.all.yml
Labels: :gear: configuration

#3908 Add cutlists to blocks/slopers
  designs/bella/src/back.mjs
  designs/bella/src/front-side-dart.mjs
  designs/bent/src/topsleeve.mjs
  designs/bent/src/undersleeve.mjs
  designs/breanna/src/back.mjs
  designs/breanna/src/front.mjs
  designs/breanna/src/sleeve.mjs
  designs/brian/src/back.mjs
  designs/brian/src/front.mjs
  designs/brian/src/sleeve.mjs
  designs/noble/src/backinside.mjs
  designs/noble/src/backoutside.mjs
  designs/noble/src/frontinside.mjs
  designs/noble/src/frontoutside.mjs
  designs/titan/src/back.mjs
  designs/titan/src/front.mjs
Labels: :shirt: bella, :shirt: breanna, :shirt: titan, :shirt: bent, :shirt: noble, :shirt: brian

#3887 fix(docs): (vercel tutorial) Add build command override
  markdown/dev/tutorials/getting-started-vercel/en.md
Labels: :book: documentation

#3863 Allow `defs` in the `svg` to be overwritten.
  packages/core/src/attributes.mjs
  packages/core/src/defs.mjs
  packages/core/src/svg.mjs
  packages/core/tests/defs.test.mjs
  packages/core/tests/svg.test.mjs
  plugins/plugin-annotations/src/buttons.mjs
  plugins/plugin-annotations/src/cutonfold.mjs
  plugins/plugin-annotations/src/dimensions.mjs
  plugins/plugin-annotations/src/grainline.mjs
  plugins/plugin-annotations/src/index.mjs
  plugins/plugin-annotations/src/logo.mjs
  plugins/plugin-annotations/src/notches.mjs
  plugins/plugin-annotations/src/pleat.mjs
  plugins/plugin-annotations/src/sewtogether.mjs
  plugins/plugin-annotations/tests/buttons.test.mjs
  plugins/plugin-annotations/tests/logo.test.mjs
  plugins/plugin-annotations/tests/notches.test.mjs
  plugins/plugin-theme/src/index.mjs
  sites/shared/components/workbench/draft/defs.mjs
Labels: :package: core, :computer: shared, :electric_plug: plugin-theme, :electric_plug: plugin-annotations

#3966 fix(lab): Add missing Vercel footer image
  sites/lab/public/brands/vercel.svg
Labels: :computer: lab

#3964 fixes #3957 Re-use existing part for out-of-cycle draft
  packages/core/src/pattern/pattern-drafter.mjs
Labels: :package: core

#4015 fix (new-design) peg new-design downloads to the current tag
  packages/new-design/lib/config.mjs
Labels: :package: new-design

#4013 fix(core): (part) Add warning message if invalid macro name used
  packages/core/src/part.mjs
Labels: :package: core

#4050 New Crowdin updates
  markdown/org/docs/patterns/bent/fr.md
  markdown/org/docs/patterns/bent/instructions/fr.md
  markdown/org/docs/patterns/titan/instructions/fr.md
Labels: :book: documentation

#3993 fix(docs): (git-training) Documentation review
  markdown/dev/training/git/audio/en.md
  markdown/dev/training/git/en.md
  markdown/dev/training/git/video/en.md
Labels: :book: documentation

#3930 fix(benjamin): Part name changes, instructions, and cutlist
  designs/benjamin/src/bow1.mjs
  designs/benjamin/src/bow2.mjs
  designs/benjamin/src/bow3.mjs
  designs/benjamin/src/ribbon.mjs
  markdown/org/docs/patterns/benjamin/cutting/en.md
  markdown/org/docs/patterns/benjamin/instructions/en.md
Labels: :book: documentation, :shirt: benjamin

#3976 fix(plugin-annotation,title): Supress warning message if cutlist not defined
  plugins/plugin-annotations/src/title.mjs
Labels: :electric_plug: plugin-annotations

#4040 fix(workbench): Allow blank optional measurements
  sites/shared/components/workbench/inputs/measurement.mjs
  sites/shared/components/workbench/measurements/index.mjs
Labels: :computer: shared

#4051 New Crowdin updates
  markdown/org/docs/patterns/benjamin/cutting/de.md
  markdown/org/docs/patterns/benjamin/cutting/es.md
  markdown/org/docs/patterns/benjamin/cutting/fr.md
  markdown/org/docs/patterns/benjamin/cutting/nl.md
  markdown/org/docs/patterns/benjamin/cutting/uk.md
  markdown/org/docs/patterns/benjamin/instructions/de.md
  markdown/org/docs/patterns/benjamin/instructions/es.md
  markdown/org/docs/patterns/benjamin/instructions/fr.md
  markdown/org/docs/patterns/benjamin/instructions/nl.md
  markdown/org/docs/patterns/benjamin/instructions/uk.md
  markdown/org/docs/patterns/bent/instructions/fr.md
  markdown/org/docs/patterns/bent/measurements/fr.md
  markdown/org/docs/patterns/bent/needs/fr.md
  markdown/org/docs/patterns/bent/options/acrossbackfactor/fr.md
  markdown/org/docs/patterns/bent/options/armholedepthfactor/fr.md
  markdown/org/docs/patterns/bent/options/bicepsease/fr.md
  markdown/org/docs/patterns/bent/options/chestease/fr.md
  markdown/org/docs/patterns/bent/options/collarease/fr.md
  markdown/org/docs/patterns/bent/options/cuffease/fr.md
  markdown/org/docs/patterns/bent/options/fr.md
  markdown/org/docs/patterns/bent/options/frontarmholedeeper/fr.md
  markdown/org/docs/patterns/bent/options/lengthbonus/fr.md
  markdown/org/docs/patterns/bent/options/shoulderease/fr.md
  markdown/org/docs/patterns/bent/options/shoulderslopereduction/fr.md
  markdown/org/docs/patterns/bent/options/sleevebend/fr.md
  markdown/org/docs/patterns/bent/options/sleevecapease/fr.md
  markdown/org/docs/patterns/bent/options/sleevelengthbonus/fr.md
  markdown/org/docs/patterns/breanna/cutting/fr.md
  markdown/org/docs/patterns/breanna/fabric/fr.md
  markdown/org/docs/patterns/breanna/fr.md
  markdown/org/docs/patterns/breanna/instructions/fr.md
  markdown/org/docs/patterns/breanna/measurements/fr.md
  markdown/org/docs/patterns/breanna/needs/fr.md
  markdown/org/docs/patterns/breanna/options/acrossbackfactor/fr.md
  markdown/org/docs/patterns/breanna/options/fr.md
  markdown/org/docs/patterns/brian/cutting/fr.md
  markdown/org/docs/patterns/brian/fabric/fr.md
  markdown/org/docs/patterns/brian/instructions/fr.md
  markdown/org/docs/patterns/brian/needs/fr.md
  markdown/org/docs/patterns/brian/options/acrossbackfactor/fr.md
  markdown/org/docs/patterns/brian/options/lengthbonus/fr.md
  markdown/org/docs/patterns/carlita/options/acrossbackfactor/fr.md
  markdown/org/docs/patterns/carlita/options/armholedepthfactor/fr.md
  markdown/org/docs/patterns/carlita/options/chestease/fr.md
  markdown/org/docs/patterns/carlita/options/cuffease/fr.md
  markdown/org/docs/patterns/carlton/options/acrossbackfactor/fr.md
  markdown/org/docs/patterns/carlton/options/armholedepthfactor/fr.md
  markdown/org/docs/patterns/carlton/options/chestease/fr.md
  markdown/org/docs/patterns/carlton/options/cuffease/fr.md
  markdown/org/docs/patterns/diana/options/acrossbackfactor/fr.md
  markdown/org/docs/patterns/huey/options/acrossbackfactor/fr.md
  markdown/org/docs/patterns/hugo/options/acrossbackfactor/fr.md
  markdown/org/docs/patterns/noble/instructions/fr.md
  markdown/org/docs/patterns/noble/needs/fr.md
  markdown/org/docs/patterns/teagan/options/acrossbackfactor/fr.md
  markdown/org/docs/patterns/titan/instructions/fr.md
  markdown/org/docs/patterns/yuri/options/acrossbackfactor/fr.md
Labels: :book: documentation

#4004 Add documentation for three macros
  markdown/dev/reference/macros/crossbox/en.md
  markdown/dev/reference/macros/pleat/en.md
  markdown/dev/reference/macros/sewtogether/en.md
Labels: :book: documentation

#3992 fix(docs): Tutorials doc review corrections and updates
  markdown/dev/tutorials/getting-started-linux/dev-setup/en.md
  markdown/dev/tutorials/getting-started-linux/dev-start/en.md
  markdown/dev/tutorials/getting-started-mac/dev-setup/en.md
  markdown/dev/tutorials/getting-started-mac/dev-start/en.md
  markdown/dev/tutorials/getting-started-mac/installing-nvm/en.md
  markdown/dev/tutorials/getting-started-windows/en.md
  markdown/dev/tutorials/pattern-design/structure/en.md
Labels: :book: documentation

#3980 chore(docs): Add absoluteOptions setting documentation
  markdown/dev/reference/settings/absoluteoptions/en.md
Labels: :book: documentation

#3978 chore(docs): Move sample setting docs from Pattern.sample() to its own doc
  markdown/dev/reference/api/pattern/sample/en.md
  markdown/dev/reference/settings/sample/en.md
Labels: :book: documentation

#3974 fix(bob,penelope,docs): Access optional measurements via `measurements`
  designs/bob/src/bib.mjs
  designs/penelope/src/back.mjs
  designs/penelope/src/front.mjs
  designs/penelope/src/shape.mjs
  markdown/dev/reference/api/part/config/measurements/en.md
  markdown/dev/reference/settings/measurements/en.md
Labels: :book: documentation, :shirt: bob, :shirt: penelope, changesRequested

#4014 fix(bannerbox): Removed hardcoded values in call to `banner`
  markdown/dev/reference/macros/bannerbox/en.md
  plugins/plugin-annotations/src/bannerbox.mjs
Labels: :book: documentation, :electric_plug: plugin-annotations

#4038 fix(workbench): Remove `debug` setting
  sites/shared/components/workbench/gist.mjs
  sites/shared/components/workbench/menu/core-settings/index.mjs
  sites/shared/components/workbench/menu/core-settings/setting.mjs
Labels: :computer: shared

#4073 [docs] Added docs for core settings
  markdown/org/docs/site/draft/core-settings/complete/en.md
  markdown/org/docs/site/draft/core-settings/locale/en.md
  markdown/org/docs/site/draft/core-settings/margin/en.md
  markdown/org/docs/site/draft/core-settings/only/en.md
  markdown/org/docs/site/draft/core-settings/paperless/en.md
  markdown/org/docs/site/draft/core-settings/renderer/en.md
  markdown/org/docs/site/draft/core-settings/scale/en.md
  markdown/org/docs/site/draft/core-settings/units/en.md
Labels: :book: documentation

#4093 fix(sites): Generate less routes by importing MDX dynamically
  .gitignore
  config/scripts.yaml
  markdown/org/docs/en.md
  sites/dev/package.json
  sites/dev/pages/[...slug].mjs
  sites/lab/package.json
  sites/org/package.json
  sites/org/pages/docs/[...slug].mjs
  sites/org/pages/docs/index.mjs
  sites/shared/components/wrappers/mdx.mjs
  sites/shared/components/wrappers/page.mjs
  sites/shared/prebuild/docs.mjs
Labels: :book: documentation, :gear: configuration, :computer: lab, :computer: shared, :computer: dev, :computer: org

#4094 fix(brian): Add explicit cutlist for back and (inherited) front parts
  designs/brian/src/back.mjs
Labels: :shirt: brian

#4010 fix(docs): (cutonfold,grainline) Update docs to reflect new behavior
  markdown/dev/reference/macros/cutonfold/en.md
  markdown/dev/reference/macros/grainline/en.md
Labels: :book: documentation

#4001 fix(bella): Handle HPS-to-bust > HPS-to-waist-back
  designs/bella/src/back.mjs
Labels: :shirt: bella

#4096 Continued work on the v3 UI
  config/scripts.yaml
  markdown/dev/api/en.md
  markdown/dev/contribute/en.md
  markdown/dev/design/en.md
  markdown/dev/guides/designs/en.md
  markdown/dev/guides/designs/parts/en.md
  markdown/dev/guides/designs/paths/en.md
  markdown/dev/guides/designs/pattern/en.md
  markdown/dev/guides/designs/points/en.md
  markdown/dev/guides/designs/sets/en.md
  markdown/dev/guides/designs/snippets/en.md
  markdown/dev/guides/designs/stacks/en.md
  markdown/dev/guides/designs/store/en.md
  markdown/dev/i18n/en.md
  markdown/dev/infra/en.md
  markdown/dev/reference/en.md
  markdown/dev/sitemap/en.md
  markdown/dev/support/en.md
  markdown/org/docs/designs/bent/options/frontarmholedeeper/fr.md
  markdown/org/docs/designs/breanna/options/fr.md
  markdown/org/docs/designs/breanna/options/frontarmholedeeper/fr.md
  markdown/org/docs/designs/brian/options/fr.md
  markdown/org/docs/designs/brian/options/frontarmholedeeper/fr.md
  markdown/org/docs/designs/carlita/options/frontarmholedeeper/fr.md
  markdown/org/docs/designs/carlton/options/frontarmholedeeper/fr.md
  markdown/org/docs/designs/diana/options/frontarmholedeeper/fr.md
  markdown/org/docs/designs/huey/options/frontarmholedeeper/fr.md
  markdown/org/docs/designs/jaeger/options/frontarmholedeeper/fr.md
  markdown/org/docs/designs/simon/options/frontarmholedeeper/fr.md
  markdown/org/docs/designs/simone/options/frontarmholedeeper/fr.md
  markdown/org/docs/designs/sven/options/frontarmholedeeper/fr.md
  markdown/org/docs/designs/yuri/options/frontarmholedeeper/fr.md
  sites/dev/components/header/index.mjs
  sites/dev/hooks/use-navigation.mjs
  sites/dev/package.json
  sites/dev/pages/[...slug].mjs
  sites/org/hooks/use-navigation.mjs
  sites/org/package.json
  sites/org/pages/docs/[...slug].mjs
  sites/org/pages/sitemap.mjs
  sites/shared/components/mdx/docs-title.mjs
  sites/shared/components/mdx/index.mjs
  sites/shared/components/mdx/read-more.mjs
  sites/shared/components/navigation/primary.mjs
  sites/shared/prebuild/data/.gitkeep
  sites/shared/prebuild/index.mjs
Labels: :book: documentation, :gear: configuration, :computer: shared, :computer: dev, :computer: org

#4108 fix (core) draft after dependencies before from dependencies
  packages/core/src/pattern/pattern-config.mjs
  packages/core/tests/fixtures/part.mjs
  packages/core/tests/pattern-init.test.mjs
Labels: :package: core

#4124 feat(dev): Re-implemented search
  config/dependencies.yaml
  sites/dev/components/layouts/docs.mjs
  sites/dev/components/search.mjs
  sites/dev/components/wrappers/layout.mjs
  sites/dev/package.json
  sites/dev/scripts/algolia.mjs
  sites/dev/site.config.mjs
  sites/shared/components/wrappers/mdx.mjs
  sites/shared/package.json
  yarn.lock
Labels: :gear: configuration, :computer: shared, :computer: dev

#4100 DRAFT: fix(docs): (scale) Add more details about effects
  markdown/dev/reference/settings/scale/en.md
Labels: :book: documentation

#4099 chore(accessory designs): Add cutlist
  designs/albert/src/front.mjs
  designs/albert/src/strap.mjs
  designs/bob/src/bib.mjs
  designs/florence/src/mask.mjs
  designs/florent/src/brimbottom.mjs
  designs/florent/src/briminterfacing.mjs
  designs/florent/src/brimtop.mjs
  designs/florent/src/side.mjs
  designs/florent/src/top.mjs
  designs/holmes/src/ear.mjs
  designs/holmes/src/gore.mjs
  designs/holmes/src/visor.mjs
  designs/hortensia/src/bottompanel.mjs
  designs/hortensia/src/frontpanel.mjs
  designs/hortensia/src/sidepanel.mjs
  designs/hortensia/src/sidepanelreinforcement.mjs
  designs/hortensia/src/strap.mjs
  designs/hortensia/src/zipperpanel.mjs
  designs/lucy/src/pocket.mjs
  designs/trayvon/src/fabric.mjs
  designs/trayvon/src/interfacing.mjs
  designs/trayvon/src/lining.mjs
  designs/trayvon/src/loop.mjs
Labels: :shirt: albert, :shirt: bob, :shirt: lucy, :shirt: florent, :shirt: holmes, :shirt: hortensia, :shirt: trayvon, :shirt: florence

#4126 DRAFT: fix(docs): (pattern design tutorial) Fix typo
  markdown/dev/tutorials/pattern-design/structure/en.md
Labels: :book: documentation

#4002 fix(bella): Prevent negative width back dart
  designs/bella/src/back.mjs
Labels: :shirt: bella

#4140 fix(bella): (docs) The back dart is sometimes omitted
  markdown/org/docs/designs/bella/instructions/en.md
Labels: :book: documentation

#4152 chore(docs): Add documentation for packages
  markdown/dev/reference/packages/en.md
  markdown/dev/reference/packages/i18n/en.md
  markdown/dev/reference/packages/models/en.md
  markdown/dev/reference/packages/new-design/en.md
  markdown/dev/reference/packages/prettier-config/en.md
  markdown/dev/reference/packages/rehype-highlight-lines/en.md
  markdown/dev/reference/packages/rehype-jargon/en.md
  markdown/dev/reference/packages/snapseries/en.md
Labels: :book: documentation

#4156 fix(docs): (snap) Metric/imperial properties can hold a number, in addition to holding an array
  markdown/dev/reference/api/part/config/options/pct/snap/en.md
Labels: :book: documentation

#4160 fix(new-design): Changed design name acceptable characters
  packages/new-design/lib/utils.mjs
  scripts/add-software.mjs
Labels: :package: new-design, :scroll: scripts
