Repository freesewing/freesewing, pull requests merged in 2023-11, with the labels that each got.

#5348 Fix bugs in #5336
  designs/sandy/src/curved-waistband.mjs
  designs/sandy/src/skirt.mjs
  markdown/dev/reference/macros/ringsector/en.md
  plugins/plugin-ringsector/src/index.mjs
Labels: :book: documentation, :shirt: sandy

#5365 feat(shared): Better design picker
  sites/org/pages/index.mjs
  sites/shared/components/base-layout.mjs
  sites/shared/components/designs/design-picker.mjs
  sites/shared/components/designs/design.mjs
  sites/shared/components/designs/examples.mjs
  sites/shared/components/designs/info.mjs
  sites/shared/components/mdx/dynamic.mjs
  sites/shared/components/workbench/views/docs/index.mjs
  sites/shared/i18n/tags/en.yaml
  sites/shared/styles/globals.css
  sites/shared/themes/dark.mjs
  sites/shared/themes/light.mjs
Labels: :computer: shared, :computer: org

#5367 chore(markdown): Added designer notes, see #5364
  markdown/org/docs/designs/diana/notes/en.md
  markdown/org/docs/designs/florent/notes/en.md
  markdown/org/docs/designs/holmes/notes/en.md
  markdown/org/docs/designs/sandy/notes/en.md
Labels: :book: documentation

#5371 Onyx - Designer notes and additions to the sewing instructions.
  markdown/org/docs/designs/onyx/instructions/en.md
  markdown/org/docs/designs/onyx/notes/en.md
Labels: :book: documentation

#5370 Shelly - designer notes
  markdown/org/docs/designs/shelly/notes/en.md
  markdown/org/docs/designs/shelly/options/armpitease/en.md
Labels: :book: documentation

#5369 New Crowdin Translations [skip build]
  markdown/org/docs/designs/diana/notes/de.md
  markdown/org/docs/designs/diana/notes/es.md
  markdown/org/docs/designs/diana/notes/fr.md
  markdown/org/docs/designs/diana/notes/nl.md
  markdown/org/docs/designs/diana/notes/uk.md
  markdown/org/docs/designs/florent/notes/de.md
  markdown/org/docs/designs/florent/notes/es.md
  markdown/org/docs/designs/florent/notes/fr.md
  markdown/org/docs/designs/florent/notes/nl.md
  markdown/org/docs/designs/florent/notes/uk.md
  markdown/org/docs/designs/holmes/notes/de.md
  markdown/org/docs/designs/holmes/notes/es.md
  markdown/org/docs/designs/holmes/notes/fr.md
  markdown/org/docs/designs/holmes/notes/nl.md
  markdown/org/docs/designs/holmes/notes/uk.md
  markdown/org/docs/designs/sandy/notes/de.md
  markdown/org/docs/designs/sandy/notes/es.md
  markdown/org/docs/designs/sandy/notes/fr.md
  markdown/org/docs/designs/sandy/notes/nl.md
  markdown/org/docs/designs/sandy/notes/uk.md
  sites/shared/i18n/tags/de.yaml
  sites/shared/i18n/tags/nl.yaml
  sites/shared/i18n/tags/uk.yaml
Labels: :book: documentation, :computer: shared, crowdin, i18n

#5383 add(docs) Designer Notes for Bee
  markdown/org/docs/designs/bee/notes/en.md
Labels: :book: documentation, :shirt: bee

#5382 Designer Notes for Lucy
  markdown/org/docs/designs/lucy/notes/en.md
Labels: :book: documentation, :shirt: lucy

#5385 feat(shared): Implemented search and indexing
  config/dependencies.yaml
  markdown/org/docs/designs/onyx/options/zipperPosition/de.md
  markdown/org/docs/designs/onyx/options/zipperPosition/en.md
  markdown/org/docs/designs/onyx/options/zipperPosition/es.md
  markdown/org/docs/designs/onyx/options/zipperPosition/fr.md
  markdown/org/docs/designs/onyx/options/zipperPosition/nl.md
  markdown/org/docs/designs/onyx/options/zipperPosition/uk.md
  markdown/org/docs/designs/yuri/notes/en.md
  packages/new-design/lib/download-list.mjs
  packages/new-design/package.json
  sites/backend/package.json
  sites/dev/algolia.config.mjs
  sites/dev/components/search.mjs
  sites/dev/package.json
  sites/dev/prebuild.mjs
  sites/dev/scripts/algolia.mjs
  sites/dev/site.config.mjs
  sites/lab/package.json
  sites/org/components/header/index.mjs
  sites/org/components/search.mjs
  sites/org/package.json
  sites/org/pages/search.mjs
  sites/org/prebuild.mjs
  sites/org/scripts/algolia.mjs
  sites/org/site.config.mjs
  sites/sde/package.json
  sites/shared/package.json
  sites/shared/prebuild/algolia.mjs
  sites/shared/prebuild/org.mjs
  sites/shared/prebuild/runner.mjs
  sites/shared/prebuild/search.mjs
  yarn.lock
Labels: :book: documentation, :gear: configuration, :computer: lab, :computer: shared, :computer: backend, :computer: dev, :computer: org, :package: new-design

#5386 fix(shared): Run search indexing only in production
  config/dependencies.yaml
  packages/new-design/lib/download-list.mjs
  sites/backend/package.json
  sites/dev/package.json
  sites/dev/prebuild.mjs
  sites/org/package.json
  sites/org/prebuild.mjs
  sites/shared/package.json
  yarn.lock
Labels: :gear: configuration, :computer: shared, :computer: backend, :computer: dev, :computer: org, :package: new-design

#5393 feat(backend): Support for generating images
  .gitignore
  artwork/img/square.svg
  artwork/img/tall.svg
  artwork/img/wide.svg
  artwork/og/template.svg
  sites/backend/package.json
  sites/backend/src/config.mjs
  sites/backend/src/controllers/img.mjs
  sites/backend/src/routes/img.mjs
  sites/backend/src/routes/index.mjs
  sites/backend/test.sh
  sites/dev/prebuild.mjs
  sites/dev/public/img/og/.gitkeep
  sites/org/components/genimg/en.yaml
  sites/org/components/genimg/index.mjs
  sites/org/pages/new/img.mjs
  sites/org/pages/new/index.mjs
  sites/org/public/img/og/.gitkeep
  sites/shared/components/account/en.yaml
  sites/shared/hooks/use-backend.mjs
  sites/shared/prebuild/og.mjs
  sites/shared/prebuild/og/index.mjs
  sites/shared/prebuild/runner.mjs
  yarn.lock
Labels: :computer: shared, :computer: backend, :computer: dev, :computer: org

#5395 feat(shared): Add dynamic OG images
  artwork/img/square.svg
  artwork/img/tall.svg
  artwork/img/wide.svg
  markdown/org/docs/about/pledge/motivation/en.md
  sites/backend/build.mjs
  sites/backend/src/controllers/img.mjs
  sites/backend/src/routes/img.mjs
  sites/dev/pages/404.mjs
  sites/dev/pages/[...slug].mjs
  sites/dev/pages/index.mjs
  sites/dev/pages/search.mjs
  sites/dev/prebuild.mjs
  sites/org/components/layouts/docs.mjs
  sites/org/components/layouts/post.mjs
  sites/org/pages/blog/[dir].mjs
  sites/org/pages/index.mjs
  sites/org/pages/showcase/[dir].mjs
  sites/org/pages/showcase/index.mjs
  sites/org/prebuild.mjs
  sites/shared/components/wrappers/page.mjs
  sites/shared/prebuild/og.mjs
  sites/shared/utils.mjs
Labels: :book: documentation, :computer: shared, :computer: backend, :computer: dev, :computer: org

#5396 chore: Update production backend
  artwork/img/square.svg
  artwork/img/tall.svg
  artwork/img/wide.svg
  markdown/org/docs/about/pledge/motivation/en.md
  sites/backend/build.mjs
  sites/backend/src/controllers/img.mjs
  sites/backend/src/routes/img.mjs
  sites/dev/pages/404.mjs
  sites/dev/pages/[...slug].mjs
  sites/dev/pages/index.mjs
  sites/dev/pages/search.mjs
  sites/dev/prebuild.mjs
  sites/org/components/layouts/docs.mjs
  sites/org/components/layouts/post.mjs
  sites/org/pages/blog/[dir].mjs
  sites/org/pages/index.mjs
  sites/org/pages/showcase/[dir].mjs
  sites/org/pages/showcase/index.mjs
  sites/org/prebuild.mjs
  sites/shared/components/wrappers/page.mjs
  sites/shared/prebuild/og.mjs
  sites/shared/utils.mjs
Labels: :book: documentation, :computer: shared, :computer: backend, :computer: dev, :computer: org

#5387 feat: add designer notes for Lunetius, Tiberius and Walburga
  markdown/org/docs/designs/lunetius/notes/en.md
  markdown/org/docs/designs/tiberius/notes/en.md
  markdown/org/docs/designs/walburga/notes/en.md
Labels: :book: documentation, :shirt: walburga, :shirt: lunetius, :shirt: tiberius

#5405 Added designer notes to all my patterns
  markdown/org/docs/designs/albert/notes/en.md
  markdown/org/docs/designs/benjamin/notes/en.md
  markdown/org/docs/designs/cornelius/notes/en.md
  markdown/org/docs/designs/gozer/en.md
  markdown/org/docs/designs/hi/notes/en.md
  markdown/org/docs/designs/hortensia/en.md
  markdown/org/docs/designs/noble/notes/en.md
  markdown/org/docs/designs/octoplushy/notes/en.md
  markdown/org/docs/designs/otis/notes/en.md
  markdown/org/docs/designs/penelope/notes/en.md
  markdown/org/docs/designs/skully/notes/en.md
  markdown/org/docs/designs/waralee/notes/en.md
Labels: :book: documentation

#5406 chore(markdown): Fixes for crowdin
  markdown/org/docs/about/guide/fr.md
  markdown/org/docs/about/site/apikeys/es.md
  markdown/org/docs/about/site/draft/nl.md
  markdown/org/docs/designs/onyx/instructions/nl.md
  markdown/org/docs/designs/teagan/options/waistease/nl.md
Labels: :book: documentation

#5407 feat(shared): Include URL in search results
  sites/dev/components/search.mjs
  sites/org/components/search.mjs
Labels: :computer: dev, :computer: org

#5413 fix(backend): More robust MFA check
  sites/backend/src/models/user.mjs
Labels: :computer: backend

#5414 chore: Update production backend
  sites/backend/src/models/user.mjs
Labels: :computer: backend

#5415 fix(backend): Update callback domain fallback
  sites/backend/src/config.mjs
  sites/backend/src/models/user.mjs
Labels: :computer: backend

#5421 fix(org/backend): Fix issue with email change. Closes #5420
  sites/backend/src/models/user.mjs
  sites/org/pages/confirm/emailchange.mjs
Labels: :computer: backend, :computer: org

#5422 Chore: Update production backend
  sites/backend/src/models/user.mjs
  sites/org/pages/confirm/emailchange.mjs
Labels: :computer: backend, :computer: org

#5427 fix(shared): Fix route after save. Closes #5424
  sites/shared/components/workbench/views/save/index.mjs
Labels: :computer: shared

#5432 feat(org): Add status to support page
  sites/org/pages/confirm/emailchange.mjs
  sites/org/pages/support.mjs
  sites/org/site.config.mjs
  sites/sde/pages/support.mjs
  sites/shared/components/support/status.mjs
  sites/shared/components/support/support.mjs
  sites/shared/components/timeago/en.yaml
  sites/shared/components/timeago/index.mjs
  sites/shared/i18n/support/en.yaml
Labels: :computer: shared, :computer: org

#5437 fix(shared): Guard against exporting without settings
  sites/dev/pages/index.mjs
  sites/org/pages/index.mjs
  sites/org/pages/support.mjs
  sites/shared/components/social/mastodon-verification.mjs
  sites/shared/components/workbench/exporting/export-handler.mjs
Labels: :computer: shared, :computer: dev, :computer: org

#5436 Updating freesewing.dev howtos
  markdown/dev/howtos/editors/showcase/en.md
  markdown/dev/howtos/ways-to-contribute/community-building/en.md
  markdown/dev/howtos/ways-to-contribute/showcase-our-patterns/en.md
  markdown/dev/howtos/ways-to-contribute/translation/en.md
Labels: :book: documentation

#5434 fix(sites): swap github email and name placeholders
  sites/shared/components/account/github.mjs
Labels: :computer: shared

#5438 fix(shared): Instantiate plugin-i18n with correct parameters in export handler
  plugins/plugin-i18n/tests/plugin.test.mjs
  sites/shared/components/workbench/exporting/export-handler.mjs
Labels: :computer: shared, :electric_plug: plugin-i18n

#5441 fix(core): Corectly load conditional plugins
  config/changelog.yaml
  packages/core/src/pattern/pattern-plugins.mjs
  sites/shared/components/workbench/views/draft/header.mjs
Labels: :package: core, :gear: configuration, :computer: shared

#5442 chore: Show more resolved issues
  sites/shared/components/support/status.mjs
Labels: :computer: shared

#5460 up to date
  packages/core/package.json
  packages/new-design/package.json
  sites/backend/package.json
  sites/org/package.json
  sites/sde/package.json
  sites/shared/package.json
  yarn.lock
Labels: :package: core, :computer: shared, :computer: backend, :computer: org, :package: new-design

#5466 fix(markdown): Broken link. See #5463
  markdown/dev/support/en.md
Labels: :book: documentation

#5467 fix(backend): Allow Oauth login without consent. Fixes #5433"
  sites/backend/src/models/user.mjs
Labels: :computer: backend

#5469 fix(shared): Show status ok when there's no active issues
  sites/shared/components/support/status.mjs
Labels: :computer: shared

#5499 feat(shared); Integrated timing plugin in workbench
  sites/shared/components/icons.mjs
  sites/shared/components/workbench/en.yaml
  sites/shared/components/workbench/header.mjs
  sites/shared/components/workbench/menu/core-settings/index.mjs
  sites/shared/components/workbench/new.mjs
  sites/shared/components/workbench/views/time/index.mjs
  sites/shared/config/freesewing.config.mjs
  sites/shared/hooks/use-theme.mjs
  sites/shared/themes/aqua.mjs
  sites/shared/themes/dark.mjs
  sites/shared/themes/hax0r.mjs
  sites/shared/themes/index.mjs
  sites/shared/themes/lgbtq.mjs
  sites/shared/themes/light.mjs
  sites/shared/themes/monochrome.mjs
  sites/shared/themes/pastel.mjs
Labels: :computer: shared

#5503 chore: Various fixes
  sites/shared/components/mdx/index.mjs
  sites/shared/components/measurements/image.mjs
  sites/shared/components/workbench/views/draft/menu.mjs
Labels: :computer: shared

#5498 Fix bug #5497
  designs/penelope/src/shape.mjs
Labels: :shirt: penelope

#5449 Fix bug #5448
  designs/titan/i18n/en.json
  plugins/plugin-annotations/src/cutlist.mjs
  plugins/plugin-annotations/src/cutonfold.mjs
  plugins/plugin-annotations/src/grainline.mjs
  sites/shared/components/support/status.mjs
Labels: :computer: shared, :shirt: titan, :electric_plug: plugin-annotations

#5508 fix(uma): Issue with back. Fixes #5477
  config/changelog.yaml
  designs/uma/src/back.mjs
Labels: :gear: configuration

#5509 Adding Bella line drawings as React component
  sites/shared/components/designs/linedrawings/bella.mjs
  sites/shared/components/designs/linedrawings/index.mjs
Labels: :computer: shared

#5528 Typo fix in plugin-annotations en.json (mirorred -> mirrored)
  plugins/plugin-annotations/i18n/en.json
Labels: :electric_plug: plugin-annotations

#5536 fix: Various reported bugs
  markdown/org/docs/sewing/hps/de.md
  markdown/org/docs/sewing/hps/en.md
  markdown/org/docs/sewing/hps/es.md
  markdown/org/docs/sewing/hps/fr.md
  markdown/org/docs/sewing/hps/nl.md
  markdown/org/docs/sewing/hps/uk.md
  sites/org/page-templates/edit-pattern.mjs
  sites/org/pages/account/patterns/aaron/edit.mjs
  sites/org/pages/account/patterns/albert/edit.mjs
  sites/org/pages/account/patterns/bee/edit.mjs
  sites/org/pages/account/patterns/bella/edit.mjs
  sites/org/pages/account/patterns/benjamin/edit.mjs
  sites/org/pages/account/patterns/bent/edit.mjs
  sites/org/pages/account/patterns/bob/edit.mjs
  sites/org/pages/account/patterns/breanna/edit.mjs
  sites/org/pages/account/patterns/brian/edit.mjs
  sites/org/pages/account/patterns/bruce/edit.mjs
  sites/org/pages/account/patterns/carlita/edit.mjs
  sites/org/pages/account/patterns/carlton/edit.mjs
  sites/org/pages/account/patterns/cathrin/edit.mjs
  sites/org/pages/account/patterns/charlie/edit.mjs
  sites/org/pages/account/patterns/cornelius/edit.mjs
  sites/org/pages/account/patterns/diana/edit.mjs
  sites/org/pages/account/patterns/florence/edit.mjs
  sites/org/pages/account/patterns/florent/edit.mjs
  sites/org/pages/account/patterns/gozer/edit.mjs
  sites/org/pages/account/patterns/hi/edit.mjs
  sites/org/pages/account/patterns/holmes/edit.mjs
  sites/org/pages/account/patterns/hortensia/edit.mjs
  sites/org/pages/account/patterns/huey/edit.mjs
  sites/org/pages/account/patterns/hugo/edit.mjs
  sites/org/pages/account/patterns/jaeger/edit.mjs
  sites/org/pages/account/patterns/lucy/edit.mjs
  sites/org/pages/account/patterns/lunetius/edit.mjs
  sites/org/pages/account/patterns/noble/edit.mjs
  sites/org/pages/account/patterns/octoplushy/edit.mjs
  sites/org/pages/account/patterns/onyx/edit.mjs
  sites/org/pages/account/patterns/otis/edit.mjs
  sites/org/pages/account/patterns/paco/edit.mjs
  sites/org/pages/account/patterns/penelope/edit.mjs
  sites/org/pages/account/patterns/sandy/edit.mjs
  sites/org/pages/account/patterns/shelly/edit.mjs
  sites/org/pages/account/patterns/shin/edit.mjs
  sites/org/pages/account/patterns/simon/edit.mjs
  sites/org/pages/account/patterns/simone/edit.mjs
  sites/org/pages/account/patterns/skully/edit.mjs
  sites/org/pages/account/patterns/sven/edit.mjs
  sites/org/pages/account/patterns/tamiko/edit.mjs
  sites/org/pages/account/patterns/teagan/edit.mjs
  sites/org/pages/account/patterns/tiberius/edit.mjs
  sites/org/pages/account/patterns/titan/edit.mjs
  sites/org/pages/account/patterns/trayvon/edit.mjs
  sites/org/pages/account/patterns/uma/edit.mjs
  sites/org/pages/account/patterns/wahid/edit.mjs
  sites/org/pages/account/patterns/walburga/edit.mjs
  sites/org/pages/account/patterns/waralee/edit.mjs
  sites/org/pages/account/patterns/yuri/edit.mjs
  sites/shared/components/workbench/exporting/pdf-maker.mjs
  sites/shared/components/workbench/views/draft/header.mjs
  sites/shared/components/wrappers/modal.mjs
Labels: :book: documentation, :computer: shared, :computer: org

#5537 fix(backend): Don't escape URLs. See #5516
  sites/backend/src/templates/email/shared/blocks.mjs
Labels: :computer: backend

#5548 fix(shared): Don't make assumptions about saveAs
  sites/shared/components/workbench/views/draft/header.mjs
Labels: :computer: shared

#5557 Fix links on the documentation front page. Closes #5543
  markdown/org/docs/de.md
  markdown/org/docs/en.md
  markdown/org/docs/es.md
  markdown/org/docs/fr.md
  markdown/org/docs/nl.md
  markdown/org/docs/uk.md
Labels: :book: documentation

#5573 Fix links to HPS after HPS doc was moved
  markdown/dev/reference/measurements/en.md
  markdown/org/docs/measurements/hpstobust/en.md
  markdown/org/docs/measurements/hpstowaistback/en.md
  markdown/org/docs/measurements/hpstowaistfront/en.md
Labels: :book: documentation
