Repository freesewing/freesewing, pull requests merged in 2024-05, with the labels that each got.

#6695 chore: Merge in lily design, but from a cleaned up branch
  config/dependencies.yaml
  config/exceptions.yaml
  config/software/designs.json
  designs/lily/CHANGELOG.md
  designs/lily/README.md
  designs/lily/build.mjs
  designs/lily/data.mjs
  designs/lily/i18n/de.json
  designs/lily/i18n/en.json
  designs/lily/i18n/es.json
  designs/lily/i18n/fr.json
  designs/lily/i18n/index.mjs
  designs/lily/i18n/nl.json
  designs/lily/i18n/uk.json
  designs/lily/package.json
  designs/lily/src/back.mjs
  designs/lily/src/front.mjs
  designs/lily/src/index.mjs
  designs/lily/src/waistband.mjs
  designs/lily/tests/shared.test.mjs
  packages/new-design/lib/download-list.mjs
  sites/lab/hooks/use-design.mjs
  sites/org/hooks/use-design.mjs
  sites/org/pages/account/patterns/lily/edit.mjs
  sites/org/pages/new/lily.mjs
  sites/shared/i18n/designs.mjs
  sites/shared/prebuild/data/design-measurements.mjs
  sites/shared/prebuild/data/design-options.mjs
  sites/shared/prebuild/data/designs.mjs
  yarn.lock
Labels: :gear: configuration, :computer: lab, :computer: shared, :computer: org, :package: new-design

#6437 (new design): Adds Jane, a 1790s shift pattern.
  config/exceptions.yaml
  config/software/designs.json
  designs/jane/CHANGELOG.md
  designs/jane/README.md
  designs/jane/build.mjs
  designs/jane/data.mjs
  designs/jane/i18n/de.json
  designs/jane/i18n/en.json
  designs/jane/i18n/es.json
  designs/jane/i18n/fr.json
  designs/jane/i18n/index.mjs
  designs/jane/i18n/nl.json
  designs/jane/i18n/uk.json
  designs/jane/package.json
  designs/jane/src/body.mjs
  designs/jane/src/gusset.mjs
  designs/jane/src/index.mjs
  designs/jane/src/sleeve.mjs
  designs/jane/tests/shared.test.mjs
  markdown/org/docs/designs/jane/cutting/en.md
  markdown/org/docs/designs/jane/en.md
  markdown/org/docs/designs/jane/fabric/en.md
  markdown/org/docs/designs/jane/instructions/en.md
  markdown/org/docs/designs/jane/measurements/en.md
  markdown/org/docs/designs/jane/needs/en.md
  markdown/org/docs/designs/jane/options/en.md
  packages/new-design/lib/download-list.mjs
  sites/lab/hooks/use-design.mjs
  sites/lab/pages/new/jane.mjs
  sites/shared/i18n/designs.mjs
  sites/shared/prebuild/data/design-measurements.mjs
  sites/shared/prebuild/data/design-options.mjs
  sites/shared/prebuild/data/designs.mjs
Labels: :book: documentation, :gear: configuration, :computer: lab, :computer: shared, :package: new-design

#6682 Update Sleeveless Simon by lasermonkey12 showcase
  markdown/org/showcase/sleeveless-simon-by-lasermonkey12/en.md
Labels: :book: documentation, author claim

#6692 Convert Jaeger `backVent` to number before comparison to avoid drafting errors
  designs/jaeger/src/back.mjs
  designs/jaeger/src/side.mjs
Labels: :shirt: jaeger

#6694 Fix jaeger undefined path
  designs/jaeger/src/back.mjs
Labels: :shirt: jaeger

#6699 fix: ReadMore component, Jane docs, Lilly debug
  designs/lily/src/back.mjs
  markdown/org/docs/designs/jane/options/en.md
  sites/shared/components/mdx/read-more.mjs
Labels: :book: documentation, :computer: shared

#6700 bug fix: Fixes Jane's failing tests
  designs/jane/i18n/en.json
  designs/jane/src/body.mjs
  designs/jane/src/gusset.mjs
  designs/jane/src/sleeve.mjs
Labels: :bug: bug

#6701 Bug fix: Add Lily translations from Titan
  designs/lily/i18n/en.json
Labels: :bug: bug

#6703 Add ojensen author
  markdown/org/showcase/a-sturdy-albert-apron-by-ojensen/en.md
Labels: :book: documentation, author claim

#6704 Add anonymous author
  markdown/org/showcase/a-mock-up-of-titan-with-the-fit-to-knee-option-enabled/en.md
Labels: :book: documentation, author claim

#6705 Fix reference to wrong design
  markdown/org/docs/designs/bibi/options/draftforhighbust/en.md
Labels: :book: documentation

#6706 change(bibi): Minor tweaks
  designs/bibi/src/back.mjs
  designs/bibi/src/front.mjs
  designs/bibi/src/shared.mjs
  markdown/org/docs/designs/bibi/options/bicepsease/bicepsease.svg
  markdown/org/docs/designs/bibi/options/bicepsease/de.md
  markdown/org/docs/designs/bibi/options/bicepsease/en.md
  markdown/org/docs/designs/bibi/options/bicepsease/es.md
  markdown/org/docs/designs/bibi/options/bicepsease/fr.md
  markdown/org/docs/designs/bibi/options/bicepsease/nl.md
  markdown/org/docs/designs/bibi/options/bicepsease/uk.md
Labels: :book: documentation

#6723 Add Jacques Author
  markdown/org/showcase/simone-by-jackseye/en.md
Labels: :book: documentation, author claim

#6732 chore: Update dependencies and prebuild artifacts
  config/dependencies.yaml
  designs/opal/CHANGELOG.md
  designs/opal/README.md
  designs/opal/data.mjs
  designs/opal/package.json
  packages/new-design/lib/download-list.mjs
  sites/lab/hooks/use-design.mjs
  sites/lab/pages/account/patterns/bibi/edit.mjs
  sites/lab/pages/account/patterns/lily/edit.mjs
  sites/lab/pages/account/patterns/umbra/edit.mjs
  sites/lab/pages/new/bibi.mjs
  sites/lab/pages/new/lily.mjs
  sites/lab/pages/new/opal.mjs
  sites/lab/pages/new/umbra.mjs
  sites/org/hooks/use-design.mjs
  sites/org/pages/account/patterns/opal/edit.mjs
  sites/org/pages/new/opal.mjs
  sites/shared/i18n/designs.mjs
  sites/shared/prebuild/data/design-measurements.mjs
  sites/shared/prebuild/data/design-options.mjs
  sites/shared/prebuild/data/designs.mjs
Labels: :gear: configuration, :computer: lab, :computer: shared, :computer: org, :package: new-design

#6733 [markdown] chore: Assign showcase post to author 29683. Closes #6652
  markdown/org/showcase/just-peachy-shin-bee/en.md
Labels: :book: documentation

#6735 fix(markdown): Unclosed tag in Opal needs docs
  markdown/org/docs/designs/opal/needs/en.md
Labels: :book: documentation

#6737 fix(markdown): Various issues that break the site build
  markdown/org/docs/designs/jane/measurements/en.md
  markdown/org/docs/designs/opal/options/seatease/en.md
  markdown/org/showcase/a-sturdy-albert-apron-by-ojensen/en.md
  markdown/org/showcase/lasermonkeys-modded-bruces/en.md
Labels: :book: documentation

#6738 fix(jane): Fix various issues with Jane
  config/software/designs.json
  designs/jane/i18n/en.json
  designs/jane/src/sleeve.mjs
  markdown/org/docs/designs/jane/cutting/en.md
  markdown/org/docs/designs/jane/en.md
  markdown/org/docs/designs/jane/fabric/en.md
  markdown/org/docs/designs/jane/instructions/en.md
  markdown/org/docs/designs/jane/measurements/en.md
  markdown/org/docs/designs/jane/needs/en.md
  markdown/org/docs/designs/jane/options/bicepsease/en.md
  markdown/org/docs/designs/jane/options/bodyease/en.md
  markdown/org/docs/designs/jane/options/en.md
  markdown/org/docs/designs/jane/options/gussetsize/en.md
  markdown/org/docs/designs/jane/options/neckdepthback/en.md
  markdown/org/docs/designs/jane/options/neckdepthfront/en.md
  markdown/org/docs/designs/jane/options/neckwidth/en.md
  markdown/org/docs/designs/jane/options/shiftlength/en.md
  markdown/org/docs/designs/jane/options/sleevelength/en.md
  sites/org/hooks/use-design.mjs
  sites/org/pages/account/patterns/jane/edit.mjs
  sites/org/pages/new/jane.mjs
  sites/shared/components/mdx/index.mjs
Labels: :book: documentation, :gear: configuration, :computer: shared, :computer: org

#6751 Adds Huey, Hugo, and Lunetius line drawings
  sites/shared/components/designs/linedrawings/huey.mjs
  sites/shared/components/designs/linedrawings/hugo.mjs
  sites/shared/components/designs/linedrawings/index.mjs
  sites/shared/components/designs/linedrawings/lunetius.mjs
Labels: :computer: shared

#6747 [fix] Jane documentation fixes
  designs/jane/i18n/en.json
  markdown/org/docs/designs/jane/cutting/en.md
  markdown/org/docs/designs/jane/fabric/en.md
  markdown/org/docs/designs/jane/instructions/en.md
  markdown/org/docs/designs/jane/measurements/en.md
  markdown/org/docs/designs/jane/needs/en.md
  markdown/org/docs/designs/jane/notes/en.md
  markdown/org/docs/designs/jane/options/bicepsease/en.md
  markdown/org/docs/designs/jane/options/bodyease/en.md
  markdown/org/docs/designs/jane/options/gussetsize/en.md
  markdown/org/docs/designs/jane/options/neckdepthback/en.md
  markdown/org/docs/designs/jane/options/neckdepthfront/en.md
  markdown/org/docs/designs/jane/options/neckwidth/en.md
  markdown/org/docs/designs/jane/options/shiftlength/en.md
  markdown/org/docs/designs/jane/options/sleevelength/en.md
Labels: :book: documentation

#6763 Replace input type="number" with input type="text" inputmode="numeric"/"decimal"
  sites/org/components/github/inputs.mjs
  sites/shared/components/account/mfa.mjs
  sites/shared/components/inputs.mjs
  sites/shared/components/patrons/subscribe.mjs
  sites/shared/components/workbench/menus/shared/inputs.mjs
Labels: :computer: shared, :computer: org

#6766 Fix aaron missing dimension
  designs/aaron/src/shared.mjs
Labels: :shirt: aaron

#6800 (feature) Add secret to MFA enable
  sites/shared/components/account/en.yaml
  sites/shared/components/account/mfa.mjs
Labels: :computer: shared

#6799 fix(ringsector) Add missing line to path
  plugins/plugin-ringsector/src/index.mjs
Labels: :shirt: sandy, :electric_plug: plugin-ringSector
