Repository freesewing/freesewing, pull requests merged in 2024-08, with the labels that each got.

#6992 Fix user profile links
  markdown/org/docs/about/faq/womenswear-blocks/en.md
  sites/org/pages/profile.mjs
  sites/shared/components/mdx/meta.mjs
  sites/shared/components/support/support.mjs
Labels: :book: documentation, :computer: shared, :computer: org

#6932 Fix clarity issues with the straps #6931
  designs/waralee/i18n/de.json
  designs/waralee/i18n/en.json
  designs/waralee/i18n/es.json
  designs/waralee/i18n/fr.json
  designs/waralee/i18n/nl.json
  designs/waralee/i18n/uk.json
  designs/waralee/src/pantsproto.mjs
  designs/waralee/src/waistband.mjs
  markdown/org/docs/designs/waralee/cutting/en.md
  markdown/org/docs/designs/waralee/instructions/en.md
  markdown/org/docs/designs/waralee/options/knotinfront/en.md
  markdown/org/docs/designs/waralee/options/knotposition/de.md
  markdown/org/docs/designs/waralee/options/knotposition/en.md
  markdown/org/docs/designs/waralee/options/knotposition/es.md
  markdown/org/docs/designs/waralee/options/knotposition/fr.md
  markdown/org/docs/designs/waralee/options/knotposition/nl.md
  markdown/org/docs/designs/waralee/options/knotposition/uk.md
Labels: :book: documentation, :shirt: waralee

#6984 feat: New showcase post suit by Tinker-Tim-The-Toolman-Taylor-Soldier-Spy
  markdown/org/showcase/suit/en.md
Labels: :book: documentation

#6933 feat: New showcase post meine-erste-badehose by Karlo
  markdown/org/showcase/meine-erste-badehose/en.md
Labels: :book: documentation

#6997 Set author for refashioners blog
  markdown/org/blog/the-refashioners-2017/en.md
Labels: :book: documentation

#7001 Update Lexander (and BG3) in .all-contributorsrc
  .all-contributorsrc
Labels: :purple_heart: all contributors

#7007 fix(charlie): adjust messages, so they match the expanded parts
  designs/charlie/src/beltloops.mjs
  designs/charlie/src/waistband.mjs
Labels: :shirt: charlie

#7012 fix(sandy): fix seam allowance construction to work with new ringsector changes
  designs/sandy/src/skirt.mjs
  designs/tristan/src/peplumFront.mjs
Labels: :shirt: sandy

#7017 fix(paco): fix dimensions in expand message
  designs/paco/src/waistband.mjs
Labels: :shirt: paco

#7039 fix(new-design): Two typos in the CLI
  packages/new-design/lib/utils.mjs
Labels: :package: new-design

#7044 fix(jaeger): Remove lapel from Chest part
  designs/jaeger/src/chest-piece.mjs
Labels: :shirt: jaeger

#7045 fix(backend): 404 errors do not use a result string
  sites/backend/src/controllers/apikeys.mjs
  sites/backend/src/controllers/bookmarks.mjs
  sites/backend/src/controllers/curated-sets.mjs
  sites/backend/src/controllers/option-packs.mjs
  sites/backend/src/controllers/patterns.mjs
  sites/backend/src/controllers/sets.mjs
  sites/backend/src/models/pattern.mjs
  sites/backend/src/models/subscriber.mjs
Labels: :computer: backend
