Repository freesewing/freesewing, pull requests merged in 2024-03, with the labels that each got.

#6235 Add saber Author
  markdown/org/showcase/hortensia-by-saber/en.md
Labels: :book: documentation

#6234 Add halbmoki Author
  markdown/org/showcase/bruce-with-a-flat-front-and-lengthened-legs/en.md
Labels: :book: documentation

#6227 fix(org): Correct showcase author claim label
  sites/org/components/layouts/post.mjs
Labels: :computer: org

#6243 chore: Add a label for author claims. See #6227
  sites/org/components/layouts/post.mjs
Labels: :computer: org

#6221 Add user71677 Author
  markdown/org/showcase/blue-wahid-by-bjeppson/en.md
Labels: :book: documentation

#6245 Revert "Add user71677 Author"
  markdown/org/showcase/blue-wahid-by-bjeppson/en.md
Labels: :book: documentation

#6220 Add ferdi Author
  markdown/org/showcase/another-splendid-simon/en.md
  markdown/org/showcase/blue-geometric-simon/en.md
  markdown/org/showcase/brown-geometric-simon/en.md
  markdown/org/showcase/bruce-by-ferdi/en.md
  markdown/org/showcase/bruce-three-pack/en.md
  markdown/org/showcase/ferdis-first-simon-shirt/en.md
  markdown/org/showcase/florent-cap-by-ferdi/en.md
  markdown/org/showcase/just-another-simon-shirt/en.md
  markdown/org/showcase/simon-as-overshirt/en.md
Labels: :book: documentation

#6172 fix(brian): Reword description for Draft for High Bust option
  designs/brian/i18n/en.json
Labels: :shirt: brian

#6248 feat: Allow users with support role to lookup other users
  sites/backend/src/models/admin.mjs
  sites/org/components/layouts/post.mjs
  sites/org/pages/admin/index.mjs
  sites/org/pages/admin/user.mjs
  sites/shared/components/admin.mjs
Labels: :computer: shared, :computer: backend, :computer: org

#6267 chore: Update markdown guide, take out section on adding terms
  markdown/dev/guides/markdown/jargon/en.md
  sites/shared/prebuild/git.mjs
Labels: :book: documentation, :computer: shared

#6268 Fuck you eslint
  config/authors.mjs
  sites/dev/components/jargon.mjs
  sites/shared/components/jargon.mjs
Labels: :gear: configuration, :computer: shared, :computer: dev

#6269 fix(markdown): Broken links
  markdown/dev/guides/markdown/jargon/en.md
Labels: :book: documentation

#6305 correct back cutting instructions
  designs/bruce/src/back.mjs
Labels: :shirt: bruce

#6273 Add Thrunic Author
  markdown/org/showcase/a-full-body-onyx-swimsuit-with-swim-skirt/en.md
  markdown/org/showcase/onyx-by-thrunic/en.md
  markdown/org/showcase/onyx-full-body-unisuit/en.md
  markdown/org/showcase/short-sleeve-shelly-rash-guard/en.md
  markdown/org/showcase/short-sleeve-short-leg-onyx-swimsuit/en.md
Labels: :book: documentation, author claim

#6274 Add TangerineShark Author
  markdown/org/showcase/aaron-dress-by-ts/en.md
  markdown/org/showcase/bee-by-ts/en.md
  markdown/org/showcase/bee-teagan/en.md
  markdown/org/showcase/bella-by-karen/en.md
  markdown/org/showcase/bella-sandy-by-ts/en.md
  markdown/org/showcase/charlie-by-karen/en.md
  markdown/org/showcase/formal-aaron/en.md
  markdown/org/showcase/paco-by-karen/en.md
  markdown/org/showcase/teagan-by-karen/en.md
  markdown/org/showcase/teagan-karen/en.md
  markdown/org/showcase/ursula-by-karen/en.md
Labels: :book: documentation, author claim

#6281 Add talatrix Auhtor
  markdown/org/showcase/aaron-a-shirt-by-pecatrix/en.md
Labels: :book: documentation, author claim

#6279 Add amaan hammadi Author
  markdown/org/showcase/wahid-waistcoat-by-womp/en.md
Labels: :book: documentation, author claim

#6278 Add Anonymous Author
  markdown/org/showcase/stripey-teagan/en.md
Labels: :book: documentation, author claim

#6275 Add starfetch Author
  markdown/org/showcase/lunetius-walburga-tiberius-ensemble/en.md
Labels: :book: documentation, author claim

#6270 New Crowdin Translations [skip build]
  markdown/org/docs/about/site/nl.md
  markdown/org/docs/about/terms/de.md
  markdown/org/docs/about/terms/es.md
  markdown/org/docs/about/terms/fr.md
  markdown/org/docs/about/terms/nl.md
  markdown/org/docs/about/terms/uk.md
  markdown/org/docs/designs/onyx/cutting/fr.md
  markdown/org/docs/designs/onyx/fabric/fr.md
  markdown/org/docs/designs/onyx/instructions/fr.md
  markdown/org/docs/designs/shelly/cutting/fr.md
  markdown/org/docs/designs/shelly/fabric/fr.md
  markdown/org/docs/designs/shelly/instructions/fr.md
  markdown/org/docs/designs/shelly/options/bodylength/fr.md
  sites/backend/src/templates/email/emailchange/uk.yaml
  sites/backend/src/templates/email/goodbye/uk.yaml
  sites/backend/src/templates/email/newslettersub/uk.yaml
  sites/backend/src/templates/email/passwordreset/uk.yaml
  sites/backend/src/templates/email/signinlink/uk.yaml
  sites/backend/src/templates/email/signup-aea/uk.yaml
  sites/backend/src/templates/email/signup-aed/uk.yaml
  sites/backend/src/templates/email/signup/uk.yaml
  sites/backend/src/templates/email/transinvite/uk.yaml
  sites/backend/src/templates/email/uk.yaml
  sites/org/pages/translation/uk.yaml
  sites/sde/pages/sde/uk.yaml
  sites/shared/i18n/docs/de.yaml
  sites/shared/i18n/docs/es.yaml
  sites/shared/i18n/docs/fr.yaml
  sites/shared/i18n/docs/nl.yaml
  sites/shared/i18n/docs/uk.yaml
Labels: :book: documentation, :computer: shared, :computer: backend, :computer: org, crowdin, i18n

#6327 chore: Update dependencies
  config/dependencies.yaml
Labels: :gear: configuration

#6328 feat (markdown): Improved flag.info docs
  markdown/dev/reference/store-methods/flag.info/en.md
Labels: :book: documentation

#6333 Remove unused import (fix ESLint warning)
  sites/shared/components/designs/linedrawings/index.mjs
Labels: :computer: shared

#6334 Fix typo in changelog.yaml
  config/changelog.yaml
Labels: :gear: configuration

#6350 fix(shared): Allow bookmarking measurement sets from other users.
  sites/shared/components/account/sets.mjs
Labels: :computer: shared

#6349 fix(markdown): Link Uma design measurements in documentation properly
  markdown/org/docs/designs/uma/measurements/de.md
  markdown/org/docs/designs/uma/measurements/en.md
  markdown/org/docs/designs/uma/measurements/es.md
  markdown/org/docs/designs/uma/measurements/fr.md
  markdown/org/docs/designs/uma/measurements/nl.md
  markdown/org/docs/designs/uma/measurements/uk.md
Labels: :book: documentation

#6342 fix(shared): No need to divide config.dflt by 100 again
  sites/shared/components/workbench/menus/design-options/inputs.mjs
Labels: :computer: shared

#6341 fix(markdown): Fix order of steps in dev pattern design tutorial
  markdown/dev/tutorials/pattern-design/part2/drawing-the-straps/en.md
Labels: :book: documentation

#6360 [shared] fix: Pattern translation in UI
  sites/shared/components/workbench/pan-zoom-pattern.mjs
  sites/shared/components/workbench/views/draft/index.mjs
Labels: :computer: shared

#6362 chore: Markdown fixes
  markdown/org/newsletter/2022q4/uk.md
  markdown/org/newsletter/2023q1/fr.md
Labels: :book: documentation

#6363 chore: Assign showcase to anonymous. Closes #6354
  markdown/org/showcase/an-early-bee-bikini-top/en.md
Labels: :book: documentation

#6368 fix(markdown): Typo in doc for utils.beamIntersectsCurve()
  markdown/dev/reference/api/utils/beamintersectscurve/en.md
Labels: :book: documentation

#6366 Add author tag
  markdown/org/showcase/rostic-wahid/en.md
Labels: :book: documentation

#6364 New Crowdin Translations [skip build]
  markdown/org/showcase/an-early-bee-bikini-top/de.md
  markdown/org/showcase/an-early-bee-bikini-top/es.md
  markdown/org/showcase/an-early-bee-bikini-top/fr.md
  markdown/org/showcase/an-early-bee-bikini-top/nl.md
  markdown/org/showcase/an-early-bee-bikini-top/uk.md
Labels: :book: documentation, crowdin, i18n

#6340 Some minor Wahid improvements
  designs/wahid/i18n/en.json
  designs/wahid/src/back.mjs
  designs/wahid/src/front.mjs
Labels: :shirt: wahid

#6371 feat(shared): Support import/clone of measuremnts set
  config/authors.mjs
  config/changelog.yaml
  sites/org/pages/account/import.mjs
  sites/org/pages/admin/index.mjs
  sites/shared/components/account/en.yaml
  sites/shared/components/account/import.mjs
  sites/shared/components/account/links.mjs
  sites/shared/components/account/sets.mjs
  sites/shared/components/icons.mjs
  sites/shared/components/inputs.mjs
  sites/shared/components/mdx/highlight.mjs
  sites/shared/components/mdx/meta.mjs
  sites/shared/components/yaml.mjs
  sites/shared/hooks/use-account.mjs
Labels: :gear: configuration, :computer: shared, :computer: org

#6376 feat(shared): Allow toggling display units for sets. Closes #6325
  sites/shared/components/account/en.yaml
  sites/shared/components/account/sets.mjs
  sites/shared/components/inputs.mjs
Labels: :computer: shared

#6377 fix(shared): Include conditional options in docs
  markdown/org/docs/designs/brian/options/draftforhighbust/en.md
  sites/backend/src/models/set.mjs
  sites/shared/components/account/sets.mjs
  sites/shared/components/designs/info.mjs
  sites/shared/components/workbench/en.yaml
  sites/shared/hooks/use-account.mjs
  sites/shared/utils.mjs
Labels: :book: documentation, :computer: shared, :computer: backend

#6378 feat(shared): Add bookmark button to pattern view. Fixes #6322
  sites/shared/components/account/patterns.mjs
Labels: :computer: shared

#6379 chore(markdown): Author update. Closes #6295
  markdown/org/showcase/bruce-boxer-briefs-by-gaelle/en.md
Labels: :book: documentation

#6380 chore(markdown): Author updates for Gaelle
  markdown/org/showcase/a-jaeger-and-charlie-set/en.md
  markdown/org/showcase/a-mini-hi-with-embroidered-eyes/en.md
  markdown/org/showcase/aaron-a-shirt-by-gaelle/en.md
  markdown/org/showcase/hi-by-gaelle/en.md
  markdown/org/showcase/hugo-by-gaelle/en.md
  markdown/org/showcase/pyjama-paco-by-gaelle/en.md
  markdown/org/showcase/simone-by-gaelle/en.md
  markdown/org/showcase/tamiko-by-gaelle/en.md
Labels: :book: documentation

#6382 feat(shared): Auto-generate jargon list. Closes #6102
  markdown/dev/guides/markdown/jargon/en.md
  markdown/dev/reference/terms/cjs/en.md
  markdown/dev/reference/terms/esm/en.md
  markdown/dev/reference/terms/variadic/en.md
  markdown/org/docs/about/site/account/id/en.md
  markdown/org/docs/about/site/account/role/en.md
  markdown/org/docs/sewing/basic-sewing-supplies/en.md
  markdown/org/docs/sewing/basting/en.md
  markdown/org/docs/sewing/coverlock/en.md
  markdown/org/docs/sewing/cutting/en.md
  markdown/org/docs/sewing/darts/en.md
  markdown/org/docs/sewing/double-welt-pockets/en.md
  markdown/org/docs/sewing/ease/en.md
  markdown/org/docs/sewing/edgestitching/en.md
  markdown/org/docs/sewing/fabric-grain/en.md
  markdown/org/docs/sewing/good-sides-together/en.md
  markdown/org/docs/sewing/hemming/en.md
  markdown/org/docs/sewing/hps/en.md
  markdown/org/docs/sewing/jersey/en.md
  markdown/org/docs/sewing/knit-fabric/en.md
  markdown/org/docs/sewing/on-the-fold/en.md
  markdown/org/docs/sewing/pinning/en.md
  markdown/org/docs/sewing/rayon/en.md
  markdown/org/docs/sewing/seam-allowance/en.md
  markdown/org/docs/sewing/serger/en.md
  markdown/org/docs/sewing/slipstitch/en.md
  markdown/org/docs/sewing/topstitching/en.md
  markdown/org/docs/sewing/trimming/en.md
  markdown/org/docs/sewing/twin-needle/en.md
  markdown/org/docs/sewing/zig-zag-stitch/en.md
  sites/dev/components/jargon.mjs
  sites/org/components/jargon.mjs
  sites/shared/components/mdx/index.mjs
  sites/shared/prebuild/markdown.mjs
Labels: :book: documentation

#6388 chore(markdown): Attribution for Ramoth's showcases
  markdown/org/showcase/ramoth-cathrin-corset/en.md
  markdown/org/showcase/ramoth-short-sleeve-simon/en.md
  markdown/org/showcase/ramoth-simon-flannel/en.md
  markdown/org/showcase/simon-by-ramoth/en.md
Labels: :book: documentation

#6381 Clarify documentation of waist-to-upper-leg measurement
  markdown/org/docs/measurements/waisttoupperleg/en.md
Labels: :book: documentation

#6390 fix(huey): Fix for #6238
  config/changelog.yaml
  designs/huey/src/back.mjs
  designs/huey/src/front.mjs
Labels: :gear: configuration, :shirt: huey

#6407 fix(jaeger,paco,sandy): Typo
  designs/jaeger/src/front.mjs
  designs/paco/src/back.mjs
  designs/sandy/src/straight-waistband.mjs
Labels: :shirt: sandy, :shirt: paco, :shirt: jaeger

#6402 fix(org,shared): Use singular words for page titles
  sites/org/pages/account/bookmark.mjs
  sites/org/pages/account/pattern.mjs
  sites/org/pages/account/set.mjs
  sites/shared/components/account/en.yaml
Labels: :computer: shared, :computer: org

#6422 Added three questions to the FAQ
  markdown/org/docs/about/faq/measurements-issues/en.md
  markdown/org/docs/about/faq/measurements-issues/highbust.jpg
  markdown/org/docs/about/faq/measurements-issues/highbust2.jpg
  markdown/org/docs/about/faq/measurements-issues/hps.jpg
  markdown/org/docs/about/faq/measurements-issues/hps2.jpg
  markdown/org/docs/about/faq/measurements-issues/waisttoarmpit.jpg
  markdown/org/docs/about/faq/seam-allowance/en.md
  markdown/org/docs/about/faq/standard-measurements/en.md
Labels: :book: documentation

#6421 fix(huey): Assorted minor fixes and improvements
  designs/huey/i18n/en.json
  designs/huey/src/cuff.mjs
  designs/huey/src/front.mjs
  designs/huey/src/waistband.mjs
Labels: :shirt: huey

#6406 Adds Gozer, Hi, and Holmes line drawings
  sites/shared/components/designs/linedrawings/gozer.mjs
  sites/shared/components/designs/linedrawings/hi.mjs
  sites/shared/components/designs/linedrawings/holmes.mjs
  sites/shared/components/designs/linedrawings/index.mjs
Labels: :computer: shared

#6405 Edits to pattern design tutorial
  markdown/dev/tutorials/pattern-design/part2/adding-measurements/en.md
  markdown/dev/tutorials/pattern-design/part2/adding-options/en.md
  markdown/dev/tutorials/pattern-design/part2/avoiding-overlap/en.md
  markdown/dev/tutorials/pattern-design/part2/completing-the-neck-opening/en.md
  markdown/dev/tutorials/pattern-design/part2/constructing-the-neck-opening/en.md
  markdown/dev/tutorials/pattern-design/part2/creating-the-closure/en.md
  markdown/dev/tutorials/pattern-design/part2/draft-method/en.md
  markdown/dev/tutorials/pattern-design/part2/drawing-the-bib-outline/en.md
  markdown/dev/tutorials/pattern-design/part2/drawing-the-straps/en.md
  markdown/dev/tutorials/pattern-design/part2/en.md
  markdown/dev/tutorials/pattern-design/part2/fitting-the-neck-opening/en.md
  markdown/dev/tutorials/pattern-design/part2/our-first-design/en.md
  markdown/dev/tutorials/pattern-design/part2/our-first-part/en.md
  markdown/dev/tutorials/pattern-design/part2/rounding-the-corners/en.md
  markdown/dev/tutorials/pattern-design/part2/shaping-the-straps/en.md
Labels: :book: documentation

#6403 fix(shared): Use "Bookmark this" translation strings
  markdown/org/docs/about/site/bookmarks/type/en.md
  sites/shared/components/account/en.yaml
  sites/shared/components/bookmarks.mjs
Labels: :book: documentation, :computer: shared

#6373 fix(shared): Correct warning logs translation key name
  sites/shared/components/workbench/views/logs/en.yaml
Labels: :computer: shared

#6426 chore: bump Uma difficulty to 2
  config/changelog.yaml
  config/software/designs.json
Labels: :gear: configuration

#6427 fix(wahid): Fix images in sewing documentation
  markdown/org/docs/designs/wahid/instructions/en.md
Labels: :book: documentation

#6425 New Crowdin Translations [skip build]
  markdown/org/docs/about/faq/measurements-issues/de.md
  markdown/org/docs/about/faq/measurements-issues/es.md
  markdown/org/docs/about/faq/measurements-issues/fr.md
  markdown/org/docs/about/faq/measurements-issues/nl.md
  markdown/org/docs/about/faq/measurements-issues/uk.md
  markdown/org/docs/about/faq/seam-allowance/de.md
  markdown/org/docs/about/faq/seam-allowance/es.md
  markdown/org/docs/about/faq/seam-allowance/fr.md
  markdown/org/docs/about/faq/seam-allowance/nl.md
  markdown/org/docs/about/faq/seam-allowance/uk.md
  markdown/org/docs/about/faq/standard-measurements/de.md
  markdown/org/docs/about/faq/standard-measurements/es.md
  markdown/org/docs/about/faq/standard-measurements/fr.md
  markdown/org/docs/about/faq/standard-measurements/nl.md
  markdown/org/docs/about/faq/standard-measurements/uk.md
Labels: :book: documentation, crowdin, i18n

#6428 Patch on the trace instructions
  markdown/dev/howtos/design/trace/en.md
Labels: :book: documentation

#6429 feat(org): Added admin subscribers page
  sites/org/pages/admin/index.mjs
  sites/org/pages/admin/subscribers.mjs
  sites/shared/hooks/use-backend.mjs
Labels: :computer: shared, :computer: org

#6431 chore(shared): Tweaks to navlinks and allow wide reading view
  sites/dev/pages/[...slug].mjs
  sites/org/components/layouts/docs.mjs
  sites/org/pages/docs/[...slug].mjs
  sites/shared/components/base-layout.mjs
  sites/shared/components/icons.mjs
  sites/shared/components/mdx/read-more.mjs
  sites/shared/components/navigation/sitenav.mjs
  sites/shared/components/wrappers/mdx.mjs
  sites/shared/prebuild/sitenav-org.mjs
  sites/shared/styles/globals.css
Labels: :computer: shared, :computer: dev, :computer: org

#6432 fix(shared): Remove debug statement
  sites/shared/components/navigation/sitenav.mjs
Labels: :computer: shared

#6436 fix(org): Left-behind commit for wide docs content on index page
  sites/org/pages/docs/index.mjs
Labels: :computer: org

#6442 Add missing i18n string.
  sites/shared/i18n/sections/en.yaml
Labels: :computer: shared

#6404 Added links to sew along on Vimeo since the blog post is currently down.
  designs/simon/src/front.mjs
  markdown/org/docs/designs/simon/instructions/en.md
Labels: :book: documentation, :shirt: simon, changesRequested

#6445 Fixes #6434
  designs/albert/src/strap.mjs
Labels: :shirt: albert
