Repository freesewing/freesewing, pull requests merged in 2024-10, with the labels that each got.

#7136 chore: Newsletter 2024q4
  markdown/org/newsletter/2024q4/de.md
  markdown/org/newsletter/2024q4/en.md
  markdown/org/newsletter/2024q4/es.md
  markdown/org/newsletter/2024q4/fr.md
  markdown/org/newsletter/2024q4/nl.md
  markdown/org/newsletter/2024q4/uk.md
Labels: :book: documentation

#7139 Fix build problems
  package.json
  sites/org/next.config.mjs
  sites/shared/components/mdx/index.mjs
Labels: :computer: shared, :computer: org

#7167 feat(dev): Add search
  sites/dev/docusaurus.config.mjs
Labels: :computer: dev

#7172 Port Umbra documentation to Docusaurus
  sites/orgdocs/docs/designs/umbra/instructions/readme.mdx
  sites/orgdocs/docs/designs/umbra/instructions/step01.svg
  sites/orgdocs/docs/designs/umbra/instructions/step02.svg
  sites/orgdocs/docs/designs/umbra/instructions/step03.svg
  sites/orgdocs/docs/designs/umbra/instructions/step04.svg
  sites/orgdocs/docs/designs/umbra/instructions/step05.svg
  sites/orgdocs/docs/designs/umbra/instructions/step06.svg
  sites/orgdocs/docs/designs/umbra/instructions/step08.svg
  sites/orgdocs/docs/designs/umbra/instructions/step09.svg
  sites/orgdocs/docs/designs/umbra/instructions/step10.svg
  sites/orgdocs/docs/designs/umbra/options/backdip/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/backdipshape/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/backexposure/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/bulge/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/bulgefullness/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/elasticstretch/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/flipback/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/frontdip/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/frontdipshape/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/frontexposure/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/frontreduction/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/gussetposition/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/gussetwidth/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/legrise/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/minfabricwidth/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/pocketgap/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/pocketheight/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/pockets/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/rise/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/splitposition/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/xstretch/readme.mdx
  sites/orgdocs/docs/designs/umbra/options/ystretch/readme.mdx
  sites/orgdocs/docs/designs/umbra/readme.mdx
Labels: :book: documentation, :shirt: umbra

#7193 Update en.md
  markdown/org/showcase/first-attempt-sewing-undies/en.md
Labels: :book: documentation

#7162 fix(org): Add missing space after thanksMsg2
  sites/org/pages/patrons/thanks.mjs
Labels: :computer: org

#7160 fix(shared): Provide control to menu items to allow User Experience circles to be filled
  sites/shared/components/workbench/menus/shared/menu-item.mjs
Labels: :computer: shared

#7159 fix(shared): Change print settings to user experience level 1
  sites/shared/components/workbench/views/print/config.mjs
Labels: :computer: shared

#7156 fix(shared): Sort design tags and techniques alphabetically
  sites/shared/components/designs/design-picker.mjs
Labels: :computer: shared

#7154 fix(github): Update GitHub labels and designs
  .github/ISSUE_TEMPLATE/01_bug-report.yaml
  .github/boring-cyborg.yml
Labels: :gear: configuration

#7145 fix(shared): Add missing English translations
  sites/shared/components/account/en.yaml
  sites/shared/components/workbench/menus/core-settings/en.yaml
  sites/shared/components/workbench/menus/ui-settings/en.yaml
Labels: :package: i18n

#7144 fix(org): Fix generate a social media image
  sites/org/components/genimg/index.mjs
Labels: :computer: org

#7040 fix(paco): Use more accurate flap position
  designs/paco/src/front.mjs
Labels: :shirt: paco

#7043 fix(docs): Correct shading of Charlie side pocket images
  markdown/org/docs/designs/charlie/instructions/en.md
  markdown/org/docs/designs/charlie/instructions/step04d.svg
  markdown/org/docs/designs/charlie/instructions/step05a.svg
  markdown/org/docs/designs/charlie/instructions/step05b.svg
  markdown/org/docs/designs/charlie/instructions/step06a.svg
  markdown/org/docs/designs/charlie/instructions/step06b.svg
  markdown/org/docs/designs/charlie/instructions/step08.svg
Labels: :book: documentation, :shirt: charlie

#7143 fix(shared): Remove dev site config from search
  sites/shared/prebuild/search.mjs
Labels: :computer: shared

#7125 Fix issue #7121 and two more bugs
  designs/octoplushy/src/arm.mjs
  designs/octoplushy/src/head.mjs
Labels: :bug: bug, :shirt: octoplushy

#7137 Fix and improve path intersection methods
  packages/core/src/path.mjs
  packages/core/src/utils.mjs
  packages/core/tests/path.test.mjs
  packages/core/tests/utils.test.mjs
  sites/dev/docs/reference/api/path/intersects/readme.mdx
  sites/dev/docs/reference/api/path/intersectsbeam/readme.mdx
  sites/dev/docs/reference/api/path/intersectsx/readme.mdx
  sites/dev/docs/reference/api/path/intersectsy/readme.mdx
  sites/dev/docs/reference/api/utils/beamintersectsline/readme.mdx
  sites/dev/docs/reference/api/utils/beamsintersect/readme.mdx
Labels: :package: core, :computer: dev

#7072 feat: New showcase post rainbow-fleece-hi by starfirebird
  markdown/org/showcase/rainbow-fleece-hi/en.md
Labels: :book: documentation

#7056 fix(docs): Add/update API keys list
  markdown/dev/reference/backend/apikeys/list/en.md
  sites/backend/openapi/apikeys.mjs
Labels: :book: documentation, :computer: backend
