Repository freesewing/freesewing, pull requests merged in 2024-09, with the labels that each got.

#7055 fix(simone): Correct documentation for 'bustAlignedButtons.disabled' option
  designs/simone/i18n/en.json
Labels: :shirt: simone

#7053 fix(docs): title macro notes can be a string or array of strings
  markdown/dev/reference/macros/title/en.md
Labels: :book: documentation

#7068 feat: New showcase post first-attempt-sewing-undies by AuxSuivants
  markdown/org/showcase/first-attempt-sewing-undies/en.md
Labels: :book: documentation

#7079 feat: New showcase post joshs-numeric-simon by JoshShabtaiCa
  markdown/org/showcase/joshs-numeric-simon/en.md
Labels: :book: documentation

#7097 fix(shared): Change workbench pattern save URL
  sites/shared/components/workbench/views/save/index.mjs
Labels: :computer: shared

#7126 enhancement(huey): Add pocket opening size option
  designs/huey/i18n/en.json
  designs/huey/src/front.mjs
  markdown/org/docs/designs/huey/options/pocketopening/en.md
Labels: :book: documentation, :shirt: huey

#7115 feat: New showcase post short-sleeved-simon by starfirebird
  markdown/org/showcase/short-sleeved-simon/en.md
Labels: :book: documentation

#7113 fix(gozer): Adjust position of eyes
  designs/gozer/src/ghost.mjs
Labels: :shirt: gozer

#7111 fix(bent): Base sleeve width on biceps circumference
  designs/bent/src/sleeve.mjs
Labels: :shirt: bent

#7109 enhancement(bella,docs): Add front waist dart curve option and allow longer waist dart
  designs/bee/src/cup.mjs
  designs/bella/i18n/en.json
  designs/bella/src/back.mjs
  designs/bella/src/front-side-dart.mjs
  designs/noble/src/options.mjs
  markdown/org/docs/designs/bella/options/waistdartcurve/en.md
Labels: :book: documentation, :shirt: bee, :shirt: bella, :shirt: noble

#7108 Fix user ID in showcase post
  markdown/org/showcase/sleeveless-simon-by-lasermonkey12/en.md
Labels: :book: documentation

#7106 fix(bella): Omit zero or negative width front waist dart
  designs/bella/src/front-side-dart.mjs
Labels: :shirt: bella

#7105 fix(simone): Move bust point creation ahead of no-FBA return
  designs/simone/src/fba-front.mjs
Labels: :shirt: simone

#7104 fix(docs): Add printing issues FAQ
  markdown/org/docs/about/faq/printing-issues/en.md
Labels: :book: documentation

#7103 fix(docs): Changes and additions to measurements FAQ
  markdown/org/docs/about/faq/measurements-issues/en.md
Labels: :book: documentation

#7094 fix(plugins) Logo missing when Exported to PDF
  plugins/plugin-annotations/src/logo.mjs
Labels: :electric_plug: plugin-annotations

#7092 fix(hugo) Correct expand info
  designs/hugo/i18n/en.json
Labels: :shirt: hugo

#7091 add(org) Cover images: Lumira, Opal & Tristan
  sites/shared/components/designs/examples.mjs
Labels: :computer: org, :shirt: lumira, :shirt: tristan, :shirt: opal

#7089 add(docs) MagicantAce Author Cathrin
  markdown/org/showcase/doll-cathrin/en.md
Labels: :book: documentation, author claim

#7088 add(docs) Zag Author
  markdown/org/showcase/colorful-hi-by-zag/en.md
  markdown/org/showcase/gender-euphoric-bruces/en.md
Labels: :book: documentation, author claim

#7087 add(docs) posh tunic author
  markdown/org/showcase/watermelon-charlie-chinos/en.md
Labels: :book: documentation, author claim

#7098 fix(bella): Front bust dart changes: add angle and minimum fabric options, obey side seam length, allow convex curve
  designs/bee/src/cup.mjs
  designs/bella/i18n/en.json
  designs/bella/src/back.mjs
  designs/bella/src/front-side-dart.mjs
  designs/noble/src/options.mjs
  markdown/org/docs/designs/bella/options/bustdartangle/en.md
  markdown/org/docs/designs/bella/options/bustdartcurve/en.md
  markdown/org/docs/designs/bella/options/bustdartminimumfabric/en.md
Labels: :book: documentation, :shirt: bee, :shirt: bella, :shirt: noble

#7086 Revert "fix(sandy): fix seam allowance construction to work with new ringsector changes"
  designs/sandy/src/skirt.mjs
  designs/tristan/src/peplumFront.mjs
Labels: :shirt: sandy, :shirt: tristan

#7085 fix(plugins) ringsector full reversion.
  plugins/plugin-ringsector/src/index.mjs
Labels: :electric_plug: plugin-ringSector

#7131 fix: social card and navbar links on mobile
  sites/dev/docusaurus.config.mjs
  sites/dev/src/css/custom.css
  sites/dev/static/img/docusaurus-social-card.jpg
  sites/dev/static/img/docusaurus.png
  sites/dev/static/img/freesewing-social-card.png
Labels: :computer: dev

#7132 fix(dev): One-liner admonitions
  sites/dev/docs/howtos/design/cutlist/readme.mdx
  sites/dev/docs/reference/api/design/readme.mdx
  sites/dev/docs/reference/api/part/config/hide/readme.mdx
  sites/dev/docs/reference/api/part/config/measurements/readme.mdx
  sites/dev/docs/reference/api/path/_curve/readme.mdx
  sites/dev/docs/reference/api/path/addclass/readme.mdx
  sites/dev/docs/reference/api/path/addtext/readme.mdx
  sites/dev/docs/reference/api/path/attr/readme.mdx
  sites/dev/docs/reference/api/path/circlesegment/readme.mdx
  sites/dev/docs/reference/api/path/close/readme.mdx
  sites/dev/docs/reference/api/path/curve/readme.mdx
  sites/dev/docs/reference/api/path/curve_/readme.mdx
  sites/dev/docs/reference/api/path/end/readme.mdx
  sites/dev/docs/reference/api/path/hide/readme.mdx
  sites/dev/docs/reference/api/path/insop/readme.mdx
  sites/dev/docs/reference/api/path/line/readme.mdx
  sites/dev/docs/reference/api/path/noop/readme.mdx
  sites/dev/docs/reference/api/path/setclass/readme.mdx
  sites/dev/docs/reference/api/path/sethidden/readme.mdx
  sites/dev/docs/reference/api/path/settext/readme.mdx
  sites/dev/docs/reference/api/path/smurve/readme.mdx
  sites/dev/docs/reference/api/path/smurve_/readme.mdx
  sites/dev/docs/reference/api/path/start/readme.mdx
  sites/dev/docs/reference/api/path/unhide/readme.mdx
  sites/dev/docs/reference/api/pattern/addpart/readme.mdx
  sites/dev/docs/reference/api/pattern/draft/readme.mdx
  sites/dev/docs/reference/api/pattern/draftpartforset/readme.mdx
  sites/dev/docs/reference/api/pattern/on/readme.mdx
  sites/dev/docs/reference/api/pattern/sample/readme.mdx
  sites/dev/docs/reference/api/pattern/samplemeasurement/readme.mdx
  sites/dev/docs/reference/api/pattern/samplemodels/readme.mdx
  sites/dev/docs/reference/api/pattern/sampleoption/readme.mdx
  sites/dev/docs/reference/api/pattern/use/readme.mdx
  sites/dev/docs/reference/api/point/addcircle/readme.mdx
  sites/dev/docs/reference/api/point/addtext/readme.mdx
  sites/dev/docs/reference/api/point/attr/readme.mdx
  sites/dev/docs/reference/api/point/clone/readme.mdx
  sites/dev/docs/reference/api/point/setcircle/readme.mdx
  sites/dev/docs/reference/api/point/settext/readme.mdx
  sites/dev/docs/reference/api/snippet/attr/readme.mdx
  sites/dev/docs/reference/api/snippet/rotate/readme.mdx
  sites/dev/docs/reference/api/snippet/scale/readme.mdx
  sites/dev/docs/reference/api/stack/addpart/readme.mdx
  sites/dev/docs/reference/api/stack/attr/readme.mdx
  sites/dev/docs/reference/api/stack/generatetransform/readme.mdx
  sites/dev/docs/reference/api/stack/home/readme.mdx
  sites/dev/docs/reference/api/store/extend/readme.mdx
  sites/dev/docs/reference/api/store/push/readme.mdx
  sites/dev/docs/reference/api/store/set/readme.mdx
  sites/dev/docs/reference/api/store/setifunset/readme.mdx
  sites/dev/docs/reference/api/store/unset/readme.mdx
  sites/dev/docs/tutorials/getting-started-linux/dev-setup/readme.mdx
  sites/dev/docs/tutorials/getting-started-linux/readme.mdx
  sites/dev/docs/tutorials/getting-started-mac/dev-setup/readme.mdx
  sites/dev/docs/tutorials/getting-started-windows/readme.mdx
  sites/dev/docs/tutorials/pattern-design/part2/creating-the-closure/readme.mdx
  sites/dev/docs/tutorials/pattern-design/part2/draft-method/readme.mdx
  sites/dev/docs/tutorials/pattern-design/part3/i18n/readme.mdx
  sites/dev/docs/tutorials/pattern-design/part3/menu/readme.mdx
  sites/dev/docs/tutorials/pattern-design/part3/tests/readme.mdx
Labels: :computer: dev
