Repository freesewing/freesewing, pull requests merged in 2024-07, with the labels that each got.

#6923 feat(markdown): 2024q3 newsletter
  markdown/org/newsletter/2024q3/en.md
Labels: :book: documentation

#6924 feat(markdown): translations for newsletter
  markdown/org/newsletter/2024q3/de.md
  markdown/org/newsletter/2024q3/es.md
  markdown/org/newsletter/2024q3/fr.md
  markdown/org/newsletter/2024q3/nl.md
  markdown/org/newsletter/2024q3/uk.md
  markdown/org/showcase/a-shortened-penelope/en.md
Labels: :book: documentation

#6928 fix(core): Fix typo in path.clean() method
  packages/core/src/path.mjs
Labels: :package: core

#6934 fix(uma): multiply toAbs() value of gusset slider by two
  config/changelog.yaml
  designs/uma/src/base.mjs
Labels: :gear: configuration

#6929 Some minor Bibi improvements
  designs/bibi/i18n/en.json
  designs/bibi/src/back.mjs
  designs/bibi/src/shared.mjs
  designs/bibi/src/waistband.mjs
  markdown/org/docs/designs/bibi/options/lengthadjustment/en.md
  markdown/org/docs/designs/bibi/options/waistadjustment/en.md
Labels: :book: documentation

#6955 Add path.circleSegment() function
  config/changelog.yaml
  designs/sandy/src/curved-waistband.mjs
  markdown/dev/reference/api/path/circlesegment/en.md
  packages/core/src/path.mjs
  packages/core/tests/path.test.mjs
  plugins/plugin-ringsector/src/index.mjs
Labels: :package: core, :book: documentation, :gear: configuration, :computer: shared, :shirt: sandy

#6937 feat(simon, simone): Add `collarWidth` for simon(e)
  designs/simon/i18n/en.json
  designs/simon/src/collar.mjs
  designs/simon/src/options.mjs
  markdown/org/docs/designs/simon/options/collarwidth/en.md
  markdown/org/docs/designs/simone/options/collarwidth/en.md
Labels: :book: documentation, :shirt: simon, :shirt: simone
