Repository freesewing/freesewing, pull requests merged in 2024-02, with the labels that each got.

#5952 fix(markdown): Fix Translation Guide links to use v3 versions
  markdown/dev/guides/translation/en.md
Labels: :book: documentation

#5951 fix(markdown): Add link to multisets in Settings doc
  markdown/dev/reference/settings/en.md
Labels: :book: documentation

#5947 fix(simone): Add roundback option documentation
  markdown/org/docs/designs/simone/options/roundback/en.md
Labels: :book: documentation

#5946 fix(bob): In docs, remove bias tape Fixme
  markdown/org/docs/designs/bob/instructions/en.md
Labels: :book: documentation

#5945 fix(gozer): In docs, add <DesignInfo> and change <Fixme> to <Warning>
  markdown/org/docs/designs/gozer/en.md
  markdown/org/docs/designs/gozer/notes/en.md
Labels: :book: documentation

#5944 fix(shared): Adjust <DesignInfo> to accommodate designs with no design options
  sites/shared/components/designs/info.mjs
Labels: :computer: shared

#5917 fix(carlton) Fix stray seam allowance path
  designs/carlton/src/collar.mjs
Labels: :shirt: carlton

#5912 fix(hugo): Add neck binding part
  designs/hugo/i18n/en.json
  designs/hugo/src/index.mjs
  designs/hugo/src/neckbinding.mjs
Labels: :shirt: hugo

#5909 chore(markdown): Add missing tags to Custom Tags guide
  markdown/dev/guides/markdown/custom-components/en.md
Labels: :book: documentation

#5908 fix(shared): Correct ControlTip tag text to use User Experience wording
  sites/shared/i18n/docs/en.yaml
Labels: :computer: shared

#5899 chore(markdown): Add Svg.render() documentation
  markdown/dev/reference/api/svg/asrenderprops/en.md
  markdown/dev/reference/api/svg/render/en.md
Labels: :book: documentation

#5861 Add panels option to Sandy
  designs/sandy/i18n/de.json
  designs/sandy/i18n/en.json
  designs/sandy/i18n/es.json
  designs/sandy/i18n/fr.json
  designs/sandy/i18n/nl.json
  designs/sandy/i18n/uk.json
  designs/sandy/src/skirt.mjs
  markdown/org/docs/designs/sandy/options/panels/de.md
  markdown/org/docs/designs/sandy/options/panels/en.md
  markdown/org/docs/designs/sandy/options/panels/es.md
  markdown/org/docs/designs/sandy/options/panels/fr.md
  markdown/org/docs/designs/sandy/options/panels/nl.md
  markdown/org/docs/designs/sandy/options/panels/panels.svg
  markdown/org/docs/designs/sandy/options/panels/uk.md
Labels: :book: documentation, :shirt: sandy

#5851 fix(markdown): Typos in Creating a New Snippet howto
  markdown/dev/howtos/code/create-snippet/en.md
Labels: :book: documentation

#5841 fix(github): Add noop jobs to workflows to prevent spurious notifications
  .github/workflows/playwright.yml
  .github/workflows/tests.new-design.yml
Labels: :gear: configuration

#5957 fix(org): Off-by-one error, closes #5933
  sites/shared/components/account/username.mjs
Labels: :computer: shared

#5982 Fix bugs with test view and conditionally hidden options
  designs/bent/src/sleeve.mjs
  designs/breanna/src/base.mjs
  designs/simon/src/options.mjs
  sites/shared/components/workbench/views/test/menu.mjs
Labels: :computer: shared, :shirt: breanna, :shirt: bent, :shirt: simon

#5859 fix(sandy): Correct vertical dimensions, and add horizontal dimensions
  designs/sandy/src/skirt.mjs
Labels: :shirt: sandy

#5916 fix(jaeger): Fix undercollar to correct shape
  designs/jaeger/src/undercollar.mjs
  markdown/org/docs/designs/jaeger/cutting/en.md
  markdown/org/docs/designs/jaeger/instructions/en.md
Labels: :book: documentation, :shirt: jaeger

#5970 fix(markdown): Remove cased folder names
  markdown/org/docs/designs/onyx/options/zipperPosition/fr.md
  markdown/org/docs/designs/onyx/options/zipperPosition/uk.md
  markdown/org/docs/designs/otis/options/sleeveType/de.md
  markdown/org/docs/designs/otis/options/sleeveType/en.md
  markdown/org/docs/designs/otis/options/sleeveType/es.md
  markdown/org/docs/designs/otis/options/sleeveType/fr.md
  markdown/org/docs/designs/otis/options/sleeveType/nl.md
  markdown/org/docs/designs/otis/options/sleeveType/uk.md
  markdown/org/docs/designs/otis/options/snapPlacket/de.md
  markdown/org/docs/designs/otis/options/snapPlacket/en.md
  markdown/org/docs/designs/otis/options/snapPlacket/es.md
  markdown/org/docs/designs/otis/options/snapPlacket/fr.md
  markdown/org/docs/designs/otis/options/snapPlacket/nl.md
  markdown/org/docs/designs/otis/options/snapPlacket/uk.md
  markdown/org/showcase/brazenedMinstrel-double-ws/de.md
  markdown/org/showcase/brazenedMinstrel-double-ws/en.md
  markdown/org/showcase/brazenedMinstrel-double-ws/es.md
  markdown/org/showcase/brazenedMinstrel-double-ws/fr.md
  markdown/org/showcase/brazenedMinstrel-double-ws/nl.md
  markdown/org/showcase/brazenedMinstrel-double-ws/uk.md
Labels: :book: documentation

#5983 fix(markdown): Update links and docs for new Store Methods doc
  markdown/dev/reference/api/part/draft/en.md
  markdown/dev/reference/api/store/en.md
  markdown/dev/reference/api/store/logs/en.md
Labels: :book: documentation

#5989 fix(carlita, carlton, jaeger): In cutting doc, add comment with non-nett canvas method
  markdown/org/docs/designs/carlita/cutting/en.md
  markdown/org/docs/designs/carlton/cutting/en.md
  markdown/org/docs/designs/jaeger/cutting/en.md
Labels: :book: documentation

#5991 fix(core): Add missing anchor property to Stack() constructor
  packages/core/src/stack.mjs
Labels: :package: core

#5994 chore(markdown): Remove obsolete Part.asProps() doc
  markdown/dev/reference/api/part/props/en.md
Labels: :book: documentation

#5995 fix(markdown): In Part doc, add properties and methods
  markdown/dev/reference/api/part/en.md
  markdown/dev/reference/api/path/en.md
Labels: :book: documentation

#5998 Adds Lumira and Lumina line drawings and fixes Lucy line drawing
  sites/shared/components/designs/linedrawings/index.mjs
  sites/shared/components/designs/linedrawings/lucy.mjs
  sites/shared/components/designs/linedrawings/lumina.mjs
  sites/shared/components/designs/linedrawings/lumira.mjs
Labels: :computer: shared

#6002 fix(brian): Take biceps ease into account for armhole depth
  config/changelog.yaml
  designs/brian/src/base.mjs
Labels: :gear: configuration, :shirt: brian

#6008 Updated Tristan design name and showcases
  designs/tristan/i18n/en.json
  markdown/org/showcase/a-lined-tristan-top-with-front-lacing/en.md
  markdown/org/showcase/a-noble-top-for-the-renaissance-festival/en.md
Labels: :book: documentation

#6007 Adds Carlita, Carlton, Cathrin line drawings
  sites/shared/components/designs/linedrawings/carlita.mjs
  sites/shared/components/designs/linedrawings/carlton.mjs
  sites/shared/components/designs/linedrawings/cathrin.mjs
  sites/shared/components/designs/linedrawings/index.mjs
Labels: :computer: shared

#6009 fix(hugo): Incorrect complete check. Closes #6006
  config/changelog.yaml
  designs/hugo/src/front.mjs
Labels: :gear: configuration, :shirt: hugo

#6010 fix(huge): Base pocket opening on pocket height. Fixes #6004
  config/changelog.yaml
  designs/hugo/src/front.mjs
Labels: :gear: configuration, :shirt: hugo

#5992 fix(markdown): Add missing list property to Attributes and Defs docs
  markdown/dev/reference/api/attributes/en.md
  markdown/dev/reference/api/defs/en.md
Labels: :book: documentation

#6014 fix(markdown): In Windows tutorial, change link from .node-version to .nvmrc
  markdown/dev/tutorials/getting-started-windows/en.md
Labels: :book: documentation

#6013 fix(markdown): Typo in Part and Path docs
  markdown/dev/reference/api/part/en.md
  markdown/dev/reference/api/path/en.md
Labels: :book: documentation

#6012 New Crowdin Translations [skip build]
  markdown/org/docs/about/site/nl.md
  markdown/org/docs/designs/bee/notes/de.md
  markdown/org/docs/designs/bee/notes/es.md
  markdown/org/docs/designs/bee/notes/fr.md
  markdown/org/docs/designs/bee/notes/nl.md
  markdown/org/docs/designs/octoplushy/notes/de.md
  markdown/org/docs/designs/octoplushy/notes/es.md
  markdown/org/docs/designs/octoplushy/notes/fr.md
  markdown/org/docs/designs/octoplushy/notes/nl.md
  markdown/org/docs/designs/penelope/notes/de.md
  markdown/org/docs/designs/penelope/notes/es.md
  markdown/org/docs/designs/penelope/notes/fr.md
  markdown/org/docs/designs/penelope/notes/nl.md
  markdown/org/docs/designs/tiberius/notes/de.md
  markdown/org/docs/designs/tiberius/notes/es.md
  markdown/org/showcase/a-lined-tristan-top-with-front-lacing/de.md
  markdown/org/showcase/a-lined-tristan-top-with-front-lacing/es.md
  markdown/org/showcase/a-lined-tristan-top-with-front-lacing/fr.md
  markdown/org/showcase/a-lined-tristan-top-with-front-lacing/nl.md
  markdown/org/showcase/a-lined-tristan-top-with-front-lacing/uk.md
  markdown/org/showcase/a-noble-top-for-the-renaissance-festival/de.md
  markdown/org/showcase/a-noble-top-for-the-renaissance-festival/es.md
  markdown/org/showcase/a-noble-top-for-the-renaissance-festival/fr.md
  markdown/org/showcase/a-noble-top-for-the-renaissance-festival/nl.md
  markdown/org/showcase/a-noble-top-for-the-renaissance-festival/uk.md
Labels: :book: documentation, crowdin, i18n

#5990 fix(markdown): Path doc updates for optional parameters
  markdown/dev/reference/api/path/addtext/en.md
  markdown/dev/reference/api/path/attr/en.md
  markdown/dev/reference/api/path/settext/en.md
  markdown/dev/reference/api/path/shiftalong/en.md
  markdown/dev/reference/api/path/shiftfractionalong/en.md
Labels: :book: documentation

#6021 fix(markdown): Add Pattern.draftPartForSet() documentation
  markdown/dev/reference/api/pattern/draftpartforset/en.md
Labels: :book: documentation

#6019 fix(markdown): Typo in Path.combine() doc
  markdown/dev/reference/api/path/combine/en.md
Labels: :book: documentation

#6046 feat(shared): Add pattern information to PDF cover sheet
  sites/shared/components/workbench/exporting/export-handler.mjs
  sites/shared/components/workbench/exporting/export-worker.js
  sites/shared/components/workbench/exporting/pdf-maker.mjs
Labels: :computer: shared

#6045 fix(shared): Blog navigation menu in reverse chronological order
  sites/shared/prebuild/markdown.mjs
Labels: :computer: shared

#6034 feat(shared): Allow missing measurement sets to be selected for new patterns
  sites/shared/components/account/sets.mjs
  sites/shared/components/workbench/views/measies/index.mjs
Labels: :computer: shared

#6033 fix(shared): Show missing measurements for sets for new patterns
  sites/shared/components/account/sets.mjs
Labels: :computer: shared

#6031 fix(shared): Correct MeasieImage width and source URL
  sites/shared/components/measurements/image.mjs
Labels: :computer: shared

#6030 feat(shared): Optional ordering for design options and menus
  markdown/dev/reference/api/part/config/options/extend/en.md
  sites/shared/utils.mjs
Labels: :book: documentation, :computer: shared

#6029 New Crowdin Translations [skip build]
  markdown/org/docs/about/site/nl.md
  markdown/org/newsletter/2022q4/uk.md
  markdown/org/newsletter/2023q1/fr.md
Labels: :book: documentation, crowdin, i18n

#6050 fix(shared): Add translations to missing measurements string
  sites/shared/components/account/en.yaml
  sites/shared/components/account/sets.mjs
Labels: :computer: shared

#6049 fix(hugo): Add missing dimension id attributes
  designs/hugo/src/front.mjs
Labels: :shirt: hugo

#6032 fix(models, backend): In tests, use chai namespace import instead of default
  packages/models/tests/models.test.mjs
  sites/backend/tests/shared.mjs
Labels: :computer: backend, :package: models

#6047 fix(plugin-annotations): Use non-special characters in scaleboxes to work around #5874
  plugins/plugin-annotations/src/scalebox.mjs
  plugins/plugin-annotations/tests/scalebox.test.mjs
Labels: :electric_plug: plugin-annotations

#6048 New Crowdin Translations [skip build]
  markdown/org/docs/about/site/nl.md
  sites/shared/components/account/fr.yaml
Labels: :book: documentation, :computer: shared, crowdin, i18n

#6064 New Crowdin Translations [skip build]
  markdown/org/docs/about/site/nl.md
  sites/shared/components/account/nl.yaml
Labels: :book: documentation, :computer: shared, crowdin, i18n

#6072 fix(markdown): Roll back crowding accidental removals
  markdown/org/docs/designs/lucy/cutting/en.md
  markdown/org/docs/designs/lucy/fabric/en.md
  markdown/org/docs/designs/lucy/instructions/en.md
  markdown/org/docs/designs/lucy/needs/en.md
  markdown/org/docs/designs/lucy/options/edge/en.md
  markdown/org/docs/designs/lucy/options/length/en.md
  markdown/org/docs/designs/lucy/options/width/en.md
Labels: :book: documentation

#6073 fix(markdown): Revert crowding bad commits
  markdown/org/newsletter/2022q4/uk.md
  markdown/org/newsletter/2023q1/fr.md
Labels: :book: documentation

#6075 fix(shared): Add optional measurements to pattern Edit Measurements by Hand
  sites/shared/components/workbench/views/measies/editor.mjs
Labels: :computer: shared

#6076 fix(shared, plugins): Provide measurement set name to patterns
  plugins/plugin-annotations/src/title.mjs
  sites/shared/components/workbench/exporting/export-handler.mjs
  sites/shared/components/workbench/exporting/export-worker.js
  sites/shared/components/workbench/exporting/pdf-maker.mjs
  sites/shared/components/workbench/new.mjs
  sites/shared/components/workbench/views/measies/index.mjs
Labels: :computer: shared, :electric_plug: plugin-annotations

#6079 feat: Changes to handle per-set bust plugin conditionality
  config/changelog.yaml
  designs/brian/src/base.mjs
  markdown/dev/reference/hooks/predraft/en.md
  markdown/dev/reference/hooks/presetdraft/en.md
  plugins/plugin-bust/src/index.mjs
  plugins/plugin-bust/tests/plugin.test.mjs
Labels: :book: documentation, :gear: configuration, :computer: shared, :electric_plug: plugin-bust, :shirt: brian

#6080 feat: Add name to curated sets, using flexbox
  sites/shared/components/curated-sets.mjs
Labels: :computer: shared

#6078 Adds Charlie, Cornelius, and Florent line drawings
  sites/shared/components/designs/linedrawings/charlie.mjs
  sites/shared/components/designs/linedrawings/cornelius.mjs
  sites/shared/components/designs/linedrawings/florent.mjs
  sites/shared/components/designs/linedrawings/index.mjs
Labels: :computer: shared

#6081 chore(onyx, shelly, tamiko): Load bustPlugin unconditionally
  config/changelog.yaml
  designs/onyx/src/base.mjs
  designs/shelly/src/base.mjs
  designs/tamiko/src/top.mjs
Labels: :gear: configuration, :shirt: tamiko

#6082 fix(shared): Add i18n for pattern measurements UI
  sites/shared/components/account/en.yaml
  sites/shared/components/workbench/views/measies/editor.mjs
Labels: :computer: shared

#6088 fix(hugo): Correct waistband grainline direction
  designs/hugo/i18n/en.json
  designs/hugo/src/waistband.mjs
Labels: :shirt: hugo

#6089 fix(brian): Eliminate warning message
  designs/brian/src/sleevecap.mjs
  plugins/plugin-annotations/src/cutlist.mjs
Labels: :shirt: brian, :electric_plug: plugin-annotations

#6114 fix(shared): Add yourApikeys text key
  sites/shared/components/account/en.yaml
Labels: :computer: shared

#6112 fix(shared): Add Kiosk Mode text keys
  sites/shared/components/workbench/menus/ui-settings/en.yaml
Labels: :computer: shared

#6126 (shared, markdown): Rename Metricset Comparison to Measurements Sets Comparison
  markdown/org/docs/about/site/account/compare/en.md
  sites/shared/components/account/en.yaml
Labels: :book: documentation, :computer: shared

#6125 fix(markdown): Correct and normalize utils docs
  markdown/dev/reference/api/utils/deg2rad/en.md
  markdown/dev/reference/api/utils/generatestacktransform/en.md
  markdown/dev/reference/api/utils/gettransformedbounds/en.md
  markdown/dev/reference/api/utils/mergei18n/en.md
  markdown/dev/reference/api/utils/mergeoptions/en.md
  markdown/dev/reference/api/utils/rad2deg/en.md
Labels: :book: documentation

#6120 fix(shared): Add translation keys for social media
  sites/shared/components/account/en.yaml
  sites/shared/components/account/links.mjs
Labels: :computer: shared

#6092 fix(shared): Export for Editing PDF files are not generating
  sites/shared/components/workbench/exporting/export-handler.mjs
Labels: :computer: shared

#6094 fix(lab): Add jargon file
  sites/lab/components/jargon.mjs
Labels: :computer: lab

#6116 fix(shared): Add Missing Settings? tip to pattern draft right menu
  sites/shared/components/workbench/menus/ui-settings/en.yaml
  sites/shared/components/workbench/views/draft/menu.mjs
Labels: :computer: shared

#6095 fix(shared): Nailed it! seen on export failure
  sites/shared/components/workbench/exporting/export-handler.mjs
  sites/shared/components/workbench/views/exporting/index.mjs
  sites/shared/i18n/status/en.yaml
Labels: :computer: shared

#6104 fix(shared, dev, markdown): Follow-up chores related to the new jargon functionality
  markdown/dev/guides/markdown/jargon/en.md
  sites/dev/components/jargon.mjs
  sites/dev/jargon.mjs
  sites/shared/jargon/de.json
  sites/shared/jargon/en.json
  sites/shared/jargon/es.json
  sites/shared/jargon/fr.json
  sites/shared/jargon/index.mjs
  sites/shared/jargon/nl.json
  sites/shared/jargon/uk.json
  sites/shared/mdx/load.mjs
Labels: :book: documentation, :computer: shared, :computer: dev

#6107 fix(shared): In draft header, show/hide kiosk and renderer buttons based on User Experience
  sites/shared/components/workbench/views/draft/header.mjs
Labels: :computer: shared

#6109 fix(shared): Override draft UI button colors for monochrome theme
  sites/shared/components/workbench/views/draft/header.mjs
Labels: :computer: shared

#6117 fix(shared): Correct Discord support channel name
  sites/shared/components/sponsors/en.yaml
  sites/shared/i18n/support/en.yaml
Labels: :computer: shared

#6119 fix(designs): Typo fixes in json files
  designs/bee/i18n/en.json
  designs/bob/i18n/en.json
  designs/breanna/i18n/en.json
  designs/carlton/i18n/en.json
  designs/charlie/i18n/en.json
  designs/florent/i18n/en.json
  designs/paco/i18n/en.json
  designs/plugintest/i18n/en.json
  designs/simon/i18n/en.json
  designs/titan/i18n/en.json
  designs/waralee/i18n/en.json
  sites/sde/design/tutorial/i18n/en.json
Labels: :shirt: bee, :shirt: bob, :shirt: breanna, :shirt: titan, :shirt: carlton, :shirt: charlie, :shirt: florent, :shirt: waralee, :shirt: paco, :shirt: plugintest, :shirt: simon

#6128 fix(shared): Typo in imperialUnits text key
  sites/shared/components/account/sets.mjs
Labels: :computer: shared

#6130 fix(shared): Create new measurements sets using account imperial setting
  sites/shared/components/account/sets.mjs
Labels: :computer: shared

#6132 fix(shared): In Test view, include optional measurements
  sites/shared/components/workbench/views/test/menu.mjs
Labels: :computer: shared

#6133 fix(shared): For Test view option menus, use design and workbench translation keys
  sites/shared/components/workbench/views/test/menu.mjs
Labels: :computer: shared

#6113 DRAFT: fix(markdown): Add details to User Experience doc
  markdown/org/docs/about/site/account/control/en.md
Labels: :book: documentation

#6131 fix(shared): Workaround for Units not updating on edit measurements page
  sites/shared/components/account/en.yaml
  sites/shared/components/account/sets.mjs
Labels: :computer: shared

#6083 New Crowdin Translations [skip build]
  markdown/org/docs/about/site/account/compare/de.md
  markdown/org/docs/about/site/account/compare/es.md
  markdown/org/docs/about/site/account/compare/fr.md
  markdown/org/docs/about/site/account/compare/nl.md
  markdown/org/docs/about/site/account/compare/uk.md
  markdown/org/docs/designs/cornelius/cutting/fr.md
  markdown/org/docs/designs/cornelius/fabric/fr.md
  markdown/org/docs/designs/cornelius/instructions/fr.md
  markdown/org/docs/designs/cornelius/notes/fr.md
  markdown/org/docs/designs/cornelius/options/flywidth/fr.md
  markdown/org/docs/designs/cornelius/options/fr.md
  markdown/org/docs/designs/huey/cutting/fr.md
  markdown/org/docs/designs/huey/instructions/fr.md
  markdown/org/docs/designs/lucy/cutting/fr.md
  markdown/org/newsletter/2022q4/uk.md
  markdown/org/newsletter/2023q1/fr.md
  sites/shared/components/account/de.yaml
  sites/shared/components/account/es.yaml
  sites/shared/components/account/fr.yaml
  sites/shared/components/account/nl.yaml
  sites/shared/components/account/uk.yaml
  sites/shared/components/workbench/menus/ui-settings/de.yaml
  sites/shared/components/workbench/menus/ui-settings/es.yaml
  sites/shared/components/workbench/menus/ui-settings/fr.yaml
  sites/shared/components/workbench/menus/ui-settings/nl.yaml
  sites/shared/components/workbench/menus/ui-settings/uk.yaml
Labels: :book: documentation, :computer: shared, crowdin, i18n

#6140 fix(markdown): Add Level 5 info to User Experience doc
  markdown/org/docs/about/site/account/control/en.md
Labels: :book: documentation

#6154 chore(markdown): Updated blog post
  markdown/org/blog/claim-your-showcase-posts-for-eternal-glory/en.md
Labels: :book: documentation

#6157 Add author for Holmes Showcase
  markdown/org/showcase/a-modified-holmes/en.md
Labels: :book: documentation

#6198 Add Author woutervdub
  markdown/org/showcase/3d-skully/en.md
  markdown/org/showcase/a-warm-weather-pair-of-waralees/en.md
  markdown/org/showcase/albert-by-wouter/en.md
  markdown/org/showcase/cornelius-by-wouter/en.md
  markdown/org/showcase/florent-by-wouter/en.md
  markdown/org/showcase/four-versions-of-otis-and-a-bonus-bob/en.md
  markdown/org/showcase/hi-the-shark-has-our-hearts/en.md
  markdown/org/showcase/hortensia-by-wouter/en.md
  markdown/org/showcase/lightweight-waralees-for-summer/en.md
  markdown/org/showcase/lumira-leggings-with-cycling-chamois/en.md
  markdown/org/showcase/meet-octoplushy/en.md
  markdown/org/showcase/octopus-variant-octoplushy/en.md
  markdown/org/showcase/waralee-by-wouter/en.md
  markdown/org/showcase/waralee-wrap-pants-by-wouter/en.md
Labels: :book: documentation

#6197 Add Author Imunar
  markdown/org/showcase/two-tone-teagan/en.md
Labels: :book: documentation

#6196 Add Author lasermonkey12
  markdown/org/showcase/100percent-full-sandy-by-lasermonkey12/en.md
  markdown/org/showcase/a-delightfully-drapey-teagan-by-lasermonkey12/en.md
  markdown/org/showcase/a-squid-friend-for-octopus/en.md
  markdown/org/showcase/florent-lined-with-lasermonkey12s-favorite-dr-seuss-book/en.md
  markdown/org/showcase/surprise-giant-hi-by-lasermonkey12/en.md
  markdown/org/showcase/two-short-sleeved-simons-by-lasermonkey12/en.md
  markdown/org/showcase/xl-octoplushy-by-lasermonkey12/en.md
Labels: :book: documentation

#6195 Add RockerKitten Author
  markdown/org/showcase/a-simone-sandy-mashup-with-a-handkerchief-hem-by-rockerkitten/en.md
  markdown/org/showcase/a-very-modified-yuri/en.md
  markdown/org/showcase/a-wearable-sandy-muslin/en.md
  markdown/org/showcase/rockerkittens-simone-muslin-with-a-few-modifications/en.md
  markdown/org/showcase/the-bella-block-by-rockerkitten/en.md
Labels: :book: documentation

#6194 Add paula_ Author
  markdown/org/showcase/a-lovely-reversible-tristan-top-by-paula/en.md
Labels: :book: documentation

#6193 Add VSinerva Author
  markdown/org/showcase/hand-stitched-teagans-by-vili-with-explanation-of-the-stitches/en.md
Labels: :book: documentation

#6231 fix(markdown): In pattern design tutorial, add links to setup tutorials
  markdown/dev/tutorials/pattern-design/part1/new-design/en.md
Labels: :book: documentation

#6224 Add Vlad Author
  markdown/org/showcase/carlton-coat/en.md
Labels: :book: documentation
