Repository freesewing/freesewing, pull requests merged in 2024-06, with the labels that each got.

#6836 fix(org): Handle errors when importing measurements"
  sites/shared/components/account/import.mjs
Labels: :computer: shared

#6804 fix(bruce) Fixing Bruce's filter labels
  config/software/designs.json
Labels: :gear: configuration, :shirt: bruce

#6805 fix(tags) Add and fixes filter tag translations
  config/software/designs.json
  sites/shared/i18n/tags/en.yaml
Labels: :gear: configuration, :computer: shared

#6811 (fix) Fixes breaking SA in Jane
  designs/jane/src/body.mjs
Labels: :shirt: jane

#6815 add(shared): Add line drawings for Teagan and Bibi
  sites/shared/components/designs/linedrawings/bibi.mjs
  sites/shared/components/designs/linedrawings/index.mjs
  sites/shared/components/designs/linedrawings/teagan.mjs
Labels: :computer: shared, :shirt: teagan, :shirt: bibi

#6819 fix(markdown): close frontmatter properly in Jane documentation
  markdown/org/docs/designs/jane/options/sleevelength/en.md
Labels: :book: documentation

#6839 fix(teagan): Increase length bonus. Fixes #6820
  CHANGELOG.md
  config/changelog.yaml
  designs/teagan/src/front.mjs
Labels: :gear: configuration, :shirt: teagan

#6837 fix(core): Handle path splits on start or end points
  markdown/dev/reference/api/path/split/en.md
  packages/core/src/path.mjs
  packages/core/tests/path.test.mjs
Labels: :package: core, :book: documentation

#6793 [Bugfix] Opal
  designs/opal/src/back.mjs
  designs/opal/src/front.mjs
  markdown/org/docs/designs/onyx/needs/en.md
Labels: :book: documentation, :shirt: opal

#6787 fix(lily) Locking fitKnee as intended
  designs/lily/i18n/en.json
  designs/lily/src/back.mjs
Labels: :shirt: lily

#6772 [lily] fix errors related to cutting off too close to the fork
  designs/lily/src/back.mjs
Labels: :shirt: lily

#6862 feat: New showcase post watermelon-charlie-chinos by posh tunic
  markdown/org/showcase/watermelon-charlie-chinos/en.md
Labels: :book: documentation

#6868 fix(markdown): Author fixes for posts by comixminx
  markdown/org/showcase/comixminx-shins/en.md
  markdown/org/showcase/flat-front-bruces/en.md
  markdown/org/showcase/hugo-with-cats/en.md
  markdown/org/showcase/small-calico-skully-and-a-bit-of-a-pattern-test-too/en.md
  markdown/org/showcase/teagans-for-swimming/en.md
Labels: :book: documentation

#6901 fix(charlie, titan): Handle bad cross-seam-front and waist-to-seat measurements
  config/changelog.yaml
  designs/charlie/src/front.mjs
  designs/titan/i18n/en.json
  designs/titan/src/back.mjs
  designs/titan/src/front.mjs
Labels: :gear: configuration, :shirt: titan, :shirt: charlie

#6902 feat: New showcase post woolen-wahid by Adridne
  markdown/org/showcase/woolen-wahid/en.md
Labels: :book: documentation

#6891 feat: New showcase post a-dinosaur-themed-aaron-with-some-customizations by natalia
  markdown/org/showcase/a-dinosaur-themed-aaron-with-some-customizations/en.md
Labels: :book: documentation

#6890 feat: New showcase post waralees-by-gaelle by natalia
  markdown/org/showcase/waralees-by-gaelle/en.md
Labels: :book: documentation

#6888 Clarify development environment
  markdown/dev/tutorials/pattern-design/part1/new-design/en.md
Labels: :book: documentation

#6915 Fix broken links in freesewing.dev
  markdown/dev/tutorials/pattern-design/part2/constructing-the-neck-opening/en.md
  markdown/dev/tutorials/pattern-design/part3/conclusion/en.md
  sites/dev/pages/404.mjs
Labels: :book: documentation, :computer: dev
