Repository freesewing/freesewing, pull requests merged in 2024-04, with the labels that each got.

#6489 feat(backend): Add one-click unsubscribe endpoints
  markdown/org/newsletter/2024q2/en.md
  scripts/newsletter-lib.mjs
  sites/backend/src/controllers/subscribers.mjs
  sites/backend/src/html/ocunsub-ko.mjs
  sites/backend/src/html/ocunsub-ok.mjs
  sites/backend/src/models/subscriber.mjs
  sites/backend/src/routes/subscribers.mjs
Labels: :book: documentation, :computer: backend, :scroll: scripts

#6493 chore(markdown): Add newsletter translations
  markdown/org/newsletter/2024q2/de.md
  markdown/org/newsletter/2024q2/es.md
  markdown/org/newsletter/2024q2/fr.md
  markdown/org/newsletter/2024q2/nl.md
  markdown/org/newsletter/2024q2/uk.md
Labels: :book: documentation

#6505 fix(teagan): Hide sleevecap path from brian
  designs/teagan/src/sleeve.mjs
Labels: :shirt: teagan

#6502 Add tiger751023 Author Claims
  markdown/org/showcase/bruces-by-paul/en.md
  markdown/org/showcase/huey-by-paul/en.md
  markdown/org/showcase/linnen-jaeger-by-paul/en.md
  markdown/org/showcase/outfit-wahid-theo-florent-by-paul/en.md
  markdown/org/showcase/outfit-wahid-theo-simon-by-paul/en.md
  markdown/org/showcase/yoga-set-by-paul/en.md
Labels: :book: documentation

#6501 fix(huey): multiply the ribbing width in the flag message by 2.
  designs/huey/src/shared.mjs
Labels: :shirt: huey

#6494 New Crowdin Translations [skip build]
  markdown/org/newsletter/2024q2/de.md
  markdown/org/newsletter/2024q2/es.md
  markdown/org/newsletter/2024q2/nl.md
Labels: :book: documentation, crowdin, i18n

#6513 chore: Added web-of-trust
  config/trustees.mjs
  markdown/dev/reference/trust/en.md
  sites/dev/components/web-of-trust.mjs
  sites/shared/components/icons.mjs
  sites/shared/components/mdx/index.mjs
  sites/shared/styles/globals.css
Labels: :book: documentation, :gear: configuration, :computer: shared, :computer: dev

#6512 add(core): Add Path.rotate(...) function analogue to Point.rotate(...)
  markdown/dev/reference/api/path/rotate/en.md
  packages/core/src/path.mjs
  packages/core/src/utils.mjs
  packages/core/tests/path.test.mjs
Labels: :package: core, :book: documentation

#6507 New Crowdin Translations [skip build]
  markdown/org/docs/designs/cornelius/instructions/de.md
  markdown/org/docs/designs/cornelius/instructions/es.md
  markdown/org/docs/designs/cornelius/instructions/fr.md
  markdown/org/docs/designs/cornelius/instructions/nl.md
  markdown/org/docs/designs/cornelius/instructions/uk.md
  markdown/org/docs/designs/simon/instructions/de.md
  markdown/org/docs/designs/simon/instructions/es.md
  markdown/org/docs/designs/simon/instructions/fr.md
  markdown/org/docs/designs/simon/instructions/nl.md
  markdown/org/docs/designs/simon/instructions/uk.md
  markdown/org/showcase/bruces-by-paul/de.md
  markdown/org/showcase/bruces-by-paul/es.md
  markdown/org/showcase/bruces-by-paul/fr.md
  markdown/org/showcase/bruces-by-paul/nl.md
  markdown/org/showcase/bruces-by-paul/uk.md
  markdown/org/showcase/huey-by-paul/de.md
  markdown/org/showcase/huey-by-paul/es.md
  markdown/org/showcase/huey-by-paul/fr.md
  markdown/org/showcase/huey-by-paul/nl.md
  markdown/org/showcase/huey-by-paul/uk.md
  markdown/org/showcase/linnen-jaeger-by-paul/de.md
  markdown/org/showcase/linnen-jaeger-by-paul/es.md
  markdown/org/showcase/linnen-jaeger-by-paul/fr.md
  markdown/org/showcase/linnen-jaeger-by-paul/nl.md
  markdown/org/showcase/linnen-jaeger-by-paul/uk.md
  markdown/org/showcase/outfit-wahid-theo-florent-by-paul/de.md
  markdown/org/showcase/outfit-wahid-theo-florent-by-paul/es.md
  markdown/org/showcase/outfit-wahid-theo-florent-by-paul/fr.md
  markdown/org/showcase/outfit-wahid-theo-florent-by-paul/nl.md
  markdown/org/showcase/outfit-wahid-theo-florent-by-paul/uk.md
  markdown/org/showcase/outfit-wahid-theo-simon-by-paul/de.md
  markdown/org/showcase/outfit-wahid-theo-simon-by-paul/es.md
  markdown/org/showcase/outfit-wahid-theo-simon-by-paul/fr.md
  markdown/org/showcase/outfit-wahid-theo-simon-by-paul/nl.md
  markdown/org/showcase/outfit-wahid-theo-simon-by-paul/uk.md
  markdown/org/showcase/yoga-set-by-paul/de.md
  markdown/org/showcase/yoga-set-by-paul/es.md
  markdown/org/showcase/yoga-set-by-paul/fr.md
  markdown/org/showcase/yoga-set-by-paul/nl.md
  markdown/org/showcase/yoga-set-by-paul/uk.md
Labels: :book: documentation, crowdin, i18n

#6504 Add <Spoiler> tag for markdown content
  sites/org/pages/admin/subscribers.mjs
  sites/shared/components/mdx/index.mjs
  sites/shared/components/mdx/spoiler.mjs
  sites/shared/styles/globals.css
Labels: :speech_balloon: discussion, :computer: shared, :computer: org

#6514 chore: Fix eslint complaints
  sites/org/pages/admin/subscribers.mjs
Labels: :computer: org

#6480 Implements #6457
  designs/noble/i18n/de.json
  designs/noble/i18n/en.json
  designs/noble/i18n/es.json
  designs/noble/i18n/fr.json
  designs/noble/i18n/nl.json
  designs/noble/i18n/uk.json
  designs/noble/src/backinside.mjs
  designs/noble/src/backoutside.mjs
  designs/noble/src/frontoutside.mjs
  designs/noble/src/frontpoints.mjs
  designs/noble/src/options.mjs
  designs/teagan/src/front.mjs
  designs/tristan/i18n/de.json
  designs/tristan/i18n/en.json
  designs/tristan/i18n/es.json
  designs/tristan/i18n/fr.json
  designs/tristan/i18n/nl.json
  designs/tristan/i18n/uk.json
  designs/tristan/src/frontoutside.mjs
Labels: :shirt: noble, :shirt: teagan, :shirt: tristan

#6517 New Crowdin Translations [skip build]
  markdown/org/blog/email-breakdown-post-mortem/uk.md
  markdown/org/blog/open-backend-api/es.md
  markdown/org/blog/open-backend-api/uk.md
  markdown/org/docs/about/faq/measurements-issues/fr.md
  markdown/org/docs/about/faq/standard-measurements/fr.md
  markdown/org/docs/designs/simon/instructions/uk.md
  markdown/org/newsletter/2024q1/de.md
  markdown/org/newsletter/2024q1/es.md
  markdown/org/newsletter/2024q1/fr.md
  markdown/org/newsletter/2024q1/nl.md
  markdown/org/newsletter/2024q1/uk.md
  markdown/org/newsletter/2024q2/de.md
  markdown/org/newsletter/2024q2/es.md
  markdown/org/newsletter/2024q2/fr.md
  markdown/org/newsletter/2024q2/nl.md
  markdown/org/newsletter/2024q2/uk.md
  markdown/org/showcase/a-full-body-onyx-swimsuit-with-swim-skirt/uk.md
  markdown/org/showcase/carlton-coat/uk.md
  markdown/org/showcase/short-sleeve-short-leg-onyx-swimsuit/uk.md
Labels: :book: documentation, crowdin, i18n

#6540 fix(backend): Check for public set. Fixes #6538
  sites/backend/src/models/set.mjs
Labels: :computer: backend

#6547 Replace .setRender() with .hide()
  markdown/dev/howtos/design/seam-allowance/en.md
Labels: :book: documentation

#6521 New Crowdin Translations [skip build]
  markdown/org/newsletter/2024q2/fr.md
Labels: :book: documentation, crowdin, i18n

#6522 Add upcyclinguser Author
  markdown/org/showcase/a-lined-tristan-top-with-front-lacing/en.md
Labels: :book: documentation, author claim

#6557 Add Galit Author
  markdown/org/showcase/shorts/en.md
Labels: :book: documentation, author claim

#6564 chore(dev): Disable eslint for world svg
  sites/dev/components/web-of-trust.mjs
Labels: :computer: dev

#6527 fix(core): Path.offset(...) improvements
  packages/core/src/path.mjs
  packages/core/tests/path.test.mjs
Labels: :package: core

#6597 Link just changed sub-domain.
  markdown/org/docs/designs/simon/instructions/en.md
Labels: :book: documentation

#6598 fix(wahid): The back part needs also two cuts from lining fabric
  designs/wahid/src/back.mjs
Labels: :shirt: wahid

#6606 New Crowdin Translations [skip build]
  markdown/org/docs/designs/simon/instructions/fr.md
  markdown/org/docs/designs/simon/instructions/nl.md
Labels: :book: documentation, crowdin, i18n

#6611 New Crowdin Translations [skip build]
  markdown/org/docs/designs/cornelius/instructions/fr.md
  markdown/org/docs/designs/simon/instructions/fr.md
  markdown/org/newsletter/2024q2/fr.md
  markdown/org/showcase/a-sturdy-albert-apron-by-ojensen/fr.md
  markdown/org/showcase/my-fisrt-sewing-project/fr.md
  markdown/org/showcase/shorts/fr.md
  markdown/org/showcase/wonderful-waralees-by-tuesday/fr.md
Labels: :book: documentation, crowdin, i18n

#6634 fix(huey): Increase lengtBonus default. Fixes #6596
  CHANGELOG.md
  config/changelog.yaml
  designs/huey/src/back.mjs
Labels: :gear: configuration, :shirt: huey

#6635 Fix various small issues with the sitenav structure
  sites/shared/components/mdx/read-more.mjs
  sites/shared/prebuild/sitenav-org.mjs
  sites/shared/utils.mjs
Labels: :computer: shared

#6636 feat(shared): Add ko-fi link to patrons form. See #6593
  sites/shared/components/patrons/en.yaml
  sites/shared/components/patrons/subscribe.mjs
Labels: :computer: shared

#6637 chore(markdown): Claim showcase posts of Natalia
  markdown/org/showcase/a-lined-tristan-top-with-front-lacing/en.md
  markdown/org/showcase/a-noble-top-for-the-renaissance-festival/en.md
  markdown/org/showcase/bella-block/en.md
  markdown/org/showcase/green-cathrin/en.md
  markdown/org/showcase/lower-rise-ursula/en.md
  markdown/org/showcase/mini-shin-swim-trunks/en.md
  markdown/org/showcase/modified-tamiko-nursing-cover/en.md
  markdown/org/showcase/ursula-test-pairs/en.md
Labels: :book: documentation

#6638 fix(simone): Add translation for missing options
  CHANGELOG.md
  config/changelog.yaml
  designs/simone/i18n/en.json
Labels: :gear: configuration, :shirt: simone

#6640 chore(org): Wrap scan for jargon in try ... catch
  sites/shared/prebuild/markdown.mjs
Labels: :computer: shared

#6641 fix(org): Switch to direct grep rather than find
  sites/shared/prebuild/markdown.mjs
Labels: :computer: shared

#6642 fix(org): Add next-i18next as dependency
  config/dependencies.yaml
  sites/org/package.json
Labels: :gear: configuration, :computer: org

#6643 fix(cathrin): Allow negative values for backDrop and frontRise options
  CHANGELOG.md
  config/changelog.yaml
  config/dependencies.yaml
  designs/cathrin/src/base.mjs
  sites/org/package.json
Labels: :gear: configuration, :computer: org, :shirt: cathrin

#6645 fix(org): Missing dependencies for org site
  config/dependencies.yaml
  sites/org/package.json
Labels: :gear: configuration, :computer: org

#6646 feat(simon): Allow negative values for buttonFreeLength option
  CHANGELOG.md
  config/changelog.yaml
  designs/simon/src/options.mjs
Labels: :gear: configuration, :shirt: simon

#6647 wip: dependencies for freesewing.org
  config/dependencies.yaml
  sites/org/package.json
Labels: :gear: configuration, :computer: org

#6648 Add react as explicit dependenicy for org
  config/dependencies.yaml
  packages/new-design/lib/download-list.mjs
  sites/org/package.json
  sites/shared/prebuild/data/design-options.mjs
  tests/designs/config.mjs
  yarn.lock
Labels: :test_tube: tests, :gear: configuration, :computer: shared, :computer: org, :package: new-design

#6650 fix(charlie): Cutting instructions for the fly facing
  CHANGELOG.md
  config/changelog.yaml
  designs/charlie/src/fly-facing.mjs
  markdown/org/docs/designs/charlie/cutting/en.md
Labels: :book: documentation, :gear: configuration, :shirt: charlie

#6651 feat(shared): Allow sorting of patterns by various fields.
  sites/shared/components/account/patterns.mjs
Labels: :computer: shared

#6671 fix(org): Broken link to docs
  markdown/org/docs/about/site/en.md
Labels: :book: documentation
