Repository freesewing/freesewing, pull requests merged in 2024-11, with the labels that each got.

#3493 Titan angled waist
  designs/paco/src/back.mjs
  designs/paco/src/front.mjs
  designs/titan/src/back.mjs
  designs/titan/src/front.mjs
Labels: :computer: org, :shirt: titan, :shirt: paco

#7234 Add missing descriptions for titan waistband balance
  designs/lily/i18n/en.json
  designs/titan/i18n/en.json
  designs/titan/src/back.mjs
  sites/orgdocs/docs/designs/titan/options/usewaistanglefor/readme.mdx
  sites/orgdocs/docs/designs/titan/options/waistangle/readme.mdx
Labels: :shirt: titan, :shirt: lily

#7052 fix(docs) Add missing cutlist store methods and improve cutlist docs
  sites/dev/docs/reference/store-methods/cutlist.addcut/readme.mdx
  sites/dev/docs/reference/store-methods/cutlist.getcutfabrics/readme.mdx
  sites/dev/docs/reference/store-methods/cutlist.getgrainorigin/readme.mdx
  sites/dev/docs/reference/store-methods/cutlist.removecut/readme.mdx
  sites/dev/docs/reference/store-methods/cutlist.removecutonfold/readme.mdx
  sites/dev/docs/reference/store-methods/cutlist.removegrain/readme.mdx
  sites/dev/docs/reference/store-methods/cutlist.setcut/readme.mdx
  sites/dev/docs/reference/store-methods/cutlist.setcutonfold/readme.mdx
  sites/dev/docs/reference/store-methods/cutlist.setgrain/readme.mdx
Labels: :book: documentation, :computer: dev

#7232 fix(scripts): Remove references to lab development environment
  scripts/add-software.mjs
  scripts/help.mjs
Labels: :scroll: scripts

#7263 feat[dev]: Clarify that mm options is (sometimes) ok
  sites/dev/docs/reference/api/part/config/options/mm/readme.mdx
Labels: :computer: dev
