Repository freesewing/freesewing, pull requests merged in 2024-01, with the labels that each got.

#5731 Add disabled pattern delete button when no patterns selected
  sites/shared/components/account/patterns.mjs
Labels: awaiting feedback, :computer: shared

#5725 New Crowdin Translations [skip build]
  markdown/org/blog/freesewing-v3-1/de.md
  markdown/org/blog/freesewing-v3-1/es.md
  markdown/org/blog/freesewing-v3-1/fr.md
  markdown/org/blog/freesewing-v3-1/nl.md
  markdown/org/blog/freesewing-v3-1/uk.md
  markdown/org/docs/about/pledge/es.md
  markdown/org/docs/about/site/nl.md
  markdown/org/docs/designs/lumira/options/ease/de.md
  markdown/org/docs/designs/lumira/options/ease/es.md
  markdown/org/docs/designs/lumira/options/ease/fr.md
  markdown/org/docs/designs/lumira/options/ease/nl.md
  markdown/org/docs/designs/lumira/options/ease/uk.md
  markdown/org/docs/designs/onyx/options/zipperPosition/fr.md
  markdown/org/docs/designs/onyx/options/zipperPosition/uk.md
  markdown/org/docs/designs/otis/options/sleeveType/fr.md
  markdown/org/docs/designs/otis/options/sleeveType/uk.md
  markdown/org/docs/designs/otis/options/snapPlacket/fr.md
  markdown/org/docs/designs/otis/options/snapPlacket/uk.md
  markdown/org/docs/designs/waralee/notes/es.md
  markdown/org/newsletter/2024q1/de.md
  markdown/org/newsletter/2024q1/es.md
  markdown/org/newsletter/2024q1/fr.md
  markdown/org/newsletter/2024q1/nl.md
  markdown/org/newsletter/2024q1/uk.md
  markdown/org/showcase/a-full-body-onyx-swimsuit-with-swim-skirt/de.md
  markdown/org/showcase/a-full-body-onyx-swimsuit-with-swim-skirt/es.md
  markdown/org/showcase/a-full-body-onyx-swimsuit-with-swim-skirt/fr.md
  markdown/org/showcase/a-full-body-onyx-swimsuit-with-swim-skirt/nl.md
  markdown/org/showcase/a-full-body-onyx-swimsuit-with-swim-skirt/uk.md
  markdown/org/showcase/brazenedMinstrel-double-ws/de.md
  markdown/org/showcase/brazenedMinstrel-double-ws/es.md
  markdown/org/showcase/brazenedMinstrel-double-ws/fr.md
  markdown/org/showcase/brazenedMinstrel-double-ws/nl.md
  markdown/org/showcase/brazenedMinstrel-double-ws/uk.md
  markdown/org/showcase/mermaid-scale-print-waralees-by-magicantace/de.md
  markdown/org/showcase/mermaid-scale-print-waralees-by-magicantace/es.md
  markdown/org/showcase/mermaid-scale-print-waralees-by-magicantace/fr.md
  markdown/org/showcase/mermaid-scale-print-waralees-by-magicantace/nl.md
  markdown/org/showcase/mermaid-scale-print-waralees-by-magicantace/uk.md
  markdown/org/showcase/onyx-by-thrunic/de.md
  markdown/org/showcase/onyx-by-thrunic/es.md
  markdown/org/showcase/onyx-by-thrunic/fr.md
  markdown/org/showcase/onyx-by-thrunic/nl.md
  markdown/org/showcase/onyx-by-thrunic/uk.md
  markdown/org/showcase/short-sleeve-short-leg-onyx-swimsuit/de.md
  markdown/org/showcase/short-sleeve-short-leg-onyx-swimsuit/es.md
  markdown/org/showcase/short-sleeve-short-leg-onyx-swimsuit/fr.md
  markdown/org/showcase/short-sleeve-short-leg-onyx-swimsuit/nl.md
  markdown/org/showcase/short-sleeve-short-leg-onyx-swimsuit/uk.md
  markdown/org/showcase/shorts/de.md
  markdown/org/showcase/shorts/es.md
  markdown/org/showcase/shorts/fr.md
  markdown/org/showcase/shorts/nl.md
  markdown/org/showcase/shorts/uk.md
  markdown/org/showcase/trans-hi-by-halbmoki/de.md
  markdown/org/showcase/trans-hi-by-halbmoki/es.md
  markdown/org/showcase/trans-hi-by-halbmoki/fr.md
  markdown/org/showcase/trans-hi-by-halbmoki/nl.md
  markdown/org/showcase/trans-hi-by-halbmoki/uk.md
Labels: :book: documentation, crowdin, i18n

#5743 Fix unsubscribe issues after migration of newsletter
  ansible/inventory.yaml
  config/newsletter-testers.mjs
  config/templates/newsletter.html
  markdown/org/docs/about/faq/newsletter/why-unsubscribe-multiple-clicks/en.md
  package.json
  scripts/newsletter-lib.mjs
  sites/backend/src/controllers/subscribers.mjs
  sites/backend/src/models/admin.mjs
  sites/backend/src/models/subscriber.mjs
  sites/backend/src/models/user.mjs
  sites/backend/src/routes/admin.mjs
  sites/backend/src/routes/subscribers.mjs
  sites/org/pages/newsletter/subscribe.mjs
  sites/org/pages/newsletter/unsubscribe.mjs
  sites/shared/components/account/newsletter.mjs
  sites/shared/components/wrappers/auth/index.mjs
  sites/shared/hooks/use-backend.mjs
Labels: :book: documentation, :gear: configuration, :computer: shared, :computer: backend, :computer: org, :scroll: scripts

#5773 feat: Support notes in title macro
  config/changelog.yaml
  markdown/dev/howtos/code/adding-text/en.md
  markdown/dev/reference/macros/en.md
  markdown/dev/reference/macros/title/en.md
  packages/react-components/src/pattern/utils.mjs
  plugins/plugin-annotations/src/title.mjs
  plugins/plugin-annotations/tests/title.test.mjs
  plugins/plugin-i18n/src/index.mjs
  sites/shared/components/tabs.mjs
  sites/shared/styles/globals.css
Labels: :book: documentation, :gear: configuration, :computer: shared, :electric_plug: plugin-i18n, :electric_plug: plugin-annotations

#5793 fix(markdown): Remove stack example
  markdown/dev/reference/api/stack/en.md
Labels: :book: documentation

#5806 fix(shared): Various broken links (see what I did there?)
  sites/shared/components/account/consent.mjs
  sites/shared/components/gdpr/form.mjs
  sites/shared/components/social/icons.mjs
Labels: :computer: shared

#5768 Spelling error in freesewing/markdown/dev/reference/api/part/config/dependencies
  markdown/dev/reference/api/part/config/dependencies/en.md
Labels: :book: documentation

#5741 Unify user facing delete buttons to be disabled when nothing selected
  sites/shared/components/account/apikeys.mjs
  sites/shared/components/account/bookmarks.mjs
  sites/shared/components/account/sets.mjs
Labels: :computer: shared

#5816 Tristan
  designs/tristan/src/backoutside.mjs
  designs/tristan/src/backpoints.mjs
  designs/tristan/src/frontoutside.mjs
  designs/tristan/src/frontpoints.mjs
  designs/tristan/src/index.mjs
  designs/tristan/src/peplumBack.mjs
  designs/tristan/src/peplumFront.mjs
  markdown/org/docs/designs/tristan/instructions/en.md
Labels: :book: documentation

#5817 Tristan
  designs/noble/i18n/en.json
  designs/noble/src/frontinside.mjs
  designs/noble/src/frontpoints.mjs
  designs/noble/src/options.mjs
  markdown/org/docs/designs/noble/options/waistdartposition/de.md
  markdown/org/docs/designs/noble/options/waistdartposition/en.md
  markdown/org/docs/designs/noble/options/waistdartposition/es.md
  markdown/org/docs/designs/noble/options/waistdartposition/fr.md
  markdown/org/docs/designs/noble/options/waistdartposition/nl.md
  markdown/org/docs/designs/noble/options/waistdartposition/uk.md
Labels: :book: documentation, :shirt: noble

#5842 Tristan
  markdown/org/docs/designs/tristan/fabric/en.md
  markdown/org/docs/designs/tristan/needs/en.md
  sites/shared/components/designs/linedrawings/index.mjs
  sites/shared/components/designs/linedrawings/tristan.mjs
Labels: :book: documentation, :computer: shared

#5844 Tristan
  config/software/designs.json
  designs/tristan/i18n/de.json
  designs/tristan/i18n/en.json
  designs/tristan/i18n/es.json
  designs/tristan/i18n/fr.json
  designs/tristan/i18n/nl.json
  designs/tristan/i18n/uk.json
  designs/tristan/src/backinside.mjs
  designs/tristan/src/backoutside.mjs
  designs/tristan/src/frontinside.mjs
  designs/tristan/src/frontoutside.mjs
  designs/tristan/src/peplumBack.mjs
  designs/tristan/src/peplumFront.mjs
  markdown/org/docs/designs/tristan/cutting/en.md
  markdown/org/docs/designs/tristan/instructions/en.md
  markdown/org/docs/designs/tristan/instructions/step07.png
  markdown/org/docs/designs/tristan/instructions/step08.png
  markdown/org/docs/designs/tristan/needs/en.md
Labels: :book: documentation, :gear: configuration

#5882 fix(org): Fix web page typos
  sites/org/components/crowdin/suggest-language.mjs
  sites/org/pages/confirm/signup-aea.mjs
  sites/org/pages/confirm/signup.mjs
Labels: :computer: org

#5877 fix(markdown): Add yarn disambiguation to Linux tutorial
  markdown/dev/tutorials/getting-started-linux/dev-setup/en.md
Labels: :book: documentation

#5867 fix(yaml, markdown): Fix typos
  markdown/dev/guides/faq/is-copying-ok/en.md
  markdown/dev/guides/markdown/jargon/en.md
  markdown/dev/guides/translation/en.md
  markdown/dev/howtos/code/adding-text/en.md
  markdown/dev/howtos/design/trace/en.md
  markdown/dev/howtos/ways-to-contribute/en.md
  markdown/dev/i18n/en.md
  markdown/dev/reference/api/attributes/asrenderprops/en.md
  markdown/dev/reference/api/part/asrenderprops/en.md
  markdown/dev/reference/api/part/config/hide/en.md
  markdown/dev/reference/api/part/draft/en.md
  markdown/dev/reference/api/path/asrenderprops/en.md
  markdown/dev/reference/api/point/asrenderprops/en.md
  markdown/dev/reference/api/snippet/asrenderprops/en.md
  markdown/dev/reference/api/store/en.md
  markdown/dev/reference/api/svg/asrenderprops/en.md
  markdown/dev/reference/api/utils/applytransformtopoint/en.md
  markdown/dev/reference/api/utils/generatestacktransform/en.md
  markdown/dev/reference/api/utils/linesintersect/en.md
  markdown/dev/reference/api/utils/mergei18n/en.md
  markdown/dev/reference/backend/people/en.md
  markdown/dev/reference/macros/rmbanner/en.md
  markdown/dev/reference/macros/rmbartack/en.md
  markdown/dev/reference/sites/sanity/en.md
  markdown/dev/reference/store-methods/cutlist.setcutonfold/en.md
  markdown/dev/reference/store-methods/cutlist.setgrain/en.md
  markdown/dev/reference/store-methods/en.md
  markdown/dev/reference/store-methods/flag.preset/en.md
  markdown/dev/tutorials/pattern-design/part2/avoiding-overlap/en.md
  markdown/org/docs/about/faq/newsletter/why-subscribe-multiple-clicks/en.md
  markdown/org/docs/about/faq/newsletter/why-unsubscribe-multiple-clicks/en.md
  markdown/org/docs/about/guide/en.md
  markdown/org/docs/about/site/account/username/en.md
  markdown/org/docs/about/site/apikeys/expiry/en.md
  markdown/org/docs/about/site/bookmarks/location/en.md
  markdown/org/docs/about/site/csets/en.md
  markdown/org/docs/about/site/draft/core-settings/locale/en.md
  markdown/org/docs/about/site/draft/core-settings/scale/en.md
  markdown/org/docs/about/site/en.md
  markdown/org/docs/about/site/patterns/public/en.md
  markdown/org/docs/about/site/sets/public/en.md
  markdown/org/docs/about/site/sets/units/en.md
  markdown/org/docs/measurements/bustfront/en.md
  markdown/org/docs/measurements/shoulderslope/en.md
  markdown/org/docs/measurements/waisttoarmpit/en.md
  markdown/org/docs/sewing/double-welt-pockets/en.md
  markdown/org/docs/sewing/edgestitching/en.md
  sites/org/components/footer/en.yaml
  sites/org/pages/translation/en.yaml
  sites/shared/components/account/en.yaml
  sites/shared/components/susi/en.yaml
  sites/shared/components/workbench/menus/core-settings/en.yaml
  sites/shared/components/workbench/menus/ui-settings/en.yaml
  sites/shared/i18n/docs/en.yaml
  sites/shared/i18n/homepage/en.yaml
  sites/shared/i18n/sections/en.yaml
  sites/shared/i18n/status/en.yaml
  sites/shared/i18n/support/en.yaml
Labels: :book: documentation

#5864 FIX: jargon manual is not quite correct
  packages/rehype-jargon/README.md
Labels: :package: rehype-jargon

#5866 fix(markdown): Update Vercel tutorial for v3
  markdown/dev/tutorials/getting-started-vercel/en.md
Labels: :book: documentation

#5901 fix(shared): Flags should not display null notes
  sites/shared/components/workbench/views/flags.mjs
Labels: :computer: shared

#5890 fix(backend, markdown, sites): Edits related to the addition of Ukrainian as a supported language
  markdown/dev/reference/packages/i18n/en.md
  markdown/org/docs/about/site/draft/core-settings/locale/en.md
  sites/backend/tests/curated-set.mjs
  sites/lab/next-i18next.config.js
  sites/lab/site.config.mjs
  sites/org/pages/translation/index.mjs
  sites/sde/site.config.mjs
  sites/shared/components/workbench/menus/core-settings/en.yaml
  sites/shared/config/i18n.config.mjs
Labels: :book: documentation, :computer: lab, :computer: shared, :computer: backend, :computer: org

#5887 fix(markdown): Fix property type in cutOnFold macro docs
  markdown/dev/reference/macros/cutonfold/en.md
Labels: :book: documentation

#5875 Newsletter fixes
  sites/org/components/layouts/post.mjs
  sites/org/pages/newsletter/[dir].mjs
  sites/shared/components/newsletter/index.mjs
Labels: :computer: shared, :computer: org

#5862 chore(core): Remove options distance debug logging
  packages/core/src/pattern/pattern-config.mjs
Labels: :package: core

#5914 chore(markdown): Add jargon glossary
  markdown/dev/guides/markdown/jargon/en.md
Labels: :book: documentation

#5910 fix(markdown): Correct Paco waistband sewing instructions
  markdown/org/docs/designs/paco/instructions/en.md
Labels: :book: documentation

#5935 fix(carlita): Correct instructions to refer to Carlita instead of Carlton
  markdown/org/docs/designs/carlita/instructions/en.md
Labels: :book: documentation

#5934 fix(carlita,hugo,jaeger): Add Fixme tags to incomplete documentation
  markdown/org/docs/designs/carlita/instructions/en.md
  markdown/org/docs/designs/hugo/instructions/en.md
  markdown/org/docs/designs/jaeger/instructions/en.md
Labels: :book: documentation

#5932 fix(markdown): Add cbqc and goldenRatio links and info to core API
  markdown/dev/reference/api/en.md
Labels: :book: documentation

#5931 fix(markdown): Add more info to Extending Options part doc
  markdown/dev/reference/api/part/config/options/en.md
  markdown/dev/reference/api/part/config/options/extend/en.md
Labels: :book: documentation

#5930 fix(markdown): Remove unused list attribute from ReadMore tags
  markdown/dev/guides/best-practices/en.md
  markdown/dev/guides/code-of-conduct/enforcement-guidelines/en.md
  markdown/dev/guides/markdown/en.md
  markdown/dev/guides/plugins/en.md
  markdown/dev/guides/prerequisites/en.md
  markdown/dev/howtos/code/en.md
  markdown/dev/howtos/design/en.md
  markdown/dev/howtos/editors/en.md
  markdown/dev/howtos/editors/frontmatter/about/en.md
  markdown/dev/howtos/editors/frontmatter/en.md
  markdown/dev/howtos/ways-to-contribute/technical-writing/en.md
  markdown/dev/reference/api/attributes/en.md
  markdown/dev/reference/api/defs/en.md
  markdown/dev/reference/api/path/en.md
  markdown/dev/reference/api/pattern/en.md
  markdown/dev/reference/api/point/en.md
  markdown/dev/reference/api/snippet/en.md
  markdown/dev/reference/api/stack/en.md
  markdown/dev/reference/api/svg/en.md
  markdown/dev/reference/api/utils/en.md
  markdown/dev/reference/hooks/en.md
  markdown/dev/reference/macros/en.md
  markdown/dev/reference/settings/en.md
  markdown/dev/reference/snippets/en.md
  markdown/dev/reference/store-methods/en.md
  markdown/dev/tutorials/en.md
  markdown/org/docs/about/en.md
  markdown/org/docs/designs/en.md
  markdown/org/docs/measurements/en.md
  markdown/org/docs/sewing/en.md
Labels: :book: documentation

#5929 fix(brian): Flag.warn if shoulder width too large
  designs/brian/i18n/en.json
  designs/brian/src/base.mjs
Labels: :shirt: brian
