Repository freesewing/freesewing, pull requests merged in 2025-03, with the labels that each got.

#7360 V4 fixes
  designs/aaron/src/front.mjs
  designs/bella/src/back.mjs
  designs/benjamin/src/base.mjs
  designs/bent/src/sleeve.mjs
  designs/bibi/src/cuff.mjs
  designs/bibi/src/front.mjs
  designs/bibi/src/waistband.mjs
  designs/breanna/src/base.mjs
  designs/breanna/src/sleeve.mjs
  designs/brian/src/base.mjs
  designs/carlton/src/back.mjs
  designs/carlton/src/front.mjs
  designs/carlton/src/topsleeve.mjs
  designs/carlton/src/undersleeve.mjs
  designs/charlie/src/front.mjs
  designs/diana/src/front.mjs
  designs/florent/src/brimbottom.mjs
  designs/florent/src/top.mjs
  designs/holmes/src/crown.mjs
  designs/holmes/src/ear.mjs
  designs/holmes/src/visor.mjs
  designs/huey/src/back.mjs
  designs/jane/src/sleeve.mjs
  designs/lily/src/back.mjs
  designs/paco/src/back.mjs
  designs/sven/src/frontback.mjs
  designs/sven/src/sleeve.mjs
  designs/tamiko/src/top.mjs
  designs/teagan/src/front.mjs
  designs/titan/src/back.mjs
  designs/yuri/src/back.mjs
  designs/yuri/src/front.mjs
  packages/react/components/Editor/components/Flag.mjs
  packages/react/components/Editor/components/HeaderMenu.mjs
  packages/react/components/Editor/components/MeasurementsEditor.mjs
  packages/react/components/Editor/components/Set.mjs
  packages/react/components/Editor/components/menus/Container.mjs
  packages/react/components/Editor/components/menus/Input.mjs
  packages/react/components/Editor/components/menus/LayoutMenu.mjs
  packages/react/components/Editor/components/menus/TestMenu.mjs
  packages/react/components/Editor/components/menus/UiPreferencesMenu.mjs
  packages/react/components/Editor/components/views/DocsView.mjs
  packages/react/components/Editor/components/views/EditSettingsView.mjs
  packages/react/components/Editor/components/views/ExportView.mjs
  packages/react/components/Editor/components/views/InspectView.mjs
  packages/react/components/Editor/components/views/LayoutView.mjs
  packages/react/components/Editor/components/views/LogView.mjs
  packages/react/components/Editor/components/views/MeasurementsView.mjs
  packages/react/components/Editor/components/views/SaveView.mjs
  packages/react/components/Editor/components/views/TestView.mjs
  packages/react/components/Editor/components/views/TimingView.mjs
  packages/react/components/Editor/components/views/UndosView.mjs
  packages/react/components/Editor/components/views/ViewPicker.mjs
  packages/react/components/Editor/components/views/index.mjs
  packages/react/components/Editor/hooks/useEditorState.mjs
  packages/react/components/Editor/lib/editor.mjs
  packages/react/components/Editor/lib/layout-settings.mjs
  packages/react/components/Editor/lib/measurements.mjs
  packages/react/components/Editor/lib/ui-preferences.mjs
Labels: :shirt: aaron, :shirt: bella, :shirt: benjamin, :shirt: breanna, :shirt: titan, :shirt: bent, :shirt: carlton, :shirt: charlie, :shirt: diana, :shirt: florent, :shirt: holmes, :shirt: huey, :shirt: paco, :shirt: brian, :shirt: sven, :shirt: tamiko, :shirt: teagan, :shirt: jane, :shirt: bibi, :shirt: lily

#7378 Fix the cutting instructions for the Simon Yoke
  designs/simon/src/yoke.mjs
Labels: :shirt: simon

#7379 Add measurement validation
  designs/bonny/CHANGELOG.md
  designs/bonny/README.md
  designs/bonny/build.mjs
  designs/bonny/data.mjs
  designs/bonny/i18n/en.json
  designs/bonny/i18n/index.mjs
  designs/bonny/package.json
  designs/bonny/src/front.mjs
  designs/bonny/src/index.mjs
  designs/bonny/src/side.mjs
  designs/bonny/tests/shared.test.mjs
  designs/penelope/about.json
  i18n/designs.mjs
  package-lock.json
  packages/collection/src/i18n.mjs
  packages/collection/src/index.mjs
  packages/react/components/Account/Set.mjs
  packages/react/hooks/useDesign/index.mjs
  sites/org/src/lib/i18n.mjs
Labels: :computer: org, :shirt: penelope
